@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}

<style>
    .timeline-month {
        cursor: pointer;
    }
</style>
<link href="~/assets/Custom css/CDVT/timeline.css" rel="stylesheet" />
<div class="card" id="abc">
    <div class="card-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col s12">
                    <div class="center">
                        <h3 class="centered"><b>LÝ LỊCH THIẾT BỊ</b></h3>
                        <h5>@ViewBag.equipment.equipment_name - @ViewBag.equipment.equipmentId</h5>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs" style="overflow-x:hidden;overflow-y:hidden">
                                <li class="tab col s2"><a class="active" href="#dacdiem">ĐẶC TÍNH KỸ THUẬT</a></li>
                                <li class="tab col s2"><a href="#dieuchuyen">NK ĐIỀU CHUYỂN</a></li>
                                <li class="tab col s2"><a href="#suachua">NK SỬA CHỮA</a></li>
                                <li class="tab col s1"><a href="#suco">NK SỰ CỐ</a></li>
                                @*<li class="tab col s1"><a href="#baohiem">NK BẢO HIỂM</a></li>*@
                                <li class="tab col s2"><a href="#kiemdinh">NK KIỂM ĐỊNH</a></li>
                                <li class="tab col s1"><a href="#lichsu">NK HOẠT ĐỘNG</a></li>
                                <li class="tab col s2"><a href="#tieuthu">NK TIÊU THỤ NHIÊN LIỆU</a></li>
                            </ul>
                        </div>
                        <div id="dieuchuyen" class="col s12">
                            <div class="wrapper-timeline">
                                <div class="container">

                                    @foreach (var item in ViewBag.listDD)
                                    {
                                        <div class="timeline">
                                            <div class="timeline-month">
                                                Năm @item.year
                                                <span>@item.count lần điều động</span>
                                            </div>
                                            @foreach (var x in item.listmoveline)
                                            {
                                                <div class="timeline-section mytimeline">
                                                    <div class="timeline-date">
                                                        @x.date
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="timeline-box">
                                                                <div class="box-content table_container">
                                                                    <table id="myborder" class="striped table-bordered">
                                                                        <tr>
                                                                            <th>Ngày kết thúc điều động</th>
                                                                            <th>Vị trí điều động</th>
                                                                            <th>Phân xưởng chịu trách nhiệm</th>
                                                                            <th>Người ký điều động</th>
                                                                            <th>Ngày ký duyệt</th>
                                                                            <th>Số quyết định</th>
                                                                            <th>Nội dung quyết định</th>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>@x.date_to.ToString("dd/MM/yyyy")</td>
                                                                            <td>@x.department_detail</td>
                                                                            <td>@x.department_id</td>
                                                                            <td><a href="/" style="color: dodgerblue;">@x.person_created</a></td>
                                                                            <td>@x.date_created.ToString("dd/MM/yyyy")</td>
                                                                            <td>@x.documentary_id</td>
                                                                            <td>@x.reason</td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    }




                                </div>
                            </div>
                        </div>

                        <div id="dacdiem" class="col s12">
                            <div class="row table_container">
                                <h5 class="card-title"></h5>
                                <div id="data-color"></div>

                                <table class="striped" style="margin-top:30px !important">
                                    <tr>
                                        <td>Nước sản xuất</td>
                                        <td>@ViewBag.equipment.supplier</td>
                                    </tr>
                                    <tr>
                                        <td>Ngày nhập</td>
                                        <td>@ViewBag.equipment.date_import.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                    <tr>
                                        <td>Khấu hao ước tính</td>
                                        <td>@ViewBag.equipment.depreciation_estimate</td>
                                    </tr>
                                    <tr>
                                        <td>Ngày đưa vào sử dụng</td>
                                        <td>@ViewBag.equipment.usedDay.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                    <tr>
                                        <td>Ngày bảo dưỡng tiếp theo</td>
                                        <td>@ViewBag.equipment.durationOfMaintainance.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                        <td>Ngày kiểm định tiếp theo</td>
                                        <td>@ViewBag.equipment.durationOfInspection.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                    <tr>
                                        <td>Tổng giờ hoạt động</td>
                                        <td>@ViewBag.equipment.total_operating_hours</td>
                                    </tr>
                                    <tr>
                                        <td>Vị trí hiện tại</td>
                                        <td>@ViewBag.equipment.department_name</td>
                                    </tr>
                                    <tr>
                                        <td>Tình trạng hiện tại</td>
                                        <td>@ViewBag.equipment.statusname</td>
                                    </tr>
                                    <tr>
                                        <td>Loại chất lượng</td>
                                        <td>@ViewBag.equipment.quality_type</td>
                                    </tr>
                                    <tr>
                                        <td>Khấu hao ước tính</td>
                                        <td>@ViewBag.equipment.depreciation_estimate</td>
                                    </tr>
                                    <tr>
                                        <td>Khấu hao hiện tại</td>
                                        <td>@ViewBag.equipment.depreciation_present</td>
                                    </tr>

                                </table>
                                <ul class="tabs" style="overflow-x:hidden;overflow-y:hidden">
                                    <li class="tab col s4"><a class="active" href="#VT_DK">Vật tư đi kèm</a></li>
                                    <li class="tab col s4"><a href="#VT_SCTX">Vật tư SCTX</a></li>
                                    <li class="tab col s4"><a href="#VT_DP">Vật tư dự phòng</a></li>
                                </ul>

                                <div id="VT_DK" class="col s12 center" style="margin-top:45px">
                                    <h3>Vật tư đi kèm</h3>
                                    <table id="DK_table" class="striped table-bordered" style="margin-top:10px !important">
                                        <thead>
                                            <tr>
                                                <th>Mã vật tư</th>
                                                <th>Tên vật tư</th>
                                                <th>Số lượng</th>
                                                <th>Ghi chú</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="DK_table_body">
                                            @{
                                                foreach (var item in ViewBag.sup)
                                                {
                                                    <tr>
                                                        <td>@item.equipmentId_dikem</td>
                                                        <td>@item.equipment_name</td>
                                                        <td>@item.quantity</td>
                                                        <td>@item.note</td>
                                                        <td><button type="button" class="btnSelect btn blue btn-small center"><i class="large material-icons">remove</i></button></td>
                                                        <td><a class="btnSelect2 btn blue btn-small left modal-trigger" data-target="updateDK">Chỉnh sửa</a></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                    <a data-target="addDK" id="add" class="btn blue btn-small center modal-trigger left" style="margin-top:10px"><i class="large material-icons">add</i></a>

                                </div>
                                <div id="VT_SCTX" class="col s12 center" style="margin-top:45px">
                                    <h3>Vật tư SCTX</h3>
                                    <table id="SCTX_table" class="striped table-bordered" style="margin-top:10px !important">
                                        <thead>
                                            <tr>
                                                <th>Mã vật tư</th>
                                                <th>Tên vật tư</th>
                                                <th>Số lượng</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="SCTX_table_body">
                                            @{
                                                foreach (var item in ViewBag.supSCTX)
                                                {
                                                    <tr>
                                                        <td>@item.supply_id</td>
                                                        <td>@item.supply_name</td>
                                                        <td>@item.quantity</td>
                                                        <td><button type="button" class="btnSelectSCTX btn blue btn-small center"><i class="large material-icons">remove</i></button></td>
                                                        <td><a class="btnSelectSCTX2 btn blue btn-small left modal-trigger" data-target="updateSCTX">Chỉnh sửa</a></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                    <a data-target="addSCTX" id="add2" class="btn blue btn-small center modal-trigger left" style="margin-top:10px"><i class="large material-icons">add</i></a>
                                </div>
                                <div id="VT_DP" class="col s12 center" style="margin-top:45px">
                                    <h3>Vật tư dự phòng</h3>
                                    <table id="DP_table" class="striped table-bordered" style="margin-top:10px !important">
                                        <thead>
                                            <tr>
                                                <th>Mã vật tư</th>
                                                <th>Tên vật tư</th>
                                                <th>Số lượng</th>
                                                <th>Ghi chú</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="DP_table_body">
                                            @{
                                                foreach (var item in ViewBag.sup)
                                                {
                                                    <tr>
                                                        <td>@item.equipmentId_dikem</td>
                                                        <td>@item.equipment_name</td>
                                                        <td>@item.quantity_duphong</td>
                                                        <td>@item.note</td>
                                                        <td><a class="btnSelectDP btn blue btn-small left modal-trigger" data-target="updateDP">Chỉnh sửa</a></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div id="suachua" class="col s12">
                            <div class="wrapper-timeline">
                                @foreach (var item in ViewBag.listSC)
                                {
                                    <div class="container">
                                        <div class="timeline">
                                            <div class="timeline-month">
                                                Năm @item.year
                                                <span>@item.count lần sửa chữa</span>
                                            </div>
                                            @foreach (var x in item.list)
                                            {
                                                <div class="timeline-section mytimeline">
                                                    <div class="timeline-date">
                                                        Từ: @x.date_created
                                                        <span style="width: 105%">Đến: @x.finish_date_plan  <span style="background-color: deepskyblue">@x.documentary_id</span></span>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="timeline-box">
                                                                <div class="box-content table_container">
                                                                    <table id="myborder" class="table-bordered table-responsive centered" style="zoom:80%">
                                                                        <tr>
                                                                            <th style="text-align:center" colspan="3">Vật tư</th>
                                                                            <th style="text-align:center" colspan="2">Chi tiết vật tư thay thế, SC</th>
                                                                            <th style="text-align:center" colspan="2">Chi tiết vật tư thu hồi sau SC</th>
                                                                            <th style="text-align:center" rowspan="2">Lý do quyết định</th>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>Mã VT</th>
                                                                            <th>Tên vật tư</th>
                                                                            <th>ĐVT</th>
                                                                            <th>Số lượng</th>
                                                                            <th>TTKT của vật tư</th>
                                                                            <th>Số lượng</th>
                                                                            <th>TTKT của vật tư</th>
                                                                        </tr>
                                                                        @foreach (var i in x.listSup)
                                                                        {
                                                                            <tr>
                                                                                <td>@i.VTTT.supply_id</td>
                                                                                <td>@i.VTTT.supply_name</td>
                                                                                <td>@i.VTTT.unit</td>
                                                                                <td>@i.VTTT.quantity_used</td>
                                                                                <td>@i.VTTT.supplyStatus</td>
                                                                                <td>@i.VTTT.quantity_out</td>
                                                                                <td>@i.VTTT.supplyStatus</td>
                                                                                @if (i.flag == 0)
                                                                                {
                                                                                    <td rowspan='@x.rowCount'>@x.repair_reason</td>
                                                                                }
                                                                            </tr>
                                                                        }


                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                }

                            </div>


                        </div>

                        <div id="lichsu" class="col s12">
                            <div class="row table_container">
                                <table class="table table-bordered striped table-responsive centered"
                                       style="margin-top:30px; text-align:center;">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" colspan="1">Ngày</th>
                                            <th rowspan="1" colspan="3">Hoạt động </th>
                                            <th rowspan="2" colspan="1">Tình trạng</th>
                                            <th rowspan="2" colspan="1">Phân xưởng sử dụng</th>
                                            <th rowspan="2" colspan="1">Ghi chú </th>
                                        </tr>
                                        <tr>
                                            <th>Công việc trong ngày</th>
                                            <th>Số giờ hoạt động trong ngày</th>
                                            <th>Sản lượng(Tấn, Khối ,...)</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.listHD)
                                        {
                                            <tr>
                                                <td>@item.actdate</td>
                                                <td>@item.activityname</td>
                                                <td>@item.hours_per_day</td>
                                                <td>@item.quantity</td>
                                                <td>@item.status</td>
                                                <td>@item.department_name</td>
                                                <td>@item.note</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div id="tieuthu" class="col s12">
                            <div class="row table_container">
                                <table class="table table-bordered striped table-responsive centered"
                                       style="margin-top:30px; text-align:center;">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" colspan="1">Ngày</th>
                                            <th rowspan="1" colspan="2">Tiêu thụ</th>
                                            <th rowspan="2" colspan="1">Tình trạng</th>
                                            <th rowspan="2" colspan="1">Phân xưởng sử dụng</th>
                                            <th rowspan="2" colspan="1">Ghi chú </th>
                                        </tr>
                                        <tr>
                                            <th>Loại nhiên liệu</th>
                                            <th>Lượng tiêu thụ</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.listF)
                                        {
                                            <tr>
                                                <td>@item.actdate</td>
                                                <td>@item.fuel_type</td>
                                                <td>@item.consumption_value</td>
                                                <td>@item.status</td>
                                                <td>@item.department_name</td>
                                                <td>@item.note</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div id="suco" class="col s12">
                            <div class="wrapper-timeline">
                                <div class="container">
                                    @{ var count = 0;}
                                    @foreach (var x in ViewBag.incidents)
                                    {
                                        <div class="timeline">
                                            <div class="timeline-month" id="title-@x.year">
                                                Năm @x.year
                                                <span>@x.count lần gặp sự cố</span>
                                            </div>

                                            @foreach (var y in x.IncidentByDates)
                                            {
                                                if (count == 0)
                                                {
                                                    @Html.Raw("<div class=\"timeline-section " + x.year + " lastest-year\">")
                                                }
                                                else
                                                {
                                                    @Html.Raw("<div class=\"timeline-section " + x.year + "\">")
                                                }
                                                <div class="timeline-date">
                                                    Thứ @((int)y.date.DayOfWeek + 1), ngày @y.date.Day tháng @y.date.Month
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="timeline-box">
                                                            <div class="box-content table_container">
                                                                <table id="myborder" class="table-bordered striped table-responsive center">
                                                                    <tr class="highlight">
                                                                        <th class="text-center" rowspan="2">Phân xưởng</th>
                                                                        <th class="text-center" colspan="4">Nội dung sự cố</th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Thời gian bắt đầu sự cố</th>
                                                                        <th>Thời gian kết thúc sự cố</th>
                                                                        <th>Thời gian dừng hoạt động</th>
                                                                        <th>Lý do sự cố</th>
                                                                    </tr>
                                                                    @foreach (var z in y.incidents)
                                                                    {
                                                                        <tr>
                                                                            <td>@z.department_name</td>
                                                                            <td>@z.start_time.ToString("dd/MM/yyyy HH:mm")</td>
                                                                            <td>@z.end_time.ToString("dd/MM/yyyy HH:mm")</td>
                                                                            <td class="subtract">@(z.end_time - z.start_time)</td>
                                                                            <td>@z.reason</td>
                                                                        </tr>
                                                                    }
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @Html.Raw("</div>")
                                            }
                                        </div>
                                        count = 1;
                                    }
                                </div>
                            </div>
                        </div>

                        @*<div id="baohiem" class="col s12">
                                <div class="wrapper-timeline">
                                    <div class="container">
                                        @foreach (var x in ViewBag.listBH)
                                        {
                                            <div class="timeline">
                                                <div class="timeline-month" id="title-@x.year">
                                                    Năm @x.year
                                                    <span>@x.count lần đăng ký bảo hiểm</span>
                                                </div>

                                                @foreach (var y in x.equipment_Ins)
                                                {
                                                    if (count == 0)
                                                    {
                                                        @Html.Raw("<div class=\"timeline-section " + x.year + " lastest-year\">")
                                                    }
                                                    else
                                                    {
                                                        @Html.Raw("<div class=\"timeline-section " + x.year + "\">")
                                                    }
                                                    <div class="timeline-date">
                                                        @y.getDateString(y.insurance_start_date)
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="timeline-box">
                                                                <div class="box-content table_container">
                                                                    <table id="myborder" class="table-bordered striped table-responsive center">
                                                                        <tr class="highlight">
                                                                            <th>Thời hạn bảo hiểm</th>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>@y.getStringtime(y.insurance_start_date)</td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @Html.Raw("</div>")
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>*@

                        <div id="kiemdinh" class="col s12">
                            <div class="wrapper-timeline">
                                <div class="container">
                                    @foreach (var x in ViewBag.listKD)
                                    {
                                        <div class="timeline">
                                            <div class="timeline-month" id="title-@x.year">
                                                Năm @x.year
                                                <span>@x.count lần kiểm định</span>
                                            </div>

                                            @foreach (var y in x.equipment_Inspections)
                                            {
                                                if (count == 0)
                                                {
                                                    @Html.Raw("<div class=\"timeline-section " + x.year + " lastest-year\">")
                                                }
                                                else
                                                {
                                                    @Html.Raw("<div class=\"timeline-section " + x.year + "\">")
                                                }
                                                <div class="timeline-date">
                                                    @y.getDateString(y.inspect_date)
                                                    @*Thứ @((int)y.date.DayOfWeek + 1), ngày @y.date.Day tháng @y.date.Month*@
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="timeline-box">
                                                            <div class="box-content table_container">
                                                                <table id="myborder" class="table-bordered striped table-responsive center">
                                                                    <tr class="highlight">
                                                                        <th>Thời gian kiểm định</th>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>@y.getStringtime(y.inspect_date)</td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @Html.Raw("</div>")
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myadd">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Nhập thiết bị mới</h3>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col s12 m6">
                            <div class="form-group">
                                <label for="date">Mã thiết bị : </label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="id">Số hiệu : </label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="name">Ngày nhập : </label>
                                <input type="date" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="name">Khấu hao ước tính : </label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="supplier">Ghi chú: </label>
                                <input type="number" class="form-control" />
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="form-group">
                                <label for="id">Tên thiết bị : </label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="supplier">Nhà cung cấp :</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="name">Nguyên giá : </label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="number">Tình trạng: </label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn blue darken-2 modal-close save-category">Lưu</button>
                <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myedit">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Sửa</h3>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col s12 m6">
                            <div class="form-group">
                                <label for="date">Ngày đăng kiểm : </label>
                                <input type="text" class="form-control" value="15/7/2019" />
                            </div>
                            <div class="form-group">
                                <label for="id">Nơi đăng kiểm : </label>
                                <input type="text" class="form-control" value="KT02-19" />
                            </div>
                            <div class="form-group">
                                <label for="name">Tên thiết bị : </label>
                                <input type="text" class="form-control" value="Xe tải" />
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="form-group">
                                <label for="supplier">Ngày hết hạn đăng kiểm </label>
                                <input type="text" class="form-control" value="15/2/2020" />
                            </div>

                            <div class="form-group">
                                <label for="id">Mã thiết bị : </label>
                                <input type="text" class="form-control" value="XT-01" />
                            </div>
                            <div class="form-group">
                                <label for="supplier">Biển số : </label>
                                <input type="text" class="form-control" value="14A-00000" />
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn blue darken-2 modal-close save-category">Lưu</button>
                <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
            </div>
        </div>
    </div>

    <div id="myaleart" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Xác nhận xóa mục này</h3>
            </div>
            <div class="modal-body">
                <p class="red-text">Dữ liệu không thể phục hồi sau thao tác này</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue darken-2 modal-close">Xóa</button>
                <button type="button" class="btn red modal-close">Hủy</button>
            </div>
        </div>
    </div>

    <div class="modal" id="myeditbaoduong">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Sửa bảo dưỡng</h3>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col s12 m6">
                            <div class="form-group">
                                <label for="date">Bộ phận bàn giao : </label>
                                <input type="text" class="form-control" value="PX Vận tải" />
                            </div>
                            <div class="form-group">
                                <label for="id">Tình trạng trước bảo dưỡng : </label>
                                <input type="text" class="form-control" value="Tróc sơn" />
                            </div>
                            <div class="form-group">
                                <label for="name">Ngày bắt đầu : </label>
                                <input type="date" class="form-control" value="1/12/2018" />
                            </div>
                            <div class="form-group">
                                <label for="name">Tình trạng : </label>
                                <input type="text" class="form-control" value="Tốt" />
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="form-group">
                                <label for="supplier">Bộ phận bảo dưỡng </label>
                                <input type="text" class="form-control" value="PX bảo dưỡng" />
                            </div>
                            <div class="form-group">
                                <label for="id">Tình trạng sau bảo dưỡng : </label>
                                <input type="text" class="form-control" value="Tốt" />
                            </div>
                            <div class="form-group">
                                <label for="supplier">Ngày hoàn thành : </label>
                                <input type="date" class="form-control" value="Phân xưởng 1" />
                            </div>
                            <div class="form-group">
                                <label for="name">Chi phí : </label>
                                <input type="text" class="form-control" value="100.000" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn blue darken-2 modal-close save-category">Lưu</button>
                <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
            </div>
        </div>
    </div>
    <div class="modal" id="myeditsuco">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Sửa sự cố</h3>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col s12 m6">
                            <div class="form-group">
                                <label for="date">Vị trí : </label>
                                <input type="text" class="form-control" value="Lò DV-110V7.3" />
                            </div>
                            <div class="form-group">
                                <label for="id">Thời gian bắt đầu sự cố	 : </label>
                                <input type="text" class="form-control" value="2:15AM 15/7/2019" />
                            </div>
                            <div class="form-group">
                                <label for="name">Thời gian dừng hoạt động : </label>
                                <input type="date" class="form-control" value="2:00" />
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="form-group">
                                <label for="supplier">Phân xưởng </label>
                                <input type="text" class="form-control" value="Khai thác 3" />
                            </div>
                            <div class="form-group">
                                <label for="id">Thời gian kết thúc sự cố : </label>
                                <input type="text" class="form-control" value="4:15AM 15/7/2019" />
                            </div>
                            <div class="form-group">
                                <label for="supplier">Lý do sự cố : </label>
                                <input type="date" class="form-control" value="Rách 0.1m dây băng" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn blue darken-2 modal-close save-category">Lưu</button>
                <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
            </div>
        </div>
    </div>

    <div id="capnhat" class="modal">
        <div class="modal-content">
            <div class="modal-header center">
                <h3><b>Cập nhật sự cố</b></h3>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col s12 m6">
                            <div class="form-group">
                                <label for="date">Thời gian kết thúc sự cố : </label>
                                <input type="text" class="form-control" value="15/7/2016" />
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="form-group">
                                <label for="name">Lý do sự cố : </label>
                                <input type="text" class="form-control" value="XT-01" />
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn blue modal-close darken-2">Lưu</a>
                <a class="btn light-blue modal-close darken-2">Đóng</a>
            </div>
        </div>

    </div>

    @using (Html.BeginForm("deleteDK", "Lylich", FormMethod.Post, new
    {
        id = "DKform",
        enctype = "multipart/form-data",
        onSubmit = "return Change(this);",
        data_restUrl = Url.Action("deleteDK", "Lylich", new { id = "" })
    }))
    {
        <input type="hidden" id="supDK_id" name="supid" />
        <input type="hidden" id="id" name="id" />
    }

    @using (Html.BeginForm("updateDK", "Lylich", FormMethod.Post, new
    {
        id = "DKform",
        enctype = "multipart/form-data",
        onSubmit = "return Change(this);",
        data_restUrl = Url.Action("updateDK", "Lylich", new { id = "" })
    }))
    {
        <div class="card">
            <div class="card-content">
                <div class="modal" id="updateDK">
                    <div class="modal-header">
                        <h3 class="center">Cập nhật vật tư đi kèm</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col s6">
                                <label>Mã vật tư</label>
                                <input readonly="true" id="supDK_id_update" name="supid" class="form-control" />
                            </div>
                            <div class="col s6">
                                <label>Mã thiết bị</label>
                                <input readonly="true" id="id_update" name="id" class="form-control" />
                            </div>
                            <div class="col s6">
                                <label>Số lượng</label>
                                <input type="number" id="quan_update" name="quan" class="form-control" />
                            </div>
                            <div class="col s6">
                                <label>Ghi chú</label>
                                <input type="text" id="note_update" name="note" class="form-control" />
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn blue modal-close">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    }

    @using (Html.BeginForm("updateDP", "Lylich", FormMethod.Post, new
    {
        id = "DKform",
        enctype = "multipart/form-data",
        onSubmit = "return Change(this);",
        data_restUrl = Url.Action("updateDP", "Lylich", new { id = "" })
    }))
    {
        <div class="card">
            <div class="card-content">
                <div class="modal" id="updateDP">
                    <div class="modal-header">
                        <h3 class="center">Cập nhật vật tư dự phòng</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col s6">
                                <label>Mã vật tư</label>
                                <input readonly="true" id="supDP_id_update" name="supid" class="form-control" />
                            </div>
                            <div class="col s6">
                                <label>Mã thiết bị</label>
                                <input readonly="true" id="idDP_update" name="id" class="form-control" />
                            </div>
                            <div class="col s6">
                                <label>Số lượng</label>
                                <input type="number" id="quanDP_update" name="quan" class="form-control" />
                            </div>
                            <div class="col s6">
                                <label>Ghi chú</label>
                                <input type="text" id="noteDP_update" name="note" class="form-control" />
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn blue modal-close">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    }

    <datalist id="Suplist">
        @{
            foreach (var item in ViewBag.listSup)
            {
                <option value="@item.supply_name"></option>
            }

        }
    </datalist>
    <datalist id="Supdk">
        @{
            foreach (var item in ViewBag.listsupdk)
            {
                <option value="@item.equipment_name"></option>
            }
        }
    </datalist>

    @using (Html.BeginForm("addDK", "Lylich", FormMethod.Post, new
    {
        id = "DKform",
        enctype = "multipart/form-data",
        onSubmit = "return Change(this);",
        data_restUrl = Url.Action("addDK", "Lylich", new { id = "" })
    }))
    {
        <div class="modal" id="addDK">
            <div class="modal-header">
                <h3 class="center">Thêm vật tư đi kèm</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col s6">
                        <label>Tên vật tư</label>
                        <input list="Supdk" name="nameSup" class="form-control" />
                    </div>
                    <div class="col s6">
                        <label>Mã thiết bị</label>
                        <input readonly="true" id="id_add" name="id" class="form-control" />
                    </div>
                    <div class="col s6">
                        <label>Số lượng</label>
                        <input value="0" min="0" type="number" name="quan" class="form-control" />
                    </div>
                    <div class="col s6">
                        <label>Ghi chú</label>
                        <input type="text" name="note" class="form-control" />
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="submit" class="btn blue modal-close">Lưu</button>
            </div>
        </div>


    }

    @using (Html.BeginForm("addSCTX", "Lylich", FormMethod.Post, new
    {
        id = "DKform",
        enctype = "multipart/form-data",
        onSubmit = "return Change2(this);",
        data_restUrl = Url.Action("addSCTX", "Lylich", new { id = "" })
    }))
    {
        <div class="modal" id="addSCTX">
            <div class="modal-header">
                <h3 class="center">Thêm vật tư SCTX</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col s4">
                        <label>Tên vật tư</label>
                        <input list="Suplist" name="nameSup" class="form-control" />
                    </div>
                    <div class="col s4">
                        <label>Mã thiết bị</label>
                        <input readonly="true" id="idDP_add" name="id" class="form-control" />
                    </div>
                    <div class="col s4">
                        <label>Số lượng</label>
                        <input type="number" name="quan" class="form-control" />
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="submit" class="btn blue modal-close">Lưu</button>
            </div>
        </div>


    }

    @using (Html.BeginForm("updateSCTX", "Lylich", FormMethod.Post, new
    {
        id = "DKform",
        enctype = "multipart/form-data",
        onSubmit = "return Change2(this);",
        data_restUrl = Url.Action("updateSCTX", "Lylich", new { id = "" })
    }))
    {

        <div class="modal" id="updateSCTX">
            <div class="modal-header">
                <h3 class="center">Cập nhật vật tư SCTX</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col s4">
                        <label>Mã vật tư</label>
                        <input readonly="true" id="supSCTX_id_update" name="supid" class="form-control" />
                    </div>
                    <div class="col s4">
                        <label>Mã thiết bị</label>
                        <input readonly="true" id="idSCTX_update" name="id" class="form-control" />
                    </div>
                    <div class="col s4">
                        <label>Số lượng</label>
                        <input type="number" id="quanSCTX_update" name="quan" class="form-control" />
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="submit" class="btn blue modal-close">Lưu</button>
            </div>
        </div>


    }

    @using (Html.BeginForm("deleteSCTX", "Lylich", FormMethod.Post, new
    {
        id = "DKform",
        enctype = "multipart/form-data",
        onSubmit = "return Change2(this);",
        data_restUrl = Url.Action("deleteSCTX", "Lylich", new { id = "" })
    }))
    {
        <input type="hidden" id="supSCTX_id" name="supid" />
        <input type="hidden" id="idSCTX" name="id" />
    }

    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!">Danh sách hết bảo hiểm</a></li>
        <li><a href="#!">Danh sách hết khấu hao</a></li>
        <li><a href="#!">Danh sách đang bảo dưỡng</a></li>
        <li><a href="#!">Danh sách đang sửa chữa</a></li>
        <li><a href="#!">Danh sách đang gặp sự cố</a></li>
    </ul>
    <link href="~/css/transfer_mobilize_history_timeline.css" rel="stylesheet" />
    <script src="~/js/Briefs_List.js"></script>
    <script src="~/js/Custom JS/CDVT/Report/DetailManu.js"></script>
    <script>

        $(document).ready(function () {
            // code to read selected table row cell data (values).
            $("#DK_table").on('click', '.btnSelect', function () {
                // get the current row
                var currentRow = $(this).closest("tr");
                var data = currentRow.find("td:eq(0)").text();
                document.getElementById("supDK_id").value = data;
                document.getElementById("id").value = '@ViewBag.equipment.equipmentId';
                $("#supDK_id").closest('form').submit();
            });

            // code to read selected table row cell data (values).
            $("#DK_table").on('click', '.btnSelect2', function () {
                // get the current row
                var currentRow = $(this).closest("tr");
                var data = currentRow.find("td:eq(0)").text();
                document.getElementById("supDK_id_update").value = data;
                document.getElementById("id_update").value = '@ViewBag.equipment.equipmentId';
                data = currentRow.find("td:eq(2)").text();
                document.getElementById("quan_update").value = data;
                data = currentRow.find("td:eq(3)").text();
                document.getElementById("note_update").value = data
            });

            // code to read selected table row cell data (values).
            $("#DP_table").on('click', '.btnSelectDP', function () {
                // get the current row
                var currentRow = $(this).closest("tr");
                var data = currentRow.find("td:eq(0)").text();
                document.getElementById("supDP_id_update").value = data;
                document.getElementById("idDP_update").value = '@ViewBag.equipment.equipmentId';
                data = currentRow.find("td:eq(2)").text();
                document.getElementById("quanDP_update").value = data;
                data = currentRow.find("td:eq(3)").text();
                document.getElementById("noteDP_update").value = data
            });

            $("#add").click(function () {
                document.getElementById("id_add").value = '@ViewBag.equipment.equipmentId';
            });

            $("#add2").click(function () {
                document.getElementById("idDP_add").value = '@ViewBag.equipment.equipmentId';
            });

            // code to read selected table row cell data (values).
            $("#SCTX_table").on('click', '.btnSelectSCTX2', function () {
                // get the current row
                var currentRow = $(this).closest("tr");
                var data = currentRow.find("td:eq(0)").text();
                document.getElementById("supSCTX_id_update").value = data;
                document.getElementById("idSCTX_update").value = '@ViewBag.equipment.equipmentId';
                data = currentRow.find("td:eq(2)").text();
                document.getElementById("quanSCTX_update").value = data;
            });

            // code to read selected table row cell data (values).
            $("#SCTX_table").on('click', '.btnSelectSCTX', function () {
                // get the current row
                var currentRow = $(this).closest("tr");
                var data = currentRow.find("td:eq(0)").text();
                document.getElementById("supSCTX_id").value = data;
                document.getElementById("idSCTX").value = '@ViewBag.equipment.equipmentId';
                $("#supSCTX_id").closest('form').submit();
            });


        });


        function Change(form) {
             $("#pre-load").show("slow", function () {
                    });
            $("#pre-load").css("z-index", "99999");
            $.validator.unobtrusive.parse(form);

            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (response) {
                        $("#DK_table_body").empty();
                        $("#DP_table_body").empty();
                        for (i = 0; i < response.data.length; i++) {
                            $("#DK_table_body").append("<tr>"+
                                "<td>" + response.data[i].equipmentId_dikem + "</td>" +
                                "<td>" + response.data[i].equipment_name + "</td>" +
                                "<td>" + response.data[i].quantity + "</td>" +
                                "<td>" + response.data[i].note + "</td>" +
                                "<td><button type='button' class='btnSelect btn blue btn-small center'><i class='large material-icons'>remove</i></button></td>" +
                                "<td><a class='btnSelect2 btn blue btn-small center modal-trigger' data-target='updateDK'>Chỉnh sửa</a></td>" +
                                "</tr> ");
                            $("#DP_table_body").append("<tr>"+
                                "<td>" + response.data[i].equipmentId_dikem + "</td>" +
                                "<td>" + response.data[i].equipment_name + "</td>" +
                                "<td>" + response.data[i].quantity_duphong + "</td>" +
                                "<td>" + response.data[i].note + "</td>" +
                                "<td><a class='btnSelectDP btn blue btn-small center modal-trigger' data-target='updateDP'>Chỉnh sửa</a></td>" +
                                "</tr> ");
                        }
                        $("#pre-load").hide("slow", function () {
                        });

                    }
                });
            }


            return false;


        }

        function Change2(form) {
             $("#pre-load").show("slow", function () {
                    });
            $("#pre-load").css("z-index", "99999");
            $.validator.unobtrusive.parse(form);

            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (response) {
                        $("#SCTX_table_body").empty();
                        for (i = 0; i < response.data.length; i++) {
                            $("#SCTX_table_body").append("<tr>"+
                                "<td>" + response.data[i].supply_id + "</td>" +
                                "<td>" + response.data[i].supply_name + "</td>" +
                                "<td>" + response.data[i].quantity + "</td>" +
                                "<td><button type='button' class='btnSelectSCTX btn blue btn-small center'><i class='large material-icons'>remove</i></button></td>" +
                                "<td><a class='btnSelectSCTX2 btn blue btn-small center modal-trigger' data-target='updateDP'>Chỉnh sửa</a></td>" +
                                "</tr> ");
                        }
                        $("#pre-load").hide("slow", function () {
                        });

                    }
                });
            }


            return false;


        }

        $(function () {
            $(".timeline-section").each(function () {
                $(this).css("display", "none");
            });
            $(".lastest-year").each(function () {
                $(this).css("display", "block");
            });
        });
        $(".timeline-month").each(function () {
            $(this).click(function () {
                var year = $(this).attr('id');
                $("." + year.substring(6, year.length).trim()).each(function () {
                    if (!($(this).is(':visible'))) {
                        $(this).css("display", "block");
                    } else {
                        $(this).css("display", "none");
                    }
                })
                var currentYear = (new Date()).getFullYear();
            })
        })
        $(".subtract").each(function () {
            if ($(this).text() != "") {
                var datetime = $(this).text();
                var output = "";
                if (datetime.includes(".")) {
                    output += datetime.split(".")[0] + " ngày";
                    datetime = datetime.split(".")[1]
                }
                if (datetime.split(":")[0] != 00)
                    output += " " + parseInt(datetime.split(":")[0]) + " giờ "
                if (datetime.split(":")[1] != 00)
                    output += " " + parseInt(datetime.split(":")[1]) + " phút "
                $(this).text(output)
            }
        })
        $(".wrapper-timeline").css("border", "none");
    </script>
