@{
    ViewData["Title"] = "SCTX";
    if (Session["departName"].ToString().Contains("Phân xưởng"))
    {
        Layout = "~/Views/Shared/_Layout_PhanXuong.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
    }

}
@{
    List<string> list = (List<string>)Session["RightIDs"];
}

<link href="~/dist/css/pages/data-table.css" rel="stylesheet">
<link href="~/assets/Custom css/CDVT/TABLE_BORDERED.css" rel="stylesheet" />
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
<link href="~/lib/datepicker_src/dist/css/custom.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/font.css" rel="stylesheet" type="text/css">
<link href="~/css/transfer_mobilize_history_timeline.css" rel="stylesheet" />
<link href="~/assets/Custom css/form-input-border.css" rel="stylesheet" />
<script src="~/lib/datepicker_src/dist/js/datepicker.js"></script>
<script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>
<style>
    .duplicate {
        border: 1px solid red !important;
        color: red !important;
    }
</style>
<div class="card">
    <div class="card-content">
        <div class="container-fluid">
            <div class="row">

                <div class="advanded-search">
                    <div class="row">
                        <h3 class="center"><b>SỮA CHỮA THƯỜNG XUYÊN</b></h3>
                        <hr>
                        <div class="row center">
                            <div class="col l4 m4 s12">
                                <div class="row">
                                    <div class="col l10 m10 s12 input-field">
                                        <input type="text" placeholder="Tìm kiếm theo biển kiểm soát" class='form-control' id="equipmentId-search" list="eqID-search" />
                                    </div>
                                    <div class="col l10 m10 s12 input-field">
                                        <input type="text" placeholder="Tìm kiếm theo tên thiết bị" class='form-control' id="equipmentName-search" list="eqName-search" />
                                    </div>
                                    <div class="col l10 m10 s12 input-field">
                                        <a class="waves-effect waves-light btn-small blue modal-trigger" href="#myadd">Thêm sửa chữa thường xuyên thiết bị</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col l4 m4 s12">
                                <div class="row">
                                    <div class="col l10 m10 s12 offset-l1 offset-m1 input-field">
                                        <i class="fas fa-calendar-alt icon"></i>
                                        <input placeholder="Nhập ngày bắt đầu (từ)" type='text' class='datepicker-here center maxDate' data-language='vi' id="timeFrom-search" />
                                    </div>
                                    <div class="col l10 m10 s12 offset-l1 offset-m1 input-field">
                                        <i class="fas fa-calendar-alt icon"></i>
                                        <input placeholder="Nhập ngày kết thúc (đến)" type='text' class='datepicker-here center minDate' data-language='vi' id="timeTo-search" />
                                    </div>
                                </div>
                            </div>
                            <div class="col l4 m4 s12">
                                <div class="row">
                                    <div class="col l10 m10 s12 input-field">
                                        <input type="text" placeholder="Tìm kiếm theo vị trí sửa chữa" class='form-control' id="position-search" list="departmentID" />
                                    </div>
                                    <div class="col l10 m10 s12 input-field">
                                        <input type="text" placeholder="Tìm kiếm theo nội dung sửa chữa" class='form-control' id="content-search" />
                                    </div>
                                    <div class="col l10 m10 s12 offset-l1 offset-m1 input-field">
                                        <button class="btn blue darken-2 btn-small" id="searchButton">Tìm kiếm </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="table-wrapper2" class="col s12 table_container">
                    <table id="maintain" class="striped table-responsive centered table-bordered mytable">
                        <thead>
                            <tr>
                                <th class="center-align">Ngày</th>
                                <th class="center-align">Tên</th>
                                <th class="center-align">Mã thiết bị</th>
                                <th>Vị trí sửa chữa</th>
                                <th>Nội dung sửa chữa</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myadd">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Nhập sửa chữa thường xuyên thiết bị</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="id"> Mã thiết bị : </label>
                            <input type="text" class="form-control" list="getEqName" onchange="getEquipmentnameAdd()" id="equipmentID-add" />
                        </div>
                        <div class="form-group">
                            <label for="id">Nội dung sửa chữa : </label>
                            <input type="text" class="form-control" id="maintain_content-add" />
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="id">Tên thiết bị : </label>
                            <input type="text" class="form-control" id="equipmentName" readonly />
                        </div>

                        <div class="form-group">
                            <label for="id">Ngày sửa chữa : </label>
                            <input type="text" class=" datepicker-here form-control" id="date-add" />
                        </div>
                    </div>
                </div>
            </form>
            <table id="addMaintain" class="centered striped table-bordered">
                <thead>
                    <tr>
                        <th>TT</th>
                        <th>Mã thiết bị vật tư </th>
                        <th>Tên thiết bị vật tư (Mã hiệu - quy cách)</th>
                        <th>Số lượng còn</th>
                        <th>ĐVT</th>
                        <th>Số lượng sử dụng</th>

                        <th>Số lượng thu hồi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="add1">
                        <td id="dem1" class='countAdd'>1</td>
                        <td><input list="supplyID" type="text" class="form-control supply_add" placeholder="Mã thiết bị vật tư" id="supplyid_add1" onchange="searchMaThietBiVatTuAdd(this)" /></td>
                        <td><input type="text" class="form-control" placeholder="Tên thiết bị vật tư" id="supplyname_add1" readonly /></td>
                        <td><input type="text" class="form-control" placeholder="Số lượng còn" id="remaining_add1" readonly /></td>
                        <td><input type="text" class="form-control" placeholder="ĐVT" id="unit_add1" readonly /></td>
                        <td><input type="number" class="form-control used" placeholder="Số lượng sử dụng " id="used1" /></td>

                        <td>
                            <input type='number' class='form-control thuhoi' id='thuhoi1' placeholder='Số lượng thu hồi' />
                        </td>
                        <td><a><button id='removeadd' name='add1' class='btn light-blue lighten-1'><i class='large material-icons'>remove</i></button></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <a class="left"><button id="them1" type="submit" class="btn light-blue lighten-1"><i class="large material-icons">add</i></button></a>
            
            <button type="submit" class="btn blue darken-2  save-category" onclick="addMaintainCar()">Lưu</button>
            <button type="button" id="exit" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>

@*note*@
<div class="modal fade" id="myedit">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Sửa</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="date">Mã thiết bị : </label>
                            <input type="text" class="form-control" id="equipmentedit" list="getEqName" onchange="getEquipmentnameEdit()" />
                            <input type="hidden" class="form-control" id="maintainid" />
                        </div>
                        <div class="form-group">
                            <label for="supplier">Nội dung sửa chữa: </label>
                            <input type="text" class="form-control" id="maintain_contend_edit" />
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="id">Tên thiết bị : </label>
                            <input type="text" class="form-control" id="equipmentname_edit" readonly />
                        </div>

                        <div class="form-group">
                            <label for="supplier">Date: </label>
                            <input type="text" class="datepicker-here form-control maxDate" id="date_edit" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" id="submitedit" class="btn blue darken-2 save-category modal-trigger">Lưu</button>
        <button type="button" class="btn light-blue lighten-1 modal-close" id="closeForm">Thoát</button>
    </div>
</div>


<div class="modal fade "style="width: 950px" id="myeditsupply">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Sửa</h3>
        </div>
        <table id="supplyMaintain_edit" class="centered striped table-bordered">
            <thead>
                <tr>
                    <th>TT</th>
                    <th>Mã thiết bi vật tư</th>
                    <th>Tên thiết bị vật tư (Mã hiệu - quy cách)</th>
                    <th>ĐVT</th>
                    <th>Số lượng sử dụng</th>
                    <th>Số lượng thu hồi</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a class="left"><button id="them" type="submit" class="btn light-blue lighten-1"><i class="large material-icons">add</i></button></a>

        <button type="submit"id="submitedit1" class="btn blue darken-2  save-category modal-trigger">Lưu</button>
        <button type="button" id="closeForm1" class="btn light-blue lighten-1 modal-close">Thoát</button>
    </div>
</div>

@*<div id="myaleart" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Xác nhận muốn chỉnh sửa mục này</h3>
        </div>
        <div class="modal-body">
            <p class="red-text">Dữ liệu không thể phục hồi sau thao tác này</p>
        </div>
        <div class="modal-footer">
            <button type="button" id="submitedit" class="btn blue darken-2 modal-close">Lưu</button>
            <button type="button" class="btn red modal-close" id="close">Hủy</button>
        </div>
    </div>
</div>

<div id="myaleart1" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Xác nhận muốn chỉnh sửa mục này</h3>
        </div>
        <div class="modal-body">
            <p class="red-text">Dữ liệu không thể phục hồi sau thao tác này</p>
        </div>
        <div class="modal-footer">
            <button type="button" id="submitedit1" class="btn blue darken-2 ">Lưu</button>
            <button type="button" class="btn red modal-close" id="close1">Hủy</button>
        </div>
    </div>
</div>*@


<datalist id="getEqName">
    @foreach (var item in ViewBag.listEQ)
    {
        <option value="@item.equipmentId">@item.equipment_name</option>
    }
</datalist>

<datalist id="eqName">
    @foreach (var item in ViewBag.listEQ)
    {
        <option value="@item.equipment_name">@item.equipmentId</option>
    }
</datalist>



<datalist id="supplyID">
    @foreach (var item in ViewBag.listSupply)
    {
        <option value="@item.supply_id">@item.supply_name</option>
    }
</datalist>

@* calendar *@

<script src="~/js/Custom JS/CDVT/Vattu/validateInput.js"></script>
@section scripts{
    <script>
        var dem;
        var dem1;
        $(document).ready(function () {
            
            dem = 1;
         
            //fix dem1: 11/6
            dem1 = $("#dem1").text();
            $("#them").click(function () {
                dem++;
                $("#supplyMaintain_edit").append("<tr id=\"update" + dem + "\">"
                    + "<td> " + dem + "</td > <td><input list='supplyID' type='text' class='form-control supply_edit' id='supplyid_edit" + dem + "' placeholder='Mã thiết bị vật tư' onchange='searchMaThietBiVatTu(this)' />"
                    + "<input type = 'hidden' class= 'form-control maintaindetail_edit' id = 'maintaindetailid_edit" + dem + "' placeholder = '' /></td>"
                    + "<td> <input type='text' class='form-control' id='supplyname_edit" + dem + "' placeholder='Tên thiết bị vật tư' readonly /><input type='hidden' class='form-control maintain_edit' placeholder='Mã thiết bị vật tư' /></td>"
                    + "<td> <input type='text' class='form-control' id='unit_edit" + dem + "' placeholder='ĐVT' readonly /></td>"
                    +"<td> <input type='number' class='form-control used_edit' placeholder='Số lượng sử dụng' /></td> "
                   +" <td> <input type='number' class='form-control thuhoi_edit' placeholder='Số lượng thu hồi' /></td>"
                    + "<td><a><button id='removeupdate' name='update" + dem + "' class='btn light-blue lighten-1'><i class='large material-icons'>remove</i></button></a></td></tr> ");
            });
            $("#them1").click(function () {
              
                dem1++;
                $("#addMaintain").append("<tr id=\"add" + dem1 + "\"><td>" + dem1 + "</td><td><input  list='supplyID' type='text' class='form-control supply_add' id='supplyid_add" + dem1 + "' placeholder='Mã thiết bị vật tư' onchange='searchMaThietBiVatTuAdd(this)' /></td><td><input type='text' class='form-control' id='supplyname_add" + dem1 + "' placeholder='Tên thiết bị vật tư' readonly/></td><td><input type='text' class='form-control' placeholder='Số lượng còn' id='remaining_add" + dem1 + "'readonly /></td><td><input type='text' class='form-control' id='unit_add" + dem1 + "' placeholder='ĐVT' readonly/></td><td><input type='number' class='form-control used'  placeholder='Số lượng sử dụng' /></td><td><input type='number' class='form-control thuhoi'  placeholder='Số lượng thu hồi' /></td>"
                    +"<td><a><button id='removeadd' name='add" + dem1 + "' class='btn light-blue lighten-1'><i class='large material-icons'>remove</i></button></a></td ></tr > ");
            });

            $("#exit").click(function () {
                dem1 = 1;
                $("#addMaintain").find("tr:gt(1)").remove();
            });

        });
    </script>
    <script>
        //function for date.
        $('.maxDate').datepicker({
            language: 'vi',
            maxDate: new Date(),
            minDate: new Date("1/1/1900")
        })
        $('.minDate').datepicker({
            language: 'vi',
            maxDate: new Date() // Now can select only dates, which goes after today
        })
        $(document).ready(function () {
            $('.datepicker-inline').remove();
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!

            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
            var today = dd + '/' + mm + '/' + yyyy;
            //$(".minDate").each(function () {
            //    $(this).val(today);
            //});
            today = new Date("1/1/1900");
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!

            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
            var today = dd + '/' + mm + '/' + yyyy;
            //$(".maxDate").val(today)
        });
    </script>

    <script>
        $('#myedit').keydown(function (e) {
            if (e.keyCode === 13)
                e.preventDefault();
        });
        $("#equipmentname_edit").keydown(function (e) {
            if (e.keyCode === 13)
                getEquipmentnameEdit();
        });
        $("#equipmentname_edit").change(function (e) {
            getEquipmentnameEdit();
        });

        $("#equipmentName").keydown(function (e) {
            if (e.keyCode === 13)
                getEquipmentnameAdd();
        });

        $("#equipmentName").change(function (e) {
            getEquipmentnameAdd();
        });

        $('#myadd').keydown(function (e) {
            if (e.keyCode === 13)
                e.preventDefault();
        });
        $('#myeditsupply').keydown(function (e) {
            if (e.keyCode === 13)
                e.preventDefault();
        });

    </script>

    <script>
        $(document).on('keypress', function (e) {
            if (e.which == 13) {
                dataTable.destroy();
                search();
            }
        });
    </script>
    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            search();
        });

        function search() {
            dataTable = $('#maintain').on('preXhr.dt', function (e, settings, data) {
                $("#pre-load").show("slow", function () {
                });
                $("#pre-load").css("z-index", "99999");
            }).DataTable({
                "language": {
                    "emptyTable": "Không tìm thấy dữ liệu",
                    "paginate": {
                        "first": "Đầu",
                        "last": "Cuối",
                        "next": "Sau",
                        "previous": "Trước"
                    }
                },
                "ajax": {
                    "url": "/phong-cdvt/thiet-bi/sctx/search",
                    "type": "POST",
                    "datatype": "json",
                    "data": {
                        "equipmentId": function () { return $('#equipmentId-search').val() },
                        "equipmentName": function () { return $('#equipmentName-search').val() },
                        "position": function () { return $('#position-search').val() },
                        "content": function () { return $('#content-search').val() },
                        "timeFrom": function () { return $('#timeFrom-search').val() },
                        "timeTo": function () { return $('#timeTo-search').val() }
                    },
                    "cache": "false"
                },
                "drawCallback": function (settings) {
                    ///////////////////////ẨN SAU MỖI AJAX CALL///////////////////
                    $("#pre-load").hide("slow", function () {
                    });
                    ////////////////////////////////////////////////
                },
                "columns": [

                    {
                        "data": "date", "name": "date", "render": function (data) {
                            return dateFormat2(data);
                        }
                    },
                    { "data": "equipment_name", "name": "equipment_name" },
                    {
                        "data": "equipmentId", "name": "equipmentId", "render": function (data) {
                            //return ("<form id='myform' action='thiet-bi' method='POST'><input name='id' value='" + data + "' type='hidden' /><a class='btn' onclick='abc()'>" + data + "</a></form>");
                            return ("<form action=\"../thiet-bi\" method=\"post\"><input type=\"hidden\" name=\"id\" value=\"" + data + "\" class=\"form-control\"/><button class='btn' onclick='submit'>" + data + "</button></form>");
                        }
                    },
                    { "data": "department_name", "name": "department_name" },
                    { "data": "maintain_content", "name": "maintain_content" },
                    {//Danh sách vật tư
                        "data": "maintain_id", "render": function (data) {
                            return "<a href=\"#myeditsupply\" data-toggle=\"modal\" class=\"open-EditModal waves-effect waves-light btn blue darken-1 modal-trigger\" onclick=\"setMaintainID('" + data + "')\" data-maintainid=\"" + data + "\">Danh&nbsp;Sách&nbsp;Vật&nbsp;Tư</a>";
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "150px"
                    },
                    {//Chỉnh sửa
                        "data": "maintain_id", "render": function (data) {
                            return "<a href=\"#myedit\" data-toggle=\"modal\" class=\"open-EditMaintainModal waves-effect waves-light btn blue darken-1 modal-trigger\" onclick=\"setMaintainID('" + data + "')\" data-maintainid=\"" + data + "\">Chỉnh&nbsp;Sửa</a>";
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "150px"
                    }

                ],
                "serverSide": true,
                "bLengthChange": false,
                "bFilter": false,
                "bInfo": false,
                "bAutoWidth": false,
                "order": [0, "asc"],
                "initComplete": function (settings, json) {
                    ////////////////////////////////////////////////ẨN KHI KHỞI TẠO TABLE XONG  ////////////////////////////////////////////////
                    $("#pre-load").hide("slow", function () {
                    });
                    //////////////////////////////////////////////// //////////////////////////////////////////////// ////////////////////////////////////////////////
                }
            });
        }

        function dateFormat2(d) {
            var dateString = d.substr(6);
            var currentTime = new Date(parseInt(dateString));
            var month = currentTime.getMonth() + 1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            var date = day + "/" + month + "/" + year;
            return (date);
        }

        

        //get supply name and unit in edit maintaindeatail
        function searchMaThietBiVatTu(txtMaThietBiVatTu) {
            var tmp = {
                supplyid: txtMaThietBiVatTu.value
            };
            $.ajax({
                type: "POST",
                url: "/phong-cdvt/thiet-bi/sctx/returnsupplymaintainName",
                data: JSON.stringify(tmp),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    document.getElementById("supplyname_edit" + txtMaThietBiVatTu.id.slice(-1)).value = r.supply_name;
                    document.getElementById("unit_edit" + txtMaThietBiVatTu.id.slice(-1)).value = r.unit;

                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#pre-load').hide();
                    //alert("fail");
                }
            });
        }

        //get supply name and unit in add maintaindeatail
        function searchMaThietBiVatTuAdd(txtMaThietBiVatTuAdd) {
            var tmp = {
                supplyid: txtMaThietBiVatTuAdd.value,
                equipmentId: $("#equipmentID-add").val()
            };
            $.ajax({
                type: "POST",
                url: "/phong-cdvt/thiet-bi/sctx/returnsupplymaintainName",
                data: JSON.stringify(tmp),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    document.getElementById("supplyname_add" + txtMaThietBiVatTuAdd.id.slice(-1)).value = r.supply_name;
                    document.getElementById("unit_add" + txtMaThietBiVatTuAdd.id.slice(-1)).value = r.unit;
                    document.getElementById("remaining_add" + txtMaThietBiVatTuAdd.id.slice(-1)).value = r.remain_quantity;
                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#pre-load').hide();
                    //alert("co");
                }

            });
        }


            /// remove tr
            $("#supplyMaintain_edit").on("click", "#removeupdate", function () {
                $("tr#" + $(this).attr("name")).remove();
            })
            $("#addMaintain").on("click", "#removeadd", function () {
                $("tr#" + $(this).attr("name")).remove();
              
            })
       
            ///
            function addMaintainCar() {
                //Loop through the Table rows and build a JSON array.
                var $supplyid = $(".supply_add");
                var listsupplyid = [];
                $supplyid.each(function () {
                    var value = $(this).val();
                    if (listsupplyid.indexOf(value) == -1) {
                        listsupplyid.push(value);
                        $(this).removeClass("duplicate");
                    }
                    else {
                        $(this).addClass("duplicate");
                    }
                });
                if ($(".duplicate").length > 0) {

                    errorAlert('Lỗi', 'Những vật tư này đã xin cấp');
                }
                else{

                    var maintain = new Array();
                    var i = 0;


                    $("#addMaintain TBODY TR").each(function (i, v) {
                        i++;
                        var row = $(this);
                        var maintainCar = {};
                        maintainCar.supplyid = $(v).find(".supply_add").val();
                        maintainCar.used = $(v).find(".used").val();

                        maintainCar.thuhoi = $(v).find(".thuhoi").val();
                        maintain.push(maintainCar);
                    });
                    var data = {
                        maintain: maintain,
                        date: document.getElementById("date-add").value,
                        equipmentId: document.getElementById("equipmentID-add").value,

                        maintain_content: document.getElementById("maintain_content-add").value

                    };


                    //Send the JSON array to Controller using AJAX.
                    $.ajax({
                        type: "POST",
                        url: "/phong-cdvt/thiet-bi/sctx/insertMaintainCar",
                        data: JSON.stringify(data),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (r) {
                            successAlert('Thành công', 'Thao tác thành công');
                            dataTable.ajax.reload();
                            $("#addMaintain").find("tr:gt(1)").remove();

                            //fix bug 11/6:
                            dem1 = 1;

                            var i = 0;
                            $("#addMaintain TBODY TR").each(function () {
                                i++;
                                document.getElementById("supplyid_add" + i).value = '';
                                document.getElementById("thuhoi" + i).value = '';
                                document.getElementById("remaining_add" + i).value = '';
                                document.getElementById("used" + i).value = '';
                                document.getElementById("supplyname_add" + i).value = '';
                                document.getElementById("unit_add" + i).value = '';

                            });

                            document.getElementById("date-add").value = '';
                            document.getElementById("equipmentID-add").value = '';

                            document.getElementById("maintain_content-add").value = '';
                            document.getElementById("equipmentName").value = '';
                            $('#myadd').modal('close');


                        }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                            //alert("fail");
                            errorAlert('Lỗi', 'Có lỗi xảy ra , vui lòng nhập lại');
                            $('#pre-load').hide();
                        }

                    });
                }
            }

            //update remaining quantity if changing.
            $(document).ready(function () {
                $('#equipmentID-add').focusout(function () {
                    var maintain = new Array();
                    var emptySupplyInput = true;
                    var i = 0;
                    $("#addMaintain TBODY TR").each(function () {
                        i++;
                        var maintainCar = {};
                        maintainCar.supplyid = document.getElementById("supplyid_add" + i).value;
                        if (maintainCar.supplyid != null && maintainCar.supplyid != "") {
                            emptySupplyInput = false;
                        }
                        maintain.push(maintainCar);
                    });
                    var data = {
                        maintain: maintain,
                        equipmentId: document.getElementById("equipmentID-add").value,
                    };
                    //Send the JSON array to Controller using AJAX.
                    if (!emptySupplyInput) {
                        $.ajax({
                            type: "POST",
                            url: "/phong-cdvt/thiet-bi/sctx/UpdateRemaining",
                            data: JSON.stringify(data),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (response) {
                                for (var i = 0; i < response.length; i++) {
                                    document.getElementById("remaining_add" + (i + 1)).value = response[i];
                                }
                            }
                        });
                    }
                })
            });

        var equipmentID;
        var maintainid;
            //danh sach vat tu
            $(document).on("click", ".open-EditModal", function () {
                $("#supplyMaintain_edit").find("tr:gt(0)").remove();
                 maintainid = $(this).data('maintainid');

                $.ajax({
                    type: "POST",
                    url: "/phong-cdvt/thiet-bi/sctx/getMaintainCarDetail",
                    dataType: "json",
                    success: function (data) {
                        var i = 0;

                        $.each(data, function (i, item) {
                            equipmentID = item.equipmentId;
                            //Danh sách vật tư.
                            i++;
                            var $tr = $('<tr>').append(
                                $('<td class="dem">').text(i),
                                $('<td>').html('<input type="text" class="form-control supply_edit" placeholder="Mã thiết bị vật tư" id="supplyid_edit' + i + '" value="' + item.supplyid + '"onchange="searchMaThietBiVatTu(this)" list="supplyID"/><input type="hidden" class="form-control maintaindetail_edit" placeholder="" id="maintaindetailid_edit' + i + '" value="' + item.maintain_detail_id + '"/>'),

                                $('<td>').html('<input type="text" class="form-control" placeholder="Tên thiết bị vật tư" id="supplyname_edit' + i + '" value="' + item.supply_name + '" readonly/>'),
                                $('<td>').html('<input type="text" class="form-control" placeholder="Đơn vị" id="unit_edit' + i + '" value="' + item.unit + '" readonly/>'),
                                //$('<td>').html('<input type="text" class="form-control" placeholder="Số lượng còn" id="remaining_edit' + i + '" value="' + item.unit + '" readonly/>'),
                                $('<td>').html('<input type="number" class="form-control used_edit" placeholder="Số lượng sử dụng" id="used_edit' + i + '" value="' + item.used + '"/>'),
                                $('<td>').html('<input type="number" class="form-control thuhoi_edit" placeholder="Số lượng thu hồi" id="thuhoi_edit' + i + '" value="' + item.thuhoi + '"/>'),
                            );
                            $tr.appendTo('#supplyMaintain_edit TBODY ');
                        }

                        );

                        dem = document.getElementsByClassName("dem")[document.getElementsByClassName("dem").length - 1].innerText;
                        dem1 = $("#dem1").text();



                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        errorAlert('Lỗi', 'Có lỗi xảy ra');
                    },
                    data: {
                        maintainid: Number(maintainid)
                    },
                    cache: false
                })
            });
    
            //Chỉnh sửa
            $(document).on("click", ".open-EditMaintainModal", function () {
               var maintainid = $(this).data('maintainid');
                $.ajax({
                    type: "POST",
                    url: "/phong-cdvt/thiet-bi/sctx/getMaintainCar",
                    dataType: "json",
                    success: function (data) {
                        $("#equipmentedit").val(data.equipmentId);

                        $('#equipmentname_edit').val(data.equipment_name);
                        $('#maintain_contend_edit').val(data.maintain_content);
                        $('#date_edit').val(data.stringDate);
                        $('#maintainid').val(data.maintain_id);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        errorAlert('Lỗi', 'Có lỗi xảy ra');
                    },
                    data: {
                        maintainid: Number(maintainid)
                    },
                    cache: false
                })
            });
            $("#submitedit").click(function (e) {
                $.ajax({
                    type: "POST",
                    url: "/phong-cdvt/thiet-bi/sctx/edit",
                    dataType: "text",
                    success: function () {
                        dataTable.ajax.reload();
                        successAlert('Thành công', 'Chỉnh sửa thành công');
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $('#pre-load').hide();
                        errorAlert('Lỗi', 'Có lỗi xảy ra , vui lòng nhập lại');
                        $('#close').click();
                    },
                    data: {
                        date: $('#date_edit').val(),
                        equipmentId: $('#equipmentedit').val(),

                        maintain_content: $('#maintain_contend_edit').val(),
                        maintainid: Number($('#maintainid').val())
                    },
                    cache: false
                }).done(function () {
                    $('#closeForm').click();
                    $('#close').click();

                })
                return false;

            });
        $("#submitedit1").click(function (e) {
            var $supplyid = $(".supply_edit");
            var listsupplyid = [];
            $supplyid.each(function () {
                var value = $(this).val();
                if (listsupplyid.indexOf(value) == -1) {
                    listsupplyid.push(value);
                    $(this).removeClass("duplicate");
                }
                else {
                    $(this).addClass("duplicate");
                }
            });
            if ($(".duplicate").length > 0) {

                errorAlert('Lỗi', 'Những vật tư này đã xin cấp');
            }
            else {
                var supplyDetail = new Array();
                var i = 0;
                $("#supplyMaintain_edit TBODY TR").each(function (i, v) {
                    i++;
                    var row = $(this);
                    var maintainCar = {};
                    maintainCar.supplyid = $(v).find(".supply_edit").val();
                    maintainCar.used = $(v).find(".used_edit").val();
                    maintainCar.thuhoi = $(v).find(".thuhoi_edit").val();
                    maintainCar.maintain_detail_id = $(v).find(".maintaindetail_edit").val();
                    maintainCar.maintain_id = maintainid;
                    supplyDetail.push(maintainCar);
                });
                $.ajax({
                    type: "POST",
                    url: "/phong-cdvt/thiet-bi/sctx/editMaintainDetail",
                    data: JSON.stringify(supplyDetail),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function () {
                        dataTable.ajax.reload();
                        successAlert('Thành công', 'Chỉnh sửa thành công');
                        $('#myadd').modal('close');
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $('#pre-load').hide();
                        errorAlert('Lỗi', 'Có lỗi xảy ra , vui lòng nhập lại');
                        $('#myeditsupply').click();
                    },
                    cache: false
                }).done(function () {

                    $('#closeForm1').click();
                    $('#close1').click();

                })
                return false;
            }
        
            });

            //ajax CRUD
            $(document).ready(function () {
                //ajax search
                $("#searchButton").click(function () {
                    dataTable.ajax.reload(function () {

                    });
                });
            });

            //get supply name and unit in add fuel
            //error : id : supply_id1
            //function getsupplyname() {
            //    var id = document.getElementById("supplyid_edit").value;
            //    var tmp = {
            //        fuel_type: id
            //    };
            //    $.ajax({
            //        url: "/returnsupplyName",
            //        type: "POST",
            //        data: JSON.stringify(tmp),
            //        contentType: "application/json;charset=utf-8",
            //        dataType: "json",
            //        success: function (data) {
            //            document.getElementById("supplyname_edit").value = data.split("^")[0];
            //            document.getElementById("unit-edit").value = data.split("^")[1];
            //        },
            //        error: function () {
            //            //alert("fail");
            //        }
            //    });
            //}

            //get equipment name to edit
            //error :
            function getEquipmentnameEdit() {
                var id = document.getElementById("equipmentedit").value;
                var em = { id: id };
                $.ajax({
                    url: "/phong-cdvt/thiet-bi/sctx/returnEquipmentName",
                    type: "POST",
                    data: JSON.stringify(em),
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        document.getElementById("equipmentname_edit").value = data;
                    },
                    error: function () {
                        //alert("fail");
                    }
                });
            }

            //get equipment name to add
            //error :
            function getEquipmentnameAdd() {
                var id = document.getElementById("equipmentID-add").value;
                var em = { id: id };
                $.ajax({
                    url: "/phong-cdvt/thiet-bi/sctx/returnEquipmentName",
                    type: "POST",
                    data: JSON.stringify(em),
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        document.getElementById("equipmentName").value = data;
                    },
                    error: function () {
                        //alert("fail");
                    }
                });
            }
            //function deleterow(tableID) {
            //    var table = document.getElementById(tableID);
            //    table.deleteRow(-1);
            //    dem1--;
            //}
            //function deleterowedit(tableID) {
            //    var table = document.getElementById(tableID);
            //    table.deleteRow(-1);
            //    dem--;
            //}
    </script>
}