
@using QUANGHANH2.Models
@using QUANGHANH2.Controllers
@{
    ViewData["Title"] = "ViewJobByPX";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";

    var arrPhanXuong = ViewBag.PhanXuongs;
    var arrNhiemVu = ViewBag.arrNhiemVu;
}
<div class="row">
    <div class="card">
        <div class="card-content">
            <h3 class="center">
                <b>ĐĂNG KÝ CÔNG VIỆC</b>
            </h3>
            <br />

            <div class="row">
                <div class="col s3 m3 l3 input-field">
                    <input type="text" class="form-control" id="mnv_search" placeholder="Mã nhân viên" />
                </div>
                <div class="col s3 m3 l3 input-field">
                    <input type="text" class="form-control" id="name_search" placeholder="Tên nhân viên" />
                </div>
                <div class="col s3 m3 l3 input-field">
                    <select id="sl_phan_xuong" class="form-control">
                        <option disabled selected>Phân Xưởng</option>
                        @{
                            foreach (var phanXuong in arrPhanXuong)
                            {
                                <option value="@phanXuong.department_name">@phanXuong.department_name</option>
                            }
                        }
                    </select>
                </div>
                <div class="col s3 m3 l3 input-field">
                    <button type="button" onclick="search()" id="btn_timkiem" class="btn blue darken-2">Tìm kiếm</button>
                </div>
            </div>
            <div class="table_container">
                <table class="table-bordered table-responsive" id="mytable">
                    <thead>
                        <tr>
                            <th rowspan="2">MNV</th>
                            <th rowspan="2">Tên nhân viên</th>
                            @{
                                foreach (var a in arrNhiemVu)
                                {
                                    <th colspan="@a.arrNV.Count">@a.loai</th>
                                }
                            }
                            <th></th>
                        </tr>
                        <tr>
                            @{
                                foreach (var b in arrNhiemVu)
                                {
                                    foreach (var c in b.arrNV)
                                    {
                                        <th>@c.TenNhiemVu</th>
                                    }
                                }
                            }
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <hr />
            <div class="row">
                <div class="col s12 m5 l5">
                    <div class="col s3 m3 l3"><button type="button" class="btn blue darken-2" disabled id="btnluu" onclick="submitJob()">Lưu</button></div>
                    <div class="col s4 m4 l4"><button type="button" class="btn blue darken-2" id="btn-sua" onclick="turnOnChinhSuaMode()">Chỉnh sửa</button></div>
                    <div class="col s5 m5 l5"><button type="button" class="btn blue darken-2" id="ExportExcel">Xuất excel</button></div>
                </div>
            </div>

        </div>
    </div>
</div>

<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{

    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        var dataTable;
        var x;
        var isEnableCheckBox = false;
        $(Document).ready(() => {
            $("#pre-load").show()
            $('.dropdown-trigger').dropdown();
            dataTable = $("#mytable").on('preXhr.dt', function (e, settings, data) {
                $("#pre-load").show("slow", function () {
                });
                $("#pre-load").css("z-index", "99999");
            }).on('page.dt', () => { // su kien chuyen trang datatable
                turnOnDefaultMode()
            }).DataTable({
                 "ajax": {
                     "url": '@Url.Action("GetAllNhanVienByPX", "Task")',
                     "type": "POST",
                     "datatype": "json",
                },
                "drawCallback": function (settings) {
                    $("#pre-load").hide("slow", function () {
                    });
                },
                "columns": [
                    { "data": "MaNV", "name": "MaNV", "render": (data) => { return "<label>" + data + "</label>" }, "orderable": true },
                    { "data": "Ten", "name": "Ten", "render": (data, type, row, meta) => { return "<a class='font-weight-bold text-success' href='@Url.Action("chung-chi-cua-nhan-vien", "phong-tcld")?MaNV=" + row['MaNV'] + "'>" + data + "</a>" }, "orderable": true },
                    @{
                        foreach (var b in arrNhiemVu)
                        {
                            foreach (var c in b.arrNV)
                            {

                                var pp = "{ \"data\": \"MaNV\", \"render\": (data, type, row, meta) => { if(row['MaNhiemVu'].includes(" + c.MaNhiemVu + ")){return \"<label><input class='job' value='"
                                    + c.MaNhiemVu + "_" + "\"+data+\"" + "'  id='cbx" + c.MaNhiemVu + "_" + "\"+data+\"" + "'  type ='checkbox' onclick=removeTask('"
                                    + c.MaNhiemVu + "_" + "\"+data+\"" + "') checked disabled /><span></span></label> \"}else{return \"<label><input class='job' value='"
                                    + c.MaNhiemVu + "_" + "\"+data+\"" + "'  id='cbx" + c.MaNhiemVu + "_" + "\"+data+\"" + "'  type ='checkbox' onclick=selectNewJob('"
                                    + c.MaNhiemVu + "_" + "\"+data+\"" + "') disabled /><span></span></label> \"}  },\"orderable\": false  } ,";


                                <text>
                                    @{WriteLiteral(pp);}
                                </text>

                            }
                        }
                    }
                    { "data": "MaNhiemVu", "name": "MaNhiemVu", "render": () => {return "" }}
                ],
                "bInfo": false,
                "bLengthChange": false,
                "order": [0, 'asc'],
                "paging": true,
                "pageLength": 6,
                "initComplete": () => { $("#pre-load").hide()},
                "searching": false,
                "serverSide": true,
                "language": {
                    emptyTable: "Không có dữ liệu",
                    zeroRecords: "Không có dữ liệu",
                    paginate:
                    {
                        previous: "Trang trước",
                        next: "Trang sau",
                        first: "|<",
                        last: ">|",

                    },
                    info: "Đang hiện _START_ đến _END_ của _TOTAL_ bản ghi",
                    infoEmpty: "Đang hiện 0 đến 0 của 0 bản ghi",
                },

            })


            //set dropdown ve gia tri default khi nhan va input search ten
            $('#name_search').focus(() => { $('#sl_phan_xuong').val("Phân Xưởng").trigger('change') })

            //them su kien an enter de tim kiem cho truong ten
            document.querySelector('#name_search').addEventListener('keypress', function (e) { // them su kien nhan nut enter cho phan search
                var key = e.which || e.keyCode;
                if (key === 13) { 
                    search();
                }
            });
            //them su kien an enter de tim kiem cho truong ma nhan vien
            document.querySelector('#mnv_search').addEventListener('keypress', function (e) { // them su kien nhan nut enter cho phan search
                var key = e.which || e.keyCode;
                if (key === 13) {
                    search();
                }
            });
            //khi nhan vao o tim kiem bang mnv se khong search bang ten va px dc nua
            $("#mnv_search").focus(() => {
                $('#sl_phan_xuong').val("Phân Xưởng").trigger('change')
                $('#name_search').val("")
                $("#name_search").prop('disabled', true);
                $("#sl_phan_xuong").prop('disabled', true);
            })
            //khi nhan ra ngoai ma o gia tri cua mnv khac "" se khong cho search bangten va px
            $("#mnv_search").blur(() => {
                if ($("#mnv_search").val() == "") {
                    $("#name_search").prop('disabled', false);
                    $("#sl_phan_xuong").prop('disabled', false);
                }
            })

        })


        var selectedJob = []
        function submitJob() {

            confirmAlert(
                'Xác nhận thêm nhiệm vụ?',
                'Xác nhận thêm nhiệm vụ vừa chọn cho nhân viên',
                function submit() {
                    for (var i = 0; i< $('.job:checkbox:checked').length; i++)
                {
                    var cbxChecked = $('.job:checkbox:checked')[i];
                    if (!selectedJob.includes(cbxChecked.value.toString())) {
                        selectedJob.push(cbxChecked.value.toString())
                    }
                    }
                    if (selectedJob.length == 0 && removeJob.length ==0) {
                    $.notify("Chưa chọn công việc", {
                        globalPosition: "top center",
                        className: "fail"
                    })
                    return false;
                }
                 $("#pre-load").show()

                    $.ajax({
                        url: '@Url.Action("AssignTask","Task")',
                        type: "POST",
                        data: { tasks: selectedJob, removedTask: removeJob },
                        dataType: "json",
                        success: (response) => {
                            if (response.success == true) {
                                $("#pre-load").hide()
                                selectedJob = []
                                successAlert('Thành công', 'thêm nhiệm vụ thành công');
                                turnOnChinhSuaMode();
                            } else {
                                $("#pre-load").hide()
                                turnOnDefaultMode()
                                errorAlert('Thất bại', 'Đã xảy ra lỗi');
                            }

                        },
                        error: () => {
                            $("#pre-load").hide()
                            turnOnDefaultMode()
                            errorAlert('Thất bại', 'Đã xảy ra lỗi');
                        }

            })
                });
        }

        // bat che do khong cho chinh sua
        function turnOnDefaultMode() {
            isEnableCheckBox = false;
            $("#btnluu").prop('disabled', true);
            removeJob = [];
            var newJob = [];
        }

        var newJob = []
        function selectNewJob(data) {
            if (!newJob.includes(data)) { // nhiem vu dc them lan dau -> checkbox o trang thai tick hoac da bo tick va duoc tick lai
                newJob.push(data)
                if (removeJob.includes(data)) { // xoa data neu data da nam trong list huy nhiem vu
                    var index = removeJob.indexOf(data)
                    removeJob.splice(index, 1)
                }
            } else {// nhiem vu bi huy -> checkbox o trang thai untick
                if (!removeJob.includes(data)) { // them data vao danh sach nhiem vu bi huy
                    removeJob.push(data)
                }
                var index = newJob.indexOf(data)// xoa data neu data da nam trong list them nhiem vu
                newJob.splice(index,1)
            }
        }

        var removeJob = []
        function removeTask(data) { // khi nhiem vu da duoc tick tu truoc ti se dc them vao danh sach huy nhiem vu
            if (!removeJob.includes(data)) {
                removeJob.push(data)
            }
        }

        function normailize(input) {
            input = input.trim();
            input = input.replace(/\s\s+/g, ' ');
            input = input.replace(/  +/g, ' ');
            return input;
        }

        function search() {

            var name = $("#name_search").val()
            var mnv = $("#mnv_search").val()
            var px = $("#sl_phan_xuong").val()
            nameNormalized = normailize(name);
            mnvNormalized = normailize(mnv)
            if (nameNormalized == "") {
                nameNormalized = null;
            }
            if (mnvNormalized == "") {
                mnvNormalized = null;
            }
            $("#pre-load").show()
            var searchObj = {
                name: nameNormalized,
                mnv: mnvNormalized,
                px : px
            }
            var searchObjJson = JSON.stringify(searchObj)

            dataTable.ajax.url('@Url.Action("SearchEmployee", "Task")?data=' + searchObjJson).load((response) => {
                $("#pre-load").hide()
                $.notify("Tìm kiếm thành công", {
                         globalPosition: "top center",
                         className: "success"
                            })
            }, true)

        }


        function turnOnChinhSuaMode() {
            $("#pre-load").show()
            if (!isEnableCheckBox) {
                for (var i = 0; i < $('.job:checkbox').length; i++) {
                    $('.job:checkbox')[i].disabled = false;
                }
                isEnableCheckBox = true;
                $("#btnluu").prop('disabled', false);
                $("#pre-load").hide()
            } else {
                for (var i = 0; i < $('.job:checkbox').length; i++) {
                    $('.job:checkbox')[i].disabled = true;
                }
                isEnableCheckBox = false;
                $("#btnluu").prop('disabled', true);
                $("#pre-load").hide()
            }
        }

        $("#ExportExcel").click(function () {
            $("#pre-load").show();
            $("#pre-load").css("z-index", "9999");
            var pb = $("#sl_phan_xuong").val();
            $.ajax({
                url: '@Url.Action("ExportExcel", "Task")',
                type: 'POST',
                data: {
                    pb : pb
                },
            }).done(function () {
                if (pb != null && pb != "") {
                    window.location.href = "/excel/TCLD/download/Report_Job_" + pb + ".xlsx";
                } else {
                    window.location.href = "/excel/TCLD/download/Report_Job_Total.xlsx";
                }
                 $("#pre-load").hide();
            })
        });

    </script>
}
