
@{
    ViewBag.Title = "WorkWorkGroup";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}

<div class="card">
    <div class="card-content">
        <div class="row">
            <h3 class="center"><b>QUẢN LÝ CÔNG VIÊC - NHÓM CÔNG VIỆC</b></h3>

            <div class=row>
                <div class="col l3 m12 s12"></div>
                <div class="col l3 m12 s12"></div>
                <div class="col l3 m12 s12">
                    <input type="text" placeholder="Tên công việc" class='form-control' id="search_work_name" />
                </div>
                <div class="col l2 m12 s12 ">
                    <input type="text" placeholder="Tên nhóm công việc" class='form-control' id="search_work_group_name" />
                </div>
                <div class="col l1 m12 s12 ">
                    <button class="waves-effect waves-light btn blue darken-2 btn-small" id="search_button"><i class="fas fas fa-search"></i></button>
                </div>
            </div>

            <div>
                <a class="waves-effects waves-light btn blue darken-2 btn-small input-field modal-trigger" href="#modal_add_work_work_group">Thêm</a>
            </div>
            <div>
                <table id="work_work_group_table" class="table table-bordered responsive-table center">
                    <thead>
                        <tr>
                            <th>Tên công việc</th>
                            <th>Tên nhóm công việc</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!---------Modal add WorkWorkGroup--------->
<div class="modal" id="modal_add_work_work_group">
    <div class="modal-content">
        <h4 class="center"><b>Thêm công việc - nhóm công việc</b></h4>
        <div class="row">
            <div class="col s12 m6 l6">
                <label>Tên công việc</label>
                <select class="form-control" id="add_modal_work_name_select">
                    <option disabled selected value="">Chọn tên công việc</option>
                    @foreach (var work in ViewBag.works)
                    {
                        <option value="@work.work_id">@work.name</option>
                    }
                </select>
            </div>
            <div class="col s12 m6 l6">
                <label>Tên nhóm công việc</label>
                <select class="form-control" id="add_modal_work_group_name_select">
                    <option disabled selected value="">Chọn tên nhóm công việc</option>
                    @foreach (var workGroup in ViewBag.workGroups)
                    {
                        <option value="@workGroup.work_group_id">@workGroup.name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="add_modal_confirm_button" class="waves-effects waves-light btn blue darken-2 btn-small">Xác nhận</button>
        <button id="add_modal_close_modal_button" class="waves-effects waves-light btn red darken-2 btn-small modal-close">Đóng</button>
    </div>
</div>

<!---------Modal edit WorkWorkGroup----------->
<div class="modal" id="modal_edit_work_work_group">
    <div class="modal-content">
        <h4 class="center"><b>Sửa công việc - nhóm công việc</b></h4>
        <div class="row">
            <div class="col s12 m6 l6">
                <label>Tên công việc</label>
                <select class="form-control" id="edit_modal_work_name_select">
                    <option disabled selected value="">Chọn tên công việc</option>
                    @foreach (var work in ViewBag.works)
                    {
                        <option value="@work.work_id">@work.name</option>
                    }
                </select>
            </div>
            <div class="col s12 m6 l6">
                <label>Tên nhóm công việc</label>
                <select class="form-control" id="edit_modal_work_group_name_select">
                    <option disabled selected value="">Chọn tên nhóm công việc</option>
                    @foreach (var workGroup in ViewBag.workGroups)
                    {
                        <option value="@workGroup.work_group_id">@workGroup.name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="edit_modal_confirm_button" class="waves-effects waves-light btn blue darken-2 btn-small">Xác nhận</button>
        <button id="edit_modal_close_modal_button" class="waves-effects waves-light btn red darken-2 btn-small modal-close">Đóng</button>
    </div>
</div>

<!----------------------------LIST------------------------------->
<script>
    var table;
    $(document).ready(function () {
        $("#pre-load").show();
        table = $("#work_work_group_table").DataTable({
            "ajax": {
                "url": "/phong-tcld/cong-viec-nhom-cong-viec/danh-sach-cong-viec-nhom-cong-viec",
                "type": "GET",
                "datatype": "json",
                "cache": "false",
                "data": {
                    "search_work_name": () => { return $("#search_work_name").val() },
                    "search_work_group_name": () => { return $("#search_work_group_name").val() }
                },
                "dataSrc": function (json) {
                    return json["workWorkGroups"]
                }
            },
            "columns": [
                { "data": "work_name", "name": "work_name" },
                { "data": "work_group_name", "name": "work_group_name" },
                {
                    "data": "", "render": function (data, type, row) {
                        return "<a id=\"suaCongViec_NhomCongViec\" name=\"" + row["work_work_group_id"] + "\" class=\"waves-effects waves-light btn blue darken-2 btn-small modal-trigger\" href=\"#modal_edit_work_work_group\">Sửa</a>"
                    },
                    "orderable": false,
                    "searchable": false
                },
                {
                    "data": "", "render": function (data, type, row) {
                        return "<a id=\"xoaCongViec_NhomCongViec\" name=\"" + row["work_work_group_id"] + "\" class=\"waves-effects waves-light btn red darken-2 btn-small modal-close\">Xóa</a>"
                    },
                    "orderable": false,
                    "searchable": false
                }
            ],
            "serverSide": "true",
            "order": [0, "desc"],
            "searching": false,
            "lengthChange": false,
            "autoWidth": false,
            "filter": true,
            "info": false,
            "language": {
                emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                paginate:
                {
                    previous: "Trang trước",
                    next: "Trang sau",
                    first: "|<",
                    last: ">|"
                }
            },
            "initComplete": function (settings, json) {
                $("#pre-load").hide();
            }
        })
    });
</script>

<!---------------------------SEARCH--------------------------->
<script>
    $(document).ready(function () {
        $("#search_button").click(function () {
            table.ajax.reload();
        });
    })
</script>

<!--------------------------------ADD-------------------------------->
<script>
    $(document).ready(function () {
        $("#add_modal_confirm_button").click(function () {
            $("#pre-load").show(),
                $.ajax({
                    url: "/phong-tcld/cong-viec-nhom-cong-viec/them-cong-viec-nhom-cong-viec",
                    type: "POST",
                    datatype: "json",
                    cache: false,
                    data: {
                        "work_id": $("#add_modal_work_name_select").val(),
                        "work_group_id": $("#add_modal_work_group_name_select").val()
                    },
                    success: function (response) {
                        if (response.success) {
                            //close the modal themCongViec_NhomCongViec
                            $("#add_modal_close_modal_button").click();
                            //alert successful adding
                            successAlert(response.title, response.message);
                            //clear selected option in modal
                            $("#add_modal_work_name_select option").prop("selected", function () {
                                return this.defaultSelected;
                            });
                            $("#add_modal_work_group_name_select option").prop("selected", function () {
                                return this.defaultSelected;
                            });
                            //reload table
                            table.ajax.reload();
                            //hide the pre-loader
                            $("#pre-load").hide();
                        } else if (response.error) {
                            //alert fail adding
                            errorAlert(response.title, response.message);
                            $("#pre-load").hide();
                        }
                    },
                    error: function (response) {
                        errorAlert(response.title, response.message);
                    }
                })
        });
    });
</script>

<!-----------------------------------------------EDIT------------------------------------------------->
<script>
    var work_work_group_id;
    var work_id;
    var work_group_id;

    //select option by work_work_group_id
    $("#work_work_group_table").on("click", "#suaCongViec_NhomCongViec", function () {
        work_work_group_id = $(this).attr("name");
        getDataWorkWorkGroup(work_work_group_id);
    });

    //update
    $("#edit_modal_confirm_button").click(function () {
        work_id = $("#edit_modal_work_name_select").val();
        work_group_id = $("#edit_modal_work_group_name_select").val();
        update(work_work_group_id, work_id, work_group_id);

    });

</script>

<!-----------------------GET DATA BY WorkWorkGroup------------------------>
<script>
    function getDataWorkWorkGroup(work_work_group_id) {
        $("#pre-load").show(),
            $.ajax({
                url: "/phong-tcld/cong-viec-nhom-cong-viec/lay-du-lieu-theo-macongviec-nhomcongviec",
                type: "POST",
                datatype: "json",
                data: {
                    "work_work_group_id": work_work_group_id
                },
                success: function (response) {
                    //auto select option by work_work_group_id
                    $("#edit_modal_work_name_select option[value=\"" + response.workWorkGroups.work_id + "\"]").prop("selected", true);
                    $("#edit_modal_work_group_name_select option[value=\"" + response.workWorkGroups.work_group_id + "\"]").prop("selected", true);
                    //hide the pre-loader
                    $("#pre-load").hide();
                },
                error: function (response) {
                    errorAlert(response.title, response.message);
                }
            })
    }
</script>

<!---------------------------------------UPDATE--------------------------------------->
<script>
    function update(work_work_group_id, work_id, work_group_id) {
        $("#pre-load").show(),
            $.ajax({
                url: "/phong-tcld/cong-viec-nhom-cong-viec/cap-nhat-cong-viec-nhom-cong-viec",
                type: "POST",
                datatype: "json",
                data: {
                    "work_work_group_id": work_work_group_id,
                    "work_id": work_id,
                    "work_group_id": work_group_id
                },
                success: function (response) {
                    if (response.success) {
                        //close the modal
                        $("#edit_modal_close_modal_button").click();
                        //alert successful updating
                        successAlert(response.title, response.message);
                        //reload table
                        table.ajax.reload();
                        //hide the pre-loader
                        $("#pre-load").hide();
                    } else if (response.error) {
                        //alert fail updating
                        errorAlert(response.title, response.message);
                        $("#pre-load").hide();
                    }
                },
                error: function (response) {
                    errorAlert(response.title, response.message);
                }
            })
    }
</script>

<!------------------------------------------------------DELETE-------------------------------------------------------->
<script>
    $(document).ready(function () {
        var work_work_group_id;
        $("#work_work_group_table").on("click", "#xoaCongViec_NhomCongViec", function () {
            work_work_group_id = $(this).attr("name");
            //alert confirm popup
            confirmAlert("Xác nhận xóa?", "Xác nhận xóa công việc - nhóm công việc", function () { delete_Congviec_Nhomcongviec(work_work_group_id); });
        });
    });
</script>

<script>
    function delete_Congviec_Nhomcongviec(work_work_group_id) {
        $("#pre-load").show(),
            $.ajax({
                url: "/phong-tcld/cong-viec-nhom-cong-viec/xoa-cong-viec-nhom-cong-viec",
                type: "POST",
                datatype: "json",
                data: {
                    "work_work_group_id": work_work_group_id
                },
                success: function (response) {
                    if (response.success) {
                        //alert successful updating
                        successAlert(response.title, response.message);
                        //reload table
                        table.ajax.reload();
                        //hide the pre-loader
                        $("#pre-load").hide();
                    } else {
                        //alert fail updating
                        errorAlert(response.title, response.message);
                        $("#pre-load").hide();
                    }
                },
                error: function (response) {
                    errorAlert(response.title, response.message);
                }
            })
    }
</script>

<!-------Disable select option of Materialzecss------->
<script src="../../js/Custom JS/Disable_input_material.js"></script>