
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}

<link href="~/assets/Custom css/TCLD/Certificate/Certificate.css" rel="stylesheet" />
<link href="~/lib/mutiple select/slimselect.css" rel="stylesheet" />
<div class="user-roll card" id="vld-antoan">
    <div class="card-content">
        <div class="row">
            <h3 class="black-text"><b>DANH SÁCH BẰNG CẤP VÀ GIẤY CHỨNG NHẬN</b></h3>
            <div class="centered">
                <div class="row" id="tab_searching">
                    <div id="searchDiplomaEmployee" style="display:none">
                        <div class="input-group mb-3">
                            <div class="col s13 m13 l3 input-field">
                                <input class="form-control" placeholder="Số hiệu" id="sohieuTxt" />
                            </div>
                            <div class="col s13 m13 l3 input-field">
                                <input class="form-control" placeholder="Tên bằng cấp" id="bangcap_nvTxt" />
                            </div>
                            <div class="col s13 m13 l3 input-field">
                                <input class="form-control" placeholder="Tên nhân viên" id="tennvTxt" />
                            </div>
                            <div class="col l2 m12 s12 input-field">
                                <button class="waves-effect waves-light btn-small blue darken-2 modal-trigger" type="submit" id="searchEmpBtn">Tìm kiếm</button>
                            </div>
                        </div>
                    </div>
                    <div id="searchDiploma" style="display:none">
                        <div class="input-group mb-3">
                            <div class="col s12 m15 l5 input-field">
                                <input class="form-control" placeholder="Tên trường" id="truongTxt" />
                            </div>
                            <div class="col s12 m5 l5 input-field">
                                <input class="form-control" placeholder="Tên chuyên ngành" id="nganhTxt" />
                            </div>
                            <div class="col s12 m5 l5 input-field">
                                <input class="form-control" placeholder="Tên trình độ" id="trinhdoTxt" />
                            </div>
                            <div class="col s12 m5 l5 input-field">
                                <input class="form-control" placeholder="Tên bằng cấp" id="bangcapTxt" />
                            </div>
                            <div class="col l2 m2 s12 input-field">
                                <button class="waves-effect waves-light btn-small blue darken-2 modal-trigger" id="searchDenlomaBtn">Tìm kiếm</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <hr />
        <div class="row" id="tabs">
            <ul class="tabs">
                <li class="tab col m6 l6 s12"><a data-toggle="tab" id="tab_diploma" href="#diploma">Bằng cấp và giấy chứng nhận</a></li>
                <li class="tab col m6 l6 s12 active"><a data-toggle="tab" id="tab_diploma_emp" href="#diplomaEmp">Bằng cấp và giấy chứng nhận của nhân viên</a></li>
            </ul>
        </div>
        <!---->
        <div id="diploma">
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <a class="btn btn-small blue darken-2 modal-trigger btn-mg input-field" data-target="addDiploma">Thêm Bằng cấp </a>
                            <a class="btn btn-small blue darken-2 btn-mg input-field" id="diploma_excel">Xuất ra file excel</a>
                        </div>
                        <div class="table-responsive">
                            <table id="table_diploma" class="table table-bordered  centered highlight">
                                <thead>
                                    <tr>
                                        <th>Tên Trường</th>
                                        <th>Tên chuyên ngành</th>
                                        <th>Tên Trình độ</th>
                                        <th>Tên bằng cấp</th>
                                        <th>Kiểu bằng cập</th>
                                        <th>Thời hạn</th>
                                        <th>Loại</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!---->
        <div id="diplomaEmp">
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <a class="btn btn-small blue darken-2 modal-trigger btn-mg input-field" data-target="addDiplomaEmp">Thêm bằng cấp cho nhân viên</a>
                            <a class="btn btn-small blue darken-2 btn-mg input-field" id="diploma_employee_excel">Xuất ra file excel</a>
                        </div>
                        <div class="table-responsive">
                            <table id="table_diploma_emp" class="table table-bordered  centered highlight">
                                <thead>
                                    <tr>
                                        <th>Số hiệu</th>
                                        <th>Tên bằng cấp</th>
                                        <th>Tên nhân viên</th>
                                        <th>Ngày cấp</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="addDiploma" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Thêm Bằng cấp</h3>
        </div>
        <div class="modal-body">
            @Html.Action("AddDiploma", "Diploma")
        </div>
    </div>
</div>
<div id="addDiplomaEmp" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Thêm bằng cấp cho nhân viên</h3>
        </div>
        <div class="modal-body">
            @Html.Action("AddDiplomaEmployee", "Diploma")
        </div>
    </div>
</div>
<div id="editDiploma" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Sửa bằng cấp</h3>
        </div>
        <div class="modal-body">
            @Html.Action("EditDiploma", "Diploma")
        </div>
    </div>
</div>
<div id="editDiplomaEmp" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Sửa bằng cấp</h3>
        </div>
        <div class="modal-body">
            @Html.Action("EditDiplomaEmployee", "Diploma")
        </div>
    </div>
</div>
<div id="deletediploma" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Xác nhận xóa bằng cấp </h3>
        </div>
        <div class="modal-body">
            <p class="red-text">Bạn có muốn xóa bằng cấp này?</p>
        </div>
        <div class="modal-footer">
            <a class="btn blue darken-2 modal-close" onclick="DeleteDiploma()">Xóa</a>
            <a class="btn red modal-close">Hủy</a>
        </div>
    </div>
</div>
<div id="deletediplomaEmp" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Xác nhận xóa bằng cấp </h3>
        </div>
        <div class="modal-body">
            <p class="red-text">Bạn có muốn xóa bằng cấp này?</p>
        </div>
        <div class="modal-footer">
            <a class="btn blue darken-2 modal-close" onclick="DeleteDiplomaEmployee()">Xóa</a>
            <a class="btn red modal-close">Hủy</a>
        </div>
    </div>
</div>

<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/js/Custom JS/TCLD/Certificate/certificate.js"></script>
<script src="~/js/Custom JS/form-input-border.js"></script>
<script src="~/lib/mutiple select/slimselect.js"></script>
<script src="~/Scripts/notify.min.js"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<link href="~/css/preloader/css.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@section scripts {
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $("#pre-load").show("slow", function () {
        });
        $("#pre-load").css("z-index", "99999");
        var dataTableDiploma, dataDiplomaEmp;
        var deleteIdDiploma;
        var deleteIdDiplomaEmp;
        var searchId;
        var isSearchCertificate = true;
        var current_index;
        $(document).ready(function () {
            // Diploma
            dataTableDiploma = $("#table_diploma")
                .on('preXhr.dt', function (e, settings, data) {
                    $("#pre-load").show("slow", function () {
                    });
                    $("#pre-load").css("z-index", "99999");
                })
                .DataTable({
                "ajax": {
                    "url": "/phong-tcld/bang-cap-va-giay-chung-nhan/danh-sach-bang-cap-va-giay-chung-nhan",
                    "type": "POST",
                    "datatype": "json",

                    },
                    "drawCallback": function (settings) {
                        $("#pre-load").hide("slow", function () {
                        });
                    },
                "columns": [
                    { "data": "TenTruong", "name": "TenTruong" },
                    { "data": "TenChuyenNganh", "name": "TenChuyenNganh" },
                    { "data": "TenTrinhDo", "name": "TenTrinhDo" },
                    { "data": "TenBangCap", "name": "TenBangCap" },
                    { "data": "KieuBangCap", "name": "KieuBangCap" },
                    {
                        "data": "ThoiHan", "name": "ThoiHan", "render": function (data) {
                            if (data == -1) {
                                return "Vĩnh viễn"
                            }
                            else {
                                return data + " tháng";
                            }

                        }
                    },
                    { "data": "Loai", "name": "Loai" },
                    {
                        "data": "MaBangCap_GiayChungNhan", "render": function (data) {
                            return "<a class='waves-effect waves-light btn-small blue darken-2 modal-trigger' data-target='editDiploma' style='margin-left:5px' onclick=getEditIdDiploma(" + data + ") ><i class='far fa-edit'></i>Sửa</a>";
                    },
                    "orderable": false,
                    "searchable": false,
                    },
                    {
                        "data": "MaBangCap_GiayChungNhan", "render": function (data) {
                            return "<a class='waves-effect waves-light btn-small red modal-trigger'  style='margin-left:5px' onclick=getDeleteIdDiploma(" + data + ") ><i class='fa fa-trash'></i> Xóa</a>";
                    },
                    "orderable": false,
                    "searchable": false,
                },

                ],
                "language": {
                    emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                    paginate:
                    {
                        previous: "Trang trước",
                        next: "Trang sau",
                        first: "|<",
                        last: ">|",

                    },
                    info: "Đang hiện START đến END của TOTAL bản ghi",
                    infoEmpty: "Đang hiện 0 đến 0 của 0 bản ghi",
                },
                "autoWidth": false,
                "serverSide": "true",
                "order": [0, "asc"],
                "bLengthChange": false,
                "bFilter": false,
                "bInfo": false,
                "initComplete": function (settings, json) {
                        $("#pre-load").hide("slow", function () {
                        });

                    }
                });
            //employees's Diploma
            dataDiplomaEmp = $("#table_diploma_emp")
                .on('preXhr.dt', function (e, settings, data) {
                    $("#pre-load").show("slow", function () {
                    });
                    $("#pre-load").css("z-index", "99999");
                })
                .DataTable({
                    "bLengthChange": false,
                    "bFilter": false,
                    "bInfo": false,
                    "ajax": {
                        "url": "/phong-tcld/bang-cap-va-giay-chung-nhan/danh-sach-bang-cap-va-giay-chung-nhan-cua-nhan-vien",
                        "type": "POST",
                        "datatype": "json",

                    },
                    "drawCallback": function (settings) {
                        $("#pre-load").hide("slow", function () {
                        });
                    },
                    "columns": [
                        { "data": "SoHieu", "name": "SoHieu" },
                        { "data": "TenBangCap", "name": "TenBangCap" },
                        { "data": "Ten", "name": "Ten" },
                        {
                            "data": "NgayCap", "name": "NgayCap", "render": function (data) {
                                return dateFormat(data);
                            }
                        },
                        {
                            "data": "SoHieu", "render": function (data) {
                                return "<a class='waves-effect waves-light btn-small blue darken-2 modal-trigger' data-target='editDiplomaEmp' style='margin-left:5px' onclick=getEditIdDiplomaEmp('" + data + "') ><i class='far fa-edit'></i>Sửa</a>";
                            },
                            "orderable": false,
                            "searchable": false,
                        },
                        {
                            "data": "SoHieu", "render": function (data) {
                                return "<a class='waves-effect waves-light btn-small red modal-trigger'  style='margin-left:5px' onclick=getDeleteIdDiplomaEmp('" + data + "') ><i class='fa fa-trash'></i> Xóa</a>";
                            },
                            "orderable": false,
                            "searchable": false
                        },

                    ],
                    "language": {
                        emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                        paginate:
                        {
                            previous: "Trang trước",
                            next: "Trang sau",
                            first: "|<",
                            last: ">|",

                        },
                        info: "Đang hiện START đến END của TOTAL bản ghi",
                        infoEmpty: "Đang hiện 0 đến 0 của 0 bản ghi",
                    },
                    "autoWidth": false,
                    "serverSide": "true",
                    "order": [0, "asc"],
                    "initComplete": function (settings, json) {
                        $("#pre-load").hide("slow", function () {
                        });
                    }
                });
            $("#searchDiploma").show();
            //set onclick for tab-ccct
            $("#tab_diploma").on("click", () => {
                $("#searchDiploma").show();
                $("#searchDiplomaEmployee").hide();
            })
            //set onclick for ccnv
            $("#tab_diploma_emp").on("click", () => {
                $("#searchDiploma").hide();
                $("#searchDiplomaEmployee").show();

            })

        });
        function dateFormat(d) {
            var dateString = d.substr(6);
            var currentTime = new Date(parseInt(dateString));
            var month = currentTime.getMonth() + 1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            var date = day + "/" + month + "/" + year;
            return (date);
        }

        function SubmitFormDiploma(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $("#pre-load").show("slow", function () {
                });
                $("#pre-load").css("z-index", "99999");
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        dataTableDiploma.ajax.reload();
                        dataDiplomaEmp.ajax.reload();
                        $("#pre-load").hide("slow", function () {
                        });
                        successAlert('Thành công', '');
                        $(".modal").modal();
                        $("body").css("overflow", "");  
                        $("#addDiplomaEmp").load('@Url.Action("AddDiplomaEmployee")');
                    },
                    error: function () {
                        errorAlert('Lỗi', 'Thử lại');
                    }
                })
            }
            return false;
        }
        function getEditIdDiploma(id) {
            if (id != null) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("EditDiploma", "Diploma")/' + id,
                    success: function (data) {
                        $("#edit_diploma_model").html(data)
                    }

                });
            }

        }
        function getDeleteIdDiploma(id) {
            deleteIdDiploma = id;
            confirmAlert(
                'Bạn có chắc chắn muốn xóa chứng chỉ này?',
                '',
                function ahihi() {
                    DeleteDiploma();
                });
        }

        function DeleteDiploma() {
            if (deleteIdDiploma != null) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteDiploma", "Diploma")/' + deleteIdDiploma,
                    success: function (data) {
                        if (data.success)
                        {
                            $("#addDiplomaEmp").load('@Url.Action("AddDiplomaEmployee")');
                            dataTableDiploma.ajax.reload();
                            dataDiplomaEmp.ajax.reload();
                            successAlert('Thành công', 'Xóa chứng chỉ thành công');
                        }
                        else {
                            errorAlert('Lỗi', 'Vui lòng thử lại');
                        }
                    }
                });
            }

        }
        function getDeleteIdDiplomaEmp(idEmp) {
            deleteIdDiplomaEmp = idEmp;
            confirmAlert(
                'Bạn có chắc chắn muốn xóa chứng chỉ này?',
                '',
                function ahihi() {
                    DeleteDiplomaEmployee();
                });
        }
        function DeleteDiplomaEmployee() {
            if (deleteIdDiplomaEmp != null) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteDiplomaEmployee", "Diploma")/' + deleteIdDiplomaEmp,
                    success: function (data) {
                        if (data.success)
                        {
                            dataTableDiploma.ajax.reload();
                            dataDiplomaEmp.ajax.reload();
                            successAlert('Thành công', 'Xóa chứng chỉ thành công');
                        }
                        else {
                            errorAlert('Lỗi', 'Vui lòng thử lại');
                        }
                    }
                });
            }

        }
        function getEditIdDiplomaEmp(id) {
            if (id != null) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("EditDiplomaEmployee", "Diploma")/' + id,
                    success: function (data) {
                        $("#edit_diploma_emp_model").html(data)
                    }

                });
            }

        }
        $("#searchEmpBtn").click(function () {

            var sohieuTxt = $("#sohieuTxt").val();
            var bangcap_nvTxt = $("#bangcap_nvTxt").val();
            var tennvTxt = $("#tennvTxt").val();
            var stringArrayEmpSearch = new Array();
            stringArrayEmpSearch[0] = sohieuTxt.replace(/\s+/g, " ").trim();
            stringArrayEmpSearch[1] = bangcap_nvTxt.replace(/\s+/g, " ").trim();
            stringArrayEmpSearch[2] = tennvTxt.replace(/\s+/g, " ").trim();
            //alert(stringArray[0]);
            dataDiplomaEmp.ajax.url('@Url.Action("SearchDiplomaEmployee", "Diploma")?ListSearchDipEmp=' + stringArrayEmpSearch).load(() => { $("#pre-load").hide("slow", function () { }) }, true)
        });
        $("#searchDenlomaBtn").click(function () {

            var truongTxt = $("#truongTxt").val();
            var nganhTxt = $("#nganhTxt").val();
            var trinhdoTxt = $("#trinhdoTxt").val();
            var bangcapTxt = $("#bangcapTxt").val();
            var stringArray = new Array();
            stringArray[0] = truongTxt.replace(/\s+/g, " ").trim();
            stringArray[1] = nganhTxt.replace(/\s+/g, " ").trim();
            stringArray[2] = trinhdoTxt.replace(/\s+/g, " ").trim();
            stringArray[3] = bangcapTxt.replace(/\s+/g, " ").trim();
            //alert(stringArray[0]);
            dataTableDiploma.ajax.url('@Url.Action("SearchDiploma", "Diploma")?ListSearch=' + stringArray).load(() => { $("#pre-load").hide("slow", function () { }) }, true)
        });

        $('#diploma_excel').click(function () {
            $('pre-load').show();
            $.ajax({
                type: 'POST',
                url: '/phong-tcld/bang-cap/danh-sach-bang-cap/xuat-file-excel',
                dataType: 'json',
                success: function (response) {
                    if (response.success) {
                        window.location.href = response.location;
                        $("#pre-load").hide("slow", function () { });

                    } else {
                        alert("Lỗi khi tải file");
                    }
                }
            });
            $('pre-load').hide();
        });

        $('#diploma_employee_excel').click(function () {
            $('pre-load').show();
            $.ajax({
                type: 'POST',
                url: '/phong-tcld/bang-cap/danh-sach-bang-cap-cua-nhan-vien/xuat-file-excel',
                dataType: 'json',
                success: function (response) {
                    if (response.success) {
                        window.location.href = response.location;
                        $("#pre-load").hide("slow", function () { });

                    } else {
                        alert("Lỗi khi tải file");
                    }
                }
            });
            $('pre-load').hide();
        });
    </script>

}



