
@{
    ViewBag.Title = "Grade_Scale_Salary";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}
<!-----------------Load_List_Salary----------------->
<div class="card">
    <div class="card-content">
        <div class="row">
            <h3 class="center"><b>DANH SÁCH BẬC LƯƠNG,THANG LƯƠNG, MỨC LƯƠNG</b></h3>
            <div>
                <a class="btn blue darken-2 btn-small input-field modal-trigger" href="#modal_themNhomCongViec">Thêm</a>
            </div>
            <div>
                <table id="danhsachluong" class="table table-bordered center">
                    <thead>
                        <tr>
                            <th>Mức bậc lương</th>
                            <th>Mức thang lương</th>
                            <th>Mức lương</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!------------------------Them Muc Luong-------------------------->
<div id="modal_themNhomCongViec" class="modal">
    <div class="modal-content">
        <h4 class="center"><b>Thêm Mức Lương</b></h4>
        <div class="row">

            <div class="col s12 m6 16">
                <label>Mức Bậc Lương</label>
                <select class="form-control" id="mucbacluong">
                    <option value="" disabled selected>Chọn diện mức bậc lương</option>
                    @foreach (var listsalarygrade in ViewBag.listbacluong)
                    {
                        <option value="@listsalarygrade.MaBacLuong">@listsalarygrade.MucBacLuong</option>
                    }
                </select>
            </div>
            <div class="col s12 m6 16">
                <label>Mức Thang Lương</label>
                <select class="form-control" id="mucthangluong">
                    <option value="" disabled selected>Chọn diện mức thang lương</option>
                    @foreach (var listsalarysacle in ViewBag.listsalarysacle)
                    {
                        <option value="@listsalarysacle.MaThangLuong">@listsalarysacle.MucThangLuong</option>
                    }
                </select>
            </div>
            <div class="col s12 m6 push-m3">
                <label>Mức Lương</label>
                <input type="text" class="form-control" id="mucluong" />
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button id="xacnhanthemmucluong" class="btn blue darken-2 btn-small">Xác nhận</button>
        <button id="dongthemmucluong" class="btn red darken-2 btn-small modal-close">Đóng</button>
    </div>
</div>



<!------------------------Sua Muc Luong-------------------------->
<div id="modal_suaLuong" class="modal">
    <div class="modal-content">
        <h4 class="center"><b>Sửa Mức Lương</b></h4>
        <div class="row">

            <div class="col s12 m6 16">
                <label>Mức Bậc Lương</label>
                <select class="form-control" id="mucbacluong-edit">
                    <option value="" disabled selected>Chọn diện mức bậc lương</option>
                    @foreach (var listsalarygrade in ViewBag.listbacluong)
                    {
                        <option value="@listsalarygrade.MaBacLuong">@listsalarygrade.MucBacLuong</option>
                    }
                </select>
            </div>
            <div class="col s12 m6 16">
                <label>Mức Thang Lương</label>
                <select class="form-control" id="mucthangluong-edit">
                    <option value="" disabled selected>Chọn diện mức thang lương</option>
                    @foreach (var listsalarysacle in ViewBag.listsalarysacle)
                    {
                        <option value="@listsalarysacle.MaThangLuong">@listsalarysacle.MucThangLuong</option>
                    }
                </select>
            </div>
            <div class="col s12 m6 push-m3">
                <label>Mức Lương</label>
                <input type="text" class="form-control" id="mucluong-edit" />
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button id="xacnhansuamucluong" class="btn blue darken-2 btn-small">Xác nhận</button>
        <button id="dongsuamucluong" class="btn red darken-2 btn-small modal-close">Đóng</button>
    </div>
</div>
<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script>
    var table;
    $(document).ready(function () {
        table = $('#danhsachluong').DataTable({
            "ajax": {
                "url": "/phong-tcld/quan-ly-bacluong-thangluong-mucluong/danhsach",
                "type": "GET",
                "datatype": "json",
                "cache": "false",
                "dataSrc": function (json) {
                    return json["listData"];
                }
            },
            "columns": [
                { "data": "MucBacLuong", "name": "MucBacLuong" },
                { "data": "MucThangLuong", "name": "MucThangLuong" },
                { "data": "MucLuong", "name": "MucLuong" }
                ,
                {
                    "data": "", "render": function (data, type, row) {
                        return "<a id=\"suaLuong\" name=\"" + row["MaBacLuong_ThangLuong_MucLuong"] + "\" class=\"waves-effects waves-light btn blue darken-2 btn-small modal-trigger\" href =\"#modal_suaLuong\" >Sửa</a>";
                    },
                    "orderable": false,
                    "searchable": false
                },
                {
                    "data": "", "render": function (data, type, row) {
                        return "<a id=\"xoaLuong\" name=\"" + row["MaBacLuong_ThangLuong_MucLuong"] + "\" class=\"waves-effects waves-light btn red darken-2 btn-small modal-close\">Xóa</a>";
                    },
                    "orderable": false,
                    "searchable": false
                }
            ],
            "serverSide": "true",
            "order": [0, "desc"],
            "searching": false,
            "lengthChange": false,
            "autoWidth": false,
            "filter": true,
            "info": false,
            "language": {
                emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                paginate:
                {
                    previous: "Trang trước",
                    next: "Trang sau",
                    first: "|<",
                    last: ">|"
                }
            },
            "initComplete": function (settings, json) {
                $("#pre-load").hide();
            }
        });
    });
</script>

<!---------------------------------------------ADD------------------------------------------------>
<script>
    $(document).ready(function () {
        $("#xacnhanthemmucluong").click(function () {
            $("#pre-load").show(),
                $.ajax({
                    url: "/phong-tcld/quan-ly-bacluong-thangluong-mucluong/them-muc-luong",
                    type: "POST",
                    datatype: "json",
                    data: {
                        "mabacluong": $("#mucbacluong").val(),
                        "mathangluong": $("#mucthangluong").val(),
                        "mucluong": $("#mucluong").val()
                    },
                    success: function (response) {
                        if (response.success) {
                            //arlet successful adding
                            successAlert(response.title, response.message);
                            //clear input in modal themmucluong
                            $("#mucluong").val("");

                            $("#mucbacluong option").prop("selected", function () {
                                return this.defaultSelected;
                            });
                            $("#mucthangluong option").prop("selected", function () {
                                return this.defaultSelected;
                            });
                            //close modal themmucluong
                            $("#dongthemmucluong").click();
                            //reload table
                            table.ajax.reload();
                            //hide the pre-loader
                            $("#pre-load").hide();
                        } else if (response.error) {
                            errorAlert(response.title, response.message);
                            $("#pre-load").hide();
                        }
                    },
                    error: function (response) {
                        alert(response.error)
                    }
                });
        });
    });
</script>

<!---------------------------------------------EDIT------------------------------------------------>
<script>
    $(document).ready(function () {
        var ma_muc_luong;
        var mucluong;
        var ma_bac_luong;
        var ma_thang_luong;
        //fill editpopup
        $('#danhsachluong').on('click', '#suaLuong', function () {
            ma_muc_luong = $(this).attr("name");
            getData(ma_muc_luong);
        });
        //update
        $("#xacnhansuamucluong").click(function () {
            mucluong = $("#mucluong-edit").val();
            ma_bac_luong = $("#mucbacluong-edit").val();
            ma_thang_luong = $("#mucthangluong-edit").val();
            Update(ma_muc_luong, mucluong, ma_bac_luong, ma_thang_luong);
        });
    });
</script>
<!--Load data to popup-->
<script>
    function getData(ma_muc_luong) {
        $('#pre-load').show(),
            $.ajax({
                url: "/phong-tcld/quan-ly-bacluong-thangluong-mucluong/lay-du-lieu-theo-mamucluong",
                type: "POST",
                datatype: "json",
                data: {
                    "mamucluong": ma_muc_luong
                },
                success: function (response) {
                    if (response.success) {
                        $("#mucbacluong-edit option[value=\"" + response.item.MaBacLuong + "\"]").prop("selected", true);
                        $("#mucthangluong-edit option[value=\"" + response.item.MaThangLuong + "\"]").prop("selected", true);
                        $("#mucluong-edit").val(response.item.MucLuong);
                        $("#pre-load").hide();
                    }
                },
                error: function (response) {
                   
                }
            });
    }
</script>
<!--Update-->
<script>
    function Update(ma_muc_luong, mucluong, ma_bac_luong, ma_thang_luong) {
        $("#pre-load").show(),
        $.ajax({
            url: "/phong-tcld/quan-ly-bacluong-thangluong-mucluong/chinhsua-muc-luong",
            type: "POST",
            datatype: "json",
            data: {
                "mamucluong" : ma_muc_luong,
                "mabacluong": ma_bac_luong,
                "mathangluong": ma_thang_luong,
                "mucluong": mucluong
            },
            success: function (response) {
                if (response.success) { 
                    //arlet successful adding
                    successAlert(response.title, response.message);
                    //clear input in modal update
                    $("#mucluong").val("");

                    $("#mucbacluong option").prop("selected", function () {
                        return this.defaultSelected;
                    });
                    $("#mucthangluong option").prop("selected", function () {
                        return this.defaultSelected;
                    });
                    //close modal update
                    $("#dongsuamucluong").click();
                    //reload table
                    table.ajax.reload();
                    //hide the pre-loader
                    $("#pre-load").hide();
                } else if (response.error) {
                    errorAlert(response.title, response.message);
                    $("#pre-load").hide();
                }
            },
            error: function (response) {
                alert(response.error)
            }
        });
    }
</script>
<!------------DELETE----------->
<script>
    $(document).ready(function () {
        var maluong = "";
        $("#danhsachluong").on("click", "#xoaLuong", function () {
            maluong = $(this).attr("name");
            confirmAlert("Xác nhận xóa?", "Xóa diện công việc",
                function () {
                    delete_luong(maluong);
                }
            )
        });
    });
</script>
<script>
    function delete_luong(maluong) {
        $('#pre-load').show();
        $.ajax({
            url: "/phong-tcld/quan-ly-bacluong-thangluong-mucluong/xoa-luong",
            type: "POST",
            datatype: "json",
            data: {
                "maluong": maluong
            },
            success: function (response) {
                if (response.success) {
                    successAlert("Thành công", response.message);
                    table.ajax.reload();
                    $('#pre-load').hide();
                }
                else if (response.error) {
                    errorAlert("Có lỗi", response.message);
                    $("#pre-load").hide();
                }
            },
            error: function (response) {

            }

        });
    }
</script>

<!-------Disable select option of Materialzecss------->
<script src="../../js/Custom JS/Disable_input_material.js"></script>
