
@{
    ViewData["Title"] = "bao_cao_chi_tiet_theo_ca";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}


<div class="card">
    <div class="card-content">
        <form>
            <div class="row center">
                <h3>
                    BÁO CÁO CHI TIẾT <a href="javascript:void(0);" class="dropdown-trigger btn" id="ca" data-target="dropdown_ca" style="background-color:#273146" name="ca3">CA 3</a> NGÀY 19/8/2019
                    <br><br>
                    <a class='dropdown-trigger btn' id="px" href='#' data-target='dropdown_px'
                       style="width:250px;background-color:#273146" name="VTL1">
                        VTL1
                    </a>
                    <a class='dropdown-trigger btn' id="thoigian" href='#' data-target='dropdown_time'
                       style="width:250px;background-color:#273146" name="day">
                        Xem theo ngày
                    </a>
                    <a class='btn blue darken-2' id="xacnhan" href='javascript:void(0);' style="width:250px;background-color:#273146">
                        Xác nhận
                    </a>
                </h3>
                <hr>
            </div>
            <div class="row table1" style="overflow-x:auto!important">
                <table class="table table-bordered table-responsive centered highlight">
                    <thead>
                        <tr>
                            <th colspan="2" rowspan="3" width="3%">TT</th>
                            <th colspan="2" rowspan="3" width="5%">Tên</th>
                            <th colspan="2" rowspan="3" width="5%">Số thẻ</th>
                            <th colspan="2" rowspan="3" width="4%">Bậc thợ</th>
                            <th colspan="2" rowspan="3" width="10%">Chức danh công việc,thợ chính,thợ phụ</th>
                            <th colspan="2" rowspan="3" width="13%">Nội dung công việc,vị trí làm việc</th>
                            <th colspan="2" rowspan="3" width="13%">Khối lượng công việc thực hiện được</th>
                            <th colspan="2" rowspan="3" width="5%">Hệ số chia lương</th>
                            <th colspan="2" rowspan="1">Lương</th>
                            <th colspan="2" rowspan="3">Dự báo nguy cơ</th>
                            <th colspan="2" rowspan="3">-Yêu cầu BPKTAT<br>-Giải pháp loại trừ nguy cơ</th>
                        </tr>
                        <tr>
                            <th width="3%">9a</th>
                            <th width="3%">9b</th>
                        </tr>
                        <tr>
                            <th>Trước duyệt</th>
                            <th>Sau duyệt</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2" class="table1_1">1</td>
                            <td colspan="2">Phúc</td>
                            <td colspan="2">1333</td>
                            <td colspan="2">6/6</td>
                            <td colspan="2">MT</td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2">1,4</td>
                            <td colspan="1">771</td>
                            <td colspan="1"></td>
                            <td colspan="2">Không kiểm tra thiết bị trước khi vận hành</td>
                            <td colspan="2">Trước khi vận hành phải kiểm tra thiết bị đảm bảo an toàn trước khi được vận hành</td>
                        </tr>
                        <tr>
                            <td colspan="2">2</td>
                            <td colspan="2">Quyển</td>
                            <td colspan="2">7023</td>
                            <td colspan="2">6/6</td>
                            <td colspan="2">TT</td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2">1,2</td>
                            <td colspan="1">661</td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2">3</td>
                            <td colspan="2">Tô</td>
                            <td colspan="2">1625</td>
                            <td colspan="2">6/6</td>
                            <td colspan="2">MT</td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2">1,1</td>
                            <td colspan="1">606</td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2">4</td>
                            <td colspan="2">Quý</td>
                            <td colspan="2">5906</td>
                            <td colspan="2">6/6</td>
                            <td colspan="2">MT</td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2">1,0</td>
                            <td colspan="1">551</td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2">5</td>
                            <td colspan="2">Khua</td>
                            <td colspan="2">9239</td>
                            <td colspan="2">3/6</td>
                            <td colspan="2">VT</td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2">1,1</td>
                            <td colspan="1">606</td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2">6</td>
                            <td colspan="2">Nua</td>
                            <td colspan="2">1283</td>
                            <td colspan="2">3/6</td>
                            <td colspan="2">PT</td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2">1,2</td>
                            <td colspan="1">661</td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2">7</td>
                            <td colspan="2">Sỹ</td>
                            <td colspan="2">2480</td>
                            <td colspan="2">6/6</td>
                            <td colspan="2">MT</td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2">1,2</td>
                            <td colspan="1">661</td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2">8</td>
                            <td colspan="2">Bẩu</td>
                            <td colspan="2">1433</td>
                            <td colspan="2">6/6</td>
                            <td colspan="2">MT</td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2">1,2</td>
                            <td colspan="1">661</td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2">9</td>
                            <td colspan="2">Sơn</td>
                            <td colspan="2">2341</td>
                            <td colspan="2">6/6</td>
                            <td colspan="2">MT</td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2">1,1</td>
                            <td colspan="1">606</td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2">10</td>
                            <td colspan="2">Thương</td>
                            <td colspan="2">8347</td>
                            <td colspan="2">3/6</td>
                            <td colspan="2">PT</td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2">0,8</td>
                            <td colspan="1">441</td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2">11</td>
                            <td colspan="2">Phong</td>
                            <td colspan="2">2184</td>
                            <td colspan="2"></td>
                            <td colspan="2">VT</td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2">1,2</td>
                            <td colspan="1">661</td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2">12</td>
                            <td colspan="2">Hiệp</td>
                            <td colspan="2">4386</td>
                            <td colspan="2">6/6</td>
                            <td colspan="2">MT</td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2">1,2</td>
                            <td colspan="1">563</td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2">13</td>
                            <td colspan="2">Điệp</td>
                            <td colspan="2">6215</td>
                            <td colspan="2">5/6</td>
                            <td colspan="2">VT</td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2">1,0</td>
                            <td colspan="1">551</td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2">14</td>
                            <td colspan="2">Trang</td>
                            <td colspan="2">1345</td>
                            <td colspan="2">6/6</td>
                            <td colspan="2">TM</td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2">1,2</td>
                            <td colspan="1">661</td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2">15</td>
                            <td colspan="2">Độ</td>
                            <td colspan="2">1201</td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2">Tổ cơ điện VT</td>
                            <td colspan="2"></td>
                            <td colspan="2">1,2</td>
                            <td colspan="1">661</td>
                            <td colspan="1">+200(Chuyển vật tư)</td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2">16</td>
                            <td colspan="2">Số</td>
                            <td colspan="2">3274</td>
                            <td colspan="2">3/7</td>
                            <td colspan="2">VH</td>
                            <td colspan="2">MC</td>
                            <td colspan="2"></td>
                            <td colspan="2">1,0</td>
                            <td colspan="1">551</td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2">17</td>
                            <td colspan="2">Kim</td>
                            <td colspan="2">3217</td>
                            <td colspan="2">4/6</td>
                            <td colspan="2">VH NV-120</td>
                            <td colspan="2">MC</td>
                            <td colspan="2"></td>
                            <td colspan="2">0,9</td>
                            <td colspan="1">496</td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2">18</td>
                            <td colspan="2">Sơn</td>
                            <td colspan="2">2356</td>
                            <td colspan="2">5/6</td>
                            <td colspan="2">VH</td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2">0,9</td>
                            <td colspan="1">496</td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2">19</td>
                            <td colspan="2">Quân</td>
                            <td colspan="2">3263</td>
                            <td colspan="2">5/6</td>
                            <td colspan="2">VH</td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2">1,0</td>
                            <td colspan="1">551</td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2">20</td>
                            <td colspan="2">Tiếp</td>
                            <td colspan="2">5121</td>
                            <td colspan="2">5/6</td>
                            <td colspan="2">VH</td>
                            <td colspan="2">MC Thương</td>
                            <td colspan="2"></td>
                            <td colspan="2">0,9</td>
                            <td colspan="1">496</td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2">21</td>
                            <td colspan="2">Cương</td>
                            <td colspan="2">394</td>
                            <td colspan="2">5/6</td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2">1,0</td>
                            <td colspan="1">551</td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2">22</td>
                            <td colspan="2">Tuấn</td>
                            <td colspan="2">2379</td>
                            <td colspan="2">5/6</td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2">0,9</td>
                            <td colspan="1">496</td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2">22</td>
                            <td colspan="2">Chiến</td>
                            <td colspan="2">3242</td>
                            <td colspan="2">3/7</td>
                            <td colspan="2">VMK</td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2">1,2</td>
                            <td colspan="1">661</td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2">23</td>
                            <td colspan="2">Việt</td>
                            <td colspan="2">3495</td>
                            <td colspan="2">4/6</td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2">1,0</td>
                            <td colspan="1">551</td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2">24</td>
                            <td colspan="2">Tiến</td>
                            <td colspan="2">3498</td>
                            <td colspan="2">3/6</td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2">1,0</td>
                            <td colspan="1">551</td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2">25</td>
                            <td colspan="2">Phong</td>
                            <td colspan="2">8746</td>
                            <td colspan="2">3/7</td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2">1,0</td>
                            <td colspan="1">551</td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2">26</td>
                            <td colspan="2">Tiến</td>
                            <td colspan="2">3023</td>
                            <td colspan="2">3/6</td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2">1,0</td>
                            <td colspan="1">551</td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2">27</td>
                            <td colspan="2">Tùng</td>
                            <td colspan="2">1245</td>
                            <td colspan="2">3/7</td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="1">551</td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2">28</td>
                            <td colspan="2">Hào</td>
                            <td colspan="2">1224</td>
                            <td colspan="2">5/7</td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2">1,2</td>
                            <td colspan="1">661</td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2">29</td>
                            <td colspan="2">Hùng</td>
                            <td colspan="2">3430</td>
                            <td colspan="2">4/7</td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2">1,0</td>
                            <td colspan="1">551</td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2">30</td>
                            <td colspan="2">Tiến</td>
                            <td colspan="2">3298</td>
                            <td colspan="2">3/6</td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                            <td colspan="2">1,0</td>
                            <td colspan="1">551</td>
                            <td colspan="1"></td>
                            <td colspan="2"></td>
                            <td colspan="2"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
<ul id='dropdown_time' class='dropdown-content'>
    <li><a class="dropdown-child-time" href="#!" name="day">Xem Theo Ngày</a></li>
    <li><a class="dropdown-child-time" href="#!" name="month">Xem Theo Tháng</a></li>
</ul>
<ul id='dropdown_ca' class='dropdown-content'>
    <li><a class="dropdown-child-ca" href="#!" name="day">CA 1</a></li>
    <li><a class="dropdown-child-ca" href="#!" name="month">CA 2</a></li>
    <li><a class="dropdown-child-ca" href="#!" name="month">CA 3</a></li>
</ul>
<ul id='dropdown_px' class='dropdown-content'>
    <li><a class="dropdown-child-px" href="#!" name="All">Tất cả</a></li>
    <li><a class="dropdown-child-px" href="#!" name="DL3">Đào lò 3</a></li>
    <li><a class="dropdown-child-px" href="#!" name="DL5">Đào lò 5</a></li>
    <li><a class="dropdown-child-px" href="#!" name="DL7">Đào lò 7</a></li>
    <li><a class="dropdown-child-px" href="#!" name="DL8">Đào lò 8</a></li>
    <li><a class="dropdown-child-px" href="#!" name="KT1">Khai Thác 1</a></li>
    <li><a class="dropdown-child-px" href="#!" name="KT2">Khai Thác 2</a></li>
    <li><a class="dropdown-child-px" href="#!" name="KT3">Khai Thác 3</a></li>
    <li><a class="dropdown-child-px" href="#!" name="KT4">Khai Thác 4</a></li>
    <li><a class="dropdown-child-px" href="#!" name="KT5">Khai Thác 5</a></li>
    <li><a class="dropdown-child-px" href="#!" name="KT6">Khai Thác 6</a></li>
    <li><a class="dropdown-child-px" href="#!" name="KT7">Khai Thác 7</a></li>
    <li><a class="dropdown-child-px" href="#!" name="KT8">Khai Thác 8</a></li>
    <li><a class="dropdown-child-px" href="#!" name="KT9">Khai Thác 9</a></li>
    <li><a class="dropdown-child-px" href="#!" name="KT10">Khai Thác 10</a></li>
    <li><a class="dropdown-child-px" href="#!" name="KT11">Khai Thác 11</a></li>
    <li><a class="dropdown-child-px" href="#!" name="VTL1">Vận tải 1</a></li>
    <li><a class="dropdown-child-px" href="#!" name="VTL2">Vận tải 2</a></li>
</ul>

<a id="loader-chi-tiet-vtl1-trong-ngay" data-request-url="@Url.Action("nang-suat-lao-dong-va-tien-luong-theo-ngay", "nang-suat-lao-dong-va-tien-luong", new {phanxuong = "vtl1"})" hidden></a>

<a id="loader-cac-px-trong-ngay" data-request-url="@Url.Action("nang-suat-lao-dong-va-tien-luong-theo-cac-px-trong-ngay", "nang-suat-lao-dong-va-tien-luong", new { phanxuong = "tat-ca"})" hidden></a>

<a id="loader-cac-ngay-trong-thang-vtl1" data-request-url="@Url.Action("nang-suat-lao-dong-va-tien-luong-theo-cac-ngay-trong-thang", "nang-suat-lao-dong-va-tien-luong", new { phanxuong = "vtl1"})" hidden></a>

<a id="loader-cac-px-trong-thang" data-request-url="@Url.Action("nang-suat-lao-dong-va-tien-luong-theo-thang", "nang-suat-lao-dong-va-tien-luong", new { phanxuong = "tat-ca"})" hidden></a>

<a id="loader-chi-tiet-ca1-vtl1-trong-ngay" data-request-url="@Url.Action("bao-cao-chi-tiet-ca-1", "phong-tcld")" hidden></a>

<a id="loader-chi-tiet-ca2-vtl1-trong-ngay" data-request-url="@Url.Action("bao-cao-chi-tiet-ca-2", "phong-tcld")" hidden></a>

<a id="loader-chi-tiet-ca3-vtl1-trong-ngay" data-request-url="@Url.Action("bao-cao-chi-tiet-ca-3", "phong-tcld")" hidden></a>

<script src="~/js/Custom JS/button_watch_by.js"></script>