@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_Layout_Cam.cshtml";
}
<link href="/dist/css/style.css" rel="stylesheet">
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/custom.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/font.css" rel="stylesheet" type="text/css">
<script src="~/lib/datepicker_src/dist/js/datepicker.js"></script>
<script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>
<script src="~/js/Custom JS/CDVT/Report/ChangeDateType.js"></script>
<link href="~/assets/Custom css/CDVT/dashboard.css" rel="stylesheet" />
<div class="row center-align">
    <div class="col s12">
        <div class="center">
            <div class="month" id="visiblemonth">
                <h3>
                    <i class="fas fa-calendar-alt icon"></i>
                    <input type="text"
                           id="txtmonth"
                           class="datepicker-here center"
                           data-language='vi'
                           data-min-view="months"
                           data-view="months"
                           data-date-format="MM yyyy" />
                </h3>
            </div>
            @*<div class="year" id="visibleyear" style="display: none">
                    <h3>
                        <i class="fas fa-calendar-alt icon"></i>
                        <input type="text"
                               id="txtyear"
                               class="datepicker-here center"
                               data-language='vi'
                               data-min-view="years"
                               data-view="years"
                               data-date-format="yyyy" />
                    </h3>
                </div>*@
        </div>

    </div>

    @*<ul id='dropdown1' class='dropdown-content'>
            <li onclick="ViewbyMonth();"><a id="month" href="#" ;>Xem Theo Tháng</a></li>
            <li onclick="ViewbyYear();"><a id="year" href="#" ;>Xem Theo Năm</a></li>
        </ul>*@

    <div class="summary-container col l12 m12 s12">
        <div class="col l4 s12 m12">
            <div class="card warning-gradient card-hover">
                <a href="#kiemdinhcogioi" class="modal-trigger">
                    <div class="card-content">
                        <div class="d-flex no-block align-items-center">
                            <div>
                                <h6 class="white-text op-1">Số lần xảy ra sự cố</h6>
                                <h3 class="white-text m-b-5" id="sum">@ViewBag.dc.sum</h3>
                                <h6 class="white-text op-1"></h6>
                                <br />
                            </div>
                            <div class="ml-auto">
                                <span class="white-text display-6">
                                    <i class="material-icons dp48">report_problem</i>
                                </span>
                            </div>
                        </div>

                    </div>
                </a>
            </div>
        </div>

        <div class="col l4 s12 m12">
            <div class="card warning-gradient card-hover">
                <a href="#kiemdinhcogioi" class="modal-trigger">
                    <div class="card-content">
                        <div class="d-flex no-block align-items-center">
                            <div>
                                <h6 class="white-text op-1">Số lần đã giải quyết</h6>
                                <h3 class="white-text m-b-5" id="done">@ViewBag.dc.done</h3>
                                <h6 class="white-text op-1"></h6>
                                <br />
                            </div>
                            <div class="ml-auto">
                                <span class="white-text display-6">
                                    <i class="material-icons dp48">report_problem</i>
                                </span>
                            </div>
                        </div>

                    </div>
                </a>
            </div>
        </div>

        <div class="col l4 s12 m12">
            <div class="card warning-gradient card-hover">
                <a href="#baoduongcogioi" class="modal-trigger">
                    <div class="card-content">
                        <div class="d-flex no-block align-items-center">
                            <div>
                                <h6 class="white-text op-1">Số lần chưa giải quyết</h6>
                                <h3 class="white-text m-b-5" id="notdone">@ViewBag.dc.notdone</h3>
                                <h6 class="white-text op-1"></h6>
                                <br />
                            </div>
                            <div class="ml-auto">
                                <span class="white-text display-6">
                                    <i class="material-icons dp48">report_problem</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div id="cyear" class="this-is-chart col l6">
        <div class="">
            <div class="analytics-info">
                <div id="basic-bar" style="height:400px"></div>
            </div>
        </div>
    </div>
    <div id="pyear" class="this-is-chart col l6">
        <div class="">
            <div class="analytics-info">
                <div id="basic-pie" style="height:400px"></div>
            </div>
        </div>
    </div>
</div>
<button class="modal-trigger" data-target="thongke" id="Fbut" style="display: none">abc</button>
<div class="modal" id="thongke">
    <div class="card">
        <div class="card-content row">
            <div class="modal-body">
                <table id="contentTB" class="table-bordered">
                    <thead>
                        <tr>
                            <th>Tên hệ thống</th>
                            <th>Phòng ban</th>
                            <th>Số lượng hoạt động/Tổng số</th>
                        </tr>
                    </thead>
                    <tbody id="contentTB_body">

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<input type="hidden" id="type" />
<script src="~/assets/Custom css/Camera/pie-doghnut.js" charset="utf-8"></script>
<script src="~/assets/Custom css/Camera/bar.js" charset="utf-8"></script>
<script>
    var done, notdone;
    var kodaydu, daydu, ko;
    $("#Fbut").click(function () {
        $.ajax({
            type: "POST",
            url: "/camera/getList",
            dataType: "json",
            success: function (data) {
                if (data.success == false) {
                    errorAlert('Lỗi', data.message);
                }
                else {
                    $("#contentTB_body").empty();
                    for (i = 0; i < data.listDB.length; i++) {
                        //$("#contentTB_body").append("<tr><td>abc</td></tr>")
                        $("#contentTB_body").append("<tr><td>" + data.listDB[i].room_name + "</td><td>" + data.listDB[i].department_name + "</td><td>" + data.listDB[i].camera_available + "/" + data.listDB[i].camera_quantity + "</td></tr>");

                    }
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                errorAlert('Lỗi', 'Có lỗi xảy ra');
            },
            data: {
                type: $("#type").val()
            },
            cache: false
        })
    });
    $("#txtmonth").datepicker({
        onSelect: function () {
            $.ajax({
                type: "POST",
                url: "/camera/changedate",
                dataType: "json",
                success: function (data) {
                    if (data.success == false) {
                        errorAlert('Lỗi', data.message);
                    }
                    else {
                        $('#sum').text(data.dc.sum);
                        $('#done').text(data.dc.done);
                        $('#notdone').text(data.dc.notdone);

                        var temp = data.dc.done.toString();
                        done = temp.split(' ');
                        temp = data.dc.notdone.toString();
                        notdone = temp.split(' ');
                        chartYear();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    errorAlert('Lỗi', 'Có lỗi xảy ra');
                },
                data: {
                    date: $('#txtmonth').val()
                },
                cache: false
            })
        }
    });

    $(document).ready(function () {
        $('.datepicker-inline').hide();
        var today = '@ViewBag.today';
        $('#txtmonth').val("Tháng " + today);
        var temp = '@ViewBag.dc.done';
        done = temp.split(' ');

        temp = '@ViewBag.dc.notdone';
        notdone = temp.split(' ');
        chartYear();

        kodaydu = @ViewBag.dr.kodaydu;
        daydu = @ViewBag.dr.daydu;
        ko = @ViewBag.dr.ko;
        piechart();
    });
</script>