@{
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/assets/extra-libs/c3/c3.min.css">
<link href="~/assets/extra-libs/prism/prism.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/tuan_css/css/baocaoluong_css/style.css" />
<link href="~/assets/extra-libs/css-chart/css-chart.css" rel="stylesheet">
<link href="~/dist/css/pages/easy-pie-chart.css" rel="stylesheet">

<script>
    $(function () {
        $("#dateforsearch").datepicker({
            onSelect: function () {
                window.location = "/phong-tcld/nang-suat-lao-dong-va-tien-luong/nang-suat-lao-dong-va-tien-luong-theo-cac-px-trong-ngay?date=" + $("#dateforsearch").val();
            }
        })
    });
    $(document).ready(function () {
        $("#dateforsearch").val("@string.Format("{0:dd/MM/yyyy}", System.DateTime.Now)");
        $("#ngayreport").val("@string.Format("{0:dd/MM/yyyy}", System.DateTime.Now)");
        var url_string = window.location.href;
        var url = new URL(url_string);
        var date = url.searchParams.get("date");
        if (date != null) {
            $("#dateforsearch").val(date);
            $("#ngayreport").text(date);
        }
    });
</script>

<div class="card">
    <div class="card-content">
        <div class="row">
            <h3 class="report_title">
                <B>BÁO CÁO THỰC HIỆN LAO ĐỘNG, TIỀN LƯƠNG CÔNG NHÂN TRỰC TIẾP </B>
                <br />
                <i class="fas fa-calendar-alt icon"></i>
                <input type="text"
                       id="dateforsearch"
                       class="datepicker-here center"
                       data-language='vi'
                       data-min-view="days"
                       data-view="days"
                       data-date-format="dd/mm/yyyy" value="@string.Format("{0:dd/MM/yyyy}", System.DateTime.Now)" />
                <br /><br />

            </h3>
            <hr />
        </div>
        <div class="row">
            @*<div class="col m12 l12 s12">
                    <ul class="tabs">
                        <li class="tab col m6 l6 s6"><a class="active" href="#bieudo">BIỂU ĐỒ</a></li>
                        <li class="tab col l6 m6 s6"><a href="#bangchitiet">BẢNG BÁO CÁO CHI TIẾT</a></li>
                    </ul>
                </div>*@
            @*<div id="bieudo" class="col s12">
                <div class="chart_container">
                    <div class="row">
                        <div class="col l4 m12 s12  center">
                            <div class="card">
                                <div class="card-content analytics-info">
                                    <h5 class="card-title">Tổng số lao động</h5>
                                    <br> <br />
                                </div>
                            </div>
                        </div>
                        <div class="col l4 m12 s12  center">
                            <div class="card">
                                <div class="card-content analytics-info">
                                    <h5 class="card-title">Tỉ lệ huy động trung bình</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col l4 m12 s12 center">
                            <div class="card">
                                <div class="card-content analytics-info">
                                    <h5 class="card-title">Tổng số lao động nghỉ ốm dài</h5>
                                    <br> <br />
                                    <div class="summary_number"><h3><b></b></h3></div>
                                </div>
                            </div>
                        </div>
                        <div class="col l12 s12">
                            <div class="card">
                                <div class="card-content analytics-info">
                                    <h5 class="card-title center">Lao động theo danh sách và số lao động tham gia sản xuất theo từng đơn vị</h5>
                                    <div id="bar-basic" style="height:600px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col l12">
                            <div class="card">
                                <div class="card-content analytics-info">
                                    <h5 class="card-title center">Lao động bình quân theo từng đơn vị</h5>
                                    <div id="basic-bar" style="height:400px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col l12">
                            <div class="card">
                                <div class="card-content analytics-info">
                                    <h5 class="card-title center">Phần trăm huy động bình quân theo từng đơn vị</h5>
                                    <div id="basic-bar2" style="height:400px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col l12">
                            <div class="card">
                                <div class="card-content analytics-info">
                                    <h5 class="card-title center">Lao động nghỉ dài theo từng đơn vị</h5>
                                    <div id="basic-bar3" style="height:400px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            <div id="bangchitiet" class="col s12">
                <div class="report_container">
                    <div class="row">
                    </div>
                    <div class="row table_container">
                        <div class="col l12">
                            <table class="table table-bordered striped table-responsive">
                                <thead>
                                    <tr>
                                        <th rowspan="4">STT</th>
                                        <th rowspan="4">Đơn vị</th>
                                        <th rowspan="4">Cán bộ QL</th>
                                        <th colspan="4">LĐTT theo DS</th>
                                        <th colspan="4">LĐTT nghỉ dài</th>
                                        <th rowspan="3">Tổng<br />LĐTT<br />sau trừ<br />nghỉ<br />ốm dài</th>
                                        <th colspan="6">Lao động thực hiện BQ</th>
                                        <th rowspan="3">Tỷ lệ<br />huy<br />động (%)</th>
                                        <th colspan="3">Sản lượng TH</th>
                                        <th colspan="2">Điểm lương</th>
                                        <th colspan="2">NSLĐ</th>
                                    </tr>
                                    <tr>
                                        <th rowspan="2">Tổng số</th>
                                        <th rowspan="2">KT</th>
                                        <th rowspan="2">CĐ</th>
                                        <th rowspan="2">HSTT</th>
                                        <th rowspan="2">Tổng số</th>
                                        <th rowspan="2">VLD</th>
                                        <th rowspan="2">TH HĐ</th>
                                        <th rowspan="2">Ốm,<br />TNLĐ</th>
                                        <th rowspan="2">LĐBQ Đi làm</th>
                                        <th colspan="5">LĐ vắng</th>
                                        <th rowspan="2">Than</th>
                                        <th rowspan="2">Mét lò</th>
                                        <th rowspan="2">Xén</th>
                                        <th rowspan="2">Tổng số</th>
                                        <th rowspan="2">TL BQ<br />(1000đ/công)</th>
                                        <th rowspan="2">TH</th>
                                        <th rowspan="2">KH</th>
                                    </tr>
                                    <tr>
                                        <th>Tổng số</th>
                                        <th>VLD</th>
                                        <th>Ốm</th>
                                        <th>Có phép</th>
                                        <th>Khác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var count = 1;}
                                    @foreach (QUANGHANH2.Models.BaoCaoNgayDB item in ViewBag.TatCaDonVi)
                                    {
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.department_id</td>
                                            <td>@item.QL</td>
                                            <td>@item.Tong</td>
                                            <td>@item.KT</td>
                                            <td>@item.CD</td>
                                            <td>@item.HSTT</td>
                                            <td>@item.tong_nghidai</td>
                                            <td>@item.nghidai_vld</td>
                                            <td>@item.nghidai_thld</td>
                                            <td>@item.nghidai_om</td>
                                            <td>@item.tong_tru_nghidai</td>

                                            <td>@item.dilam</td>
                                            <td>@item.vang</td>
                                            <td>@item.vld</td>
                                            <td>@item.om</td>
                                            <td>@item.phep</td>
                                            <td>@item.khac</td>

                                            <td>@(Math.Round(item.Tong != 0 ? (double)item.dilam / item.Tong * 100 : 0, 2))</td>

                                            <td>@item.than</td>
                                            <td>@item.metlo</td>
                                            <td>@item.xen</td>
                                            <td>@item.diemluong</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        { count++; }
                                    }
                                    <tr>
                                        <td class="total_row" colspan="2"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="export_btn_container">
                                <a class="waves-effect waves-light btn blue" id="export-button">Xuất ra file excel</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l12">
                            <h3>TỔNG HỢP BÁO CÁO: </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="summary_container">
                            <div class="col l6 summary_left">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th class="total_row">Tổng số lao động đến ngày <span id="ngayreport"></span>: </th>
                                            <td class="total_row">@ViewBag.TatCaDonViFooter.TongLaoDong</td>
                                        </tr>
                                        <tr>
                                            <th>CBQL</th>
                                            <td>@ViewBag.TatCaDonViFooter.CBQL</td>
                                        </tr>
                                        <tr>
                                            <th>KT</th>
                                            <td>@ViewBag.TatCaDonViFooter.KT</td>
                                        </tr>
                                        <tr>
                                            <th>CĐ</th>
                                            <td>@ViewBag.TatCaDonViFooter.CD</td>
                                        </tr>
                                        <tr>
                                            <th>HSTT</th>
                                            <td>@ViewBag.TatCaDonViFooter.HSTT</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col l6 summary_right">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th class="total_row">Tổng số lao động nghỉ ốm dài: </th>
                                            <td class="total_row">@ViewBag.TatCaDonViFooter.TongNghi</td>
                                        </tr>
                                        <tr>
                                            <th>LĐ nghỉ VLD dài</th>
                                            <td>@ViewBag.TatCaDonViFooter.VLD</td>
                                        </tr>
                                        <tr>
                                            <th>LĐ tham gia sx</th>
                                            <td>@ViewBag.TatCaDonViFooter.LDTheoDS</td>
                                        </tr>
                                        <tr>
                                            <th>LĐ BQ thực tế đi làm BQ 1 ngày</th>
                                            <td>@ViewBag.TatCaDonViFooter.LDSX</td>
                                        </tr>
                                        <tr>
                                            <th>LĐ nghỉ các loại không tham gia SXBQ 1 ngày</th>
                                            <td>@ViewBag.TatCaDonViFooter.TongNghi</td>
                                        </tr>
                                        <tr>
                                            <th>Tỷ lệ huy động</th>
                                            <td>@ViewBag.TatCaDonViFooter.TyLe</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div id="modal1" class="modal">
        <div class="modal-content">
            <h4 class="modal_title"></h4>
            <div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col s12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="row">
                                        <div class="col s12">
                                            <table class="striped responsive-table" id="data">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center">Số thứ tự</th>
                                                        <th style="text-align: center">Mã nhân viên</th>
                                                        <th style="text-align: center">Tên</th>
                                                        <th style="text-align: center">Năm sinh</th>
                                                        <th style="text-align: center">Giới tính</th>
                                                        <th style="text-align: center">Số điện thoại</th>
                                                        <th style="text-align: center">Phân xưởng</th>
                                                        <th style="text-align: center"></th>
                                                        <th style="text-align: center"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="text-align: center">1</td>
                                                        <td style="text-align: center"><a href="/">2179</a></td>
                                                        <td style="text-align: center">
                                                            <a href="/">
                                                                Nguyễn Xuân
                                                                Thoàng
                                                            </a>
                                                        </td>
                                                        <td style="text-align: center">19/07/1987</td>
                                                        <td style="text-align: center">Nam</td>
                                                        <td style="text-align: center">091346578</td>
                                                        <td style="text-align: center">Phân xưởng cơ khí</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center">2</td>
                                                        <td style="text-align: center"><a href="/">7751</a></td>
                                                        <td style="text-align: center">
                                                            <a href="/">
                                                                Nguyễn Văn
                                                                Hùng
                                                            </a>
                                                        </td>
                                                        <td style="text-align: center">19/05/1984</td>
                                                        <td style="text-align: center">Nam</td>
                                                        <td style="text-align: center">094234658</td>
                                                        <td style="text-align: center">Phân xưởng cơ khí</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center">3</td>
                                                        <td style="text-align: center"><a href="/">3506</a></td>
                                                        <td style="text-align: center">
                                                            <a href="/">
                                                                Nguyễn Văn
                                                                Hùng
                                                            </a>
                                                        </td>
                                                        <td style="text-align: center">19/07/1991</td>
                                                        <td style="text-align: center">Nam</td>
                                                        <td style="text-align: center">091758725</td>
                                                        <td style="text-align: center">Phân xưởng cơ khí</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center">4</td>
                                                        <td style="text-align: center"><a href="/">2041</a></td>
                                                        <td style="text-align: center">
                                                            <a href="/">
                                                                Nguyễn Văn
                                                                Hưng
                                                            </a>
                                                        </td>
                                                        <td style="text-align: center">19/07/1976</td>
                                                        <td style="text-align: center">Nam</td>
                                                        <td style="text-align: center">098765243</td>
                                                        <td style="text-align: center">Phân xưởng xây dựng</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center">5</td>
                                                        <td style="text-align: center"><a href="/">4472</a></td>
                                                        <td style="text-align: center">
                                                            <a href="/">
                                                                Nguyễn Văn
                                                                Hoa
                                                            </a>
                                                        </td>
                                                        <td style="text-align: center">19/07/1976</td>
                                                        <td style="text-align: center">Nữ</td>
                                                        <td style="text-align: center">091874526</td>
                                                        <td style="text-align: center">Phân xưởng cơ khí</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center">6</td>
                                                        <td style="text-align: center"><a href="/">7430</a></td>
                                                        <td style="text-align: center">
                                                            <a href="/">Đông Văn Đai</a>
                                                        </td>
                                                        <td style="text-align: center">19/07/1985</td>
                                                        <td style="text-align: center">Nam</td>
                                                        <td style="text-align: center">098645724</td>
                                                        <td style="text-align: center">Phân xưởng cơ khí</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
        </div>
    </div>*@
    <!---------------------------------------------------------------------------------->
    @*<input type="text" value="@ViewBag.TenDonVi" id="valueforchart" hidden />
    <script src="~/assets/libs/echarts/dist/echarts-en.min.js"></script>
    <script src="~/js/tuan_js/myChart.js"></script>*@
    <script>
        $('.clickable_cell').click(function () {
            var idName = $(this).attr('id');
            switch (idName) {
                case 'ldtdd_kt':
                    $('.modal_title').html('LAO ĐỘNG KHAI THÁC THỰC TẾ THEO DANH SÁCH');
                    break;
                case 'ldtdd_cd':
                    $('.modal_title').html('LAO ĐỘNG CƠ ĐIỆN THỰC TẾ THEO DANH SÁCH');
                    break;
                case 'ldtdd_hstt':
                    $('.modal_title').html('LAO ĐỘNG HSTT THỰC TẾ THEO DANH SÁCH');
                    break;
                case 'ldtdd_tong':
                    $('.modal_title').html('TỔNG LAO ĐỘNG THỰC TẾ THEO DANH SÁCH');
                    break;
                case 'ldnghidai_vld':
                    $('.modal_title').html('DANH SÁCH LAO ĐỘNG NGHỈ DÀI VÔ LÝ DO');
                    break;
                case 'ldnghidai_thhd':
                    $('.modal_title').html('DANH SÁCH LAO ĐỘNG NGHỈ DÀI THHĐ');
                    break;
                case 'ldnghidai_om':
                    $('.modal_title').html('DANH SÁCH LAO ĐỘNG NGHỈ DÀI ỐM, TNLĐ');
                    break;
                case 'ldnghidai_tong':
                    $('.modal_title').html('TỔNG LAO ĐỘNG NGHỈ DÀI');
                    break;
                case 'tonglaodong':
                    $('.modal_title').html('TỔNG LAO ĐỘNG SAU KHI TRỪ');
                    break;
                case 'ldbq_tong':
                    $('.modal_title').html('TỔNG LAO ĐỘNG THỰC HIỆN BQ');
                    break;
                case 'ldbq_dilam':
                    $('.modal_title').html('DANH SÁCH LAO ĐỘNG BQ ĐI LÀM');
                    break;
                case 'ldbq_ldvang_vld':
                    $('.modal_title').html('DANH SÁCH LAO ĐỘNG THỰC HIỆN BQ NGHỈ VÔ LÝ DO');
                    break;
                case 'ldbq_ldvang_om':
                    $('.modal_title').html('DANH SÁCH LAO ĐỘNG THỰC HIỆN BQ NGHỈ ỐM');
                    break;
                case 'ldbq_ldvang_khac':
                    $('.modal_title').html('DANH SÁCH LAO ĐỘNG THỰC HIỆN BQ NGHỈ VỚI LÝ DO KHÁC');
                    break;
                case 'ldbq_ldvang_tong':
                    $('.modal_title').html('DANH SÁCH TỔNG HỢP LAO ĐỘNG THỰC HIỆN BQ NGHỈ');
                    break;
                default:
                    break;
            }
        });
        var elem = document.querySelector('.modal');
        var instance = M.Modal.init(elem, options);
    </script>
    <script src="~/assets/libs/chart.js/dist/Chart.min.js"></script>
    <script src="~/assets/extra-libs/prism/prism.js"></script>
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script src="~/assets/extra-libs/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
    <script src="~/assets/extra-libs/jquery.easy-pie-chart/easy-pie-chart.init.js"></script>
    <script src="~/assets/extra-libs/sparkline/sparkline.js"></script>
    <script src="~/dist/js/pages/sparkline/jquery.charts-sparkline.js"></script>
    <script>
        $("#export-button").click(function () {
            var date = document.getElementById("dateforsearch").value;
            $("#pre-load").show();
            $("#pre-load").css("z-index", "9999");
            $.ajax({
                type: 'Post',
                url: '/phong-tcld/nang-suat-lao-dong-va-tien-luong/nang-suat-lao-dong-va-tien-luong-theo-cac-px-trong-ngay/excel?date=' + date,
            }).done(function () {
                window.location.href = '/excel/TCLD/download/Báo cáo năng suất lao động và tiền lương theo các phân xưởng theo ngày.xlsx';
            });
            $("#pre-load").hide("slow", function () {
            });

        });
    </script>
    <script>
        $('#dateforsearch').datepicker({
            language: 'vi',
            maxDate: new Date() // Now can select only dates, which goes after today
        })
        $(document).ready(function () {
            $('.datepicker-inline').remove();
        });
    </script>
