@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/assets/extra-libs/c3/c3.min.css">
<link href="~/assets/extra-libs/prism/prism.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/tuan_css/css/baocaoluong_css/style.css" />
<link href="~/assets/extra-libs/css-chart/css-chart.css" rel="stylesheet">
<link href="~/dist/css/pages/easy-pie-chart.css" rel="stylesheet">
<div class="card">
    <div class="card-content">
        <div class="row">
            <h3 class="report_title">
                <B>BÁO CÁO THỰC HIỆN LAO ĐỘNG, TIỀN LƯƠNG CÔNG NHÂN TRỰC TIẾP </B>
                <br />
                <i class="fas fa-calendar-alt icon"></i>
                <input type="text"
                       class="datepicker-here center"
                       data-language='vi'
                       data-min-view="days"
                       data-view="days"
                       data-date-format="dd/mm/yyyy" value="19/08/2019" />
                <br /><br />
                <a class='dropdown-trigger btn' id="px" href='#' data-target='dropdown_px'
                   style="width:250px;background-color:#273146" name="All">
                    Tất cả đơn vị
                </a>
                @*<a class='dropdown-trigger btn' id="thoigian" href='#' data-target='dropdown_time'
                   style="width:250px;background-color:#273146" name="day">
                    Xem theo ngày*@
                @*</a>
                <a class='btn blue darken-2' id="xacnhan" href='javascript:void(0);' style="width:250px;background-color:#273146">
                    Xác nhận
                </a>*@
            </h3>
            <hr />
        </div>
        <div class="row">
            <div class="col m12 l12 s12">
                <ul class="tabs">
                    <li class="tab col m6 l6 s6"><a class="active" href="#bieudo">BIỂU ĐỒ</a></li>
                    <li class="tab col l6 m6 s6"><a href="#bangchitiet">BẢNG BÁO CÁO CHI TIẾT</a></li>
                </ul>
            </div>
            <div id="bieudo" class="col s12">
                <div class="chart_container">
                    <div class="row">
                        <div class="col l4 m12 s12  center">
                            <div class="card">
                                <div class="card-content analytics-info">
                                    <h5 class="card-title">Tổng số lao động</h5>
                                    <br> <br />
                                    <div class="summary_number"><h3><b>1754</b></h3></div>
                                </div>
                            </div>
                        </div>
                        <div class="col l4 m12 s12  center">
                            <div class="card">
                                <div class="card-content analytics-info">
                                    <h5 class="card-title">Tỉ lệ huy động trung bình</h5>
                                    <div class="chart easy-pie-chart-1" data-percent="84.2"> <span class="percent">8/100</span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col l4 m12 s12 center">
                            <div class="card">
                                <div class="card-content analytics-info">
                                    <h5 class="card-title">Tổng số lao động nghỉ ốm dài</h5>
                                    <br> <br />
                                    <div class="summary_number"><h3><b>45</b></h3></div>
                                </div>
                            </div>
                        </div>
                        <div class="col l12 s12">
                            <div class="card">
                                <div class="card-content analytics-info">
                                    <h5 class="card-title center">Lao động theo danh sách và số lao động tham gia sản xuất theo từng đơn vị</h5>
                                    <div id="bar-basic" style="height:600px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col l12">
                            <div class="card">
                                <div class="card-content analytics-info">
                                    <h5 class="card-title center">Lao động bình quân theo từng đơn vị</h5>
                                    <div id="basic-bar" style="height:400px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col l12">
                            <div class="card">
                                <div class="card-content analytics-info">
                                    <h5 class="card-title center">Phần trăm huy động bình quân theo từng đơn vị</h5>
                                    <div id="basic-bar2" style="height:400px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col l12">
                            <div class="card">
                                <div class="card-content analytics-info">
                                    <h5 class="card-title center">Lao động nghỉ dài theo từng đơn vị</h5>
                                    <div id="basic-bar3" style="height:400px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="bangchitiet" class="col s12">
            <div class="report_container">
                <div class="row">
                    @*<div class="col l3 s12">
                            <div class="thang">
                                <div class="filter_label">Tháng: </div>
                                <!-- Dropdown Trigger -->
                                <a class='dropdown-trigger btn' href='#' data-target='dropdown2'>
                                    Chọn
                                    tháng
                                </a>
                                <!-- Dropdown Structure -->
                                <ul id='dropdown2' class='dropdown-content'>
                                    <li><a href="#!">Tháng 01</a></li>
                                    <li><a href="#!">Tháng 02</a></li>
                                    <li><a href="#!">Tháng 03</a></li>
                                    <li><a href="#!">Tháng 04</a></li>
                                    <li><a href="#!">Tháng 05</a></li>
                                    <li><a href="#!">Tháng 06</a></li>
                                    <li><a href="#!">Tháng 07</a></li>
                                    <li><a href="#!">Tháng 08</a></li>
                                    <li><a href="#!">Tháng 09</a></li>
                                    <li><a href="#!">Tháng 10</a></li>
                                    <li><a href="#!">Tháng 11</a></li>
                                    <li><a href="#!">Tháng 12</a></li>
                                </ul>
                                <a class='dropdown-trigger btn' href='#' data-target='dropdown4'>
                                    Chọn
                                    năm
                                </a>
                                <!-- Dropdown Structure -->
                                <ul id='dropdown4' class='dropdown-content'>
                                    <li><a href="#!">2019</a></li>
                                    <li><a href="#!">2018</a></li>
                                    <li><a href="#!">2017</a></li>
                                    <li><a href="#!">2015</a></li>
                                    <li><a href="#!">2014</a></li>
                                    <li><a href="#!">2013</a></li>
                                    <li><a href="#!">2012</a></li>
                                    <li><a href="#!">2011</a></li>
                                    <li><a href="#!">2012</a></li>
                                    <li><a href="#!">2011</a></li>
                                    <li><a href="#!">2010</a></li>
                                    <li><a href="#!">2009</a></li>
                                </ul>

                            </div>
                        </div>*@
                    <div class="col l2 s12">
                        <div class="sap_xep">
                            <div>
                                <!-- Dropdown Trigger -->
                                <div class="filter_label">Sắp xếp theo: </div>
                                <a class='dropdown-trigger btn' href='#' data-target='dropdown3'>
                                    Chọn tiêu
                                    chí
                                </a>
                                <!-- Dropdown Structure -->
                                <ul id='dropdown_px' class='dropdown-content'>
                                    <li><a class="dropdown-child-px" href="#!" name="All">Tất cả</a></li>
                                    <li><a class="dropdown-child-px" href="#!" name="DL3">Đào lò 3</a></li>
                                    <li><a class="dropdown-child-px" href="#!" name="DL5">Đào lò 5</a></li>
                                    <li><a class="dropdown-child-px" href="#!" name="DL7">Đào lò 7</a></li>
                                    <li><a class="dropdown-child-px" href="#!" name="DL8">Đào lò 8</a></li>
                                    <li><a class="dropdown-child-px" href="#!" name="KT1">Khai Thác 1</a></li>
                                    <li><a class="dropdown-child-px" href="#!" name="KT2">Khai Thác 2</a></li>
                                    <li><a class="dropdown-child-px" href="#!" name="KT3">Khai Thác 3</a></li>
                                    <li><a class="dropdown-child-px" href="#!" name="KT4">Khai Thác 4</a></li>
                                    <li><a class="dropdown-child-px" href="#!" name="KT5">Khai Thác 5</a></li>
                                    <li><a class="dropdown-child-px" href="#!" name="KT6">Khai Thác 6</a></li>
                                    <li><a class="dropdown-child-px" href="#!" name="KT7">Khai Thác 7</a></li>
                                    <li><a class="dropdown-child-px" href="#!" name="KT8">Khai Thác 8</a></li>
                                    <li><a class="dropdown-child-px" href="#!" name="KT9">Khai Thác 9</a></li>
                                    <li><a class="dropdown-child-px" href="#!" name="KT10">Khai Thác 10</a></li>
                                    <li><a class="dropdown-child-px" href="#!" name="KT11">Khai Thác 11</a></li>
                                    <li><a class="dropdown-child-px" href="@Url.Content("/phong-tcld/nang-suat-lao-dong-va-tien-luong/nang-suat-lao-dong-va-tien-luong-theo-ngay")" name="VTL1">Vận tải 1</a></li>
                                    <li><a class="dropdown-child-px" href="#!" name="VTL2">Vận tải 2</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row table_container">
                    <div class="col l12">
                        <table class="table table-bordered striped table-responsive">
                            <thead>
                                <tr>
                                    <th rowspan="3">STT</th>
                                    <th rowspan="3">ĐƠN VỊ</th>
                                    <th colspan="4" rowspan="2" data-target="modal1" class="modal-trigger clickable_cell" id="ldtdd_tong">
                                        LĐTT THEO DANH SÁCH
                                    </th>
                                    <th colspan="4" rowspan="2" data-target="modal1" class="modal-trigger clickable_cell total_col" id="ldnghidai_tong">
                                        LĐTT NGHỈ DÀI
                                    </th>
                                    <th rowspan="3" rowspan="2" data-target="modal1" class="modal-trigger clickable_cell total_col" id="tonglaodong">TỔNG LĐ SAU KHI TRỪ</th>
                                    <th colspan="5" data-target="modal1" class="modal-trigger clickable_cell" id="ldbq_tong">
                                        LĐ THỰC HIỆN BQ
                                    </th>
                                    <th rowspan="3">TỶ LỆ HUY ĐỘNG (%)</th>
                                    <th colspan="3" rowspan="2">SẢN LƯỢNG TH</th>
                                    <th colspan="2" rowspan="2">ĐIỂM LƯƠNG</th>
                                    <th colspan="2" rowspan="2">NĂNG SUẤT LAO ĐỘNG</th>
                                </tr>
                                <tr>
                                    <th rowspan="2" data-target="modal1" class="modal-trigger clickable_cell" id="ldbq_dilam">
                                        LĐBQ đi làm
                                    </th>
                                    <th colspan="4" data-target="modal1" class="modal-trigger clickable_cell" id="ldbq_ldvang_tong">
                                        LĐ vắng
                                    </th>
                                </tr>
                                <tr>
                                    <th data-target="modal1" class="modal-trigger clickable_cell" id="ldtdd_kt">KT</th>
                                    <th data-target="modal1" class="modal-trigger clickable_cell" id="ldtdd_cd">CĐ</th>
                                    <th data-target="modal1" class="modal-trigger clickable_cell" id="ldtdd_hstt">HSTT</th>
                                    <th data-target="modal1" class="modal-trigger clickable_cell" id="ldtdd_tong">Tổng</th>
                                    <th data-target="modal1" class="modal-trigger clickable_cell" id="ldnghidai_vld">VLD</th>
                                    <th data-target="modal1" class="modal-trigger clickable_cell" id="ldnghidai_thhd">THHĐ</th>
                                    <th data-target="modal1" class="modal-trigger clickable_cell" id="ldnghidai_om">Ốm, TNLĐ</th>
                                    <th data-target="modal1" class="modal-trigger clickable_cell total_col" id="ldnghidai_tong">Tổng</th>
                                    <th data-target="modal1" class="modal-trigger clickable_cell" id="ldbq_ldvang_vld">VLD</th>
                                    <th data-target="modal1" class="modal-trigger clickable_cell" id="ldbq_ldvang_om">Ốm</th>
                                    <th data-target="modal1" class="modal-trigger clickable_cell" id="ldbq_ldvang_khac">Khác</th>
                                    <th data-target="modal1" class="total_col modal-trigger clickable_cell" id="ldbq_ldvang_tong">Tổng</th>
                                    <th>Than</th>
                                    <th>Mét lò</th>
                                    <th>Xén</th>
                                    <th>TLBQ</th>
                                    <th class="total_col">Tổng</th>
                                    <th>TH</th>
                                    <th>KH</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>ĐL3</td>
                                    <td>94</td>
                                    <td>17</td>
                                    <td>1</td>
                                    <td class="total_col total_ldtt">112</td>
                                    <td>4</td>
                                    <td>3</td>
                                    <td>0</td>
                                    <td class="total_col total_ldtt_nghi_dai">7</td>
                                    <td class="ld_sanxuat">105</td>
                                    <td class="ldbq_di_lam">89</td>
                                    <td>11</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td class="total_col">16</td>
                                    <td class="tilehuydong">84.8</td>
                                    <td>0.0</td>
                                    <td>110.0</td>
                                    <td>93.9</td>
                                    <td>718</td>
                                    <td class="total_col">1740681</td>
                                    <td>0.04</td>
                                    <td>0.13</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>ĐL5</td>
                                    <td>71</td>
                                    <td>14</td>
                                    <td>14</td>
                                    <td class="total_col total_ldtt">99</td>
                                    <td>5</td>
                                    <td>4</td>
                                    <td>0</td>
                                    <td class="total_col total_ldtt_nghi_dai">9</td>
                                    <td class="ld_sanxuat">90</td>
                                    <td class="ldbq_di_lam">74</td>
                                    <td>10</td>
                                    <td>3</td>
                                    <td>3</td>
                                    <td class="total_col">16</td>
                                    <td class="tilehuydong">82.2</td>
                                    <td>0.0</td>
                                    <td>232.0</td>
                                    <td>48.0</td>
                                    <td>719</td>
                                    <td class="total_col">1414654</td>
                                    <td>0.15</td>
                                    <td>0.13</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>ĐL7 </td>
                                    <td>94</td>
                                    <td>16</td>
                                    <td>2</td>
                                    <td class="total_col total_ldtt">112</td>
                                    <td>3</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td class="total_col total_ldtt_nghi_dai">5</td>
                                    <td class="ld_sanxuat">107</td>
                                    <td class="ldbq_di_lam">90</td>
                                    <td>11</td>
                                    <td>2</td>
                                    <td>4</td>
                                    <td class="total_col">17</td>
                                    <td class="tilehuydong">84.1</td>
                                    <td>2.149</td>
                                    <td>280.0</td>
                                    <td>58.0</td>
                                    <td>696</td>
                                    <td class="total_col">1454060</td>
                                    <td>0.13</td>
                                    <td>0.13</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>ĐL8</td>
                                    <td>77</td>
                                    <td>14</td>
                                    <td>7</td>
                                    <td class="total_col total_ldtt">98</td>
                                    <td>1</td>
                                    <td>5</td>
                                    <td>0</td>
                                    <td class="total_col total_ldtt_nghi_dai">6</td>
                                    <td class="ld_sanxuat">92</td>
                                    <td class="ldbq_di_lam">76</td>
                                    <td>11</td>
                                    <td>3</td>
                                    <td>2</td>
                                    <td class="total_col">16</td>
                                    <td class="tilehuydong">82.6</td>
                                    <td>1.14</td>
                                    <td>71.0</td>
                                    <td>27.0</td>
                                    <td>576</td>
                                    <td class="total_col">1190187</td>
                                    <td>0.04</td>
                                    <td>0.16</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>KT1</td>
                                    <td>67</td>
                                    <td>27</td>
                                    <td>7</td>
                                    <td class="total_col total_ldtt">98</td>
                                    <td>3</td>
                                    <td>3</td>
                                    <td>0</td>
                                    <td class="total_col total_ldtt_nghi_dai">6</td>
                                    <td class="ld_sanxuat">92</td>
                                    <td class="ldbq_di_lam">80</td>
                                    <td>17</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td class="total_col">12</td>
                                    <td class="tilehuydong">87.0</td>
                                    <td>8.66</td>
                                    <td>0.0</td>
                                    <td>0.0</td>
                                    <td>707</td>
                                    <td class="total_col">1546110</td>
                                    <td>4.0</td>
                                    <td>5.72</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>KT2</td>
                                    <td>72</td>
                                    <td>26</td>
                                    <td>4</td>
                                    <td class="total_col total_ldtt">102</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td class="total_col total_ldtt_nghi_dai">2</td>
                                    <td class="ld_sanxuat">100</td>
                                    <td class="ldbq_di_lam">93</td>
                                    <td>6</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td class="total_col">7</td>
                                    <td class="tilehuydong">93.0</td>
                                    <td>13.565</td>
                                    <td>0.0</td>
                                    <td>0.0</td>
                                    <td>745</td>
                                    <td class="total_col">1983560</td>
                                    <td>5.1</td>
                                    <td>8.6</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>KT3</td>
                                    <td>95</td>
                                    <td>19</td>
                                    <td>2</td>
                                    <td class="total_col total_ldtt">116</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>0</td>
                                    <td class="total_col total_ldtt_nghi_dai">5</td>
                                    <td class="ld_sanxuat">111</td>
                                    <td class="ldbq_di_lam">92</td>
                                    <td>13</td>
                                    <td>3</td>
                                    <td>3</td>
                                    <td class="total_col">19</td>
                                    <td class="tilehuydong">82.9</td>
                                    <td>15.271</td>
                                    <td>0.0</td>
                                    <td>0.0</td>
                                    <td>724</td>
                                    <td class="total_col">1981188</td>
                                    <td>6.3</td>
                                    <td>5.4</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>KT4</td>
                                    <td>76</td>
                                    <td>20</td>
                                    <td>2</td>
                                    <td class="total_col total_ldtt">98</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td class="total_col total_ldtt_nghi_dai">2</td>
                                    <td class="ld_sanxuat">96</td>
                                    <td class="ldbq_di_lam">80</td>
                                    <td>9</td>
                                    <td>5</td>
                                    <td>2</td>
                                    <td class="total_col">16</td>
                                    <td class="tilehuydong">83.3</td>
                                    <td>7.689</td>
                                    <td>0.0</td>
                                    <td>0.0</td>
                                    <td>605</td>
                                    <td class="total_col">1289415</td>
                                    <td>4.2</td>
                                    <td>5.0</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>KT5</td>
                                    <td>87</td>
                                    <td>15</td>
                                    <td>6</td>
                                    <td class="total_col total_ldtt">108</td>
                                    <td>4</td>
                                    <td>7</td>
                                    <td>0</td>
                                    <td class="total_col total_ldtt_nghi_dai">11</td>
                                    <td class="ld_sanxuat">100</td>
                                    <td class="ldbq_di_lam">81</td>
                                    <td>12</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td class="total_col">19</td>
                                    <td class="tilehuydong">81.0</td>
                                    <td>11.988</td>
                                    <td>0.0</td>
                                    <td>0.0</td>
                                    <td>748</td>
                                    <td class="total_col">1622504</td>
                                    <td>5.3</td>
                                    <td>5.5</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>KT6</td>
                                    <td>75</td>
                                    <td>16</td>
                                    <td>2</td>
                                    <td class="total_col total_ldtt">93</td>
                                    <td>6</td>
                                    <td>4</td>
                                    <td>0</td>
                                    <td class="total_col total_ldtt_nghi_dai">10</td>
                                    <td class="ld_sanxuat">80</td>
                                    <td class="ldbq_di_lam">67</td>
                                    <td>10</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td class="total_col">13</td>
                                    <td class="tilehuydong">83.8</td>
                                    <td>5.489</td>
                                    <td>0.0</td>
                                    <td>0.0</td>
                                    <td>685</td>
                                    <td class="total_col">1079529</td>
                                    <td>3.6</td>
                                    <td>3.8</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>KT7</td>
                                    <td>78</td>
                                    <td>15</td>
                                    <td>0</td>
                                    <td class="total_col total_ldtt">93</td>
                                    <td>3</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td class="total_col total_ldtt_nghi_dai">5</td>
                                    <td class="ld_sanxuat">88</td>
                                    <td class="ldbq_di_lam">72</td>
                                    <td>8</td>
                                    <td>5</td>
                                    <td>3</td>
                                    <td class="total_col">16</td>
                                    <td class="tilehuydong">81.8</td>
                                    <td>11.1</td>
                                    <td>9.6</td>
                                    <td>0.0</td>
                                    <td>596</td>
                                    <td class="total_col">1203996</td>
                                    <td>5.9</td>
                                    <td>5.5</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>KT8</td>
                                    <td>92</td>
                                    <td>18</td>
                                    <td>2</td>
                                    <td class="total_col total_ldtt">112</td>
                                    <td>2</td>
                                    <td>9</td>
                                    <td>0</td>
                                    <td class="total_col total_ldtt_nghi_dai">11</td>
                                    <td class="ld_sanxuat">101</td>
                                    <td class="ldbq_di_lam">82</td>
                                    <td>12</td>
                                    <td>5</td>
                                    <td>2</td>
                                    <td class="total_col">19</td>
                                    <td class="tilehuydong">81.2</td>
                                    <td>9.536</td>
                                    <td>0.0</td>
                                    <td>0.0</td>
                                    <td>664</td>
                                    <td class="total_col">1491653</td>
                                    <td>4.25</td>
                                    <td>3.5</td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td>KT9</td>
                                    <td>74</td>
                                    <td>18</td>
                                    <td>1</td>
                                    <td class="total_col total_ldtt">93</td>
                                    <td>5</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td class="total_col total_ldtt_nghi_dai">7</td>
                                    <td class="ld_sanxuat">86</td>
                                    <td class="ldbq_di_lam">71</td>
                                    <td>12</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td class="total_col">15</td>
                                    <td class="tilehuydong">82.6</td>
                                    <td>5.512</td>
                                    <td>16.5</td>
                                    <td>0.0</td>
                                    <td>680</td>
                                    <td class="total_col">1297576</td>
                                    <td>4.2</td>
                                    <td>5.2</td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>KT10</td>
                                    <td>73</td>
                                    <td>15</td>
                                    <td>4</td>
                                    <td class="total_col total_ldtt">92</td>
                                    <td>1</td>
                                    <td>3</td>
                                    <td>0</td>
                                    <td class="total_col total_ldtt_nghi_dai">4</td>
                                    <td class="ld_sanxuat">88</td>
                                    <td class="ldbq_di_lam">71</td>
                                    <td>12</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td class="total_col">17</td>
                                    <td class="tilehuydong">80.7</td>
                                    <td>3.519</td>
                                    <td>87.5</td>
                                    <td>0.0</td>
                                    <td>601</td>
                                    <td class="total_col">1144609</td>
                                    <td>4.5</td>
                                    <td>5.1</td>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td>KT11</td>
                                    <td>54</td>
                                    <td>15</td>
                                    <td>1</td>
                                    <td class="total_col total_ldtt">70</td>
                                    <td>2</td>
                                    <td>4</td>
                                    <td>0</td>
                                    <td class="total_col total_ldtt_nghi_dai">6</td>
                                    <td class="ld_sanxuat">64</td>
                                    <td class="ldbq_di_lam">54</td>
                                    <td>6</td>
                                    <td>1</td>
                                    <td>3</td>
                                    <td class="total_col">10</td>
                                    <td class="tilehuydong">84.4</td>
                                    <td>2.76</td>
                                    <td>50.5</td>
                                    <td>0.0</td>
                                    <td>812</td>
                                    <td class="total_col">1037976</td>
                                    <td>4.0</td>
                                    <td>6.0</td>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td><a href="@Url.Content("/phong-tcld/nang-suat-lao-dong-va-tien-luong/nang-suat-lao-dong-va-tien-luong-theo-ngay")">VTL1</a></td>
                                    <td>101</td>
                                    <td>73</td>
                                    <td>1</td>
                                    <td class="total_col total_ldtt">175</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td class="total_col total_ldtt_nghi_dai">0</td>
                                    <td class="ld_sanxuat">175</td>
                                    <td class="ldbq_di_lam">149</td>
                                    <td>17</td>
                                    <td>6</td>
                                    <td>3</td>
                                    <td class="total_col">26</td>
                                    <td class="tilehuydong">85.1</td>
                                    <td>68448.0</td>
                                    <td>0.0</td>
                                    <td>0.0</td>
                                    <td>453</td>
                                    <td class="total_col">1864617</td>
                                    <td>0.0</td>
                                    <td>0.0</td>
                                </tr>
                                <tr>
                                    <td>17</td>
                                    <td>VTL2</td>
                                    <td>54</td>
                                    <td>65</td>
                                    <td>4</td>
                                    <td class="total_col total_ldtt">123</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td class="total_col total_ldtt_nghi_dai">2</td>
                                    <td class="ld_sanxuat">121</td>
                                    <td class="ldbq_di_lam">107</td>
                                    <td>6</td>
                                    <td>1</td>
                                    <td>7</td>
                                    <td class="total_col">14</td>
                                    <td class="tilehuydong">88.4</td>
                                    <td>38783.0</td>
                                    <td>0.0</td>
                                    <td>0.0</td>
                                    <td>472</td>
                                    <td class="total_col">1382343</td>
                                    <td>0.0</td>
                                    <td>0.0</td>
                                </tr>
                                <tr>
                                    <td class="total_row" colspan="2">Tổng</td>
                                    <td class="total_row">1334</td>
                                    <td class="total_row">400</td>
                                    <td class="total_row">60</td>
                                    <td class="total_row">1794</td>
                                    <td class="total_row">45</td>
                                    <td class="total_row">53</td>
                                    <td class="total_row">0</td>
                                    <td class="total_row">98</td>
                                    <td class="total_row">1696</td>
                                    <td class="total_row">1428</td>
                                    <td class="total_row">173</td>
                                    <td class="total_row">45</td>
                                    <td class="total_row">50</td>
                                    <td class="total_row">268</td>
                                    <td class="total_row tilehuydong_trungbinh">84.2</td>
                                    <td class="total_row">98378.0</td>
                                    <td class="total_row">858.0</td>
                                    <td class="total_row">226.0</td>
                                    <td class="total_row">659</td>
                                    <td class="total_row">24726658</td>
                                    <td class="total_row">0.0</td>
                                    <td class="total_row">0.0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="export_btn_container">
                            <a class="waves-effect waves-light btn blue" id="export-button">Xuất ra file excel</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l12">
                        <h3>TỔNG HỢP BÁO CÁO: </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="summary_container">
                        <div class="col l6 summary_left">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th class="total_row">Tổng số lao động đến ngày 19/9: </th>
                                        <td class="total_row">1794</td>
                                    </tr>
                                    <tr>
                                        <th>KT</th>
                                        <td>1334</td>
                                    </tr>
                                    <tr>
                                        <th>CĐ</th>
                                        <td>400</td>
                                    </tr>
                                    <tr>
                                        <th>HS</th>
                                        <td>60</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col l6 summary_right">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th class="total_row">Tổng số lao động nghỉ ốm dài: </th>
                                        <td class="total_row">45</td>
                                    </tr>
                                    <tr>
                                        <th>LĐ nghỉ VLD dài</th>
                                        <td>53</td>
                                    </tr>
                                    <tr>
                                        <th>LĐ tham gia sx</th>
                                        <td>1696</td>
                                    </tr>
                                    <tr>
                                        <th>LĐ BQ thực tế đi làm BQ 1 ngày</th>
                                        <td>1428</td>
                                    </tr>
                                    <tr>
                                        <th>LĐ nghỉ các loại không tham gia SXBQ 1 ngày</th>
                                        <td>268</td>
                                    </tr>
                                    <tr>
                                        <th>Tỷ lệ huy động</th>
                                        <td>84.20%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4 class="modal_title"></h4>
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12">
                                        <table class="striped responsive-table" id="data">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center">Số thứ tự</th>
                                                    <th style="text-align: center">Mã nhân viên</th>
                                                    <th style="text-align: center">Tên</th>
                                                    <th style="text-align: center">Năm sinh</th>
                                                    <th style="text-align: center">Giới tính</th>
                                                    <th style="text-align: center">Số điện thoại</th>
                                                    <th style="text-align: center">Phân xưởng</th>
                                                    <th style="text-align: center"></th>
                                                    <th style="text-align: center"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td style="text-align: center">1</td>
                                                    <td style="text-align: center"><a href="/">2179</a></td>
                                                    <td style="text-align: center">
                                                        <a href="/">
                                                            Nguyễn Xuân
                                                            Thoàng
                                                        </a>
                                                    </td>
                                                    <td style="text-align: center">19/07/1987</td>
                                                    <td style="text-align: center">Nam</td>
                                                    <td style="text-align: center">091346578</td>
                                                    <td style="text-align: center">Phân xưởng cơ khí</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align: center">2</td>
                                                    <td style="text-align: center"><a href="/">7751</a></td>
                                                    <td style="text-align: center">
                                                        <a href="/">
                                                            Nguyễn Văn
                                                            Hùng
                                                        </a>
                                                    </td>
                                                    <td style="text-align: center">19/05/1984</td>
                                                    <td style="text-align: center">Nam</td>
                                                    <td style="text-align: center">094234658</td>
                                                    <td style="text-align: center">Phân xưởng cơ khí</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align: center">3</td>
                                                    <td style="text-align: center"><a href="/">3506</a></td>
                                                    <td style="text-align: center">
                                                        <a href="/">
                                                            Nguyễn Văn
                                                            Hùng
                                                        </a>
                                                    </td>
                                                    <td style="text-align: center">19/07/1991</td>
                                                    <td style="text-align: center">Nam</td>
                                                    <td style="text-align: center">091758725</td>
                                                    <td style="text-align: center">Phân xưởng cơ khí</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align: center">4</td>
                                                    <td style="text-align: center"><a href="/">2041</a></td>
                                                    <td style="text-align: center">
                                                        <a href="/">
                                                            Nguyễn Văn
                                                            Hưng
                                                        </a>
                                                    </td>
                                                    <td style="text-align: center">19/07/1976</td>
                                                    <td style="text-align: center">Nam</td>
                                                    <td style="text-align: center">098765243</td>
                                                    <td style="text-align: center">Phân xưởng xây dựng</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align: center">5</td>
                                                    <td style="text-align: center"><a href="/">4472</a></td>
                                                    <td style="text-align: center">
                                                        <a href="/">
                                                            Nguyễn Văn
                                                            Hoa
                                                        </a>
                                                    </td>
                                                    <td style="text-align: center">19/07/1976</td>
                                                    <td style="text-align: center">Nữ</td>
                                                    <td style="text-align: center">091874526</td>
                                                    <td style="text-align: center">Phân xưởng cơ khí</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align: center">6</td>
                                                    <td style="text-align: center"><a href="/">7430</a></td>
                                                    <td style="text-align: center">
                                                        <a href="/">Đông Văn Đai</a>
                                                    </td>
                                                    <td style="text-align: center">19/07/1985</td>
                                                    <td style="text-align: center">Nam</td>
                                                    <td style="text-align: center">098645724</td>
                                                    <td style="text-align: center">Phân xưởng cơ khí</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
</div>
<!---------------------------------------------------------------------------------->
<ul id='dropdown_time' class='dropdown-content'>
    <li><a class="dropdown-child-time" href="javascript:void(0);" name="month">Xem theo tháng</a></li>
    <li><a class="dropdown-child-time" href="#!" name="day">Xem theo ngày</a></li>
</ul>
<ul id='dropdown3' class='dropdown-content'>
    <li><a class="dropdown-child" href="javascript:void(0);" name="month">Xem theo tháng</a></li>
    <li><a class="dropdown-child" href="#!" name="day">Xem theo ngày</a></li>
</ul>
<!--cac truong hop link-->
<a id="loader-chi-tiet-vtl1-trong-ngay" data-request-url="@Url.Action("nang-suat-lao-dong-va-tien-luong-theo-ngay", "nang-suat-lao-dong-va-tien-luong", new {phanxuong = "vtl1"})" hidden></a>
<a id="loader-cac-px-trong-ngay" data-request-url="@Url.Action("nang-suat-lao-dong-va-tien-luong-theo-cac-px-trong-ngay", "nang-suat-lao-dong-va-tien-luong", new { phanxuong = "tat-ca"})" hidden></a>
<a id="loader-cac-ngay-trong-thang-vtl1" data-request-url="@Url.Action("nang-suat-lao-dong-va-tien-luong-theo-cac-ngay-trong-thang", "nang-suat-lao-dong-va-tien-luong", new { phanxuong = "vtl1"})" hidden></a>
<a id="loader-cac-px-trong-thang" data-request-url="@Url.Action("nang-suat-lao-dong-va-tien-luong-theo-thang", "nang-suat-lao-dong-va-tien-luong", new { phanxuong = "tat-ca"})" hidden></a>
<script src="~/assets/libs/echarts/dist/echarts-en.min.js"></script>
@*<script src="~/dist/js/pages/echarts/bar/bar.js"></script>*@
<script src="~/js/tuan_js/myChart.js"></script>
<script>
    $('.clickable_cell').click(function () {
        var idName = $(this).attr('id');
        switch (idName) {
            case 'ldtdd_kt':
                $('.modal_title').html('LAO ĐỘNG KHAI THÁC THỰC TẾ THEO DANH SÁCH');
                break;
            case 'ldtdd_cd':
                $('.modal_title').html('LAO ĐỘNG CƠ ĐIỆN THỰC TẾ THEO DANH SÁCH');
                break;
            case 'ldtdd_hstt':
                $('.modal_title').html('LAO ĐỘNG HSTT THỰC TẾ THEO DANH SÁCH');
                break;
            case 'ldtdd_tong':
                $('.modal_title').html('TỔNG LAO ĐỘNG THỰC TẾ THEO DANH SÁCH');
                break;
            case 'ldnghidai_vld':
                $('.modal_title').html('DANH SÁCH LAO ĐỘNG NGHỈ DÀI VÔ LÝ DO');
                break;
            case 'ldnghidai_thhd':
                $('.modal_title').html('DANH SÁCH LAO ĐỘNG NGHỈ DÀI THHĐ');
                break;
            case 'ldnghidai_om':
                $('.modal_title').html('DANH SÁCH LAO ĐỘNG NGHỈ DÀI ỐM, TNLĐ');
                break;
            case 'ldnghidai_tong':
                $('.modal_title').html('TỔNG LAO ĐỘNG NGHỈ DÀI');
                break;
            case 'tonglaodong':
                $('.modal_title').html('TỔNG LAO ĐỘNG SAU KHI TRỪ');
                break;
            case 'ldbq_tong':
                $('.modal_title').html('TỔNG LAO ĐỘNG THỰC HIỆN BQ');
                break;
            case 'ldbq_dilam':
                $('.modal_title').html('DANH SÁCH LAO ĐỘNG BQ ĐI LÀM');
                break;
            case 'ldbq_ldvang_vld':
                $('.modal_title').html('DANH SÁCH LAO ĐỘNG THỰC HIỆN BQ NGHỈ VÔ LÝ DO');
                break;
            case 'ldbq_ldvang_om':
                $('.modal_title').html('DANH SÁCH LAO ĐỘNG THỰC HIỆN BQ NGHỈ ỐM');
                break;
            case 'ldbq_ldvang_khac':
                $('.modal_title').html('DANH SÁCH LAO ĐỘNG THỰC HIỆN BQ NGHỈ VỚI LÝ DO KHÁC');
                break;
            case 'ldbq_ldvang_tong':
                $('.modal_title').html('DANH SÁCH TỔNG HỢP LAO ĐỘNG THỰC HIỆN BQ NGHỈ');
                break;
            default:
                break;
        }
    });
    var elem = document.querySelector('.modal');
    var instance = M.Modal.init(elem, options);</script>
<script src="~/assets/libs/chart.js/dist/Chart.min.js"></script>
<script src="~/assets/extra-libs/prism/prism.js"></script>
<!-- This page plugin js -->
<!-- ============================================================== -->
<script src="~/assets/extra-libs/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
<script src="~/assets/extra-libs/jquery.easy-pie-chart/easy-pie-chart.init.js"></script>
<script src="~/assets/extra-libs/sparkline/sparkline.js"></script>
<script src="~/dist/js/pages/sparkline/jquery.charts-sparkline.js"></script>
<script src="~/js/Custom JS/button_watch_by.js"></script>
<script>
    $("#export-button").click(function () {
        window.location.href = '/excel/TCLD/Report/Báo cáo lao động Ngày 19-08-2019.xls';
    });
</script>