@{
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/assets/extra-libs/c3/c3.min.css">
<link href="~/assets/extra-libs/prism/prism.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/tuan_css/css/baocaoluong_css/style.css" />
<link href="~/assets/extra-libs/css-chart/css-chart.css" rel="stylesheet">
<link href="~/dist/css/pages/easy-pie-chart.css" rel="stylesheet">

<style>
    .text-right {
        text-align: right;
    }
</style>
<div class="card">
    <div class="card-content">
        <div class="row">
            <h3 class="report_title">
                <B>BÁO CÁO THỰC HIỆN LAO ĐỘNG, TIỀN LƯƠNG CÔNG NHÂN TRỰC TIẾP </B>
                <br />
                <i class="fas fa-calendar-alt icon"></i>
                <input type="text"
                       class="datepicker-here center"
                       data-language='vi'
                       data-min-view="months"
                       data-view="months"
                       id="dateforsearch"
                       data-date-format="MM yyyy" value="" />
            </h3>
            <hr />
        </div>
        <div id="bangchitiet" class="col s12">
            <div class="report_container">
                <div class="row table_container">
                    <div class="col l12">
                        <table class="table table-bordered striped table-responsive">
                            <thead>
                                <tr>
                                    <th rowspan="4">STT</th>
                                    <th rowspan="4">Đơn vị</th>
                                    <th rowspan="4">Cán bộ QL</th>
                                    <th colspan="4">LĐTT theo DS</th>
                                    <th colspan="4">LĐTT nghỉ dài</th>
                                    <th rowspan="3">Tổng<br />LĐTT<br />sau trừ<br />nghỉ<br />ốm dài</th>
                                    <th colspan="6">Lao động thực hiện BQ</th>
                                    <th rowspan="3">Tỷ lệ<br />huy<br />động (%)</th>
                                    <th colspan="3">Sản lượng TH</th>
                                    <th colspan="2">Điểm lương</th>
                                    <th colspan="2">NSLĐ</th>
                                </tr>
                                <tr>
                                    <th rowspan="2">Tổng số</th>
                                    <th rowspan="2">KT</th>
                                    <th rowspan="2">CĐ</th>
                                    <th rowspan="2">HSTT</th>
                                    <th rowspan="2">Tổng số</th>
                                    <th rowspan="2">VLD</th>
                                    <th rowspan="2">TH HĐ</th>
                                    <th rowspan="2">Ốm,<br />TNLĐ</th>
                                    <th rowspan="2">LĐBQ Đi làm</th>
                                    <th colspan="5">LĐ vắng</th>
                                    <th rowspan="2">Than</th>
                                    <th rowspan="2">Mét lò</th>
                                    <th rowspan="2">Xén</th>
                                    <th rowspan="2">Tổng số</th>
                                    <th rowspan="2">TL BQ<br />(1000đ/công)</th>
                                    <th rowspan="2">TH</th>
                                    <th rowspan="2">KH</th>
                                </tr>
                                <tr>
                                    <th>Tổng số</th>
                                    <th>VLD</th>
                                    <th>Ốm</th>
                                    <th>Có phép</th>
                                    <th>Khác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var count = 1;}
                                @foreach (QUANGHANH2.Models.BaoCaoNgayDB item in ViewBag.TatCaDonVi)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.department_id</td>
                                        <td>@item.QL</td>
                                        <td>@item.Tong</td>
                                        <td>@item.KT</td>
                                        <td>@item.CD</td>
                                        <td>@item.HSTT</td>
                                        <td>@item.tong_nghidai</td>
                                        <td>@item.nghidai_vld</td>
                                        <td>@item.nghidai_thhd</td>
                                        <td>@item.nghidai_om_tnld</td>
                                        <td>@item.tong_ldtt_sau_tru_dai</td>
                                        <td>@item.dilam</td>
                                        <td>@item.vang</td>
                                        <td>@item.vld</td>
                                        <td>@item.om</td>
                                        <td>@item.phep</td>
                                        <td>@item.khac</td>
                                        <td>@(Math.Round(item.tong_ldtt_sau_tru_dai != 0 ? (double)item.dilam / item.tong_ldtt_sau_tru_dai * 100 : 0, 2))</td>
                                        <td>@item.than</td>
                                        <td>@item.metlo</td>
                                        <td>@item.xen</td>
                                        <td>@item.diemluong</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    { count++; }
                                }
                                <tr>
                                    <td class="total_row" colspan="2"></td>
                                    <td class="total_row"></td>
                                    <td class="total_row"></td>
                                    <td class="total_row"></td>
                                    <td class="total_row"></td>
                                    <td class="total_row"></td>
                                    <td class="total_row"></td>
                                    <td class="total_row"></td>
                                    <td class="total_row"></td>
                                    <td class="total_row"></td>
                                    <td class="total_row"></td>
                                    <td class="total_row"></td>
                                    <td class="total_row"></td>
                                    <td class="total_row"></td>
                                    <td class="total_row"></td>
                                    <td class="total_row"></td>
                                    <td class="total_row"></td>
                                    <td class="total_row"></td>
                                    <td class="total_row"></td>
                                    <td class="total_row"></td>
                                    <td class="total_row"></td>
                                    <td class="total_row"></td>
                                    <td class="total_row"></td>
                                    <td class="total_row"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="export_btn_container">
                            <a class="waves-effect waves-light btn blue" id="export-button">Xuất ra file Excel</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l12">
                        <h3>TỔNG HỢP BÁO CÁO: </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="summary_container">
                        <div class="col l6 summary_left">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th class="total_row">Tổng số lao động đến ngày @ViewBag.subTable: </th>
                                        <td class="total_row text-right">@ViewBag.sumLD</td>
                                    </tr>
                                    <tr>
                                        <th>KT</th>
                                        <td class="text-right">@ViewBag.sumKT</td>
                                    </tr>
                                    <tr>
                                        <th>CĐ</th>
                                        <td class="text-right">@ViewBag.sumCD</td>
                                    </tr>
                                    <tr>
                                        <th>HS</th>
                                        <td class="text-right">@ViewBag.sumHSTT</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col l6 summary_right">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th class="total_row">Tổng số lao động nghỉ ốm dài: </th>
                                        <td class="total_row text-right">@ViewBag.sumOmDai</td>
                                    </tr>
                                    <tr>
                                        <th>LĐ nghỉ VLD dài</th>
                                        <td class="text-right">@ViewBag.daiVLD</td>
                                    </tr>
                                    <tr>
                                        <th>LĐ tham gia sx</th>
                                        <td class="text-right">@ViewBag.thamGia</td>
                                    </tr>
                                    <tr>
                                        <th>LĐ BQ thực tế đi làm BQ 1 ngày</th>
                                        <td class="text-right">@ViewBag.diLam</td>
                                    </tr>
                                    <tr>
                                        <th>LĐ nghỉ các loại không tham gia SXBQ 1 ngày</th>
                                        <td class="text-right">@ViewBag.koDiLam</td>
                                    </tr>
                                    <tr>
                                        <th>Tỷ lệ huy động</th>
                                        <td class="text-right">@ViewBag.rate</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/exportToExcel/jquery.table2excel.js"></script>
<script src="~/assets/libs/echarts/dist/echarts-en.min.js"></script>
<script src="~/js/tuan_js/myChart.js"></script>
<script>
    $('.clickable_cell').click(function () {
        var idName = $(this).attr('id');
        switch (idName) {
            case 'ldtdd_kt':
                $('.modal_title').html('LAO ĐỘNG KHAI THÁC THỰC TẾ THEO DANH SÁCH');
                break;
            case 'ldtdd_cd':
                $('.modal_title').html('LAO ĐỘNG CƠ ĐIỆN THỰC TẾ THEO DANH SÁCH');
                break;
            case 'ldtdd_hstt':
                $('.modal_title').html('LAO ĐỘNG HSTT THỰC TẾ THEO DANH SÁCH');
                break;
            case 'ldtdd_tong':
                $('.modal_title').html('TỔNG LAO ĐỘNG THỰC TẾ THEO DANH SÁCH');
                break;
            case 'ldnghidai_vld':
                $('.modal_title').html('DANH SÁCH LAO ĐỘNG NGHỈ DÀI VÔ LÝ DO');
                break;
            case 'ldnghidai_thhd':
                $('.modal_title').html('DANH SÁCH LAO ĐỘNG NGHỈ DÀI THHĐ');
                break;
            case 'ldnghidai_om':
                $('.modal_title').html('DANH SÁCH LAO ĐỘNG NGHỈ DÀI ỐM, TNLĐ');
                break;
            case 'ldnghidai_tong':
                $('.modal_title').html('TỔNG LAO ĐỘNG NGHỈ DÀI');
                break;
            case 'tonglaodong':
                $('.modal_title').html('TỔNG LAO ĐỘNG SAU KHI TRỪ');
                break;
            case 'ldbq_tong':
                $('.modal_title').html('TỔNG LAO ĐỘNG THỰC HIỆN BQ');
                break;
            case 'ldbq_dilam':
                $('.modal_title').html('DANH SÁCH LAO ĐỘNG BQ ĐI LÀM');
                break;
            case 'ldbq_ldvang_vld':
                $('.modal_title').html('DANH SÁCH LAO ĐỘNG THỰC HIỆN BQ NGHỈ VÔ LÝ DO');
                break;
            case 'ldbq_ldvang_om':
                $('.modal_title').html('DANH SÁCH LAO ĐỘNG THỰC HIỆN BQ NGHỈ ỐM');
                break;
            case 'ldbq_ldvang_khac':
                $('.modal_title').html('DANH SÁCH LAO ĐỘNG THỰC HIỆN BQ NGHỈ VỚI LÝ DO KHÁC');
                break;
            case 'ldbq_ldvang_tong':
                $('.modal_title').html('DANH SÁCH TỔNG HỢP LAO ĐỘNG THỰC HIỆN BQ NGHỈ');
                break;
            default:
                break;
        }
    });
    var elem = document.querySelector('.modal');
    //var instance = M.Modal.init(elem, options);
</script>
<script>
    $(function () {
        $("#dateforsearch").datepicker({
            onSelect: function (data) {
                window.location = "/phong-tcld/nang-suat-lao-dong-va-tien-luong/nang-suat-lao-dong-va-tien-luong-theo-cac-px-trong-thang?month=" + data.split(" ")[1] + "&year=" + data.split(" ")[2];
            }
        })
    });
    $(document).ready(function () {
        $("#dateforsearch").val("Tháng " + "@string.Format("{0:MM yyyy}", Convert.ToDateTime(ViewBag.year + "/" + ViewBag.month))");
    });
</script>
<script src="~/assets/libs/chart.js/dist/Chart.min.js"></script>
<script src="~/assets/extra-libs/prism/prism.js"></script>
<!-- This page plugin js -->
<!-- ============================================================== -->
<script src="~/assets/extra-libs/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
<script src="~/assets/extra-libs/jquery.easy-pie-chart/easy-pie-chart.init.js"></script>
<script src="~/assets/extra-libs/sparkline/sparkline.js"></script>
<script src="~/dist/js/pages/sparkline/jquery.charts-sparkline.js"></script>
<script src="~/js/Custom JS/button_watch_by.js"></script>
<script>
    $("#export-button").click(function () {
        data = $("#dateforsearch").val();
        $("#pre-load").show();
        $.ajax({
            url: "/phong-tcld/nang-suat-lao-dong-va-tien-luong/nang-suat-lao-dong-va-tien-luong-theo-cac-px-trong-thang/excel?month=" + data.split(" ")[1] + "&year=" + data.split(" ")[2],
            type: "POST"
        }).done(function () {
            window.location.href = '/excel/TCLD/download/Báo cáo năng suất lao động và tiền lương theo các phân xưởng theo tháng.xlsx';
            $("#pre-load").hide();
        })
    });
</script>
