@model QUANGHANH2.Models.Equipment_category

@{
    ViewBag.Title = "AddCategory";
    Layout = null;
}


@using (Html.BeginForm("AddCategory", "Hoatdong", FormMethod.Post, new
{
    enctype = "multipart/form-data",
    onSubmit = "return SubmitForm2(this);",
    data_restUrl = Url.Action("AddCategory", "Hoatdong", new { id = "" })
}))
{
    <div class="modal-body">

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="form-group">
                    <label>Mã nhóm thiết bị</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Equipment_category_id, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Equipment_category_id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label>Tên nhóm thiết bị</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Equipment_category_name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Equipment_category_name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label>Loại thiết bị</label>
                    <div class="col-md-10">
                        @Html.DropDownList("divce_type", new SelectList(ViewBag.listType, "Text", "Value"), htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.divce_type, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12" id="myadd20" style="margin-top:15px">
            <div class="modal-header center-align">
                <h3>Thêm đặc tính nhóm thiết bị</h3>
            </div>
            <div class="modal-body">
                <table id="myTableCate" class="table-bordered">
                    <tr>
                        <th>STT</th>
                        <th>Mã đặc tính</th>
                        <th>Tên đặc tính</th>
                        <th>ĐVT</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><input type='text' id='Equipment_category_attribute_id' name="id" class='form-control' placeholder='Mã đặc tính' /></td>
                        <td><input type='text' name="name" class='form-control' placeholder='Tên đặc tính' /></td>
                        <td><input type='text' name="unit" class='form-control' placeholder='ĐVT' /></td>
                        <td><button type="button" class="btnSelect2 btn blue btn-small left"><i class="large material-icons">remove</i></button></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="myFunction2()" class="btn blue btn-small left"><i class="large material-icons">add</i></button>

            </div>
        </div>


        <datalist id="Suplist2">
            @{
                foreach (var item in ViewBag.listSup)
                {
                    <option value="@item.supply_id">@item.supply_name</option>
                }
            }
        </datalist>
        @*<datalist id="Suplist">
            @{
                foreach (var item in ViewBag.listSup)
                {
                    <option value="@item.supply_name"></option>
                }
            }
        </datalist>*@



        <div class="modal-footer">

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @*<a href="#myadd20" class="modal-trigger btn">Thêm đặc tính</a>*@
                    <button type="submit" id="save2" class="btn blue btn-default modal-close" style="color:white">Thêm</button>
                </div>
            </div>
        </div>

    </div>
}
<script>
    $(document).ready(function () {

        // code to read selected table row cell data (values).
        $("#myTableCate").on('click', '.btnSelect2', function () {
            // get the current row
            var currentRow = $(this).closest("tr");
            var data = currentRow.find("td:eq(0)").text();
            document.getElementById("myTableCate").deleteRow(data);
            var table = document.getElementById("myTableCate");
            var x = document.getElementById("myTableCate").rows.length;
            var i = 1;
            for (i = 1; i < x; i++) {
                table.rows[i].cells[0].innerHTML = i;
            }
            count2 = document.getElementById("myTableCate").rows.length;
        });


    });
    var count2 = 2;
    function myFunction2() {
        var x = document.getElementById("myTableCate").rows.length;
        var table = document.getElementById("myTableCate");
        var row = table.insertRow(x);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        var cell5 = row.insertCell(4);
        cell1.innerHTML = "" + count2 + "";
        cell2.innerHTML = "<input type='text' id='Equipment_category_attribute_id' name='id' class='form-control' placeholder='Mã đặc tính' />";
        cell3.innerHTML = "<input type='text' name='name' class='form-control' placeholder='Tên đặc tính' />";
        cell4.innerHTML = "<input type='text' name='unit' class='form-control' placeholder='ĐVT' />";
        cell5.innerHTML = "<button type='button' class='btnSelect2 btn blue btn-small left'><i class='large material-icons'>remove</i></button>";
        count2++;
    }

    $(document).on("keydown", "form", function (event) {
        return event.key != "Enter";
    });

    $(document).on("keydown", "#Equipment_category_attribute_id", function (e) {
        if (e.keyCode == 13 && $(this).val() != "") {
            $('#pre-load').show();
            var name = $(this).closest("tr").children("td:nth-child(3)").children();
            var unit = $(this).closest("tr").children("td:nth-child(4)").children();
            $.ajax({
                type: "POST",
                url: "/phong-cdvt/nhom-thiet-bi/dac-tinh/getByID",
                dataType: "json",
                success: function (data) {
                    if (data.success == true) {
                        name.val(data.name);
                        unit.val(data.unit);
                    }
                    $('#pre-load').hide();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    errorAlert('Lỗi', 'Có lỗi xảy ra');
                },
                data: {
                    Equipment_category_attribute_id: $(this).val()
                },
                cache: false
            })
        }
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
