@model QUANGHANH2.Models.CarDB

@{
    ViewBag.Title = "Edit";
    Layout = null;
}


<link href="~/assets/Custom css/CDVT/TABLE_BORDERED.css" rel="stylesheet" />
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
<link href="~/lib/datepicker_src/css/style.css" rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/custom.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/font.css" rel="stylesheet" type="text/css">
<script src="~/lib/datepicker_src/dist/js/datepicker.js"></script>
<script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>
<link href="~/assets/Custom css/CDVT/TABLE_BORDERED.css" rel="stylesheet" />

@using (Html.BeginForm("Edit", "Hoatdong", FormMethod.Post, new
{
    enctype = "multipart/form-data",
    onSubmit = "return UpdateEquipment(this);",
    data_restUrl = Url.Action("Edit", "Hoatdong")
}))
{
    <div class="modal-body" id="edit-modal-body">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.equipmentId)
        <div class="form-horizontal row">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="col s6">
                <div class="form-group">
                    @*@Html.LabelFor(model => model.equipmentId, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.equipmentId, new { htmlAttributes = new { @style = "display: none !important" } })
                        @Html.ValidationMessageFor(model => model.equipmentId, "", new { @style = "display: none !important" })
                    </div>
                </div>

                <div class="form-group">
                    <label>Tên thiết bị</label>
                    @*@Html.LabelFor(model => model.equipment_name, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.equipment_name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.equipment_name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label>Nước sản xuất</label>
                    @*@Html.LabelFor(model => model.supplier, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.supplier, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.supplier, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label>Ngày nhập</label>
                    @*@Html.LabelFor(model => model.date_import, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        <input id="import_fix" name="import" type="text" class="form-control datepicker-here" placeholder="Ngày nhập" />
                        @Html.EditorFor(model => model.date_import, new { htmlAttributes = new { @style = "display: none !important" } })
                    </div>
                </div>

                <div class="form-group">
                    <label>Khấu hao ước tính</label>
                    @*@Html.LabelFor(model => model.depreciation_estimate, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.depreciation_estimate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.depreciation_estimate, "Khấu hao ước tính phải là số", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group">
                    <label>Khấu hao thực tại</label>
                    @*@Html.LabelFor(model => model.depreciation_present, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.depreciation_present, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.depreciation_present, "Khấu hao thực tại phải là số", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group">
                    <label>Thời hạn đăng kiểm</label>
                    @*@Html.LabelFor(model => model.durationOfInspection, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        <input id="Inspec_fix" name="inspec" type="text" class="form-control datepicker-here" placeholder="Thời hạn đăng kiểm" />
                        @Html.EditorFor(model => model.durationOfInspection, new { htmlAttributes = new { @style = "display: none !important" } })
                        @Html.ValidationMessageFor(model => model.durationOfInspection, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label>Thời hạn bảo hiểm</label>
                    @*@Html.LabelFor(model => model.durationOfInsurance, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        <input id="Insua_fix" name="insua" type="text" class="form-control datepicker-here" placeholder="Thời hạn đăng kiểm" />
                        @Html.EditorFor(model => model.durationOfInsurance, new { htmlAttributes = new { @style = "display: none !important" } })
                        @Html.ValidationMessageFor(model => model.durationOfInsurance, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label>Thời hạn bảo dưỡng</label>
                    @*@Html.LabelFor(model => model.durationOfInsurance, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        <input id="main_fix" name="main" type="text" class="form-control datepicker-here" placeholder="Thời hạn bảo dưỡng" />
                        @Html.EditorFor(model => model.durationOfMaintainance, new { htmlAttributes = new { @style = "display: none !important" } })
                        @Html.ValidationMessageFor(model => model.durationOfMaintainance, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label>Ngày đưa vào sử dụng</label>
                    @*@Html.LabelFor(model => model.usedDay, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        <input id="used_fix" name="used" type="text" class="form-control datepicker-here" placeholder="Thời hạn đăng kiểm" />
                        @Html.EditorFor(model => model.usedDay, new { htmlAttributes = new { @style = "display: none !important" } })
                        @Html.ValidationMessageFor(model => model.usedDay, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div id="plus2">
                    <div class="form-group">
                        <label class="control-label col-md-2">GPS</label>
                        <div class="col-md-10">
                            <select id="edit_gps" class="form-control" name="gps">
                                <option value="1">Có</option>
                                <option value="2">Không</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col s6">

                <div class="form-group">
                    <label>Tổng thời gian hoạt động</label>
                    @*@Html.LabelFor(model => model.total_operating_hours, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.total_operating_hours, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.total_operating_hours, "Tổng thời gian hoạt động phải là số", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group">
                    <label>Tình trạng hiện tại</label>
                    @*@Html.LabelFor(model => model.current_Status, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @Html.DropDownList("current_Status", new SelectList(ViewBag.listStatus, "Text", "Value"), htmlAttributes: new { @class = "form-control" })
                        @*@Html.EditorFor(model => model.current_Status, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.current_Status, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label>Số chế tạo</label>
                    @*@Html.LabelFor(model => model.fabrication_number, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.fabrication_number, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.fabrication_number, "Số chế tạo phải là số và không được để trống", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group">
                    <label>Số hiệu</label>
                    @*@Html.LabelFor(model => model.mark_code, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.mark_code, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.fabrication_number, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label>Loại chất lượng</label>
                    @*@Html.LabelFor(model => model.quality_type, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @Html.DropDownList("quality_type", new SelectList(ViewBag.listQuality, "Text", "Value"), htmlAttributes: new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.quality_type, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label>Đường nhập</label>
                    @*@Html.LabelFor(model => model.input_channel, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @Html.DropDownList("input_channel", new SelectList(ViewBag.listDN, "Text", "Value"), htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.input_channel, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Tên nhóm thiết bị</label>
                    <div class="col-md-10">
                        @Html.DropDownList("Equipment_category_id", new SelectList(ViewBag.listCategory, "Text", "Value"), htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Equipment_category_id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Phòng ban</label>
                    <div class="col-md-10">
                        @Html.DropDownList("department_id", new SelectList(ViewBag.listDepeartment, "Text", "Value"), htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.department_id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div id="plus">
                    <div class="form-group">
                        <label class="control-label col-md-2">Số khung</label>
                        <div class="col-md-10">
                            <input id="editsk" type="text" name="sk" class="form-control" />
                            @Html.EditorFor(model => model.sokhung, new { htmlAttributes = new { @style = "display: none !important" } })
                            @Html.ValidationMessageFor(model => model.sokhung, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Số máy</label>
                        <div class="col-md-10">
                            <input id="editsm" type="text" name="sm" class="form-control" />
                            @Html.EditorFor(model => model.somay, new { htmlAttributes = new { @style = "display: none !important" } })
                            @Html.ValidationMessageFor(model => model.somay, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal" id="xn">
                <div class="modal-header">
                    <h3>Xác nhận cập nhập</h3>
                </div>
                <div class="modal-body">
                    Thông tin sẽ được lưu sau bước này
                </div>
                <div class="modal-footer">
                    <button type="submit">Xác nhận</button>
                </div>
            </div>



        </div>
        <div class="modal-footer">

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" id="save" class="btn blue btn-default modal-close" style="color:white">Cập nhật</button>
                    @*<input type="submit" value="Cập nhật" class="btn blue btn-default modal-close" />*@
                </div>
            </div>
        </div>

    </div>
}
<script>
    $(document).ready(function () {
        //document.getElementById("edit_sk_abc").value = "abc";
        $("#equipmentTable").on('click', '.btnSelect2', function () {
            // get the current row
            if (ck.endsWith('1')) {
                var currentRow = $(this).closest("tr");
                var data = currentRow.find("td:eq(3)").text();
                document.getElementById("edit_sk_abc").value = "abc";

                data = currentRow.find("td:eq(4)").text();
                document.getElementById("edit_sm").value = data;

                data = currentRow.find("td:eq(5)").text();
                document.getElementById("edit_gps").selectedIndex = 1;
            }
        });

        var ck = $("#title").text();
        if (ck.endsWith('1')) {
            $('#plus').show();
            $('#plus1').show();
        } else {
            $('#plus').hide();
            $('#plus1').hide();
        }

        var elms = document.querySelectorAll("[id='date_import']");
        var temp = elms[1].value;
        var arr = temp.split("/");
        var arr1 = arr[2].split(" ");
        var data = arr[1] + "/" + arr[0] + "/" + arr1[0];
        document.getElementById("import_fix").value = data;

        elms = document.querySelectorAll("[id='durationOfInspection']");
        temp = elms[1].value;
        arr = temp.split("/");
        arr1 = arr[2].split(" ");
        data = arr[1] + "/" + arr[0] + "/" + arr1[0];
        document.getElementById("Inspec_fix").value = data;

        elms = document.querySelectorAll("[id='durationOfInsurance']");
        temp = elms[1].value;
        arr = temp.split("/");
        arr1 = arr[2].split(" ");
        data = arr[1] + "/" + arr[0] + "/" + arr1[0];
        document.getElementById("Insua_fix").value = data;

        elms = document.querySelectorAll("[id='usedDay']");
        temp = elms[1].value;
        arr = temp.split("/");
        arr1 = arr[2].split(" ");
        data = arr[1] + "/" + arr[0] + "/" + arr1[0];
        document.getElementById("used_fix").value = data;

        elms = document.querySelectorAll("[id='durationOfMaintainance']");
        temp = elms[1].value;
        arr = temp.split("/");
        arr1 = arr[2].split(" ");
        data = arr[1] + "/" + arr[0] + "/" + arr1[0];
        document.getElementById("main_fix").value = data;

        data = document.getElementById("sokhung").value;
        document.getElementById("editsk").value = data

        data = document.getElementById("somay").value;
        document.getElementById("editsm").value = data;

        $(".datepicker-here").keydown(function (e) {
            e.preventDefault();
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}