@model QUANGHANH2.Models.ChuyenNganh

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuaChuyenNganh</title>
</head>
<body>
    <div id="edit-modal-chuyen-nganh">
        @using (Html.BeginForm("SuaChuyenNganh", "BriefRegulation", FormMethod.Post, new { onSubmit = "return SubmitForm(this)" }))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MaChuyenNganh)

            <div class="form-group">
                @Html.LabelFor(model => model.TenChuyenNganh, "Tên Chuyên Ngành", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TenChuyenNganh, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenChuyenNganh, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.CapBac,"Cấp Bậc", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CapBac, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CapBac, "", new { @class = "text-danger" })
            </div>*@
                <div class="col-md-6">
                    <label>
                        <input id="rdbt-cb" class="with-gap" name="cc" type="radio" checked />
                        <span>Cấp bậc</span>
                    </label>
                    <label>
                        <input id="rdbt-cbk" class="with-gap" name="cc" type="radio" />
                        <span>Cấp bậc khác</span>
                    </label>
                    @Html.DropDownList("CapBac", (IEnumerable<SelectListItem>)ViewBag.List_CapBac, "Chọn Cấp Bậc", htmlAttributes: new { @class = "form-control", @id = "drps-cap-bac" })
                    @Html.ValidationMessageFor(model => model.CapBac, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.CapBac, new { htmlAttributes = new { @class = "form-control", @disabled= "disabled", @id = "ins-cap-bac-khac"} })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ChiTiet, "Chi Tiết", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ChiTiet, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ChiTiet, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MaNganh, "Mã Ngành", htmlAttributes: new { @class = "control-label col-md-2" })
                @*<div class="col-md-10">
                @Html.EditorFor(model => model.MaNganh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaNganh, "", new { @class = "text-danger" })
            </div>*@
                <div class="col-md-6">
                    @Html.EditorFor(model => model.MaNganh, new { htmlAttributes = new { @class = "form-control", @list = "list", @id = "mn" } })
                    <datalist id="list">
                        @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.List_nganh)
                        {
                            <option id="@item.Value" value="@item.Text">@item.Text</option>
                        }
                    </datalist>
                    @Html.ValidationMessageFor(model => model.MaNganh, "", new { @class = "text-danger" })
                    <p hidden style="color:red" id="messageNganh1">Mã ngành không tồn tại</p>
                </div>
            </div>
            <div class="form-group col s6 m6 l6">
                @Html.LabelFor(model => model.MaNganh, "Tên Ngành", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="@ViewBag.TenNganh" id="tennganh_sua" disabled />
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lưu" class="btn btn-default blue" />
                </div>
            </div>
        </div>
        }

    </div>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }
</body>
</html>
<script>
    $(document).ready(function () {
        $('input:radio[name=cc]').on("click", () => {

            if ($('#rdbt-cb').is(':checked')) {
                $("#ins-cap-bac-khac").prop("disabled", true);
                $("#drps-cap-bac").prop("disabled", false);
            }
            if ($('#rdbt-cbk').is(':checked')) {
                $("#ins-cap-bac-khac").prop("disabled", false);
                $("#drps-cap-bac").prop("disabled", true);
            }
        });
        $('#mn').change(() => {
            var manganh = $('#mn').val();
                console.log( "ready!aloha" );
            $.ajax({
                url: '@Url.Action("getTenNganh","BriefRegulation")',
                type: "POST",
                data: { id: manganh },
                dataType: "json",
                success: (response) => { $("#tennganh_sua").val(response.data) },
                error: () => { alert('error') },
            })

        });
    });

    var checkMN = false;
    $('#mn').blur(function () {
        $.ajax({
            url:'@Url.Action("validateIDN", "BriefRegulation")',
            type: "POST",
            data: { id: $(this).val() },
            success: (response) => {
                if (response.success) {
                   checkMN = false;
                    $('#messageNganh1').show();
                } else {
                    console.log($('#mn').val());
                    $('#messageNganh1').hide();
                    checkMN = true;
                }
            },
            error: (response) => {
            },
        })
     })

</script>
