@model QUANGHANH2.Models.Truong

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThemTruong</title>
</head>
<body>

    @using (Html.BeginForm("ThemTruong", "BriefRegulation", FormMethod.Post, new { onSubmit = "return SubmitForm(this)" }))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.MaTruong, "Mã Trường", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaTruong, new { htmlAttributes = new { @class = "form-control", @id = "validate_truong" } })
                @Html.ValidationMessageFor(model => model.MaTruong, "", new { @class = "text-danger" })
                <p hidden style="color:red" id="messageT">Mã trường đã tồn tại. Hãy nhập lại</p>
                <p hidden style="color:red" id="messageTNull">Không được để trống ô này</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenTruong, "Tên Trường", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenTruong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenTruong, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo" class="btn btn-default blue" id="btn_saveT_doc" disabled />
            </div>
        </div>
    </div>
    }

</body>
</html>
<script>
    $('#validate_truong').blur(function () {
        if ($(this).val() == null || $(this).val() == "") {
            $('#messageTNull').show();
            $('#messageT').hide();
            return false;
        }
            $.ajax({
                url:'@Url.Action("validateIDTruong", "BriefRegulation")',
                type: "POST",
                data: { id: $(this).val() },
                success: (response) => {
                    if (response.success) {
                        $('#messageT').hide();
                        $('#messageTNull').hide();
                        $('#btn_saveT_doc').attr("disabled", false);
                    } else {
                        $('#btn_saveT_doc').attr("disabled", true);
                        $('#messageT').show();
                        $('#messageTNull').hide();
                    }
                
                },
                error: (response) => {
                    alert("error")
                },
                })
         })
</script>
