@{
    ViewData["Title"] = "sua-chua-chon";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}

<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col m12">
                <div class="center">
                    <h3><b>CHI TIẾT QUYẾT ĐỊNH SỬA CHỮA</b></h3>
                </div>
                @if (ViewBag.DataThietBi.Count == 0)
                {
                    <h4>Hệ thống bạn chọn không có camera hỏng hoặc bạn chưa chọn hệ thống nào</h4>
                }
                else
                {
                    <div class="col s3 m3">
                        <label>Sửa chữa tại :</label>
                        <input id="department_id" class="form-control" required list="departmentName" />
                    </div>
                    <div class="col s3 m3">
                        <label>Nguồn vốn :</label>
                        <input id="out_in_come" class="form-control" type="text" />
                    </div>
                    <div class="col s3 m3">
                        <label>Nội dung quyết định :</label>
                        <input id="reason" class="form-control" type="text" required />
                    </div>
                    <div class="col s12 table_container">
                        <table id="mytablevattu" class="striped table-responsive center table-bordered">
                            <thead>
                                <tr>
                                    <th class="center-align">Tên hệ thống</th>
                                    <th class="center-align">Đơn vị trực thuộc</th>
                                    <th class="center-align">Số lượng sửa chữa</th>
                                    <th class="center-align">Lý do sửa chữa</th>
                                    <th class="center-align">Ghi chú</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < ViewBag.DataThietBi.Count; i++)
                                {
                                    <tr id="@i" data-room="@ViewBag.DataThietBi[i].room_id" data-department="@ViewBag.DataThietBi[i].department_id">
                                        <td>@ViewBag.DataThietBi[i].room_name</td>
                                        <td>@ViewBag.DataThietBi[i].department_name</td>
                                        <td>
                                            <input id="broken_camera_quantity" type="number" required class="form-control" min="1" max="@(ViewBag.DataThietBi[i].camera_quantity - ViewBag.DataThietBi[i].camera_available)" />
                                        </td>
                                        <td>
                                            <input id="repair_requirement" type='text' required class='form-control' />
                                        </td>
                                        <td>
                                            <input id="note" type='text' required class='form-control' />
                                        </td>
                                        <td>
                                            <a class="btn blue darken-2 modal-trigger open-Modal" data-id="@i" href="#mylist">Vật tư cần</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col l12 m12 s12 center">
                        <form action="/camera/sua-chua" method="get">
                            <a id="export-button" class="btn blue darken-2">Xuất quyết định</a>
                            <a id="submit" class="btn blue darken-2 modal-trigger">Tạo quyết định sửa chữa</a>
                            <input name="ListSelected" value="@ViewBag.ListSelected" readonly hidden />
                            <button type="submit" href="sua-chua" class="btn blue darken-2 ">Quay lại</button>
                        </form>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal" id="mylist">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="listId"></h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <form>
                    <table id="test" class="striped table-responsive center table-bordered mytable">
                        <thead>
                            <tr>
                                <th>Mã vật tư</th>
                                <th>Số lượng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type='text' list='supplyID' class='form-control required' /></td>
                                <td><input type='number' min='1' value='1' class='form-control' /></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a id="addcolumn" class="waves-effect waves-light btn blue darken-2 left">Thêm</a>
            <a id="submitvattu" class="waves-effect waves-light btn blue darken-2 modal-close">Lưu</a>
            <button type="button" class="btn light-blue lighten-1 modal-close" id="exit-button">Thoát</button>
        </div>
    </div>
</div>

<div class="modal" id="confirm">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Bạn có muốn tạo quyết định này không?</h3>
        </div>
        <div class="modal-footer">
            <a id="create" class="waves-effect waves-light btn blue darken-2 center">Tạo</a>
            <a class="btn light-blue lighten-1 modal-close center">Thoát</a>
        </div>
    </div>
</div>

<datalist id="supplyID">
    @foreach (var item in ViewBag.Supplies)
    {
        <option value="@item.supply_id">@item.supply_name</option>
    }
</datalist>

<datalist id="departmentName">
    @foreach (var item in ViewBag.Departments)
    {
        <option value="@item.department_id">@item.department_name</option>
    }
</datalist>

<script>
    var output = {};
    var nth_row = 0;

    $(document).ready(function () {
        $('input[required]').each(function myfunction() {
            $(this).attr("oninvalid", "setCustomValidity('Không được bỏ trống ô này')");
            $(this).attr("oninput", "this.setCustomValidity('')");
        })
    })

    $('.minDate').datepicker({
        language: 'vi',
        minDate: new Date() // Now can select only dates, which goes after today
    })

    $(document).ready(function () {
        $('.datepicker-inline').remove();
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!

        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        var today = dd + '/' + mm + '/' + yyyy;
        $(".minDate").each(function () {
            $(this).val(today);
        });
    })

    $("#addcolumn").click(function () {
        var $tr = $('<tr>').append(
            $('<td>').html("<input type='text' list='supplyID' class='form-control required' />"),
            $('<td>').html("<input type='number' min='1' value='1' class='form-control' />")
        );
        $tr.appendTo('#test tbody');
    });
    //thêm vật tư vào json của hệ thống đang chọn
    $("#submitvattu").click(function () {
        if ($('#mylist #test tr').length > 1) {
            let arr = [];
            for (var i = 1; i < $('#test tbody tr').length + 1; i++) {
                if ($('#mylist #test tbody tr:nth-child(' + i + ') input').eq(0).val() != "" &&
                    $('#mylist #test tbody tr:nth-child(' + i + ') input').eq(1).val() >= 1) {
                    var vattu = {};
                    vattu.supply_id = $('#mylist #test tbody tr:nth-child(' + i + ') input').eq(0).val();
                    vattu.quantity = $('#mylist #test tbody tr:nth-child(' + i + ') input').eq(1).val();
                    arr.push(vattu);
                }
            }
            output[nth_row].vattu = arr;
        }
    })
    //tạo json cho tất cả hệ thống đã chọn
    $(document).ready(function () {
        for (var i = 0; i < $('#mytablevattu tbody tr').length; i++) {
            var thietbi = {};
            let arr = [];
            thietbi.id = $('#mytablevattu #' + i).data("room");
            thietbi.department_id = $('#mytablevattu #' + i).data("department");
            thietbi.broken_camera_quantity = "";
            thietbi.repair_requirement = "";
            thietbi.note = "";
            thietbi.vattu = arr;
            output[i] = thietbi;
        }
    })
</script>
@section scripts{
    <script>
        $(document).on("click", ".open-Modal", function () {
            var id = $(this).data('id');
            nth_row = id;
            $("#test").find("tr:gt(0)").remove();
            var equipmentId = $('#' + id + ' td:first-child').text();
            $('#listId').text("Danh sách vật tư dự phòng của thiết bị " + equipmentId)
            $('#type').val(1);
            if (output[id].vattu.length != 0) {
                for (var i = 0; i < output[id].vattu.length; i++) {
                    var item = output[id].vattu[i];
                    var $tr = $('<tr>').append(
                        $('<td>').html("<input type='text' list='supplyID' class='form-control required' value='" + item.supply_id + "' /> "),
                        $('<td>').html("<input type='number' min='1' class='form-control' value='" + item.quantity + "' /> ")
                    );
                    $tr.appendTo('#test tbody');
                }
            }
        })

        //validate
        $('#submit').click(function () {
            var validate = 1;
            $(':input[required]:visible').each(function () {
                if ($(this).val() == "") {
                    $(this).focus();
                    validate = 0;
                }
            })
            if (validate == 1) {
                if (Object.keys(output).length < $('#mytablevattu tbody tr').length)
                    $.notify("phải điền đầy đủ vật tư vào thiết bị", {
                        globalPosition: "top center",
                        className: "error"
                    });
                else {
                    for (var key in output) {
                        output[key].broken_camera_quantity = $('#' + key + ' #broken_camera_quantity').val();
                        output[key].repair_requirement = $('#' + key + ' #repair_requirement').val();
                        output[key].note = $('#' + key + ' #note').val();
                    }
                    $('#confirm').modal("open");

                }
            } else
                $.notify("không được bổ trống ô này", {
                    globalPosition: "top center",
                    className: "error"
                });
        })

        $('#create').click(function () {
            $('#pre-load').show();
            $.ajax({
                url: "/camera/sua-chua-chon/add",
                method: "post",
                dataType: "json",
                cache: false,
                data: {
                    department_id: $('#department_id').val(),
                    out_in_come: $('#out_in_come').val(),
                    data: JSON.stringify(output),
                    reason: $('#reason').val()
                },
                success: function (data) {
                    if (data.success)
                        window.location.href = "/phong-cdvt/camera/quyet-dinh/sua-chua";
                    else {
                        errorAlert("Có lỗi xảy ra");
                        $('#pre-load').hide();
                    }
                }
            })
        })

        $("#export-button").click(function () {
            window.location = '/camera/quyet-dinh/export-word?data=' + $('#json').val()
                + '&title=' + $('input[name = "reason"]').val() + '&department_id=CDVT&documentary_type=' + 8
                + '&fileName=Quyết định sửa chữa camere.docx' + '&resource=' + $('input[name = "out_in_come"]').val()
        });
    </script>
}