@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}
<link href="~/assets/Custom css/TCLD/Certificate/Certificate.css" rel="stylesheet" />
<link href="~/lib/mutiple select/slimselect.css" rel="stylesheet" />
<div class="user-roll card" id="vld-antoan">
    <div class="card-content">
        <div class="row">
            <h3 class="black-text"><b>DANH SÁCH CHỨNG CHỈ LAO ĐỘNG</b></h3>
            <div class="centered">
                <div class="row" id="tab_searching">
                    <div class="row">
                        <div class="col s2 m2 l1"></div>
                        <div id="searchCirtificateEmployee" style="display:none">
                            <div class="input-group mb-3 ">
                                <div class="col s13 m13 l3 input-field">
                                    <input class="form-control" placeholder="Mã chứng chỉ" id="searchIdTxt" />
                                </div>
                                <div class="col s13 m13 l3 input-field">
                                    <input class="form-control" placeholder="Tên nhân viên" id="searchNameCirEmpTxt" />
                                </div>
                                <div class="col s13 m13 l3 input-field">
                                    <input class="form-control" placeholder="Tên chứng chỉ" id="searchNameCirTxt" />
                                </div>

                                <div class="col l2 m12 s12 input-field">
                                    <button class="waves-effect waves-light btn-small blue darken-2 modal-trigger" type="submit" id="searchEmpButton">Tìm kiếm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s2 m2 l2"></div>
                        <div class="col s10 m10 l10">
                            <div id="searchCirtificate" style="display:none">
                                <div class="input-group mb-3">
                                    <div class="col s18 m18 l8 input-field">
                                        <input class="form-control" placeholder="Tên chứng chỉ" id="searchByNameTxt" />
                                    </div>
                                    <div class="col l4 m14 s14 input-field">
                                        <button class="waves-effect waves-light btn-small blue darken-2 modal-trigger" id="searchButton">Tìm kiếm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
        <hr />
        <div class="row" id="tabs">
            <ul class="tabs">
                <li class="tab col m6 l6 s12"><a data-toggle="tab" id="tab-ccct" href="#chungchicongty">Chứng chỉ của cả công ty</a></li>
                <li class="tab col m6 l6 s12 active"><a data-toggle="tab" id="tab-ccnv" href="#chungchicuanhanvien">Chứng chỉ của nhân viên</a></li>
            </ul>
        </div>
        <!---->
        <div id="chungchicongty">
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <a class="btn btn-small blue darken-2 modal-trigger btn-mg input-field" data-target="myadd">Thêm chứng chỉ</a>
                            <a class="btn btn-small blue darken-2 btn-mg input-field" id="export_excel_certificate">Xuất ra file excel</a>
                        </div>
                        <div class="table-responsive">
                            <table id="table_chungchi" class="table table-bordered  centered highlight">
                                <thead>
                                    <tr>
                                        <th>Tên chứng chỉ</th>
                                        <th>Thời hạn</th>
                                        <th>Kiểu chứng chỉ</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!---->
        <div id="chungchicuanhanvien">
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <a class="btn btn-small blue darken-2 modal-trigger btn-mg input-field" data-target="add_cir_emp">Thêm chứng chỉ cho nhân viên</a>
                            <a class="btn btn-small blue darken-2 btn-mg input-field" id="export_excel_certificate_emp">Xuất ra file excel</a>
                        </div>
                        <div class="table-responsive">
                            <table id="table_cert_emp" class="table table-bordered  centered highlight">
                                <thead>
                                    <tr>
                                        <th>Số hiệu</th>
                                        <th>Mã nhân viên</th>
                                        <th>Tên nhân viên</th>
                                        <th>Tên chứng chỉ</th>
                                        <th>Ngày cấp</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@{
    List<string> right = (List<string>)Session["RightIDs"];
}
@foreach (var item in right)
{
    if (item.Equals("150"))
    {
        <div id="myadd" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Thêm Chứng Chỉ</h3>
                </div>
                <div class="modal-body">
                    @Html.Action("AddCertificate", "Certificate")
                </div>
            </div>
        </div>
    }
    if (item.Equals("154"))
    {
        <div id="add_cir_emp" class="modal">
            <div class="modal-content">
                <div class="modal-body">
                    @Html.Action("AddCertificateEmployee", "Certificate")
                </div>
            </div>
        </div>
    }
    if (item.Equals("151"))
    {
        <div id="myedit" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Sửa Chứng Chỉ</h3>
                </div>
                <div class="modal-body">
                    @Html.Action("EditCertificate", "Certificate")
                </div>
            </div>
        </div>
    }
    if (item.Equals("155"))
    {
        <div id="edit_employee" class="modal">
            <div class="modal-content">
                <div class="modal-body">
                    @Html.Action("EditCertificateEmp", "Certificate")
                </div>
            </div>
        </div>
    }


}
<div id="message" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Số Hiệu đã tồn tại</h3>
        </div>
        <div class="modal-footer">
            <a class="btn blue darken-2 modal-close" onclick="DeleteEmp()">Xóa</a>
            <a class="btn red modal-close">Hủy</a>
        </div>
    </div>
</div>
<p>

</p>
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/js/Custom JS/TCLD/Certificate/certificate.js"></script>
<script src="~/js/Custom JS/form-input-border.js"></script>
<script src="~/lib/mutiple select/slimselect.js"></script>
<script src="~/Scripts/notify.min.js"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<link href="~/css/preloader/css.css" rel="stylesheet" />
@section scripts {
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $("#pre-load").show("slow", function () {
        });
        $("#pre-load").css("z-index", "99999");
        var Popup, dataTable, dataCertificateEmp, dataTableSearch;
        var editID, deleteId;
        var editIDEmp, deleteIdEmp;
        var searchId;
        var isSearchCertificate = true;
        var current_index;
        $(document).ready(function () {
            @*var accept = '@Session["username"].ToString()' ;
            if (accept == "vuongnb") {
                $('#tab-ccnv').hide();
            }
            else {
                $('#tab-ccct').hide();
            }*@

            //company's certificates
            dataTable = $("#table_chungchi")
                .on('preXhr.dt', function (e, settings, data) {
                    $("#pre-load").show();
                })
                .DataTable({
                "ajax": {
                    "url": "/phong-tcld/chung-chi/danh-sach-chung-chi",
                    "type": "POST",
                    "datatype": "json",

                    },
                    "drawCallback": function (settings) {
                        $("#pre-load").hide("slow", function () {
                        });
                    },
                "columns": [
                    { "data": "TenChungChi", "name": "TenChungChi" },
                    {
                        "data": "ThoiHan", "name": "ThoiHan", "render": function (data) {
                            if (data == -1) {
                                return "Vĩnh viễn"
                            }
                            else {
                                return data + " tháng";
                            }

                        }
                    },
                    { "data": "KieuChungChi", "name": "KieuChungChi" },
                     {"data": "MaChungChi", "render": function (data) {
                         return "<a class='waves-effect waves-light btn-small blue darken-2 modal-trigger' data-target='myedit' style='margin-left:5px' onclick=getEditId(" + data + ") ><i class='far fa-edit'></i>Sửa</a>";
                    },
                    "orderable": false,
                    "searchable": false,
                    },
                    {
                    "data": "MaChungChi", "render": function (data) {
                        return "<a class='waves-effect waves-light btn-small red modal-trigger' style='margin-left:5px' onclick=getDeleteId(" + data + ") ><i class='fa fa-trash'></i> Xóa</a>";
                    },
                    "orderable": false,
                    "searchable": false,
                },

                ],
                "language": {
                        emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                        paginate:
                        {
                            previous: "Trang trước",
                            next: "Trang sau",
                            first: "|<",
                            last: ">|"
                        }
                    },
                "autoWidth": false,
                "serverSide": "true",
                "order": [0, "asc"],
                "bLengthChange": false,
                "bFilter": false,
                "bInfo": false,
                "initComplete": function (settings, json) {
                        $("#pre-load").hide("slow", function () {
                        });

                    }
                });
            //employees's certificates
            dataCertificateEmp = $("#table_cert_emp")
                .on('preXhr.dt', function (e, settings, data) {
                    $("#pre-load").show("slow", function () {
                    });
                })
                .DataTable({
                    "bLengthChange": false,
                    "bFilter": false,
                    "bInfo": false,
                    "ajax": {
                        "url": "/phong-tcld/chung-chi/danh-sach-chung-chi-nhan-vien",
                        "type": "POST",
                        "datatype": "json",

                    },
                    "drawCallback": function (settings) {
                        $("#pre-load").hide("slow", function () {
                        });
                    },
                    "columns": [
                        { "data": "SoHieu", "name": "SoHieu" },
                        { "data": "MaNV", "name": "MaNV" },
                        { "data": "TenNV", "name": "TenNV" },
                        { "data": "TenChungChi", "name": "TenChungChi" },
                        {
                            "data": "NgayCap", "name": "NgayCap", "render": function (data) {
                                return dateFormat(data);
                            }
                        },

                        {
                            "data": "SoHieu", "render": function (data) {
                                return "<a class='waves-effect waves-light btn-small blue darken-2 modal-trigger' data-target='edit_employee'  style='margin-left:5px' onclick=getEditIdEmp('" + data + "') ><i class='far fa-edit'></i>Sửa</a>";
                            },
                            "orderable": false,
                            "searchable": false
                        },
                        {
                            "data": "SoHieu", "render": function (data) {
                                return "<a class='waves-effect waves-light btn-small red modal-trigger' style='margin-left:5px' onclick=getDeleteIdEmp('" + data + "') ><i class='fa fa-trash'></i> Xóa</a>";
                            },
                            "orderable": false,
                            "searchable": false
                        },

                    ],
                    "language": {
                        emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                        paginate:
                        {
                            previous: "Trang trước",
                            next: "Trang sau",
                            first: "|<",
                            last: ">|"
                        }
                    },
                    "autoWidth": false,
                    "serverSide": "true",
                    "order": [0, "asc"],
                    "initComplete": function (settings, json) {
                        $("#pre-load").hide("slow", function () {
                        });
                    }
                });
            $("#searchCirtificate").show();
            //set onclick for tab-ccct
            $("#tab-ccct").on("click", () => {
                isSearchCertificate = true;
                $("#searchCirtificate").show();
                $("#searchCirtificateEmployee").hide();
            })
            //set onclick for ccnv
            $("#tab-ccnv").on("click", () => {
                $("#searchCirtificate").hide();
                $("#searchCirtificateEmployee").show();
                isSearchCertificate = false;

            })
            @*var add_success = '@Session["Add"]';
            if (add_success!= null) {

                successAlert('Thêm thành công', '');
            }*@
        });
        // format datetime
        function dateFormat(d) {
            if (d != null && d != "") {
                var dateString = d.substr(6);
                var currentTime = new Date(parseInt(dateString));
                var month = currentTime.getMonth() + 1;
                var day = currentTime.getDate();
                var year = currentTime.getFullYear();
                var date = day + "/" + month + "/" + year;
                return (date);
            }
            else { return d; }

        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $("#pre-load").show("slow", function () {
                });
                $("#pre-load").css("z-index", "99999");
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        dataTable.ajax.reload();
                        dataCertificateEmp.ajax.reload();
                        $("#pre-load").hide("slow", function () {
                        });
                        successAlert('Thành công', '');
                        $(".modal").modal();
                        $("body").css("overflow","");
                        $("#add_cir_emp").load('@Url.Action("AddCertificateEmployee")');
                    },
                    error: function () {
                        errorAlert('Lỗi', 'Thử lại');
                    }
                })
            }
            return false;
        }

        function getDeleteIdEmp(idEmp) {
            deleteIdEmp = idEmp;
            confirmAlert(
                'Bạn có chắc chắn muốn xóa chứng chỉ này?',
                '',
                function ahihi() {
                    DeleteEmp();
                });
        }

        function DeleteEmp() {
            if (deleteIdEmp != null) {

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteCertificateEmp", "Certificate")/' + deleteIdEmp,
                    success: function (data) {
                        if (data.success)
                        {
                            dataCertificateEmp.ajax.reload();
                            dataTable.ajax.reload();
                            successAlert('Thành công', 'Xóa chứng chỉ của nhân viên thành công');
                        }
                        else {
                            errorAlert('Bạn không có quyền hạn này', '');
                        }
                    }
                });
            }

        }

         function getDeleteId(id) {
             deleteId = id;
             confirmAlert(
                 'Bạn có chắc chắn muốn xóa chứng chỉ này?',
                 '',
                 function ahihi() {
                     Delete();
                 });

        }

        function Delete() {
            if (deleteId != null) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteCertificate", "Certificate")/' + deleteId,
                    success: function (data) {
                        if (data.success) {
                            dataTable.ajax.reload();
                            dataCertificateEmp.ajax.reload();
                            $("#add_cir_emp").load('@Url.Action("AddCertificateEmployee")');
                            //$.notify(data.message, {
                            //    globalPosition: "top center",
                            //    className: "success"
                            //})

                            successAlert('Thành công', 'Xóa chứng chỉ thành công');
                        }
                        else {
                            errorAlert('Bạn không có quyền hạn này', '');
                        }
                    }

                });
            }

        }

        function getEditId(id) {
            if (id != null) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("EditCertificate", "Certificate")/' + id,
                    success: function (data) {
                        $("#edit-modal-body").html(data)
                    }

                });
            }

        }
        function getEditIdEmp(id) {
            if (id != null) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("EditCertificateEmp", "Certificate")/' + id,
                    success: function (data) {
                        $("#edit-modal-body-emp").html(data)
                    }

                });
            }

        }

        $("#searchButton").click(function () {
            var name_cirtificate = $("#searchByNameTxt").val();
            var result = name_cirtificate.replace(/\s+/g, " ").trim()
            //alert(result);
            $("#pre-load").show("slow", function () { });
            dataTable.ajax.url('@Url.Action("SearchCertificate", "Certificate")?TenChungChi=' + result).load( () => {
                $("#pre-load").hide("slow", function () { })
                $.notify("Tìm kiếm thành công", {
                                globalPosition: "top center",
                                className: "success"
                            })
            }, true)
        });

        $("#searchEmpButton").click(function () {

            var searchIdTxt = $("#searchIdTxt").val();
            var searchNameCirTxt = $("#searchNameCirTxt").val();
            var searchNameCirEmpTxt = $("#searchNameCirEmpTxt").val();
            var stringArray = new Array();
            stringArray[0] = searchIdTxt;
            stringArray[1] = searchNameCirTxt.replace(/\s+/g, " ").trim();
            stringArray[2] = searchNameCirEmpTxt.replace(/\s+/g, " ").trim();
            //alert(stringArray[0]);
            dataCertificateEmp.ajax.url('@Url.Action("SearchCertificateByNV", "Certificate")?ListSearch=' + stringArray).load(() => {
                $("#pre-load").hide("slow", function () { })
                $.notify("Tìm kiếm thành công", {
                    globalPosition: "top center",
                    className: "success"
                })
            }, true)
        });

        $('#export_excel_certificate').click(function () {
            $('pre-load').show();
            $.ajax({
                type: 'POST',
                url: '/phong-tcld/chung-chi/danh-sach-chung-chi/xuat-file-excel',
                dataType: 'json',
                success: function (response) {
                    if (response.success) {
                        window.location.href = response.location;
                        $("#pre-load").hide("slow", function () { });

                    } else {
                        alert("Lỗi khi tải file");
                    }
                }
            });
            $('pre-load').hide();
        });
        $('#export_excel_certificate_emp').click(function () {
            $('pre-load').show();
            $.ajax({
                type: 'POST',
                url: '/phong-tcld/chung-chi/danh-sach-chung-chi-cua-nhan-vien/xuat-file-excel',
                dataType: 'json',
                success: function (response) {
                    if (response.success) {
                        window.location.href = response.location;
                        $("#pre-load").hide("slow", function () { });

                    } else {
                        alert("Lỗi khi tải file");
                    }
                }
            });
            $('pre-load').hide();
        });
    </script>
}

