@model QUANGHANH_MANUFACTURING.Models.HoSo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sửa hồ sơ</title>
</head>
<body>

    <div id="hoso_edit_model">
        @using (Html.BeginForm("EditHoSo", "Brief", FormMethod.Post, new { onSubmit = "return SubmitForm(this) " }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @*<div class="form-group">
                        <strong for="worker-numb">Trạng thái hố sơ</strong>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TrangThaiHoSo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TrangThaiHoSo, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                <div class="form-group">
                    <strong for="worker-numb">Ngày nhận hồ sơ</strong>
                    <div class="col-md-10">
                        <input id="edit_hoso_ngaynhan" class="form-control" />
                        @Html.EditorFor(model => model.NgayNhanHoSo, new { htmlAttributes = new { @style = "display: none !important", @class = "form-control", @id = "ngaynhan" } })
                        @Html.ValidationMessageFor(model => model.NgayNhanHoSo, "", new { @class = "text-danger" })
                        <p hidden style="color:red" id="message_ngayNhanHoSo1">Không đúng định dạng thời gian (ngày/tháng/năm)</p>
                        <p hidden style="color:red" id="message_ngayNhanHoSo2">Thời gian nhập vào không vượt quá ngày hiện tại</p>
                    </div>
                </div>

                <div class="form-group">
                    <strong for="worker-numb">Người giao hồ sơ</strong>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NguoiGiaoHoSo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NguoiGiaoHoSo, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group">
                    <strong for="worker-numb">Người giữ hồ sơ</strong>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NguoiGiuHoSo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NguoiGiuHoSo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <strong for="worker-numb">Người bàn giao hồ sơ nhập kho</strong>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NguoiBanGiaoBangNhapKho, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NguoiBanGiaoBangNhapKho, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <strong for="worker-numb">Cam kết tuyển dụng</strong>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CamKetTuyenDung, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CamKetTuyenDung, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <strong for="worker-numb">Kiểu quyết định tiếp nhận đơn vị cũ</strong>
                    <div class="col-md-10">
                        @Html.DropDownList("QuyetDinhTiepNhanDVC", (IEnumerable<SelectListItem>)ViewBag.listOptionBrief, "Chọn kiểu Quyết định", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.QuyetDinhTiepNhanDVC, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <strong for="worker-numb">Ngày quyết định tuyển dụng</strong>
                    <div class="col-md-10">
                        <input id="edit_hoso_ngayQD" class="form-control" />
                        @Html.EditorFor(model => model.NgayQuyetDinhTuyenDung, new { htmlAttributes = new { @style = "display: none !important", @class = "form-control", @id = "ngayQD" } })
                        @Html.ValidationMessageFor(model => model.NgayQuyetDinhTuyenDung, "", new { @class = "text-danger" })
                        <p hidden style="color:red" id="message_ngayNhanHoSo11">Không đúng định dạng thời gian (ngày/tháng/năm)</p>
                        <p hidden style="color:red" id="message_ngayNhanHoSo22">Thời gian nhập vào không vượt quá ngày hiện tại</p>
                    </div>
                </div>


                <div class="form-group">
                    <strong for="worker-numb">Ngày đi làm</strong>
                    <div class="col-md-10">
                        <input id="edit_hoso_ngayQdilam" class="form-control" />
                        @Html.EditorFor(model => model.NgayDiLam, new { htmlAttributes = new { @style = "display: none !important", @class = "form-control", @id = "ngaydilam" } })
                        @Html.ValidationMessageFor(model => model.NgayDiLam, "", new { @class = "text-danger" })
                        <p hidden style="color:red" id="message_ngayNhanHoSo111">Không đúng định dạng thời gian (ngày/tháng/năm)</p>
                        <p hidden style="color:red" id="message_ngayNhanHoSo222">Thời gian nhập vào không vượt quá ngày hiện tại</p>
                    </div>
                </div>


                <div class="form-group">
                    <strong for="worker-numb">Đợn vị ký quyết định tiếp nhận</strong>
                    <div class="col-md-10">
                        @Html.DropDownList("DonViKyQuyetDinhTiepNhan", (IEnumerable<SelectListItem>)ViewBag.listDepartmet, "Chọn đơn vị ký quyết định tiếp nhận", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DonViKyQuyetDinhTiepNhan, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <strong for="worker-numb">Kiểu quyết định chấm dứt hợp đồng đơn vị cũ</strong>
                    <div class="col-md-10">
                        @Html.DropDownList("QDChamDutHopDongDVC", (IEnumerable<SelectListItem>)ViewBag.listOptionBrief, "Chọn kiểu hợp đồng", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.QDChamDutHopDongDVC, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <strong for="worker-numb">Ngày quyết định chấm dứt</strong>
                    <div class="col-md-10">
                        <input id="edit_hoso_ngayQDchamdut" class="form-control" />
                        @Html.EditorFor(model => model.NgayQuyetDinhChamDut, new { htmlAttributes = new { @style = "display: none !important", @class = "form-control", @id = "ngayQDchamdut" } })
                        @Html.ValidationMessageFor(model => model.NgayQuyetDinhChamDut, "", new { @class = "text-danger" })
                        <p hidden style="color:red" id="message_ngayNhanHoSo1111">Không đúng định dạng thời gian (ngày/tháng/năm)</p>
                        <p hidden style="color:red" id="message_ngayNhanHoSo2222">Thời gian nhập vào không vượt quá ngày hiện tại</p>
                    </div>
                </div>


                <div class="form-group">
                    <strong for="worker-numb">Ngày chấm dứt</strong>
                    <div class="col-md-10">
                        <input id="edit_hoso_ngaychamdut" class="form-control" />
                        @Html.EditorFor(model => model.NgayChamDut, new { htmlAttributes = new { @style = "display: none !important", @class = "form-control", @id = "ngaychamdut" } })
                        @Html.ValidationMessageFor(model => model.NgayChamDut, "", new { @class = "text-danger" })
                        <p hidden style="color:red" id="message_ngayNhanHoSo11111">Không đúng định dạng thời gian (ngày/tháng/năm)</p>
                        <p hidden style="color:red" id="message_ngayNhanHoSo22212">Thời gian nhập vào không vượt quá ngày hiện tại</p>
                    </div>
                </div>

                <div class="form-group">
                    <strong for="worker-numb">Đơn vị ký quyết định chấm dứt</strong>
                    <div class="col-md-10">
                        @Html.DropDownList("DonViKyQuyetDinhChamDut", (IEnumerable<SelectListItem>)ViewBag.listDepartmet, "Chọn đơn vị ký quyết định chấm dứt", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DonViKyQuyetDinhChamDut, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <strong for="worker-numb">NLD Theo chỉ tiêu CTDT</strong>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NLDHocTheoChiTieuCTDT, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NLDHocTheoChiTieuCTDT, "", new { @class = "text-danger" })
                    </div>
                </div>


                @Html.HiddenFor(model => model.MaNV)

                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Lưu" class="waves-light btn blue darken-2 white-text" id="submit_form_hoso" />
                    </div>
                </div>
            </div>
        }

    </div>
</body>
</html>
<script>
    $(document).ready(function () {

        var date_start_edit1 = $("#ngaynhan").val();
        $("#edit_hoso_ngaynhan").val(formatDate(date_start_edit1));

        $("#edit_hoso_ngaynhan").datepicker({ dateFormat: 'dd/mm/yyyy', changeYear: true });

        var date_start_edit2 = $("#ngayQD").val();
        $("#edit_hoso_ngayQD").val(formatDate(date_start_edit2));

        $("#edit_hoso_ngayQD").datepicker({ dateFormat: 'dd/mm/yyyy', changeYear: true });

        var date_start_edit3 = $("#ngaydilam").val();
        $("#edit_hoso_ngayQdilam").val(formatDate(date_start_edit3));

        $("#edit_hoso_ngayQdilam").datepicker({ dateFormat: 'dd/mm/yyyy', changeYear: true });

        var date_start_edit4 = $("#ngayQDchamdut").val();
        $("#edit_hoso_ngayQDchamdut").val(formatDate(date_start_edit4));

        $("#edit_hoso_ngayQDchamdut").datepicker({ dateFormat: 'dd/mm/yyyy', changeYear: true });

        var date_start_edit5 = $("#ngaychamdut").val();
        $("#edit_hoso_ngaychamdut").val(formatDate(date_start_edit5));

        $("#edit_hoso_ngaychamdut").datepicker({ dateFormat: 'dd/mm/yyyy', changeYear: true });


    });
    $('#submit_form_hoso').click(function () {
        //alert("hahah");
        var ngaycap = $('#edit_hoso_ngaynhan').val();
        var arr = ngaycap.split('/');
        $('#ngaynhan').val(arr[1] + "/" + arr[0] + "/" + arr[2]);
        var ngayquyetdinh = $('#edit_hoso_ngaynhan').val().split('/');;
        $('#ngayQD').val(ngayquyetdinh[1] + "/" + ngayquyetdinh[0] + "/" + ngayquyetdinh[2]);
        var ngaydilam_arr = $('#edit_hoso_ngayQdilam').val().split('/');;
        $('#ngaydilam').val(ngaydilam_arr[1] + "/" + ngaydilam_arr[0] + "/" + ngaydilam_arr[2]);
        var ngayQDchamdut_arr = $('#edit_hoso_ngayQDchamdut').val().split('/');;
        $('#ngayQDchamdut').val(ngayQDchamdut_arr[1] + "/" + ngayQDchamdut_arr[0] + "/" + ngayQDchamdut_arr[2]);
        var ngaychamdut_arr = $('#edit_hoso_ngaychamdut').val().split('/');;
        $('#ngaychamdut').val(ngaychamdut_arr[1] + "/" + ngaychamdut_arr[0] + "/" + ngaychamdut_arr[2]);

    })
    function formatDate(date) {
        if (date != null && date != "") {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [day, month, year].join('/');
        }
        else {
            return date;
        }
    }
    function testDate(str) {
        var t = str.match(/^(\d{2})\/(\d{2})\/(\d{4})$/);
        if (t === null)
            return false;
        var d = +t[1], m = +t[2], y = +t[3];

        // Below should be a more acurate algorithm
        if (m >= 1 && m <= 12 && d >= 1 && d <= 31 && y > 1970 && y < 2100) {
            return true;
        }

        return false;
    }



    $('#edit_hoso_ngaynhan').blur(function () {
        //alert("adasds");
        var today = new Date();
        var date_validate = $('#edit_hoso_ngaynhan').val();

        var arr = date_validate.split('/');
        var dateformat = arr[1] + "/" + arr[0] + "/" + arr[2];
        var d = new Date(dateformat);
        if (date_validate.trim()) {
            if (testDate(date_validate)) {
                $('#message_ngayNhanHoSo1').hide();
                if (today < d) {
                    $('#message_ngayNhanHoSo2').show();
                    $('#submit_form_hoso').attr("disabled", true);
                } else {
                    $('#message_ngayNhanHoSo2').hide();
                    $('#submit_form_hoso').attr("disabled", false);
                }

            }
            else {
                $('#message_ngayNhanHoSo2').hide();
                $('#message_ngayNhanHoSo1').show();
                $('#submit_form_hoso').attr("disabled", true);
            }
        }
        else {
            $('#submit_form_hoso').attr("disabled", false);
            $('#message_ngayNhanHoSo1').hide();
            $('#message_ngayNhanHoSo2').hide();
        }
    });
    $('#edit_hoso_ngayQD').blur(function () {
        //alert("adasds");
        var today = new Date();
        var date_validate = $('#edit_hoso_ngayQD').val();

        var arr = date_validate.split('/');
        var dateformat = arr[1] + "/" + arr[0] + "/" + arr[2];
        var d = new Date(dateformat);
        if (date_validate.trim()) {
            if (testDate(date_validate)) {
                $('#message_ngayNhanHoSo11').hide();
                if (today < d) {
                    $('#message_ngayNhanHoSo22').show();
                    $('#submit_form_hoso').attr("disabled", true);
                } else {
                    $('#message_ngayNhanHoSo22').hide();
                    $('#submit_form_hoso').attr("disabled", false);
                }

            }
            else {
                $('#message_ngayNhanHoSo22').hide();
                $('#message_ngayNhanHoSo11').show();
                $('#submit_form_hoso').attr("disabled", true);
            }
        }
        else {
            $('#submit_form_hoso').attr("disabled", false);
            $('#message_ngayNhanHoSo11').hide();
            $('#message_ngayNhanHoSo22').hide();
        }
    });

    $('#edit_hoso_ngayQdilam').blur(function () {
        //alert("adasds");
        var today = new Date();
        var date_validate = $('#edit_hoso_ngayQdilam').val();

        var arr = date_validate.split('/');
        var dateformat = arr[1] + "/" + arr[0] + "/" + arr[2];
        var d = new Date(dateformat);
        if (date_validate.trim()) {
            if (testDate(date_validate)) {
                $('#message_ngayNhanHoSo111').hide();
                if (today < d) {
                    $('#message_ngayNhanHoSo222').show();
                    $('#submit_form_hoso').attr("disabled", true);
                } else {
                    $('#message_ngayNhanHoSo222').hide();
                    $('#submit_form_hoso').attr("disabled", false);
                }

            }
            else {
                $('#message_ngayNhanHoSo222').hide();
                $('#message_ngayNhanHoSo111').show();
                $('#submit_form_hoso').attr("disabled", true);
            }
        }
        else {
            $('#submit_form_hoso').attr("disabled", false);
            $('#message_ngayNhanHoSo111').hide();
            $('#message_ngayNhanHoSo222').hide();
        }
    });
    $('#edit_hoso_ngayQDchamdut').blur(function () {
        //alert("adasds");
        var today = new Date();
        var date_validate = $('#edit_hoso_ngayQDchamdut').val();

        var arr = date_validate.split('/');
        var dateformat = arr[1] + "/" + arr[0] + "/" + arr[2];
        var d = new Date(dateformat);
        if (date_validate.trim()) {
            if (testDate(date_validate)) {
                $('#message_ngayNhanHoSo1111').hide();
                if (today < d) {
                    $('#message_ngayNhanHoSo2222').show();
                    $('#submit_form_hoso').attr("disabled", true);
                } else {
                    $('#message_ngayNhanHoSo2222').hide();
                    $('#submit_form_hoso').attr("disabled", false);
                }

            }
            else {
                $('#message_ngayNhanHoSo2222').hide();
                $('#message_ngayNhanHoSo1111').show();
                $('#submit_form_hoso').attr("disabled", true);
            }
        }
        else {
            $('#submit_form_hoso').attr("disabled", false);
            $('#message_ngayNhanHoSo1111').hide();
            $('#message_ngayNhanHoSo2222').hide();
        }
    });
    $('#edit_hoso_ngaychamdut').blur(function () {
        //alert("adasds");
        var today = new Date();
        var date_validate = $('#edit_hoso_ngaychamdut').val();

        var arr = date_validate.split('/');
        var dateformat = arr[1] + "/" + arr[0] + "/" + arr[2];
        var d = new Date(dateformat);
        if (date_validate.trim()) {
            if (testDate(date_validate)) {
                $('#message_ngayNhanHoSo1111').hide();
                if (today < d) {
                    $('#message_ngayNhanHoSo2222').show();
                    $('#submit_form_hoso').attr("disabled", true);
                } else {
                    $('#message_ngayNhanHoSo2222').hide();
                    $('#submit_form_hoso').attr("disabled", false);
                }

            }
            else {
                $('#message_ngayNhanHoSo2222').hide();
                $('#message_ngayNhanHoSo1111').show();
                $('#submit_form_hoso').attr("disabled", true);
            }
        }
        else {
            $('#submit_form_hoso').attr("disabled", false);
            $('#message_ngayNhanHoSo1111').hide();
            $('#message_ngayNhanHoSo2222').hide();
        }
    });
</script>