@model QUANGHANH_MANUFACTURING.Models.GiayTo

@{
    ViewBag.Title = "Edit";
    Layout = null;
}

@using (Html.BeginForm("suaGiayTo", "Brief", FormMethod.Post, new
{
    enctype = "multipart/form-data",
    onSubmit = "return UpdateEquipment(this);",
    data_restUrl = Url.Action("suaGiayTo", "Brief")
}))
{   <div id="edit-modal-body">
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.MaGiayTo)
        <div class="form-horizontal row">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" hidden>
                @Html.LabelFor(model => model.MaNV, "MaNV", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MaNV, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MaNV, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TenGiayTo,"Tên giấy tờ" ,htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TenGiayTo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenGiayTo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.KieuGiayTo,"Kiểu giấy tờ" ,htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.KieuGiayTo, new SelectList(ViewBag.kindODoc, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.KieuGiayTo, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(model => model.MaGiayTo)
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Cập nhật" class="waves-effect waves-light btn-small blue modal-trigger modal-close" />
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}










