@{
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/assets/extra-libs/c3/c3.min.css">
<link href="~/assets/extra-libs/prism/prism.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/tuan_css/css/baocaoluong_css/style.css" />
<link href="~/assets/extra-libs/css-chart/css-chart.css" rel="stylesheet">
<link href="~/dist/css/pages/easy-pie-chart.css" rel="stylesheet">

<script>
    $(function () {
        $("#dateforsearch").datepicker({
            onSelect: function () {
                window.location = "/phong-tcld/nang-suat-lao-dong-va-tien-luong/nang-suat-lao-dong-va-tien-luong-theo-cac-px-trong-ngay?date=" + $("#dateforsearch").val();
            }
        })
    });
    $(document).ready(function () {
        $("#dateforsearch").val("@string.Format("{0:dd/MM/yyyy}", System.DateTime.Now)");
        $("#ngayreport").val("@string.Format("{0:dd/MM/yyyy}", System.DateTime.Now)");
        var url_string = window.location.href;
        var url = new URL(url_string);
        var date = url.searchParams.get("date");
        if (date != null) {
            $("#dateforsearch").val(date);
            $("#ngayreport").text(date);
        }
    });
</script>

<div class="card">
    <div class="card-content">
        <div class="row">
            <h3 class="report_title">
                <B>BÁO CÁO THỰC HIỆN LAO ĐỘNG, TIỀN LƯƠNG CÔNG NHÂN TRỰC TIẾP </B>
                <br />
                <i class="fas fa-calendar-alt icon"></i>
                <input type="text"
                       id="dateforsearch"
                       class="datepicker-here center"
                       data-language='vi'
                       data-min-view="days"
                       data-view="days"
                       data-date-format="dd/mm/yyyy" value="" />
                <br /><br />

            </h3>
            <hr />
        </div>
        <div class="row">
            <div id="bangchitiet" class="col s12">
                <div class="report_container">
                    <div class="row">
                    </div>
                    <div class="row table_container">
                        <div class="col l12">
                            <table class="table table-bordered striped table-responsive">
                                <thead>
                                    <tr>
                                        <th rowspan="4">STT</th>
                                        <th rowspan="4">Đơn vị</th>
                                        <th rowspan="4">Cán bộ QL</th>
                                        <th colspan="4">LĐTT theo DS</th>
                                        <th colspan="4">LĐTT nghỉ dài</th>
                                        <th rowspan="3">Tổng<br />LĐTT<br />sau trừ<br />nghỉ<br />ốm dài</th>
                                        <th colspan="6">Lao động thực hiện BQ</th>
                                        <th rowspan="3">Tỷ lệ<br />huy<br />động (%)</th>
                                        <th colspan="3">Sản lượng TH</th>
                                        <th colspan="2">Điểm lương</th>
                                        <th colspan="2">NSLĐ</th>
                                    </tr>
                                    <tr>
                                        <th rowspan="2">Tổng số</th>
                                        <th rowspan="2">KT</th>
                                        <th rowspan="2">CĐ</th>
                                        <th rowspan="2">HSTT</th>
                                        <th rowspan="2">Tổng số</th>
                                        <th rowspan="2">VLD</th>
                                        <th rowspan="2">TH HĐ</th>
                                        <th rowspan="2">Ốm,<br />TNLĐ</th>
                                        <th rowspan="2">LĐBQ Đi làm</th>
                                        <th colspan="5">LĐ vắng</th>
                                        <th rowspan="2">Than</th>
                                        <th rowspan="2">Mét lò</th>
                                        <th rowspan="2">Xén</th>
                                        <th rowspan="2">Tổng số</th>
                                        <th rowspan="2">TL BQ<br />(1000đ/công)</th>
                                        <th rowspan="2">TH</th>
                                        <th rowspan="2">KH</th>
                                    </tr>
                                    <tr>
                                        <th>Tổng số</th>
                                        <th>VLD</th>
                                        <th>Ốm</th>
                                        <th>Có phép</th>
                                        <th>Khác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var count = 1;}
                                    @foreach (QUANGHANH_MANUFACTURING.Models.BaoCaoNgayDB item in ViewBag.TatCaDonVi)
                                    {
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.department_id</td>
                                            <td>@item.QL</td>
                                            <td>@item.Tong</td>
                                            <td>@item.KT</td>
                                            <td>@item.CD</td>
                                            <td>@item.HSTT</td>
                                            <td>@item.tong_nghidai</td>
                                            <td>@item.nghidai_vld</td>
                                            <td>@item.nghidai_thhd</td>
                                            <td>@item.nghidai_om_tnld</td>
                                            <td>@item.tong_ldtt_sau_tru_dai</td>

                                            <td>@item.dilam</td>
                                            <td>@item.vang</td>
                                            <td>@item.vld</td>
                                            <td>@item.om</td>
                                            <td>@item.phep</td>
                                            <td>@item.khac</td>

                                            <td>@(Math.Round(item.Tong != 0 ? (double)item.dilam / item.tong_ldtt_sau_tru_dai * 100 : 0, 2))</td>

                                            <td>@item.than</td>
                                            <td>@item.metlo</td>
                                            <td>@item.xen</td>
                                            <td>@item.diemluong</td>
                                            <td>@item.tlbq_diemluong</td>
                                            <td>@item.nsld_thuchien</td>
                                            <td>@item.nsld_kehoach</td>
                                        </tr>
                                        { count++; }
                                    }
                                    <tr>
                                        <td class="total_row" colspan="2"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>
                                        <td class="total_row"></td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="export_btn_container">
                                <a class="waves-effect waves-light btn blue" id="export-button">Xuất ra file excel</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l12">
                            <h3>TỔNG HỢP BÁO CÁO: </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="summary_container">
                            <div class="col l6 summary_left">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th class="total_row">Tổng số lao động đến ngày <span id="ngayreport"></span>: </th>
                                            <td class="total_row">@ViewBag.TatCaDonViFooter.tong_ldtt_theo_ds</td>
                                        </tr>
                                        <tr>
                                            <th>CBQL</th>
                                            <td>@ViewBag.TatCaDonViFooter.cbql</td>
                                        </tr>
                                        <tr>
                                            <th>KT</th>
                                            <td>@ViewBag.TatCaDonViFooter.kt</td>
                                        </tr>
                                        <tr>
                                            <th>CĐ</th>
                                            <td>@ViewBag.TatCaDonViFooter.cd</td>
                                        </tr>
                                        <tr>
                                            <th>HSTT</th>
                                            <td>@ViewBag.TatCaDonViFooter.hstt</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col l6 summary_right">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th class="total_row">Tổng số lao động nghỉ ốm dài: </th>
                                            <td class="total_row">@ViewBag.TatCaDonViFooter.om_tnld_dai</td>
                                        </tr>
                                        <tr>
                                            <th>LĐ nghỉ VLD dài</th>
                                            <td>@ViewBag.TatCaDonViFooter.vld_dai</td>
                                        </tr>
                                        <tr>
                                            <th>LĐ tham gia sx</th>
                                            <td>@ViewBag.TatCaDonViFooter.tong_ldtt_theo_ds</td>
                                        </tr>
                                        <tr>
                                            <th>LĐ BQ thực tế đi làm BQ 1 ngày</th>
                                            <td>@ViewBag.TatCaDonViFooter.ldbq_di_lam</td>
                                        </tr>
                                        <tr>
                                            <th>LĐ nghỉ các loại không tham gia SXBQ 1 ngày</th>
                                            <td>@ViewBag.TatCaDonViFooter.tongso_ld_vang</td>
                                        </tr>
                                        <tr>
                                            <th>Tỷ lệ huy động</th>
                                            <td>@ViewBag.TatCaDonViFooter.tyle_huydong</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.clickable_cell').click(function () {
        var idName = $(this).attr('id');
        switch (idName) {
            case 'ldtdd_kt':
                $('.modal_title').html('LAO ĐỘNG KHAI THÁC THỰC TẾ THEO DANH SÁCH');
                break;
            case 'ldtdd_cd':
                $('.modal_title').html('LAO ĐỘNG CƠ ĐIỆN THỰC TẾ THEO DANH SÁCH');
                break;
            case 'ldtdd_hstt':
                $('.modal_title').html('LAO ĐỘNG HSTT THỰC TẾ THEO DANH SÁCH');
                break;
            case 'ldtdd_tong':
                $('.modal_title').html('TỔNG LAO ĐỘNG THỰC TẾ THEO DANH SÁCH');
                break;
            case 'ldnghidai_vld':
                $('.modal_title').html('DANH SÁCH LAO ĐỘNG NGHỈ DÀI VÔ LÝ DO');
                break;
            case 'ldnghidai_thhd':
                $('.modal_title').html('DANH SÁCH LAO ĐỘNG NGHỈ DÀI THHĐ');
                break;
            case 'ldnghidai_om':
                $('.modal_title').html('DANH SÁCH LAO ĐỘNG NGHỈ DÀI ỐM, TNLĐ');
                break;
            case 'ldnghidai_tong':
                $('.modal_title').html('TỔNG LAO ĐỘNG NGHỈ DÀI');
                break;
            case 'tonglaodong':
                $('.modal_title').html('TỔNG LAO ĐỘNG SAU KHI TRỪ');
                break;
            case 'ldbq_tong':
                $('.modal_title').html('TỔNG LAO ĐỘNG THỰC HIỆN BQ');
                break;
            case 'ldbq_dilam':
                $('.modal_title').html('DANH SÁCH LAO ĐỘNG BQ ĐI LÀM');
                break;
            case 'ldbq_ldvang_vld':
                $('.modal_title').html('DANH SÁCH LAO ĐỘNG THỰC HIỆN BQ NGHỈ VÔ LÝ DO');
                break;
            case 'ldbq_ldvang_om':
                $('.modal_title').html('DANH SÁCH LAO ĐỘNG THỰC HIỆN BQ NGHỈ ỐM');
                break;
            case 'ldbq_ldvang_khac':
                $('.modal_title').html('DANH SÁCH LAO ĐỘNG THỰC HIỆN BQ NGHỈ VỚI LÝ DO KHÁC');
                break;
            case 'ldbq_ldvang_tong':
                $('.modal_title').html('DANH SÁCH TỔNG HỢP LAO ĐỘNG THỰC HIỆN BQ NGHỈ');
                break;
            default:
                break;
        }
    });
    var elem = document.querySelector('.modal');
    var instance = M.Modal.init(elem, options);
</script>
<script src="~/assets/libs/chart.js/dist/Chart.min.js"></script>
<script src="~/assets/extra-libs/prism/prism.js"></script>
<!-- This page plugin js -->
<!-- ============================================================== -->
<script src="~/assets/extra-libs/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
<script src="~/assets/extra-libs/jquery.easy-pie-chart/easy-pie-chart.init.js"></script>
<script src="~/assets/extra-libs/sparkline/sparkline.js"></script>
<script src="~/dist/js/pages/sparkline/jquery.charts-sparkline.js"></script>
<script>
    $("#export-button").click(function () {
        var date = document.getElementById("dateforsearch").value;
        $("#pre-load").show();
        $.ajax({
            type: 'Post',
            url: '/phong-tcld/nang-suat-lao-dong-va-tien-luong/nang-suat-lao-dong-va-tien-luong-theo-cac-px-trong-ngay/excel?date=' + date,
        }).done(function () {
            window.location.href = '/excel/TCLD/download/Báo cáo năng suất lao động và tiền lương theo các phân xưởng theo ngày.xlsx';
            $("#pre-load").hide("slow", function () {
            });
        });
    });
</script>
<script>
    $('#dateforsearch').datepicker({
        language: 'vi',
        maxDate: new Date() - 1 // Now can select only dates, which goes after today
    })
    $(document).ready(function () {
        $('.datepicker-inline').remove();
    });
</script>
