
@{
    ViewBag.Title = "InputCharcoal";
    Layout = "~/Views/Shared/_Layout_DK.cshtml";
}

<link href="~/assets/Custom css/TABLE_BORDERED.css" rel="stylesheet" />
<link href="~/assets/Custom css/form-input-border.css" rel="stylesheet" />
@using (Html.BeginForm("SaveChange", "Input", FormMethod.Post, new
{
    enctype = "multipart/form-data",
    onSubmit = "return SaveChange(this);",
    data_restUrl = Url.Action("SaveChange", "Input")
}))
{
    <style>
        /*.first-row {
            padding-left: 86px !important;
        }*/
    </style>
    <div class="card">
        <div class="card-content">
            <div class="row">
                <h3 class="center">NHẬP LIỆU SẢN XUẤT</h3>
                <div class="row center">
                    <div class="input-field col s3 m3 l1"></div>
                    <div class="input-field col s3 m3 l2">
                        <button class="modal-trigger btn btn-small darken-2 blue" data-target="addsnlv" id="butsnlv">Nhập ngày sản xuất</button>
                        <button class="modal-trigger btn btn-small darken-2 blue" data-target="editsnlv" id="butsnlvedit">Sửa ngày sản xuất</button>
                    </div>
                    <div class="input-field col l2 m2 s2">
                        <input readonly id="ngaySanXuat" name="ngaySX" value="@ViewBag.NgaySX" required autocomplete="off" class="form-control center" onchange="percentOnchange()" placeholder="NgàySX" onchange="onChangeAll()" />
                    </div>
                    <div class="input-field col l2 m2 s2">
                        <input id="SoNgaySX" class="form-control center" value="@ViewBag.SoNgaySX" readonly />
                    </div>
                    <div class="input-field col l2 m2 s2">
                        <input id="phanTramNgay" class="form-control center" value="" readonly />
                    </div>
                    <div class="input-field col s3 m3 l3"></div>
                </div>
                <div class="row center">
                    <div class="input-field col s3 m3 l3"></div>
                    <div class="input-field col s6 m6 l6" id="process" style="font-size:larger">
                        Kế hoạch còn lại: <span id="ngaySXconlai"></span> ngày - Số ngày SX:<span id="ngaySXhientai"></span>/<span id="tongNgaySX"></span> ngày đạt <span id="tiendoNgay"></span>%
                    </div>
                    <div class="input-field col s3 m3 l3"></div>
                </div>
                <div class="input-field col l3 m12 s12">
                    <input type="text" placeholder="Ngày" value="@ViewBag.NgayNhap" autocomplete="off" class='form-control date-click center' id="dateInput" name="ngayNhap" multiple />
                </div>
                <div class="input-field col l3 m12 s12">
                    <select class="form-control" id="cbx-px" name="px_value">
                        <option value="default-px" disabled selected>Phân xưởng</option>
                        @foreach (var px in ViewBag.listDepartments)
                        {
                            <option value="@px.department_id">@px.department_name</option>
                        }
                    </select>
                </div>
                <div class="input-field col l3 m12 s12">
                    <select class="form-control" id="cbx-group" name="ca_value">
                        <option value="1">Ca 1</option>
                        <option value="2">Ca 2</option>
                        <option value="3">Ca 3</option>
                    </select>
                </div>
                <div class="input-field col l3 m12 s12">
                    <a id="changeButton" disabled class="btn btn-small darken-2 blue" style="width:100%!important" onclick="change()">Đổi</a>
                </div>
                <div class="row">
                    <div class="col s12 m12 l12 table_container">
                        <table class="table-kt table-bordered table-input" id="Mytable">
                            <thead>
                                <tr>
                                    <th class="tieu-chi" rowspan="2">Tiêu chí</th>
                                    @*<th class="moi-them" rowspan="2">BQKH<br />tháng</th>
                                        <th class="moi-them" rowspan="2">Tiết<br />diện<br />đào</th>
                                        <th class="moi-them" rowspan="2">Bước<br />chống</th>
                                        <th class="moi-them" rowspan="2">Công nghệ<br />khai thác</th>*@
                                    <th class="moi-them" rowspan="2">Đơn<br />vị<br />đo</th>
                                    <th class="nhap-lieu" id="dayMonthDis" colspan="5">
                                        Ngày @if (ViewBag.day != null)
                                        {@ViewBag.day;
                                    }
                                    else
                                    { @DateTime.Now.Day} tháng
                                        @if (ViewBag.month != null)
                                        {@ViewBag.month;
                                    }
                                    else
                                    { @DateTime.Now.Month}
                                    </th>
                                    <th class="nhap-lieu" id="monthDis" colspan="2">
                                        Tháng
                                        @if (ViewBag.month != null)
                                        {@ViewBag.month;
                                    }
                                    else
                                    { @DateTime.Now.Month}
                                    </th>
                                    <th class="nhap-lieu" colspan="2">Còn lại</th>
                                    <th class="ghi-chu" rowspan="2">Ghi chú</th>
                                </tr>
                                <tr>
                                    <th>Thực hiện</th>
                                    <th>Kế hoạch</th>
                                    <th>Chênh lệch</th>
                                    <th>Phần trăm<br />hoàn thành</th>
                                    <th>Lũy kế</th>
                                    <th>Kế hoạch</th>
                                    <th>Phần trăm<br />tiến độ</th>
                                    <th>Tổng</th>
                                    <th>1 ngày</th>
                                </tr>
                            </thead>
                            <tbody id="table-input-body">
                            </tbody>
                        </table>
                    </div>
                    <input type="hidden" id="luyKe" value="@ViewBag.luyKe" />

                    <button class="btn blue darken-2" type="submit">Lưu</button>
                </div>
            </div>
        </div>
    </div>

}

<div class="modal" id="addsnlv">
    <div class="card">
        <div class="card-content">
            <div class="modal-header row">
                <h4 class="col l6">Nhập ngày sản xuất hôm nay</h4>
                <input id="nsx" class="form-control col l6" type="text"/>
                @*<button id="butluu">Lưu</button>*@
            </div>

        </div>
        <div class="modal-footer">
            <button id="butluu" class="btn blue modal-close">Lưu</button>
        </div>
    </div>
</div>

<div class="modal" id="editsnlv">
    <div class="card">
        <div class="card-content">
            <div class="modal-header row">
                <h4 class="col l6">Chỉnh sửa ngày sản xuất hôm nay</h4>
                <input id="nsx_edit" class="form-control col l6" type="text" />
                @*<button id="butluu">Lưu</button>*@
            </div>

        </div>
        <div class="modal-footer">
            <button id="butluu_edit" class="btn blue modal-close">Lưu</button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('select').formSelect();
    });
</script>
<script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>
<script src="~/js/Custom JS/Disable_input_material.js"></script>
<script src="~/js/Custom JS/form-input-border.js"></script>
<script src="~/js/Custom JS/DK/InputCharcoal/AddRow.js"></script>

<script>
    $(document).ready(function () {
        var ngaySanXuat = document.getElementById('ngaySanXuat').value;
        var SoNgaySX = document.getElementById('SoNgaySX').value;
        var phanTramNgay = document.getElementById('phanTramNgay').value;
    });
    window.onbeforeunload = function () {
        $('li .active').removeClass('active')
        return 'You have unsaved changes!';
    }

    $(document).ready(function () {
        $("#process").hide();
        var check = $('#ngaySanXuat').val();
        if (check == "0") {
            $("#butsnlv").click();
            $("#butsnlvedit").hide();
        }
        else {
            $("#butsnlv").hide();
            $("#butsnlvedit").show();
        }
        $(".date-click").datepicker({
            onSelect: function (dateText) {
            }
        });
        $('#cbx-px').change(function () {
            if ($('#cbx-px').val() != null && $('#dateInput').val() != null) {
                $('#changeButton').removeAttr("disabled");
            }
        })
    })

    var ngaysx = '@ViewBag.SoNgaySX'
    if ($("#nsx").val() >= 1 && $("#nsx").val() <= parseInt(ngaysx)) {
        $("#butluu").prop('disabled', true)
    }
    if ($("#nsx_edit").val() >= 1 && $("#nsx_edit").val() <= parseInt(ngaysx)) {
        $("#butluu_edit").prop('disabled', true)
    }
    accept_Keycode = [97, 98, 99, 100, 101, 102, 103, 104, 105, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 8, 37, 40, 39, 38]
    $("#nsx").keydown(function (e) {
        if (!accept_Keycode.includes(e.keyCode)) {
            e.preventDefault()
        }
    })
    $("#nsx").keyup(function (e) {
        let temp = $("#nsx").val();
        if (temp >= 1 && temp <= parseInt(ngaysx)) {
            $("#butluu").prop('disabled', false)
        } else {
            $("#butluu").prop('disabled', true)
        }
    })
    $("#nsx_edit").keydown(function (e) {
        if (!accept_Keycode.includes(e.keyCode)) {
            e.preventDefault()
        }
    })
    $("#nsx_edit").keyup(function (e) {
        let temp = $("#nsx_edit").val();
        if (temp >= 1 && temp <= parseInt(ngaysx)) {
            $("#butluu_edit").prop('disabled', false)
        } else {
            $("#butluu_edit").prop('disabled', true)
        }
    })
    //////////////////////////////////////////////////////////////////////////////////////////////

    $("#butsnlvedit").click(function () {
        var data = $('#ngaySanXuat').val();
        $("#nsx_edit").val(data);
    });

    $("#butluu").click(function () {
        $("#pre-load").show();
        $.ajax({
            type: "POST",
            url: "/phong-dieu-khien/nhapnsx",
            data: {
                "nsx": $("#nsx").val(),
                "ngay": $("#dateInput").val(),
            },
            success: function (response) {
                if (response.success == true) {
                    $("#ngaySanXuat").val($("#nsx").val());
                    successAlert(response.title, response.message);
                    $("#butsnlv").hide();
                    $("#butsnlvedit").show();
                    $("#pre-load").hide();
                }
                else {
                    errorAlert(response.title, response.message);
                    $("#pre-load").hide();
                }
            }
        });
    });

    $("#butluu_edit").click(function () {
        $("#pre-load").show();
        $.ajax({
            type: "POST",
            url: "/phong-dieu-khien/editnsx",
            data: {
                "nsx": $("#nsx_edit").val(),
                "ngay": $("#dateInput").val(),
            },
            success: function (response) {
                if (response.success == true) {
                    $("#ngaySanXuat").val($("#nsx_edit").val());
                    successAlert(response.title, response.message);
                    $("#butsnlv").hide();
                    $("#butsnlvedit").show();
                    $("#pre-load").hide();
                }
                else {
                    errorAlert(response.title, response.message);
                    $("#pre-load").hide();
                }
            }
        });
    });

    function change() {
        if ($('#dateInput').val() != "") {
            confirmAlert("Dữ liệu chưa được lưu?", "Xác nhận đổi",
                function () {
                    $("#pre-load").show("slow", function () {
                    });
                    $("#pre-load").css("z-index", "99999");
                    var px_value = $('#cbx-px').val();
                    var date = $('#dateInput').val();
                    var ca_value = $('#cbx-group').val();
                    $.ajax({
                        type: 'POST',
                        url: '/change',
                        dataType: 'json',
                        data: { 'px_value': px_value, 'date': date, 'ca_value': ca_value },
                        success: function (response) {
                            if (response.success == true) {
                                $("#process").show();
                                $("#ngaySanXuat").val(response.NgaySX);
                                $("#ngaySXhientai").text(response.NgaySX);
                                $("#SoNgaySX").val(response.dateSX);
                                $("#tongNgaySX").text(response.dateSX);
                                $("#dayMonthDis").empty();
                                var check = $('#ngaySanXuat').val();
                                if (check == "0") {
                                    $("#butsnlv").click();
                                    $("#butsnlvedit").hide();
                                }
                                else {
                                    $("#butsnlv").hide();
                                    $("#butsnlvedit").show();
                                }
                                document.getElementById("dayMonthDis").innerHTML = "Ngày " + response.ngay + " tháng " + response.thang;
                                $("#monthDis").empty();
                                document.getElementById("monthDis").innerHTML = "Tháng " + response.thang;
                                $("#table-input-body").empty();
                                for (i = 0; i < response.listSXLoad.length; i++) {
                                    $("#table-input-body").append("<tr>");
                                    $("#table-input-body").append('<th><input class="center" readonly style="border:none" name="tenTieuChi" value="' + response.listSXLoad[i].TenTieuChi + '"/></th>');
                                    $("#table-input-body").append("<th>" + response.listSXLoad[i].DonViDo + "</th>");
                                    $("#table-input-body").append('<td><input class="center" required value="' + response.listSXLoad[i].SanLuong + '" id="thucHien' + i + '" autocomplete="off" style="border:none" name="thucHien" onchange="THOnchange(' + i + ')"/></td>' +
                                        '<td><input class="center" required value="' + response.listSXLoad[i].KeHoach + '"   id="keHoach' + i + '" autocomplete="off" style="border:none" name="keHoach" onchange="KHOnchange(' + i + ')" /></td>' +
                                        '<td><input class="center" value="' + response.listSXLoad[i].chenhlech + '" readonly id="chenhLech' + i + '" autocomplete="off" style="border:none" name="chenhLech" /></td>' +
                                        '<td><input class="center" value="' + response.listSXLoad[i].percentDay + '" readonly id="phanTramHT' + i + '" autocomplete="off" style="border:none" name="phanTramHT" /></td>' +
                                        '<td><input class="center"  readonly id="luyKe' + i + '" value="' + response.listSXLoad[i].luyke_temp + '" autocomplete="off" style="border:none" name="luyKe" />' +
                                        ' <input type="hidden" id="luyKeHidden' + i + '" value="' + response.listSXLoad[i].LuyKe + '" /></td > ' +
                                        '<td><input class="center" required value="' + response.listSXLoad[i].KHDC + '"  id="KHDC' + i + '"  autocomplete="off" style="border:none" name="KHDC" onchange="KHDCOnchange(' + i + ')"/></td>' +
                                        '<td><input class="center" value="' + response.listSXLoad[i].percentMonth + '" readonly id="phanTramTD' + i + '"  autocomplete="off" style="border:none" name="phanTramTD" /></td>' +
                                        '<td><input class="center" value="' + response.listSXLoad[i].tong + '" readonly id="tong' + i + '" autocomplete="off" style="border:none" name="tong" /></td>' +
                                        '<td><input class="center" value="' + response.listSXLoad[i].OneDay + '" readonly id="motNgay' + i + '" autocomplete="off" style="border:none" name="motNgay" /></td>' +
                                        '<td><input class="center"  value="' + response.listSXLoad[i].GhiChu + '"  autocomplete="off" class="input-field" style="border:none" name="ghiChu" /></td>');
                                    $("#table-input-body").append("</tr>");
                                }
                                $("#pre-load").hide("slow", function () {
                                });
                                var ngaySx = document.getElementById('ngaySanXuat').value;
                                var soNgaySx = document.getElementById('SoNgaySX').value;
                                if (ngaySx != '' && soNgaySx != '') {
                                    var phanTram = ngaySx / soNgaySx * 100;
                                    document.getElementById('phanTramNgay').value = Math.round(phanTram, 2) + '%';
                                    $("#tiendoNgay").text(Math.round(phanTram, 2));

                                }
                                $("#ngaySXconlai").text(response.dateSX - response.NgaySX);
                                successAlert("Thành công", "Đổi thành công");
                            } else {
                                $("#pre-load").hide("slow", function () {
                                });
                                $("#table-input-body").empty();
                                errorAlert("Có lỗi", response.message)
                            }

                        }
                    })
                }
            );
        } else {
            errorAlert("Có lỗi", "Chưa nhập ngày");
        }
    }
</script>
<script>

    function onChangeAll() {
        var table = document.getElementById("Mytable").rows.length;
        table = table - 2;
        var dataX = document.getElementById('SoNgaySX').value;
        var dataY = document.getElementById('ngaySanXuat').value;
        if (parseInt(dataY) < parseInt(dataX)) {
            for (var i = 0; i < table; i++) {
                THOnchange(i);
                KHDCOnchange(i);
            }
        } else {
            for (var i = 0; i < table; i++) {
                document.getElementById('motNgay' + i).value = document.getElementById('tong' + i).value;
            }
        }
    }


    function THOnchange(i) {
        var ngaySX = document.getElementById("ngaySanXuat").value;
        var tongNgaySX = document.getElementById("SoNgaySX").value;
        var TH = 0;
        var KH = 0;
        if (document.getElementById("thucHien" + i).value == "") {
            TH = 0;
        } else {
            TH = document.getElementById("thucHien" + i).value;
        } if (document.getElementById("keHoach" + i).value == "") {
            KH = 0;
        } else {
            KH = document.getElementById("keHoach" + i).value;
        }
        document.getElementById("chenhLech" + i).value = (TH - KH).toFixed(1);
        if (KH != 0) {
            document.getElementById("phanTramHT" + i).value = ((TH / KH) * 100).toFixed(1);
        }

        var LK = parseInt(document.getElementById("luyKeHidden" + i).value);
        document.getElementById("luyKe" + i).value = LK + parseInt(TH);

        var KHDC = document.getElementById("KHDC" + i).value;
        var LK = parseInt(document.getElementById("luyKe" + i).value);
        if (KHDC != 0) {
            document.getElementById("phanTramTD" + i).value = ((LK / KHDC) * 100).toFixed(1);
        }

        document.getElementById("tong" + i).value = KHDC - LK;

        document.getElementById("motNgay" + i).value = ((KHDC - LK) / (tongNgaySX - ngaySX)).toFixed(1);


    }

    function KHOnchange(i) {
        var TH = document.getElementById("thucHien" + i).value;
        var KH = document.getElementById("keHoach" + i).value;
        document.getElementById("chenhLech" + i).value = (TH - KH).toFixed(1);
        if (KH != 0) {
            document.getElementById("phanTramHT" + i).value = ((TH / KH) * 100).toFixed(1);
        }
    }

    function KHDCOnchange(i) {
        var ngaySX = document.getElementById("ngaySanXuat").value;
        var tongNgaySX = document.getElementById("SoNgaySX").value;
        var KHDC = document.getElementById("KHDC" + i).value;
        var LK = parseInt(document.getElementById("luyKe" + i).value);
        if (KHDC != 0) {
            document.getElementById("phanTramTD" + i).value = ((LK / KHDC) * 100).toFixed(1);
        }
        document.getElementById("tong" + i).value = KHDC - LK;
        document.getElementById("motNgay" + i).value = ((KHDC - LK) / (tongNgaySX - ngaySX)).toFixed(1);

    }

    function NgaySXOnchange() {

    }

</script>
<script>
    function SaveChange(form) {
        $.validator.unobtrusive.parse(form);
        if ($(form).valid()) {
            $.ajax({
                type: "POST",
                url: form.action,
                data: $(form).serialize(),
                success: function (data) {
                    if (data.success == true) {
                        successAlert('Thành công', 'Thêm thành công');
                    } else if (data.success == "dataSuck") {
                        errorAlert('Có lỗi', 'Dữ liệu bị hổng');
                    } else {
                        errorAlert('Có lỗi', 'Thêm không thành công');
                    }
                }
            });

        }
        return false;
    }
    function percentOnchange() {
        var ngaySx = document.getElementById('ngaySanXuat').value;
        var soNgaySx = document.getElementById('SoNgaySX').value;
        if (ngaySx != '' && soNgaySx != '') {
            var phanTram = ngaySx / soNgaySx * 100;
            document.getElementById('phanTramNgay').value = Math.round(phanTram, 2) + '%';
        }
    }

</script>
