@model QUANGHANH2.Modals.LichSuBoSungSYLL

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sửa lịch sử bổ sung</title>
</head>
<body>
    <div id="edit_LichSuBoSung">

        @using (Html.BeginForm("EditLichSuBoSung", "Brief", FormMethod.Post, new { onSubmit = "return SubmitForm(this) " }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.NamBoSung)

                @Html.HiddenFor(model => model.DotBoSung)

                <div class="form-group">
                    <strong for="worker-numb">Mã nhân viên</strong>
                    <div class="col-md-10">
                        @*@Html.DropDownList("MaNV", null, htmlAttributes: new { @class = "form-control" })*@
                        @Html.ValidationMessageFor(model => model.MaNV, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>    
</body>
</html>
