@model QUANGHANH2.Models.QuanHeGiaDinh

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditQuanHeGiaDinh</title>
</head>
<body>

    <div id="edit_chitietbangcap">

        @using (Html.BeginForm("EditQuanHeGiaDinh", "Brief", FormMethod.Post, new { onSubmit = "return SubmitForm(this) " }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>QuanHeGiaDinh</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.LoaiGiaDinh)

                @Html.HiddenFor(model => model.MoiQuanHe)

                <div class="form-group">
                    @Html.LabelFor(model => model.NgaySinh, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LyLich, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LyLich, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LyLich, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.HiddenFor(model => model.MaNV)

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

    </div>
</body>
</html>
