
@{
    ViewBag.Title = "WorkWorkGroup";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}

<div class="card">
    <div class="card-content">
        <div class="row">
            <h3 class="center"><b>QUẢN LÝ CÔNG VIÊC - NHÓM CÔNG VIỆC</b></h3>
            <div>
                <a class="waves-effects waves-light btn blue darken-2 btn-small input-field modal-trigger" href="#modal_them_CongViec_NhomCongViec">Thêm</a>
            </div>
            <div>
                <table id="congviec_nhomcongviec" class="table table-bordered responsive-table center">
                    <thead>
                        <tr>
                            <th>Tên công việc</th>
                            <th>Tên nhóm công việc</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<!---------Modal them_CongViec_NhomCongViec--------->
<div class="modal" id="modal_them_CongViec_NhomCongViec">
    <div class="modal-content">
        <h4 class="center"><b>Thêm công việc - nhóm công việc</b></h4>
        <div class="row">
            <div class="col s12 m6 l6">
                <label>Tên công việc</label>
                <select class="form-control" id="tenCongViec_them_select">
                    <option disabled selected value="">Chọn tên công việc</option>
                    @foreach (var listCongViec in ViewBag.listCongViec)
                    {
                        <option value="@listCongViec.MaCongViec">@listCongViec.TenCongViec</option>
                    }
                </select>
            </div>
            <div class="col s12 m6 l6">
                <label>Tên nhóm công việc</label>
                <select class="form-control" id="tenNhomCongViec_them_select">
                    <option disabled selected value="">Chọn tên nhóm công việc</option>
                    @foreach (var listNhomCongViec in ViewBag.listNhomCongViec)
                    {
                        <option value="@listNhomCongViec.MaNhomCongViec">@listNhomCongViec.TenNhomCongViec</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="xacNhanThemCongViec_NhomCongViec" class="waves-effects waves-light btn blue darken-2 btn-small">Xác nhận</button>
        <button id="dongThemCongViec_NhomCongViec" class="waves-effects waves-light btn red darken-2 btn-small modal-close">Đóng</button>
    </div>
</div>

<!---------Modal sua_CongViec_NhomCongViec----------->
<div class="modal" id="modal_sua_CongViec_NhomCongViec">
    <div class="modal-content">
        <h4 class="center"><b>Sửa công việc - nhóm công việc</b></h4>
        <div class="row">
            <div class="col s12 m6 l6">
                <label>Tên công việc</label>
                <select class="form-control" id="tenCongViec_sua_select">
                    <option disabled selected value="">Chọn tên công việc</option>
                    @foreach (var listCongViec in ViewBag.listCongViec)
                    {
                        <option value="@listCongViec.MaCongViec">@listCongViec.TenCongViec</option>
                    }
                </select>
            </div>
            <div class="col s12 m6 l6">
                <label>Tên nhóm công việc</label>
                <select class="form-control" id="tenNhomCongViec_sua_select">
                    <option disabled selected value="">Chọn tên nhóm công việc</option>
                    @foreach (var listNhomCongViec in ViewBag.listNhomCongViec)
                    {
                        <option value="@listNhomCongViec.MaNhomCongViec">@listNhomCongViec.TenNhomCongViec</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="xacNhanSuaongViec_NhomCongViec" class="waves-effects waves-light btn blue darken-2 btn-small">Xác nhận</button>
        <button id="dongSuaCongViec_NhomCongViec" class="waves-effects waves-light btn red darken-2 btn-small modal-close">Đóng</button>
    </div>
</div>

<!----------------------------LIST------------------------------->
<script>
    var table;
    $(document).ready(function () {
        $("#pre-load").show();
        table = $("#congviec_nhomcongviec").DataTable({
            "ajax": {
                "url": "/phong-tcld/cong-viec-nhom-cong-viec/danh-sach-cong-viec-nhom-cong-viec",
                "type": "GET",
                "datatype": "json",
                "cache": "false",
                "dataSrc": function (json) {
                    return json["listCongViec_NhomCongViec"]
                }
            },
            "columns": [
                { "data": "TenCongViec", "name": "TenCongViec" },
                { "data": "TenNhomCongViec", "name": "TenNhomCongViec" },
                {
                    "data": "", "render": function (data, type, row) {
                        return "<a id=\"suaCongViec_NhomCongViec\" name=\"" + row["MaCongViec_NhomCongViec"] + "\" class=\"waves-effects waves-light btn blue darken-2 btn-small modal-trigger\" href=\"#modal_sua_CongViec_NhomCongViec\">Sửa</a>"
                    },
                    "orderable": false,
                    "searchable": false
                },
                {
                    "data": "", "render": function (data, type, row) {
                        return "<a id=\"xoaCongViec_NhomCongViec\" name=\"" + row["MaCongViec_NhomCongViec"] + "\" class=\"waves-effects waves-light btn red darken-2 btn-small modal-close\">Xóa</a>"
                    },
                    "orderable": false,
                    "searchable": false
                }
            ],
            "serverSide": "true",
            "order": [0, "desc"],
            "searching": false,
            "lengthChange": false,
            "autoWidth": false,
            "filter": true,
            "info": false,
            "language": {
                emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                paginate:
                {
                    previous: "Trang trước",
                    next: "Trang sau",
                    first: "|<",
                    last: ">|"
                }
            },
            "initComplete": function (settings, json) {
                $("#pre-load").hide();
            }
        })
    });
</script>

<!--------------------------------ADD-------------------------------->
<script>
    $(document).ready(function () {
        $("#xacNhanThemCongViec_NhomCongViec").click(function () {
            $("#pre-load").show(),
                $.ajax({
                    url: "/phong-tcld/cong-viec-nhom-cong-viec/them-cong-viec-nhom-cong-viec",
                    type: "POST",
                    datatype: "json",
                    cache: false,
                    data: {
                        "macongviec": $("#tenCongViec_them_select").val(),
                        "manhomcongviec": $("#tenNhomCongViec_them_select").val()
                    },
                    success: function (response) {
                        if (response.success) {
                            //close the modal themCongViec_NhomCongViec
                            $("#dongThemCongViec_NhomCongViec").click();
                            //alert successful adding
                            successAlert(response.title, response.message);
                            //clear selected option in modal
                            $("#tenCongViec_them_select option").prop("selected", function () {
                                return this.defaultSelected;
                            });
                            $("#tenNhomCongViec_them_select option").prop("selected", function () {
                                return this.defaultSelected;
                            });
                            //reload table
                            table.ajax.reload();
                            //hide the pre-loader
                            $("#pre-load").hide();
                        } else if (response.error) {
                            //alert fail adding
                            errorAlert(response.title, response.message);
                            $("#pre-load").hide();
                        }
                    },
                    error: function (response) {

                    }
                })
        });
    });
</script>

<!-----------------------------------------------EDIT------------------------------------------------->
<script>
    var macongviec_nhomcongviec;
    var macongviec;
    var manhomcongviec;

    //select option by macongviec_nhomcongviec
    $("#congviec_nhomcongviec").on("click", "#suaCongViec_NhomCongViec", function () {
        macongviec_nhomcongviec = $(this).attr("name");
        getDataBy_MaCongViec_NhomCongViec(macongviec_nhomcongviec);
    });

    //update
    $("#xacNhanSuaongViec_NhomCongViec").click(function () {
        macongviec = $("#tenCongViec_sua_select").val();
        manhomcongviec = $("#tenNhomCongViec_sua_select").val();
        update(macongviec_nhomcongviec, macongviec, manhomcongviec);

    });

</script>

<!-----------------------GET DATA BY MACONGVIEC_NHOMCONGVIEC------------------------>
<script>
    function getDataBy_MaCongViec_NhomCongViec(macongviec_nhomcongviec) {
        $("#pre-load").show(),
            $.ajax({
                url: "/phong-tcld/cong-viec-nhom-cong-viec/lay-du-lieu-theo-macongviec-nhomcongviec",
                type: "GET",
                datatype: "json",
                data: {
                    "macongviec_nhomcongviec": macongviec_nhomcongviec
                },
                success: function (response) {
                    //auto select option by macongviec_nhomcongviec
                    $("#tenCongViec_sua_select option[value=\"" + response.listCongViec_NhomCongViec_by_MaCongViec_NhomCongViec.MaCongViec + "\"]").prop("selected", true);
                    $("#tenNhomCongViec_sua_select option[value=\"" + response.listCongViec_NhomCongViec_by_MaCongViec_NhomCongViec.MaNhomCongViec + "\"]").prop("selected", true);
                    //hide the pre-loader
                    $("#pre-load").hide();
                },
                error: function (response) {

                }
            })
    }
</script>

<!---------------------------------------UPDATE--------------------------------------->
<script>
    function update(macongviec_nhomcongviec, macongviec, manhomcongviec) {
        $("#pre-load").show(),
            $.ajax({
                url: "/phong-tcld/cong-viec-nhom-cong-viec/cap-nhat-cong-viec-nhom-cong-viec",
                type: "POST",
                datatype: "json",
                data: {
                    "macongviec_nhomcongviec": macongviec_nhomcongviec,
                    "macongviec": macongviec,
                    "manhomcongviec": manhomcongviec
                },
                success: function (response) {
                    if (response.success) {
                        //close the modal
                        $("#dongSuaCongViec_NhomCongViec").click();
                        //alert successful updating
                        successAlert(response.title, response.message);
                        //reload table
                        table.ajax.reload();
                        //hide the pre-loader
                        $("#pre-load").hide();
                    } else if (response.error) {
                        //alert fail updating
                        errorAlert(response.title, response.message);
                        $("#pre-load").hide();
                    }
                },
                error: function (response) {

                }
            })
    }
</script>

<!------------------------------------------------------DELETE-------------------------------------------------------->
<script>
    $(document).ready(function () {
        var macongviec_nhomcongviec;
        $("#congviec_nhomcongviec").on("click", "#xoaCongViec_NhomCongViec", function () {
            macongviec_nhomcongviec = $(this).attr("name");
            //alert confirm popup
            confirmAlert("Xác nhận xóa?", "Xác nhận xóa công việc - nhóm công việc", function () { delete_Congviec_Nhomcongviec(macongviec_nhomcongviec); });
        });
    });
</script>

<script>
    function delete_Congviec_Nhomcongviec(macongviec_nhomcongviec) {
        $("#pre-load").show(),
            $.ajax({
                url: "/phong-tcld/cong-viec-nhom-cong-viec/xoa-cong-viec-nhom-cong-viec",
                type: "POST",
                datatype: "json",
                data: {
                    "macongviec_nhomcongviec": macongviec_nhomcongviec
                },
                success: function (response) {
                    if (response.success) {
                        //alert successful updating
                        successAlert(response.title, response.message);
                        //reload table
                        table.ajax.reload();
                        //hide the pre-loader
                        $("#pre-load").hide();
                    } else if (response.error) {
                        //alert fail updating
                        errorAlert(response.title, response.message);
                        $("#pre-load").hide();
                    }
                },
                error: function (response) {

                }
            })
    }
</script>

<!-------Disable select option of Materialzecss------->
<script src="../../js/Custom JS/Disable_input_material.js"></script>
