@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}
@model QUANGHANH2.EntityResult.GetListEmployees_Result

@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm("SaveEdit", "Employees", FormMethod.Post, new
{
    enctype = "multipart/form-data",
    onSubmit = "return SubmitForm(this);",
    data_restUrl = Url.Action("SaveEdit", "Employees", new { id = "" })
}))
{
    @Html.AntiForgeryToken()
    <link href="~/assets/Custom css/TCLD/Brief/Beo_briefs_view.css" rel="stylesheet" />

    <div class="row">
        <div class="col m12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <h3 class="center black-text"><b>XEM THÔNG TIN NHÂN VIÊN</b></h3>
                        <hr />
                        <div class="col m12">
                            <ul class="tabs">
                                <li class="tab col s12 m3 l2"><a class="active tooltipped" href="#thongtincoban" data-position="bottom" data-delay="50" data-tooltip="Thông tin cơ  bản">Thông tin cơ bản</a></li>
                                <li class="tab col s12 m3 l2"><a class=" tooltipped" href="#lylichchinhtri" data-position="bottom" data-delay="50" data-tooltip="Lý lịch chính trị">Lý lịch chính trị</a></li>
                                <li class="tab col s12 m2 l2"><a class=" tooltipped" href="#thanhtichcanhan" data-position="bottom" data-delay="50" data-tooltip="Thành tích">Thành tích</a></li>
                                <li class="tab col s12 m2 l2"><a class=" tooltipped" href="#suckhoe" data-position="bottom" data-delay="50" data-tooltip="Sức khỏe">Sức khỏe</a></li>
                                <li class="tab col s12 m2 l2"><a class=" tooltipped" href="#hoctaplamviec" data-position="bottom" data-delay="50" data-tooltip="Quá trình học tập và làm việc">Quá trình học tập và làm việc</a></li>
                                <li class="tab col s12 m2 l2"><a class=" tooltipped" href="#giadinh" data-position="bottom" data-delay="50" data-tooltip="Quan hệ gia đình và diễn biến quá trình lương">Quan hệ gia đình và diễn biến quá trình lương</a></li>
                            </ul>
                        </div>
                        <!--chi tiet co ban-->
                        <div id="test">
                            <div id="thongtincoban" class="col m12">
                                <div class="row input-field">
                                    <div class="input-field col m8">
                                        <div class="input-field col m12">
                                            <div class="col m12">
                                                @Html.LabelFor(model => model.BASIC_INFO_full_name, "Họ và tên", htmlAttributes: new { @class = "custom-label" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.BASIC_INFO_full_name, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Tên khai sinh", @type = "text", @autocomplete = "off" } })
                                                    @Html.ValidationMessageFor(model => model.BASIC_INFO_full_name, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-field col m12">
                                            <div class="col m12">
                                                @Html.LabelFor(model => model.BASIC_INFO_other_name, "Tên khác", htmlAttributes: new { @class = "custom-label" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.BASIC_INFO_other_name, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Tên gọi khác", @type = "text", @autocomplete = "off" } })
                                                    @Html.ValidationMessageFor(model => model.BASIC_INFO_other_name, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-field col m12">
                                            <div class="col m6">
                                                @Html.LabelFor(model => model.BASIC_INFO_gender, "Giới tính", htmlAttributes: new { @class = "custom-label" })
                                                <div class="col-md-10">
                                                    @Html.DropDownListFor(model => model.BASIC_INFO_gender, new SelectList(ViewBag.genders, "Value", "Text"), htmlAttributes: new { @class = "sl-edit form-control", @autocomplete = "off" })
                                                    @Html.ValidationMessageFor(model => model.BASIC_INFO_gender, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col m6">
                                                @Html.LabelFor(model => model.BASIC_INFO_registered_place_of_permanent_residence, "Nơi đăng ký hộ khẩu thường trú", htmlAttributes: new { @class = "custom-label" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.BASIC_INFO_registered_place_of_permanent_residence, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Nơi đăng ký hộ khẩu thường trú", @autocomplete = "off" } })
                                                    @Html.ValidationMessageFor(model => model.BASIC_INFO_registered_place_of_permanent_residence, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="center col m4">
                                        <img src="/images/avatar.png" width="130" height="130"><br />
                                        @Html.HiddenFor(model => model.employee_id, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mã", @type = "text" } })
                                        <div id="Grapper_MaNV"></div>
                                        <a class="btn btn blue darken-2 btn-small center">Chọn ảnh</a>
                                    </div>
                                </div>
                                <div class="input-field col m12">
                                    <div class="col m4">
                                        @Html.LabelFor(model => model.JOB_work, "Chức vụ", htmlAttributes: new { @class = "custom-label" })
                                        <div class="col-md-10">
                                            <input id="MaCongViecDis" list="listJob" class="form-control inputEdit" name="position" value="@ViewBag.loadJob" autocomplete="off" />
                                            <datalist id="listJob">
                                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.job)
                                                {
                                                    <option value="@item.Text" />
                                                }
                                            </datalist>
                                            @Html.ValidationMessageFor(model => model.JOB_work, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col m4">
                                        @Html.LabelFor(model => model.JOB_position_allowance, "Phụ cấp chức vụ", htmlAttributes: new { @class = "custom-label" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.JOB_position_allowance, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Phụ cấp chức vụ", @type = "number", @min = "0", @max = "9999999999", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.JOB_position_allowance, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col m4">
                                        @Html.LabelFor(model => model.BASIC_INFO_date_of_birth, "Ngày sinh", htmlAttributes: new { @class = "custom-label" })
                                        <div class="col-md-10">
                                            <input id="NgaySinhFix" , class="inputEdit form-control datepicker-here datepicker-add" placeholder="Ngày sinh" type="datetime" value="" autocomplete="off" />
                                            @Html.EditorFor(model => model.BASIC_INFO_date_of_birth, new { htmlAttributes = new { @style = "display: none !important", @type = "datetime" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="input-field col m12">
                                    <div class="col m4">
                                        @Html.LabelFor(model => model.BASIC_INFO_place_of_birth, "Nơi sinh", htmlAttributes: new { @class = "custom-label" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.BASIC_INFO_place_of_birth, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Nơi sinh", @type = "text", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.BASIC_INFO_place_of_birth, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col m4">
                                        @Html.LabelFor(model => model.BASIC_INFO_nation, "Dân tộc", htmlAttributes: new { @class = "custom-label" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.BASIC_INFO_nation, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Dân tộc", @type = "text", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.BASIC_INFO_nation, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col m4">
                                        @Html.LabelFor(model => model.BASIC_INFO_home_town, "Quê quán", htmlAttributes: new { @class = "custom-label" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.BASIC_INFO_home_town, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Quê quán", @type = "text", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.BASIC_INFO_home_town, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="input-field col m12">

                                    <div class="col m4">
                                        @Html.LabelFor(model => model.BASIC_INFO_religion, "Tôn giáo", htmlAttributes: new { @class = "custom-label" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.BASIC_INFO_religion, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Tôn giáo", @type = "text", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.BASIC_INFO_religion, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col m4">
                                        @Html.LabelFor(model => model.BASIC_INFO_current_residence, "Nơi ở hiện tại", htmlAttributes: new { @class = "custom-label" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.BASIC_INFO_current_residence, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Nơi ở hiện tại", @type = "text", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.BASIC_INFO_current_residence, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col m4">
                                        @Html.LabelFor(model => model.BASIC_INFO_phone_number, "Số điện thoại", htmlAttributes: new { @class = "custom-label" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.BASIC_INFO_phone_number, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Số điện thoại", @type = "number", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.BASIC_INFO_phone_number, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="input-field col m12">
                                    <div class="col m4">
                                        @Html.LabelFor(model => model.RECRUITMENT_profession, "Nghề trước khi tuyển dụng", htmlAttributes: new { @class = "custom-label" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.RECRUITMENT_profession, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Nghề trước khi tuyển dụng", @type = "text", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.RECRUITMENT_profession, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col m4">
                                        @Html.LabelFor(model => model.RECRUITMENT_company, "Cơ quan tuyển dụng", htmlAttributes: new { @class = "custom-label" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.RECRUITMENT_company, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Cơ quan tuyển dụng", @type = "text", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.RECRUITMENT_company, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col m4">
                                        @Html.LabelFor(model => model.RECRUITMENT_date, "Ngày tuyển dụng", htmlAttributes: new { @class = "custom-label" })
                                        <div class="col-md-10">
                                            <input id="NgayTuyenDungFix" , class="inputEdit form-control datepicker-here datepicker-add" placeholder="Ngày tuyển dụng" type="datetime" value="" autocomplete="off" />
                                            @Html.EditorFor(model => model.RECRUITMENT_date, new { htmlAttributes = new { @style = "display: none !important", @type = "datetime" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="input-field col m12">
                                    <div class="col m4">
                                        @Html.LabelFor(model => model.JOB_instant_position, "Chức vụ hiện tại (Công việc cũ)", htmlAttributes: new { @class = "custom-label" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.JOB_instant_position, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Chức vụ hiện tại", @type = "text", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.JOB_instant_position, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col m4">
                                        @Html.LabelFor(model => model.JOB_other_allowances, "Phụ cấp khác (Công việc cũ)", htmlAttributes: new { @class = "custom-label" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.JOB_other_allowances, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Phụ cấp khác", @type = "text", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.JOB_other_allowances, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col m4">
                                        @Html.LabelFor(model => model.JOB_date, "Ngày hưởng (Công việc cũ)", htmlAttributes: new { @class = "custom-label" })
                                        <div class="col-md-10">
                                            <input id="NgayHuongFix" , class="inputEdit form-control datepicker-here datepicker-add" placeholder="Ngày hưởng" type="datetime" value="" autocomplete="off" />
                                            @Html.EditorFor(model => model.JOB_date, new { htmlAttributes = new { @style = "display: none !important", @type = "datetime" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="input-field col m12">
                                    <div class="col m4">
                                        @Html.LabelFor(model => model.PERSONAL_HISTORY_detail, "Khai rõ", htmlAttributes: new { @class = "custom-label" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.PERSONAL_HISTORY_detail, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Khai rõ", @type = "text", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.PERSONAL_HISTORY_detail, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col m4">
                                        @Html.LabelFor(model => model.PERSONAL_HISTORY_related_organization, "Quan hệ với các tổ chức CT, KT, XH liên quan", htmlAttributes: new { @class = "custom-label" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.PERSONAL_HISTORY_related_organization, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Quan hệ với các tổ chức CT, KT, XH liên quan", @type = "text", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.PERSONAL_HISTORY_related_organization, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col m4">
                                        @Html.LabelFor(model => model.PERSONAL_HISTORY_relatives, "Thân nhân", htmlAttributes: new { @class = "custom-label" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.PERSONAL_HISTORY_relatives, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Thân nhân", @type = "text", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.PERSONAL_HISTORY_relatives, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>


                            </div>
                                @* ly lich chinh tri *@
                                <div id="lylichchinhtri" class="col m12">
                                    <div class="input-field col m12">
                                        <div class="col m4">
                                            @Html.LabelFor(model => model.PARTY_day_on_VCP, "Ngày vào Đảng CSVN", htmlAttributes: new { @class = "custom-label" })
                                            <div class="col-md-10">
                                                <input id="NgayVaoDangCSVNFix" , class="inputEdit form-control datepicker-here datepicker-add" placeholder="Ngày vào Đảng CSVN" type="datetime" value="" autocomplete="off" />
                                                @Html.EditorFor(model => model.PARTY_day_on_VCP, new { htmlAttributes = new { @style = "display: none !important", @type = "datetime" } })
                                            </div>
                                        </div>
                                        <div class="col m4">
                                            @Html.LabelFor(model => model.PARTY_official_date, "Ngày chính thức", htmlAttributes: new { @class = "custom-label" })
                                            <div class="col-md-10">
                                                <input id="NgayChinhThucFix" , class="inputEdit form-control datepicker-here datepicker-add" placeholder="Ngày chính thức" type="datetime" value="" autocomplete="off" />
                                                @Html.EditorFor(model => model.PARTY_official_date, new { htmlAttributes = new { @style = "display: none !important", @type = "datetime" } })
                                            </div>
                                        </div>
                                        <div class="col m4">
                                            @Html.LabelFor(model => model.PARTY_date_of_joining_political_social_organization, "Ngày vào tổ chức CTXH", htmlAttributes: new { @class = "custom-label" })
                                            <div class="col-md-10">
                                                <input id="NgayVaoToChucCTXHFix" , class="inputEdit form-control datepicker-here datepicker-add" placeholder="Ngày vào tổ chức CTXH" type="datetime" value="" autocomplete="off" />
                                                @Html.EditorFor(model => model.PARTY_date_of_joining_political_social_organization, new { htmlAttributes = new { @style = "display: none !important", @type = "datetime" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-field col m12">
                                        <div class="col m4">
                                            @Html.LabelFor(model => model.PARTY_date_of_enlistment, "Ngày nhập ngũ", htmlAttributes: new { @class = "custom-label" })
                                            <div class="col-md-10">
                                                <input id="NgayNhapNguFix" , class="inputEdit form-control datepicker-here datepicker-add" placeholder="Ngày nhập ngũ" type="datetime" value="" autocomplete="off" />
                                                @Html.EditorFor(model => model.PARTY_date_of_enlistment, new { htmlAttributes = new { @style = "display: none !important", @type = "datetime" } })
                                            </div>
                                        </div>
                                        <div class="col m4">
                                            @Html.LabelFor(model => model.PARTY_date_of_discharge, "Ngày xuất ngũ", htmlAttributes: new { @class = "custom-label" })
                                            <div class="col-md-10">
                                                <input id="NgayXuatNguFix" , class="inputEdit form-control datepicker-here datepicker-add" placeholder="Ngày xuất ngũ" type="datetime" value="" autocomplete="off" />
                                                @Html.EditorFor(model => model.PARTY_date_of_discharge, new { htmlAttributes = new { @style = "display: none !important", @type = "datetime" } })
                                            </div>
                                        </div>
                                        <div class="col m4">
                                            @Html.LabelFor(model => model.PARTY_highest_rank, "Quân hàm chức vụ cao nhât", htmlAttributes: new { @class = "custom-label" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.PARTY_highest_rank, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Theo năm", @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.PARTY_highest_rank, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-field col m12">
                                        <div class="col m6">
                                            @Html.LabelFor(model => model.ACADEMIC_political_theory, "Lý luận chính trị", htmlAttributes: new { @class = "custom-label" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.ACADEMIC_political_theory, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Lý luận chính trị", @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.ACADEMIC_political_theory, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col m6">
                                            @Html.LabelFor(model => model.ACADEMIC_languages, "Ngoại ngữ", htmlAttributes: new { @class = "custom-label" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.ACADEMIC_languages, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Ngoại ngữ", @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.ACADEMIC_languages, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Thành tích cá nhân-->
                                <div id="thanhtichcanhan" class="col m12">
                                    <div class="row">
                                        <div class="input-field col m12">
                                            <div class="col m6">
                                                @Html.LabelFor(model => model.JOB_civil_servants, "Ngạnh công chức", htmlAttributes: new { @class = "custom-label" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.JOB_civil_servants, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Ngạch công chức", @autocomplete = "off" } })
                                                    @Html.ValidationMessageFor(model => model.JOB_civil_servants, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col m6">
                                                @Html.LabelFor(model => model.JOB_code_ranks, "Mã ngạch", htmlAttributes: new { @class = "custom-label" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.JOB_code_ranks, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Mã ngạch", @type = "number", @min = "0", @autocomplete = "off" } })
                                                    @Html.ValidationMessageFor(model => model.JOB_code_ranks, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-field col m12">
                                            <div class="col m6">
                                                @Html.LabelFor(model => model.JOB_pay_rate, "Mã bậc lương - Thang lương - Mức lương", htmlAttributes: new { @class = "custom-label" })
                                                <div class="col-md-10">
                                                    <input id="salaryLevelId" list="listSalaryLevel" class="form-control inputEdit" name="salaryLevelName" value="@ViewBag.load_salary_level" placeholder="Mã bậc lương - Thang lương - Mức lương" autocomplete="off" />
                                                    <input type="hidden" name="hiddenSalary" id="salaryLevelIdHidden" />
                                                    <datalist id="listSalaryLevel">
                                                        @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.level_salary)
                                                        {
                                                            <option value="@item.Text" data-value="@item.Value" />
                                                        }
                                                    </datalist>
                                                    @Html.ValidationMessageFor(model => model.current_salary_id, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col m6">
                                                @Html.LabelFor(model => model.JOB_forte_of_work, "Sở trường công tác", htmlAttributes: new { @class = "custom-label" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.JOB_forte_of_work, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Sở trường", @autocomplete = "off" } })
                                                    @Html.ValidationMessageFor(model => model.JOB_forte_of_work, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-field col m12">
                                            <div class="col m6">
                                                @Html.LabelFor(model => model.EVALUATION_bonus, "Khen thưởng", htmlAttributes: new { @class = "custom-label" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.EVALUATION_bonus, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Khen thưởng", @autocomplete = "off" } })
                                                    @Html.ValidationMessageFor(model => model.EVALUATION_bonus, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col m6">
                                                @Html.LabelFor(model => model.EVALUATION_discipline, "Kỷ luật", htmlAttributes: new { @class = "custom-label" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.EVALUATION_discipline, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Kỷ luật", @autocomplete = "off" } })
                                                    @Html.ValidationMessageFor(model => model.EVALUATION_discipline, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-field col m12">
                                            <div class="col m6">
                                                @Html.LabelFor(model => model.ACADEMIC_academic_level, "Trình độ học vấn phổ thông", htmlAttributes: new { @class = "custom-label" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.ACADEMIC_academic_level, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Trình độ học vấn phổ thông", @autocomplete = "off" } })
                                                    @Html.ValidationMessageFor(model => model.ACADEMIC_academic_level, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col m6">
                                                @Html.LabelFor(model => model.ACADEMIC_highest_qualification, "Trình độ chuyên môn cao nhất", htmlAttributes: new { @class = "custom-label" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.ACADEMIC_highest_qualification, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Trình độ chuyên môn cao nhất", @autocomplete = "off" } })
                                                    @Html.ValidationMessageFor(model => model.ACADEMIC_highest_qualification, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-field col m12">
                                            <div class="col m4">
                                                @Html.LabelFor(model => model.ACADEMIC_state_management, "Quản lý nhà nước", htmlAttributes: new { @class = "custom-label" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.ACADEMIC_state_management, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Quản lý nhà nước", @autocomplete = "off" } })
                                                    @Html.ValidationMessageFor(model => model.ACADEMIC_state_management, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col m4">
                                                @Html.LabelFor(model => model.ACADEMIC_information_technology, "Tin học", htmlAttributes: new { @class = "custom-label" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.ACADEMIC_information_technology, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Tin học", @autocomplete = "off" } })
                                                    @Html.ValidationMessageFor(model => model.ACADEMIC_information_technology, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col m4">
                                                @Html.LabelFor(model => model.PARTY_highest_achieved_title, "Danh hiệu được phong tặng cao nhất", htmlAttributes: new { @class = "custom-label" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.PARTY_highest_achieved_title, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Danh hiệu được phong tặng cao nhất", @autocomplete = "off" } })
                                                    @Html.ValidationMessageFor(model => model.PARTY_highest_achieved_title, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                                <!--Sức khỏe-->
                                <div id="suckhoe" class="col m12">
                                    <div class="row">
                                        <div class="input-field col m12">
                                            <div class="col m4">
                                                @Html.LabelFor(model => model.HEALTH_health_condition, "Tình trạng sức khỏe", htmlAttributes: new { @class = "custom-label" })
                                                <div class="col-md-10">
                                                    @Html.DropDownListFor(model => model.HEALTH_health_condition, new SelectList(ViewBag.heal, "Value", "Text"), htmlAttributes: new { @class = "sl-edit form-control", @autocomplete = "off" })
                                                    @Html.ValidationMessageFor(model => model.HEALTH_health_condition, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col m4">
                                                @Html.LabelFor(model => model.HEALTH_height, "Chiều cao", htmlAttributes: new { @class = "custom-label" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.HEALTH_height, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Chiều cao (cm)", @type = "number", @min = "0", @autocomplete = "off" } })
                                                    @Html.ValidationMessageFor(model => model.HEALTH_height, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col m4">
                                                @Html.LabelFor(model => model.HEALTH_weight, "Cân nặng", htmlAttributes: new { @class = "custom-label" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.HEALTH_weight, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Cân nặng (kg)", @type = "number", @min = "0", @autocomplete = "off" } })
                                                    @Html.ValidationMessageFor(model => model.HEALTH_weight, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-field col m12">
                                            <div class="col m4">
                                                @Html.LabelFor(model => model.HEALTH_blood_group, "Nhóm máu", htmlAttributes: new { @class = "custom-label" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.HEALTH_blood_group, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Nhóm máu", @autocomplete = "off" } })
                                                    @Html.ValidationMessageFor(model => model.HEALTH_blood_group, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col m4">
                                                @Html.LabelFor(model => model.BASIC_INFO_identity_card, "Số CMND/CCCD", htmlAttributes: new { @class = "custom-label" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.BASIC_INFO_identity_card, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "CMND", @autocomplete = "off" } })
                                                    @Html.ValidationMessageFor(model => model.BASIC_INFO_identity_card, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col m4">
                                                @Html.LabelFor(model => model.BASIC_INFO_date_of_issuance_of_identity_card, "Ngày cấp CMND", htmlAttributes: new { @class = "custom-label" })
                                                <div class="col-md-10">
                                                    <input id="NgayCapCMNDFix" , class="inputEdit form-control datepicker-here datepicker-add" placeholder="Ngày cấp CMND" type="datetime" value="" autocomplete="off" />
                                                    @Html.EditorFor(model => model.BASIC_INFO_date_of_issuance_of_identity_card, new { htmlAttributes = new { @style = "display: none !important", @type = "datetime" } })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-field col m12">
                                            <div class="col m6">
                                                @Html.LabelFor(model => model.BASIC_INFO_wounded_class, "Hạng thương binh", htmlAttributes: new { @class = "custom-label" })
                                                <div class="col-md-10">
                                                    @Html.DropDownListFor(model => model.BASIC_INFO_wounded_class, new SelectList(ViewBag.thuongbinh, "Value", "Text"), htmlAttributes: new { @class = "sl-edit form-control", @placeholder = "Thương binh", @autocomplete = "off" })
                                                    @Html.ValidationMessageFor(model => model.BASIC_INFO_wounded_class, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col m6">
                                                @Html.LabelFor(model => model.BASIC_INFO_policy_family_child, "Gia đình chính sách", htmlAttributes: new { @class = "custom-label" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.BASIC_INFO_policy_family_child, new { htmlAttributes = new { @class = "inputEdit form-control", @placeholder = "Gia đình chính sách", @autocomplete = "off" } })
                                                    @Html.ValidationMessageFor(model => model.BASIC_INFO_policy_family_child, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        @Html.HiddenFor(model => model.current_department_id)
                        @Html.HiddenFor(model => model.current_status_id)
                        <div id="hoctaplamviec" class="col l12">
                            <div class="row" style="margin-top:10px">
                                <label class="custom-label">A.Đào tạo, bồi dưỡng về chuyên môn, nghiệp vụ, lý luận chính trị, ngoại ngữ, tin học</label>
                            </div>
                            <div class="row" style="margin-top:15px">
                                <table class="table table-bordered centered table-responsive">
                                    <thead>
                                        <tr>
                                            <th width="25%">Đơn vị công tác</th>
                                            <th width="25%">Chức danh</th>
                                            <th width="25%">Chức vụ</th>
                                            <th width="25%">Từ ngày - Đến ngày</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table-htlv2">
                                        <tr>
                                            <td id="col11"><input id="input11" autocomplete="off" class="inputEdit" name="donVi" style="border:none" /></td>
                                            <td id="col12"><input id="input12" autocomplete="off" class="inputEdit" name="chucDanh" style="border:none" /></td>
                                            <td id="col13"><input id="input13" autocomplete="off" class="inputEdit" name="chucVu" style="border:none" /></td>
                                            <td id="col14" class="editable">
                                                <input autocomplete="off"
                                                       name="tuNgayDenNgay" id="input14" type="text" data-auto-close="true" data-range="true"
                                                       placeholder="dd/mm/yyyy - dd/mm/yyyy" data-multiple-dates-separator=" - "
                                                       data-language="vi" class="datepicker-here form-control inputEdit" style="border:none" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col m12 center div_them2">
                                <a id="buttonThem2" class="btn blue darken-2" style="margin-top:15px;margin-bottom:15px">Thêm</a>
                                <a class="btnSelect waves-effect waves-light btn blue darken-2">Xóa</a>
                            </div>
                            @if (Enumerable.Count(ViewBag.qtList) > 0)
                            {
                                <table class="table table-bordered centered table-responsive">
                                    <thead>
                                        <tr>
                                            <th width="20%">Đơn vị</th>
                                            <th width="20%">Chức danh</th>
                                            <th width="20%">Chức vụ</th>
                                            <th width="20%">Ngày bắt đầu</th>
                                            <th width="20%">Ngày kết thúc</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="work-table">
                                        @foreach (var item in ViewBag.qtList)
                                        {
                                        <tr>
                                            <td class="center">@item.office</td>
                                            <td class="center">@item.title</td>
                                            <td class="center">@item.position</td>
                                            @if (item.date_start == null)
                                            {
                                                <td class="center"></td>
                                            }
                                            else
                                            {
                                                <td class="center">@Convert.ToDateTime(item.date_start).ToString("dd/MM/yyyy")</td>
                                            }
                                            @if (item.date_end == null)
                                            {
                                                <td class="center"></td>
                                            }
                                            else
                                            {
                                                <td class="center">@Convert.ToDateTime(item.date_end).ToString("dd/MM/yyyy")</td>
                                            }
                                            <td class="center"><a class='waves-effect waves-light btn blue darken-2 btn-small modal-trigger delete-view' onclick="xoaCongTac(@item.working_process_id , @item.employee_id)">Xóa</a></td>
                                        </tr>
                                        }

                                    </tbody>
                                </table>
                            }
                        </div>
                        <div id="giadinh" class="col m12">
                            <div class="row" style="margin-top:10px;margin-bottom:10px"><label class="custom-label">A.Quan hệ gia đình</label></div>
                            <div class="row">
                                <table class="table table-bordered centered table-responsive">
                                    <thead>
                                        <tr>
                                            <th width="20%">Gia đình</th>
                                            <th width="20%">Ngày sinh</th>
                                            <th width="20%">Họ và tên</th>
                                            <th width="20%">Mối quan hệ</th>
                                            <th width="20%">Lý lịch</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table-gd">
                                        <tr>
                                            <td id="col11">
                                                <select class="custom-select" name="giaDinh">
                                                    <option value="">Loại gia đình</option>
                                                    <option value="1">Bản thân</option>
                                                    <option value="2">Nhà vợ</option>
                                                    <option value="3">Nhà chồng</option>
                                                </select>
                                            </td>
                                            <td id="col12">
                                                <input name="ngaySinhGiaDinh" id="input12" type="text" autocomplete="off" class="inputEdit datepicker-here datepicker-add center form-control resize-form" data-language="vi" placeholder="dd/mm/yyyy" />
                                            </td>
                                            <td id="col13" class="editable"><input id="input13" autocomplete="off" class="inputEdit" name="hoTen" style="border:none" /></td>
                                            <td id="col14">
                                                <select class="custom-select" name="moiQuanHe">
                                                    <option value="">Loại quan hệ</option>
                                                    <option value="1">Cha</option>
                                                    <option value="2">Mẹ</option>
                                                    <option value="3">Vợ</option>
                                                    <option value="4">Con</option>
                                                    <option value="5">Anh</option>
                                                    <option value="6">Chị</option>
                                                    <option value="7">Em</option>
                                                    <option value="8">Khác</option>
                                                </select>
                                            </td>
                                            <td id="col15" class="editable"><input id="input15" autocomplete="off" class="inputEdit" name="lyLich" style="border:none" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br />

                            </div>
                            <div class="col m12 center div_them3" style="margin-top:10px;margin-bottom:10px">
                                <a id="buttonThem3" class="waves-effect waves-light  btn blue darken-2">Thêm</a>
                                <a class="btnSelect1 waves-effect waves-light btn blue darken-2">Xóa</a>
                            </div>
                            @if (Enumerable.Count(ViewBag.qhList) > 0)
                            {
                                <table class="table table-bordered centered table-responsive">
                                    <thead>
                                        <tr>
                                            <th width="20%">Gia đình</th>
                                            <th width="20%">Ngày sinh</th>
                                            <th width="20%">Họ và tên</th>
                                            <th width="20%">Mối quan hệ</th>
                                            <th width="20%">Lý lịch</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="family-table">
                                        @foreach (var item in ViewBag.qhList)
                                        {
                                        <tr>
                                            <td class="center">@item.type_name</td>
                                            @if (item.date_of_birth == null)
                                            {
                                                <td class="center"></td>
                                            }
                                            else
                                            {
                                                <td class="center">@Convert.ToDateTime(item.date_of_birth).ToString("dd/MM/yyyy")</td>
                                            }
                                            <td class="center">@item.full_name</td>
                                            <td class="center">@item.relationship_name</td>
                                            <td class="center">@item.background</td>
                                            <td class="center"><a class='waves-effect waves-light btn blue darken-2 btn-small modal-trigger delete-view' onclick="xoaQuanHe(@item.family_type_id , @item.employee_id , @item.family_relationship_id)">Xóa</a></td>
                                        </tr>
                                        }

                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal open" id="updateBrief">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Xác nhận cập nhật thông tin</h3>
            </div>
            <div class="modal-body">
                <p class="green-text">Bạn có muốn lưu phần đã sửa?</p>
            </div>
            <div class="modal-footer">
                <button class="waves-effect waves-light btn blue darken-2 modal-close" id="save" type="submit">Lưu</button>
                <button class="waves-effect waves-light btn blue darken-2 modal-close" type="button">Hủy</button>
            </div>
        </div>
    </div>
}
<!--floating button-->
<div id="pencilandsave">
    <a id="pencil" class="float" href="#" onclick="abc()">
        <i class="material-icons my-float">create</i>
    </a>
</div>

<script src="~/js/Custom JS/TCLD/Brief/Brief_View.js"></script>
<script src="~/js/Custom JS/TCLD/Brief/DateError.js"></script>
<script>
    $(document).ready(function () {
        $('#save').click(function () {
            var value = $('#salaryLevelId').val();
            $('#salaryLevelIdHidden').val($('#listSalaryLevel [value="' + value + '"]').data('value'));
        });
    });


    $(".bac").keydown(function (e) {
        var acceptList = [45, 35, 40, 34, 37, 9, 12, 39, 36, 38, 33, 8];
        for (var i = 48; i <= 57; i++) {
            acceptList.push(i);
        }
        for (var i = 96; i <= 105; i++) {
            acceptList.push(i);
        }
        if (acceptList.indexOf(e.keyCode) === -1) {
            e.preventDefault();
        }
        if ($(this).val().length === 3) {
            $(this).val("");
        }
    });
    $(".bac").keyup(function (e) {
        var text = $(this).val();
        if (text.length === 1) {
            $(this).val(text + "/");
        }
    });


    $(document).ready(function () {
        var MaNV = $("#employee_id").val();
        $("#Grapper_MaNV").html("<b>Mã Nhân Viên: " + MaNV + "</b>")
    });
</script>
<script>
    $(".datepicker-here").keydown(function (e) {
        e.preventDefault();
    });
</script>
<script>
    function xoaQuanHe(family_type, id, family_relation) {
        confirmAlert("Xác nhận xóa?", "",
            function () {
                $("#pre-load").show("slow", function () {
                });
                $("#pre-load").css("z-index", "99999");
                $.ajax({
                    type: 'post',
                    url: '/deleteFamily',
                    dataType: 'json',
                    data: {
                        'family_type': JSON.stringify(family_type),
                        'id': JSON.stringify(id),
                        'family_relation': JSON.stringify(family_relation)
                    },
                    success: function (response) {
                        if (response.success) {
                            $("#family-table").empty();
                            for (i = 0; i < response.listQH.length; i++) {
                                $("#family-table").append("<tr>");
                                $("#family-table").append("<td class='center'>" + response.listQH[i].family_type_id + "</td>");
                                $("#family-table").append("<td class='center'>" + dateFormat(response.listQH[i].date_of_birth) + "</td>");
                                $("#family-table").append("<td class='center'>" + response.listQH[i].full_name + "</td>");
                                $("#family-table").append("<td class='center'>" + response.listQH[i].family_relationship_id + "</td>");
                                $("#family-table").append("<td class='center'>" + response.listQH[i].background + "</td>");
                                $("#family-table").append("<td class='center'><a class='waves-effect waves-light btn blue darken-2 btn-small modal-trigger' data-target='delFamily' onclick='xoaQuanHe(" + response.listQH[i].family_type_id + "," + response.listQH[i].employee_id + "," + response.listQH[i].family_relationship_id + ")'>Xóa</a></td>");
                                $("#family-table").append("</tr>");
                            }
                            successAlert("Thành công", "Xóa thành công");
                            $("#pre-load").hide("slow", function () {
                            });
                        } else {
                            $("#pre-load").hide("slow", function () {
                            });
                            errorAlert("Lỗi", "Có lỗi khi xóa");
                        }
                    }
                })
            }
        );
    }

    function dateFormat(d) {
        if (d == null) {
            return "";
        }
        var dateString = d.substr(6);
        var currentTime = new Date(parseInt(dateString));
        var month = currentTime.getMonth() + 1;
        var day = currentTime.getDate();
        var year = currentTime.getFullYear();
        var date = day + "/" + month + "/" + year;
        return (date);
    }
</script>
<script>
    function xoaCongTac(maCT, id) {
        confirmAlert("Xác nhận xóa?", "",
            function () {
                $("#pre-load").show("slow", function () {
                });
                $("#pre-load").css("z-index", "99999");
                $.ajax({
                    type: 'post',
                    url: '/deleteWork',
                    dataType: 'json',
                    data: { 'maCT': JSON.stringify(maCT), 'id': JSON.stringify(id) },
                    success: function (response) {
                        if (response.success) {
                            $("#work-table").empty();
                            for (i = 0; i < response.listCT.length; i++) {
                                $("#work-table").append("<tr>");
                                $("#work-table").append("<td class='center'>" + response.listCT[i].DonVi + "</td>");
                                $("#work-table").append("<td class='center'>" + response.listCT[i].ChucDanh + "</td>");
                                $("#work-table").append("<td class='center'>" + response.listCT[i].ChucVu + "</td>");
                                $("#work-table").append("<td class='center'>" + dateFormat(response.listCT[i].NgayBatDau) + "</td>");
                                $("#work-table").append("<td class='center'>" + dateFormat(response.listCT[i].NgayKetThuc) + "</td>");
                                $("#work-table").append("<td class='center'><a class='waves-effect waves-light btn blue darken-2 btn-small modal-trigger delete-view'  onclick='xoaCongTac(" + response.listCT[i].MaCongTac + "," + response.listCT[i].MaNV + ")'>Xóa</a></td>");
                                $("#work-table").append("</tr>");
                            }
                            successAlert("Thành công", "Xóa thành công");
                            $("#pre-load").hide("slow", function () {
                            });
                        } else {
                            $("#pre-load").hide("slow", function () {
                            });
                            errorAlert("Lỗi", "Có lỗi khi xóa");
                        }
                    }
                })
            }
        );
    }

    $(document).on("click", "#save", function () {
        for (var i = 0; i < $("input[name='tuNgayDenNgay']").length; i++) {
            let string_date = $("input[name='tuNgayDenNgay']").eq(i).val();
            let don_vi = $("input[name='donVi']").eq(i).val();
            if (don_vi != "" && string_date == "") {
                errorAlert("Dòng thứ " + (i + 1) + " chưa nhập ngày");
                return false;
            }
            if (string_date != "") {
                if (string_date.split("-").length != 2) {
                    errorAlert("Dòng thứ " + (i + 1) + " không đúng");
                    return false;
                }
            }
        }
    })
     option_family = ''
            @foreach (var item in ViewBag.familyTypes)
            {
                @Html.Raw("+ '<option value=\"" + @item.family_type_id + "\">" + @item.name + "</option>'");
            };
        option_relationship = ''
            @foreach (var item in ViewBag.familyRelationships)
            {
                @Html.Raw("+ '<option value=\"" + @item.family_relationship_id + "\">" + @item.name + "</option>'");
            };
</script>