@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}
@if (ViewBag.error == 0)
{
    <div class="card">
        <div class="card-content">
            <div class="row">
                <h3 class="report_title center">
                    <B>LỊCH SỬ LÀM VIỆC</B>
                </h3>
                <hr />
            </div>
            <div class="row">
                <div class="col l10 s12 m12">
                    <table class="table-bordered">
                        <tr>
                            <th>Mã nhân viên:</th>
                            <td>@ViewBag.employee.employee_id</td>
                        </tr>
                        <tr>
                            <th>Họ và tên: </th>
                            <td>@ViewBag.employee.BASIC_INFO_full_name</td>
                        </tr>
                        <tr>
                            <th>Giới tính: </th>
                            @if (ViewBag.employee.BASIC_INFO_gender)
                            {
                                <td>Nam</td>
                            }
                            else
                            {
                                <td>Nữ</td>
                            }
                        </tr>
                        <tr>
                            <th>Ngày sinh: </th>
                            @if (ViewBag.employee.BASIC_INFO_date_of_birth == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@Convert.ToDateTime(ViewBag.employee.BASIC_INFO_date_of_birth).ToString("dd/MM/yyyy")</td>
                            }
                        </tr>
                        <tr>
                            <th>Địa chỉ: </th>
                            <td>@ViewBag.employee.BASIC_INFO_home_town</td>
                        </tr>
                        <tr>
                            <th>Chức vụ: </th>
                            <td>@ViewBag.employee.work_name</td>
                        </tr>
                        <tr>
                            <th>Bộ phận: </th>
                            <td>@ViewBag.employee.department_name</td>
                        </tr>
                        <tr>
                            <th>Ngày gần nhất đi làm: </th>
                            @if (ViewBag.employee.nearest_working_date == null)
                            {
                                <td>Không có dữ liệu điểm danh</td>
                            }
                            else
                            {
                                <td>@Convert.ToDateTime(ViewBag.employee.nearest_working_date).ToString("dd/MM/yyyy")</td>
                            }
                        </tr>
                    </table>
                </div>
                <div class="col l2 s12 m12 center middle">
                    <img class="avatar middle" src="~/images/avatar.png" style="width: 150px; height: 150px" />
                </div>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="center">
                <h3><b>LỊCH SỬ ĐI LÀM</b></h3>
            </div>
            <div class="col l12 s12">
                <table class="table table-bordered striped table-responsive" id="work_history_table">
                    <thead>
                        <tr>
                            <th>Ngày đi làm</th>
                            <th>Ca làm</th>
                            <th>Ghi chú</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <br />
        </div>
    </div>

    <script>
    var datatable_day_history;
    $("#pre-load").show();
    $(document).ready(function () {
        datatable_day_history = $('#work_history_table').DataTable({
            "ajax": {
                "url": '@Url.Action("getDataHistoryWork", "WorkHistory")',
                "type": "POST",
                "datatype": "json",
                "data": {"id": @ViewBag.employee.employee_id},
            },
            "columns": [
                {
                    "data": "attendance_date", "name": "attendance_date", "render": function (data) {
                        return dateFormat(data);
                    }
                },
                {
                    "data": "shifts", "name": "shifts"
                },
                {
                    "data": "note", "name": "note"
                }

            ],
            "language": {
                "zeroRecords": "Không có dữ liệu",
                paginate:
                {
                    previous: "Trang trước",
                    next: "Trang sau",
                    first: "|<",
                    last: ">|"
                }
            },
            "serverSide": "true",
            "order": [0, "desc"],
            "bLengthChange": false,
            "bFilter": false,
            "bInfo": false,
            "bAutoWidth": false,
            "preDrawCallback": function (settings) {
                $('#pre-load').show();
            },
            "initComplete": function () {
                $("#pre-load").hide();
            },
            "drawCallback": function (settings) {
                $('#pre-load').hide();
            }
        });
    });

    function dateFormat(d) {
        if (d != null && d != "") {
            var dateString = d.substr(6);
            var currentTime = new Date(parseInt(dateString));
            var month = currentTime.getMonth() + 1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            var date = day + "/" + month + "/" + year;
            return (date);
        }
        else {
            return (d);
        }
    }
    </script>
}
else
{
    <div class="card">
        <div class="card-content">
            <div class="row">
                <h3 class="report_title center">
                    <B>MÃ NHÂN VIÊN KHÔNG TỒN TẠI</B>
                </h3>
            </div>
        </div>
    </div>
}