
@{
    Layout = "~/Views/Shared/_Layout_BGD2.cshtml";
}

<link href="~/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
<link href="~/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css" rel="stylesheet">
<link href="~/dist/css/style.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="~/assets/libs/jsgrid/dist/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="~/assets/libs/jsgrid/dist/jsgrid-theme.min.css" />
<link href="~/assets/extra-libs/css-chart/css-chart.css" rel="stylesheet">
<link href="~/dist/dashboard_Tuan/customDashboard.css" rel="stylesheet">

<link href="~/dist/css/pages/dashboard1.css" rel="stylesheet">

<link href="~/assets/extra-libs/prism/prism.css" rel="stylesheet" />
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
<link href="~/lib/datepicker_src/css/style.css" rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/custom.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/font.css" rel="stylesheet" type="text/css">
<link href="~/css/Custom css/BGD/dashboard.css" rel="stylesheet" type="text/css">
<script src="~/lib/datepicker_src/dist/js/datepicker.js"></script>
<script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>
<script src="~/assets/extra-libs/prism/prism.js"></script>
<script src="../../assets/extra-libs/sparkline/sparkline.js"></script>
<script src="../../dist/js/pages/sparkline/jquery.charts-sparkline.js"></script>

<div class="row">
    <div class="col l12 m12 s12">
        <div class="card">
            <div class="card-content">
                <h3 class="center">
                    <b>BÁO CÁO NHANH NGÀY </b><i class="fas fa-calendar-alt icon"></i>
                    <input type='text' class='datepicker-here center' data-language='vi' />
                </h3>
                <!--Date here-->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col l4 m6 s12">
        <div class="card green darken-1">
            <div class="card-content info-card orange-gradient">
                <div class="align-items-center">
                    <div class="m-t-10">
                        <h5 class="font-medium info-title">Than hầm lò (Tấn)</h5>
                    </div>
                    <div class="ml-auto m-t-15">
                        <div class="crypto"></div>
                    </div>
                </div>
                <div class="l12">
                    <h6 class="">Tiến độ kế hoạch (tháng): </h6>
                    <div class="progress progress-striped active">
                        <div id="tdlMonth" role="progressbar progress-striped" style=" height:20px" class="progress-bar progress-bar-default center">
                            <span class="progress-pecentage">@ViewBag.tdl.percentMonth%</span>
                        </div>
                    </div>
                </div>
                <div class="l12">
                    <h6 class="">
                        Tiến độ kế hoạch (ngày): @{if (ViewBag.tdl.percentDay < 100)
                            {<b> <span class="red-text"> không hoàn thành. </span> </b>}
                        }
                    </h6>
                    <div class="progress progress-striped active">
                        <div id="tdlDay" role="progressbar progress-striped" style="height:20px" class="progress-bar progress-bar-default center">
                            <span class="progress-pecentage">@ViewBag.tdl.percentDay%</span>
                        </div>
                    </div>
                </div>
                <div class="row text-center m-t-30">

                    <div class="col s4 center detail-info row">
                        <span class="font-14 ">Thực hiện</span>
                        <div>
                            <span class="font-medium" style="border-bottom: 1px dashed">@ViewBag.tdl.Thuchien </span><br />
                            <span class="font-medium" style="color:white">@ViewBag.tdl.Kehoach</span>
                        </div>
                    </div>
                    <div class="col s4 center detail-info">
                        <span class="font-14">Luỹ kế</span>
                        <div>
                            <span class="font-medium" style="border-bottom: 1px dashed">@ViewBag.tdl.Luyke </span><br />
                            <span class="font-medium" style="color:white">@ViewBag.tdl.KehoachThang</span>
                        </div>
                    </div>
                    <div class="col s4 center">
                        <span class="font-14">KH còn lại</span>
                        <p class="font-medium">@ViewBag.tdl.Ton</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col l4 m6 s12 extend-height">
        <div class="card green darken-1">
            <div class="card-content info-card">
                <div class="align-items-center">
                    <div class="m-t-10">
                        <h5 class="font-medium">Than lộ thiên (Tấn)</h5>
                    </div>
                    <div class="ml-auto m-t-15">
                        <div class="crypto"></div>
                    </div>
                </div>
                <div class="l12">
                    <h6 class="">Tiến độ kế hoạch (tháng): </h6>
                    <div class="progress progress-striped active">
                        <div id="tltMonth" role="progressbar progress-striped" style=" height:20px" class="progress-bar progress-bar-default center">
                            <span class="progress-pecentage">@ViewBag.tlt.percentMonth%</span>
                        </div>
                    </div>
                </div>
                <div class="l12">
                    <h6 class="">
                        Tiến độ kế hoạch (ngày): @{if (ViewBag.tlt.percentDay < 100)
                            {<b> <span class="red-text"> không hoàn thành. </span> </b>}
                        }
                    </h6>
                    <div class="progress progress-striped active">
                        <div id="tltDay" role="progressbar progress-striped" style="height:20px" class="progress-bar progress-bar-default center">
                            <span class="progress-pecentage">@ViewBag.tlt.percentDay%</span>
                        </div>
                    </div>
                </div>
                <div class="row text-center m-t-30">

                    <div class="col s4 center detail-info row">
                        <span class="font-14 ">Thực hiện</span>
                        <div>
                            <span class="font-medium" style="border-bottom: 1px dashed">@ViewBag.tlt.Thuchien </span><br />
                            <span class="font-medium" style="color:orange">@ViewBag.tlt.Kehoach</span>
                        </div>
                    </div>
                    <div class="col s4 center detail-info">
                        <span class="font-14">Luỹ kế</span>
                        <div>
                            <span class="font-medium" style="border-bottom: 1px dashed">@ViewBag.tlt.Luyke </span><br />
                            <span class="font-medium" style="color:orange">@ViewBag.tlt.KehoachThang</span>
                        </div>
                    </div>
                    <div class="col s4 center">
                        <span class="font-14">KH còn lại</span>
                        <p class="font-medium">@ViewBag.tlt.Ton</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col l4 m6 s12">
        <div class="card green darken-1">
            <div class="card-content info-card">
                <div class="align-items-center">
                    <div class="m-t-10">
                        <h5 class="font-medium">Mét lò đào (Mét)</h5>
                    </div>
                    <div class="ml-auto m-t-15">
                        <div class="crypto"></div>
                    </div>
                </div>
                <div class="l12">
                    <h6 class="">Tiến độ kế hoạch (tháng): </h6>
                    <div class="progress progress-striped active">
                        <div id="mldMonth" role="progressbar progress-striped" style=" height:20px" class="progress-bar progress-bar-default center">
                            <span class="progress-pecentage">@ViewBag.mld.percentMonth%</span>
                        </div>
                    </div>
                </div>
                <div class="l12">
                    <h6 class="">
                        Tiến độ kế hoạch (ngày): @{if (ViewBag.mld.percentDay < 100)
                            {<b> <span class="red-text"> không hoàn thành. </span> </b>}
                        }
                    </h6>
                    <div class="progress progress-striped active">
                        <div id="mldDay" role="progressbar progress-striped" style="height:20px" class="progress-bar progress-bar-default center">
                            <span class="progress-pecentage">@ViewBag.mld.percentDay%</span>
                        </div>
                    </div>
                </div>
                <div class="row text-center m-t-30">

                    <div class="col s4 center detail-info row">
                        <span class="font-14 ">Thực hiện</span>
                        <div>
                            <span class="font-medium" style="border-bottom: 1px dashed">@ViewBag.mld.Thuchien </span><br />
                            <span class="font-medium" style="color:orange">@ViewBag.mld.Kehoach</span>
                        </div>
                    </div>
                    <div class="col s4 center detail-info">
                        <span class="font-14">Luỹ kế</span>
                        <div>
                            <span class="font-medium" style="border-bottom: 1px dashed">@ViewBag.mld.Luyke </span><br />
                            <span class="font-medium" style="color:orange">@ViewBag.mld.KehoachThang</span>
                        </div>
                    </div>
                    <div class="col s4 center">
                        <span class="font-14">KH còn lại</span>
                        <p class="font-medium">@ViewBag.mld.Ton</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col l4 m6 s12 extend-height">
        <div class="card green darken-1">
            <div class="card-content info-card">
                <div class="align-items-center">
                    <div class="m-t-10">
                        <h5 class="font-medium">Mét lò neo (Mét)</h5>
                    </div>
                    <div class="ml-auto m-t-15">
                        <div class="crypto"></div>
                    </div>
                </div>
                <div class="l12">
                    <h6 class="">Tiến độ kế hoạch (tháng): </h6>
                    <div class="progress progress-striped active">
                        <div id="mlnMonth" role="progressbar progress-striped" style=" height:20px" class="progress-bar progress-bar-default center">
                            <span class="progress-pecentage">@ViewBag.mln.percentMonth%</span>
                        </div>
                    </div>
                </div>
                <div class="l12">
                    <h6 class="">
                        Tiến độ kế hoạch (ngày): @{if (ViewBag.mln.percentDay < 100)
                            {<b> <span class="red-text"> không hoàn thành. </span> </b>}
                        }
                    </h6>
                    <div class="progress progress-striped active">
                        <div id="mlnDay" role="progressbar progress-striped" style="height:20px" class="progress-bar progress-bar-default center">
                            <span class="progress-pecentage">@ViewBag.mln.percentDay%</span>
                        </div>
                    </div>
                </div>
                <div class="row text-center m-t-30">

                    <div class="col s4 center detail-info row">
                        <span class="font-14 ">Thực hiện</span>
                        <div>
                            <span class="font-medium" style="border-bottom: 1px dashed">@ViewBag.mln.Thuchien </span><br />
                            <span class="font-medium" style="color:orange">@ViewBag.mln.Kehoach</span>
                        </div>
                    </div>
                    <div class="col s4 center detail-info">
                        <span class="font-14">Luỹ kế</span>
                        <div>
                            <span class="font-medium" style="border-bottom: 1px dashed">@ViewBag.mln.Luyke </span><br />
                            <span class="font-medium" style="color:orange">@ViewBag.mln.KehoachThang</span>
                        </div>
                    </div>
                    <div class="col s4 center">
                        <span class="font-14">KH còn lại</span>
                        <p class="font-medium">@ViewBag.mln.Ton</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col l4 m6 s12">
        <div class="card green darken-1">
            <div class="card-content info-card">
                <div class="align-items-center">
                    <div class="m-t-10">
                        <h5 class="font-medium">Mét lò xén (Mét)</h5>
                    </div>
                    <div class="ml-auto m-t-15">
                        <div class="crypto"></div>
                    </div>
                </div>
                <div class="l12">
                    <h6 class="">Tiến độ kế hoạch (tháng): </h6>
                    <div class="progress progress-striped active">
                        <div id="mlxMonth" role="progressbar progress-striped" style=" height:20px" class="progress-bar progress-bar-default center">
                            <span class="progress-pecentage">@ViewBag.mlx.percentMonth%</span>
                        </div>
                    </div>
                </div>
                <div class="l12">
                    <h6 class="">
                        Tiến độ kế hoạch (ngày): @{if (ViewBag.mlx.percentDay < 100)
                            {<b> <span class="red-text"> không hoàn thành. </span> </b>}
                        }
                    </h6>
                    <div class="progress progress-striped active">
                        <div id="mlxDay" role="progressbar progress-striped" style="height:20px" class="progress-bar progress-bar-default center">
                            <span class="progress-pecentage">@ViewBag.mlx.percentDay%</span>
                        </div>
                    </div>
                </div>
                <div class="row text-center m-t-30">

                    <div class="col s4 center detail-info row">
                        <span class="font-14 ">Thực hiện</span>
                        <div>
                            <span class="font-medium" style="border-bottom: 1px dashed">@ViewBag.mlx.Thuchien </span><br />
                            <span class="font-medium" style="color:orange">@ViewBag.mlx.Kehoach</span>
                        </div>
                    </div>
                    <div class="col s4 center detail-info">
                        <span class="font-14">Luỹ kế</span>
                        <div>
                            <span class="font-medium" style="border-bottom: 1px dashed">@ViewBag.mlx.Luyke </span><br />
                            <span class="font-medium" style="color:orange">@ViewBag.mlx.KehoachThang</span>
                        </div>
                    </div>
                    <div class="col s4 center">
                        <span class="font-14">KH còn lại</span>
                        <p class="font-medium">@ViewBag.mlx.Ton</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col l4 m6 s12 extend-height">
        <div class="card green darken-1">
            <div class="card-content info-card">
                <div class="align-items-center">
                    <div class="m-t-10">
                        <h5 class="font-medium">Than tiêu thụ </h5>
                        <h6 class="">Tiến độ kế hoạch (tháng):</h6>
                    </div>
                    <div class="ml-auto m-t-15">
                        <div class="crypto"></div>
                    </div>
                </div>
                <div class="l12">
                    <div class="progress progress-striped active">
                        <div role="progressbar progress-striped" style="width: 35%; height:20px" class="progress-bar progress-bar center">
                            <span class="progress-pecentage">35%</span>
                        </div>
                    </div>
                </div>
                <div class="row text-center m-t-30">
                    <div class="col s4 center detail-info">
                        <span class="font-14 ">Thực hiện</span>
                        <p class="font-medium">8672 / 11000 T</p>
                    </div>
                    <div class="col s4 center detail-info">
                        <span class="font-14">Luỹ kế</span>
                        <p class="font-medium">97955 / 279500 T</p>
                    </div>
                    <div class="col s4 center">
                        <span class="font-14">KH còn lại</span>
                        <p class="font-medium">11347T</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col l4 m6 s12 extend-height">
        <div class="card green darken-1">
            <div class="card-content info-card">
                <div class="align-items-center">
                    <div class="m-t-10">
                        <h5 class="font-medium">Đá xít kho </h5>
                        <h6 class="">Tiến độ kế hoạch (tháng):</h6>
                    </div>
                    <div class="ml-auto m-t-15">
                        <div class="crypto"></div>
                    </div>
                </div>
                <div class="l12">
                    <div class="progress progress-striped active">
                        <div role="progressbar progress-striped" style="width: 38%; height:20px" class="progress-bar progress-bar center">
                            <span class="progress-pecentage">38%</span>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col s4 center detail-info">
                        <span class="font-14 ">Thực hiện</span>
                        <p class="font-medium">1870 / 1500 T</p>
                    </div>
                    <div class="col s4 center detail-info">
                        <span class="font-14">Luỹ kế</span>
                        <p class="font-medium">21531 / 56500 T</p>
                    </div>
                    <div class="col s4 center">
                        <span class="font-14">KH còn lại</span>
                        <p class="font-medium">2186T</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col l4 m6 s12">
        <div class="card green darken-1">
            <div class="card-content info-card">
                <div class="align-items-center">
                    <div class="m-t-10">
                        <h5 class="font-medium">Đất đá bóc tự làm</h5>
                    </div>
                </div>
                <div>
                    <h4> Được 442 chuyến= 3094 m3 </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Sales -->
<!-- ============================================================== -->
<div class="row">
    <div class="col l6 s12">
        <div class="card">
            <div class="card-content">
                <h4 class="card-title">Báo cáo sự cố</h4>
                <div id="table_suco"></div>
            </div>
        </div>
    </div>
    <div class="col l6 s12">
        <div class="card">
            <div class="card-content">
                <h4 class="card-title">Báo cáo tai nạn</h4>
                <div id="table_tainan"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m6 l6">
        <div class="card">
            <div class="card-content analytics-info">
                <h5 class="card-title center">Báo cáo nhân lực đi làm các PX</h5>
                <div id="basic-bar2" style="height:400px;"></div>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l6">
        <div class="card">
            <div class="card-content analytics-info">
                <h5 class="card-title center">Báo cáo nhân lực nghỉ các PX</h5>
                <div id="basic-bar3" style="height:400px;"></div>
            </div>
        </div>
    </div>
</div>
<script src="~/dist/js/custom.min.js"></script>
<!-- ============================================================== -->
<!-- This page plugin js -->
<!-- ============================================================== -->
<script src="~/assets/libs/chartist/dist/chartist.min.js"></script>
<script src="~/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<script src="~/assets/extra-libs/sparkline/sparkline.js"></script>
<script src="~/assets/libs/echarts/dist/echarts-en.min.js"></script>
<script src="~/dist/dashboard_Tuan/dashBoardChart_tuan.js"></script>
<script src="~/dist/dashboard_Tuan/dashBoardChart2_tuan.js"></script>
<!-- Editable -->
<script src="~/dist/dashboard_Tuan/db_Tuan.js"></script>
<script type="text/javascript" src="~/assets/libs/jsgrid/dist/jsgrid.min.js"></script>
<script src="~/dist/dashboard_Tuan/jsgrid-init_Tuan.js"></script>
<!--chart-->
<script src="~/assets/libs/echarts/dist/echarts-en.min.js"></script>
<script src="~/assets/libs/chart.js/dist/Chart.min.js"></script>
<script src="../../assets/extra-libs/sparkline/sparkline.js"></script>

<script>
    $(document).ready(function () {
        //than dao lo
        var x = @ViewBag.tdl.percentDay;
        $('#tdlDay').width(x + '%');
        x = @ViewBag.tdl.percentMonth;
        $('#tdlMonth').width(x + '%');

        //than lo thien
        x = @ViewBag.tlt.percentDay;
        $('#tltDay').width(x + '%');
        x = @ViewBag.tlt.percentMonth;
        $('#tltMonth').width(x + '%');

        //met lo dao
        x = @ViewBag.mld.percentDay;
        $('#mldDay').width(x + '%');
        x = @ViewBag.mld.percentMonth;
        $('#mldMonth').width(x + '%');

        //met lo neo
        x = @ViewBag.mln.percentDay;
        $('#mlnDay').width(x + '%');
        x = @ViewBag.mln.percentMonth;
        $('#mlnMonth').width(x + '%');

        //met lo xen
        x = @ViewBag.mlx.percentDay;
        $('#mlxDay').width(x + '%');
        x = @ViewBag.mlx.percentMonth;
        $('#mlxMonth').width(x + '%');
    });
    $(document).ready(function () {
        $('.datepicker-inline').remove();
    });
    $(document).ready(function () {
        var date = new Date();
        var d = date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear();
        $(".datepicker-here").val(d);
    });
</script>
