@model QUANGHANH2.Models.Account
@{
    ViewBag.Title = "Quản lý tài khoản";
    Layout = null;
}

<!DOCTYPE html>
<style>
    label {
        font-weight: 500;
        font-size: 14px !important;
        color: black !important;
        margin-top: 5px !important;
    }

    .topbar {
        position: fixed !important;
        width: 100%;
        z-index: 1000;
    }

    .right-part {
        padding-top: 50px;
    }

    .right-part {
        width: calc(100% - 700px) !important;
        min-height: calc(100vh - 64px);
        overflow: auto;
        margin-left: 700px !important;
    }

    .left-part.fixed-left-part {
        position: fixed;
        top: 0px;
        padding-top: 10px;
    }

    .left-part {
        margin-top: 50px !important;
        height: 100%;
        width: 700px !important;
        position: absolute;
        border-right: 1px solid rgba(120, 130, 140, 0.13);
    }

    #account-table-container {
        padding-bottom: 100px;
    }
    /*#table_account {
        padding-right: 100px !important;
    }*/
    #delete-btn {
        margin-left: 10px;
    }

    .topbar nav .nav-wrapper .brand-logo {
        background-color: white !important;
    }

    body {
        background: #f7f7f7 !important;
    }
</style>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <title>Quản lý tài khoản</title>
    <!-- chartist CSS neww-->
    <link href="~/css/TABLE_BORDERED.css" rel="stylesheet" />
    <link href="~/dist/css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/dist/js/materialize.min.js"></script>
    <script src="~/assets/libs/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <!-- ============================================================== -->
    <!-- Apps -->
    <!-- ============================================================== -->
    <script src="~/dist/js/app.js"></script>
    <script src="~/dist/js/app.init.js"></script>
    <script src="~/dist/js/app-style-switcher.js"></script>
    <!-- ============================================================== -->
    <!-- Custom js -->
    <!-- ============================================================== -->
    <script src="~/dist/js/custom.min.js"></script>
    <link href="~/assets/Custom css/form-input-border.css" rel="stylesheet" />
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script src="~/assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="~/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="~/js/Flexible_user_icon.js"></script>
    <script src="~/js/Custom JS/form-input-border.js"></script>
    @*START------------SCRIPT FOR DATATABLES*@
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/Select-1.3.0/css/select.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/dataTables.checkboxes.css">
    <script type="text/javascript" charset="utf8" src="~/Content/DataTables/DataTables-1.10.18/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Content/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Content/DataTables/Select-1.3.0/js/dataTables.select.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Content/DataTables/dataTables.checkboxesCustomForAccount.min.js"></script>
    <link href="~/css/preloader/css.css" rel="stylesheet" />
    <script>
        var table;
        $(document).ready(function () {
            table = $('#table_account').DataTable({
                columnDefs: [{
                    targets: 0,
                    data: "ID",

                    checkboxes: {
                        'selectRow': true
                    }
                },
                { "visible": false, "targets": 1 }],
                select: {
                    style: 'multi'
                },
                "processing": true,
                "serverSide": true,
                ajax: {
                    url: "/ManagementUser/Index",
                    type: 'POST',
                },
                columns: [
                    {
                        "data": null,
                        "defaultContent": ""
                    },
                    {
                        "data": "ID",
                    },
                    {
                        "data": "Username",
                        "render": function (data, type, row, meta) {
                            if (type === 'display') {
                                data = '<a href="/ManagementUser/Index?username=' + data + '"  onclick="showLoading()">' + data + '</a>';
                            }
                            return data;
                        }
                    },
                    { "data": "Name", },
                    { "data": "department_name", "name": "department_name" },
                ],
                order: [[1, 'asc']],
                orderCellsTop: true,

                drawCallback: function (settings, json) {
                    var colIdx = 1;
                    var table = $('#table_account').DataTable();
                    var IDs = table.column(colIdx).data();
                    ///
                    $(".pagination").addClass("center");
                    $("#table_account_info").remove();
                    ///
                    //$(IDs).each(function (index, value) {
                    //    if (value === 1) {
                    //        //$(table.row(index).node()).addClass('not-selectable');
                    //        //$(table.row(index).node()).children('td').children('input').remove();
                    //    }
                    //});

                    // Deselect unselectable rows (that can still be selected by using the shift key)...
                    table.on('select', function (e, dt, type, indexes) {
                        if (type === 'row') {
                            var rows = table.rows(indexes).nodes();

                            $.each($(rows), function () {
                                if ($(this).hasClass('not-selectable')) table.row($(this)).deselect();
                            })
                        }
                    });
                },
            });
        });

    </script>
    @*END------------SCRIPT FOR DATATABLES*@
</head>

<body>
    <div id="pre-load" hidden>
        <div class="loading">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <header class="topbar">
        <nav>
            <div class="nav-wrapper">
                <a href="javascript:void(0)" class="brand-logo">
                    <span class="icon">
                        <img class="light-logo" src="/assets/images/logo-light-icon.png">
                    </span>
                    <span class="text">
                        <img class="light-logo" src="/assets/images/logo-dark-text.png">
                    </span>
                </a>
                <ul class="left"></ul>
                <ul class="right">
                    <li>
                        <a class="dropdown-trigger" href="javascript: void(0);" data-target="user_dropdown"><img src="/assets/images/users/2.jpg" alt="user" class="circle profile-pic"></a>
                        <ul id="user_dropdown" class="mailbox dropdown-content dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img"><img src="/assets/images/users/2.jpg" alt="user"></div>
                                    <div class="u-text">
                                        <h4>@Session["Name"]</h4>
                                        <p>@Session["username"]</p>
                                        <a class="waves-effect waves-light btn-small red white-text">Xem Hồ Sơ</a>
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Detail","LogIn")"><i class="small material-icons">account_circle</i> Hồ Sơ Của Tôi</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Index","ManagementUser")"><i class="small material-icons">vpn_key</i> Quản lí</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Management","ManagementUser")"><i class="small material-icons">adb</i> Quản lí quyền</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Logout","LogIn")"><i class="small material-icons">power_settings_new</i>Đăng Xuất</a></li>
                        </ul>
                    </li>
                    <li id="user-icon"><a href="" style="color:black">@Session["Name"] <span class="new badge red" data-badge-caption="@Session["Position"]"></span></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <form>
            <!-- ============================================================== -->
            <!-- Left Part  -->
            <!-- ============================================================== -->
            <div class="left-part fixed-left-part">
                <!-- Mobile toggle button -->
                <a class="ti-menu ti-close btn show-left-part d-block hide-on-med-and-up" href="javascript:void(0)"></a>
                <!-- Mobile toggle button -->
                <div class="p-15">
                    <h4></h4>
                </div>
                <div class="scrollable" style="height:100%;">
                    <div class="row" id="account-table-container">
                        <h5 class="card-title center"><b>Người dùng hiện thời</b></h5>
                        <table id="table_account" class="table datatables striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>Tài khoản người dùng</th>
                                    <th>Họ tên</th>
                                    <th>Phòng ban</th>
                                </tr>
                            </thead>
                        </table>
                        <button type="button" class="btn btn-danger blue" id="delete-btn" onclick="getSelected()">Xóa</button>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Left Part  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right Part  Mail Compose -->
            <!-- ============================================================== -->
            <div class="right-part">
                <div class="p-20">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <h5 class="center"><b>Thông tin chi tiết</b></h5>

                                <div class="row m-t-10" style="padding-left : 3rem">
                                    <label class="control-label text-right">Họ tên</label>
                                    <input type="text" class="form-control" value="@Model.Name" id="txtName">
                                </div>
                                <div class="row m-t-10" style="padding-left : 3rem">
                                    <label class="control-label col-3 align-self-center text-right">Tên đăng nhập</label>
                                    <input type="text" class="form-control col 12" value="@Model.Username" id="txtUsername">
                                </div>
                                <div class="row m-t-10" style="padding-left : 3rem">
                                    <label class="control-label col-3 align-self-center text-right">Chức vụ</label>
                                    <input type="text" class="form-control col 12" value="@Model.Position" id="txtPosition">
                                </div>
                                <div class="row m-t-10" style="padding-left : 3rem">
                                    <label class="control-label col-3 align-self-center text-right">Mã nhân viên</label>
                                    <div class="linedisplay">
                                        <input type="text" class="form-control col 12" value="@Model.NVID" id="txtNVID" list="eqID">
                                    </div>
                                </div>
                                <div class="row m-t-10" style="padding-left : 3rem">
                                    <label class="control-label col-3 align-self-center text-right">Phòng ban</label>
                                    <div class="linedisplay">
                                        <input type="text" class="form-control col 12" value="" id="txtPB" readonly>
                                    </div>
                                </div>
                                <div class="row m-t-10" style="padding-left : 3rem">
                                    <label class="control-label col-3 align-self-center text-right">Mật khẩu</label>
                                    <input type="password" class="form-control col" id="txtPassword">
                                </div>
                                <div class="row m-t-10" style="padding-left : 3rem">
                                    <label class="control-label col-3 align-self-center text-right">Nhập lại mật khẩu</label>
                                    <input type="password" class="form-control col" id="txtRepeatPassword">
                                </div>
                                <br />
                                <h5 class="center" id="rightlabel"><b>Quyền truy cập vào tài nguyên phòng ban</b></h5>


                                <div class="row">
                                    <div class="col l12">
                                        <div class="card">
                                            <div class="content">
                                                <table class="table" style="margin-left:10px" id="bodytable">
                                                    <tr id="hide18">
                                                        <td><label>Ban Giám Đốc</label></td>
                                                        <td>
                                                            <select class="form-control" id="module5">
                                                                <option value="0">Không</option>
                                                                @if (@Model.BGD)
                                                                {
                                                                    <option value="1" selected>Có</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="1">Có</option>
                                                                }
                                                            </select>
                                                        </td>
                                                        <td><a href="#!" onclick="ShowRight(5)">Các quyền</a></td>
                                                    </tr>
                                                    <tr id="hide17">
                                                        <td><label>KCS</label></td>
                                                        <td>
                                                            <select class="form-control" id="module3">
                                                                <option value="0">Không</option>
                                                                @if (@Model.KCS)
                                                                {
                                                                    <option value="1" selected>Có</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="1">Có</option>
                                                                }
                                                            </select>
                                                        </td>
                                                        <td><a href="#!" onclick="ShowRight(3)">Các quyền</a></td>
                                                    </tr>
                                                    <tr id="hide16">
                                                        <td><label>Cơ Điện Vận Tải</label></td>
                                                        <td>
                                                            <select class="form-control" id="module1">
                                                                <option value="0">Không</option>
                                                                @if (@Model.CDVT)
                                                                {
                                                                    <option value="1" selected>Có</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="1">Có</option>
                                                                }
                                                            </select>
                                                        </td>
                                                        <td><a href="#!" onclick="ShowRight(1)">Các quyền</a></td>
                                                    </tr>
                                                    <tr id="hide15">
                                                        <td><label>Tổ Chức Lao Động</label></td>
                                                        <td>
                                                            <select class="form-control" id="module2">
                                                                <option value="0">Không</option>
                                                                @if (@Model.TCLD)
                                                                {
                                                                    <option value="1" selected>Có</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="1">Có</option>
                                                                }
                                                            </select>
                                                        </td>
                                                        <td><a href="#!" onclick="ShowRight(2)">Các quyền</a></td>
                                                    </tr>
                                                    <tr id="hide14">
                                                        <td><label>Phòng Điều Khiển</label></td>
                                                        <td>
                                                            <select class="form-control" id="module4">
                                                                <option value="0">Không</option>
                                                                @if (@Model.DK)
                                                                {
                                                                    <option value="1" selected>Có</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="1">Có</option>
                                                                }
                                                            </select>
                                                        </td>
                                                        <td><a href="#!" onclick="ShowRight(4)">Các quyền</a></td>
                                                    </tr>
                                                    <tr id="hide13">
                                                        <td><label>Phân Xưởng Khai Thác</label></td>
                                                        <td>
                                                            <select class="form-control" id="module6">
                                                                <option value="0">Không</option>
                                                                @if (@Model.PXKT)
                                                                {
                                                                    <option value="1" selected>Có</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="1">Có</option>
                                                                }
                                                            </select>
                                                        </td>
                                                        <td><a href="#!" onclick="ShowRight(6)">Các quyền</a></td>
                                                    </tr>
                                                    <tr id="buttonshow">
                                                        <td><a href="#!" onclick="show()">Các phòng ban khác</a></td>
                                                    </tr>
                                                    <tr id="hide3">
                                                        <td><label>Phân Xưởng Đào Lò</label></td>
                                                        <td>
                                                            <select class='form-control' id='module8'>
                                                                <option value='0'>Không</option>
                                                                @if (@Model.PXDL)
                                                                {
                                                                    <option value='1' selected>Có</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value='1'>Có</option>
                                                                }
                                                            </select>
                                                        </td>
                                                        <td><a href='#!' onclick='ShowRight(8)'>Các quyền</a></td>
                                                    </tr>
                                                    <tr id="hide4">
                                                        <td><label>Phân Xưởng Vận Tải</label></td>
                                                        <td>
                                                            <select class='form-control' id='module9'>
                                                                <option value='0'>Không</option>
                                                                @if (@Model.PXVT)
                                                                {
                                                                    <option value='1' selected>Có</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value='1'>Có</option>
                                                                }
                                                            </select>
                                                        </td>
                                                        <td><a href='#!' onclick='ShowRight(9)'>Các quyền</a></td>
                                                    </tr>
                                                    <tr id="hide5">
                                                        <td><label>Phân Xưởng Lộ Thiên</label></td>
                                                        <td>
                                                            <select class='form-control' id='module16'>
                                                                <option value='0'>Không</option>
                                                                @if (@Model.PXLT)
                                                                {
                                                                    <option value='1' selected>Có</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value='1'>Có</option>
                                                                }
                                                            </select>
                                                        </td>
                                                        <td><a href='#!' onclick='ShowRight(16)'>Các quyền</a></td>
                                                    </tr>
                                                    <tr id="hide6">
                                                        <td><label>Phân Xưởng Sàng Tuyển</label></td>
                                                        <td>
                                                            <select class='form-control' id='module10'>
                                                                <option value='0'>Không</option>
                                                                @if (@Model.PXST)
                                                                {
                                                                    <option value='1' selected>Có</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value='1'>Có</option>
                                                                }
                                                            </select>
                                                        </td>
                                                        <td><a href='#!' onclick='ShowRight(10)'>Các quyền</a></td>
                                                    </tr>
                                                    <tr id="hide7">
                                                        <td><label>Phân Xưởng Cơ Điện Mỏ</label></td>
                                                        <td>
                                                            <select class='form-control' id='module13'>
                                                                <option value='0'>Không</option>
                                                                @if (@Model.PXCDM)
                                                                {
                                                                    <option value='1' selected>Có</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value='1'>Có</option>
                                                                }
                                                            </select>
                                                        </td>
                                                        <td><a href='#!' onclick='ShowRight(13)'>Các quyền</a></td>
                                                    </tr>
                                                    <tr id="hide8">
                                                        <td><label>Phân Xưởng Thông Gió Quản Lí Khí Mỏ</label></td>
                                                        <td>
                                                            <select class='form-control' id='module14'>
                                                                <option value='0'>Không</option>
                                                                @if (@Model.PXTGQLM)
                                                                {
                                                                    <option value='1' selected>Có</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value='1'>Có</option>
                                                                }
                                                            </select>
                                                        </td>
                                                        <td><a href='#!' onclick='ShowRight(14)'>Các quyền</a></td>
                                                    </tr>
                                                    <tr id="hide9">
                                                        <td><label>Phân Xưởng Xây Dựng</label></td>
                                                        <td>
                                                            <select class='form-control' id='module15'>
                                                                <option value='0'>Không</option>
                                                                @if (@Model.PXXD)
                                                                {
                                                                    <option value='1' selected>Có</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value='1'>Có</option>
                                                                }
                                                            </select>
                                                        </td>
                                                        <td><a href='#!' onclick='ShowRight(15)'>Các quyền</a></td>
                                                    </tr>
                                                    <tr id="hide10">
                                                        <td><label>Phân Xưởng Phục Vụ</label></td>
                                                        <td>
                                                            <select class='form-control' id='module11'>
                                                                <option value='0'>Không</option>
                                                                @if (@Model.PXPV)
                                                                {
                                                                    <option value='1' selected>Có</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value='1'>Có</option>
                                                                }
                                                            </select>
                                                        </td>
                                                        <td><a href='#!' onclick='ShowRight(11)'>Các quyền</a></td>
                                                    </tr>
                                                    <tr id="hide11">
                                                        <td><label>Phân Xưởng Đời Sống</label></td>
                                                        <td>
                                                            <select class='form-control' id='module12'>
                                                                <option value='0'>Không</option>
                                                                @if (@Model.PXDS)
                                                                {
                                                                    <option value='1' selected>Có</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value='1'>Có</option>
                                                                }
                                                            </select>
                                                        </td>
                                                        <td><a href='#!' onclick='ShowRight(12)'>Các quyền</a></td>
                                                    </tr>
                                                    <tr id='hide2'>
                                                        <td><label>Phân Xưởng Cơ Khí Sửa chữa</label></td>
                                                        <td>
                                                            <select class='form-control' id='module19'>
                                                                <option value='0'>Không</option>
                                                                @if (@Model.AT)
                                                                {
                                                                    <option value='1' selected>Có</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value='1'>Có</option>
                                                                }
                                                            </select>
                                                        </td>
                                                        <td><a href='#!' onclick='ShowRight(19)'>Các quyền</a></td>
                                                    </tr>
                                                    <tr id='hide1'>
                                                        <td><label>KCM</label></td>
                                                        <td>
                                                            <select class='form-control' id='module18'>
                                                                <option value='0'>Không</option>
                                                                @if (@Model.KCM)
                                                                {
                                                                    <option value='1' selected>Có</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value='1'>Có</option>
                                                                }
                                                            </select>
                                                        </td>
                                                        <td><a href='#!' onclick='ShowRight(18)'>Các quyền</a></td>
                                                    </tr>
                                                    <tr id="hide12">
                                                        <td><label>Quyền quản lí</label></td>
                                                        <td>
                                                            <select class='form-control' id='module7'>
                                                                <option value='0'>Không</option>
                                                                @if (@Model.ADMIN)
                                                                {
                                                                    <option value='1' selected>Có</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value='1'>Có</option>
                                                                }
                                                            </select>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>


                                        @if (@Model.ID != 0)
                                        {
                                            <div class="col">
                                                <button type="button" class="btn btn-primary float-right blue" onclick="UpdateUser()">Cập nhật</button>
                                            </div>
                                            <div class="col">
                                                <button type="button" class="btn btn-primary float-right blue" onclick="ResetPassword()">Reset mật khẩu</button>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col">
                                                <button type="button" class="btn btn-primary float-right blue" onclick="AddNewUser()">Tạo mới</button>
                                            </div>
                                        }
                                        <div class="col">
                                            <button type="button" class="btn btn-primary blue" onclick="Reset()">Đặt lại</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="txtID" value="@Model.ID" />
                <div class="modal" tabindex="-1" role="dialog" id="modalNotifyUpdate">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Thông tin tài khoản</h5>
                            </div>
                            <div class="modal-body">
                                <p id="notifyMessageUpdate" style="color: green;font-size:20px"></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary modal-close blue" onclick="reloadUpdate()">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal" tabindex="-1" role="dialog" id="modalNotify">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Thông tin tài khoản</h5>
                            </div>
                            <div class="modal-body">
                                <p id="notifyMessage" style="color:red;font-size:20px"></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary modal-close blue" data-dismiss="modal">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal" tabindex="-1" role="dialog" id="modalNotifyDelete">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Thông tin tài khoản</h5>
                            </div>
                            <div class="modal-body">
                                <p style="color:red;font-size:20px">Bạn chắc chắn muốn xóa người dùng </p><strong id="notifyMessageDelete"></strong>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger blue " onclick="DeleteUser()">Xóa</button>
                                <button type="button" class="btn btn-secondary modal-close blue" data-dismiss="modal">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal" tabindex="-1" style="width:80%;" id="modalRight">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="titleRight">Các quyền trong Phòng ban</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col s12 m5">
                                        <div class="center"><label><strong>Các quyền cấp</strong></label></div>
                                        <select class="form-control" multiple id="acceptRights" style="height: 360px !important"></select>
                                    </div>
                                    <div class="col s12 m2">
                                        <div class="center" style="margin-top:100px"><button class="btn btn-primary blue" type="button" style="margin-right:10px;" onclick="Accept()">&lt;&lt;&lt;</button><button class="btn btn-primary blue" type="button" onclick="Deny()">&gt;&gt;&gt;</button></div>
                                    </div>
                                    <div class="col s12 m5">
                                        <div class="center"><label><strong>Các quyền không được cấp</strong></label></div>
                                        <select class="form-control" multiple id="denyRights" style="height: 360px !important"></select>
                                    </div>
                                </div>
                                <input type="hidden" id="moduleID" />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary blue modal-close" data-dismiss="modal">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" value="@Model.ID" id="UserID" />
                <input type="hidden" value="" id="MaPB" />
            </div>
            <!-- ============================================================== -->
            <!-- Container fluid scss in scafholding.scss -->
            <!-- ============================================================== -->

        </form>
    </div>
    <datalist id="eqID">
        @foreach (var item in ViewBag.employ)
        {
            <option value="@item.id">@item.name - @item.pb</option>
        }
    </datalist>
    @*<datalist id="PB">
            @foreach (var item in ViewBag.employ)
            {
                <option value="@item.pb"></option>
            }
        </datalist>*@
</body>
</html>

<script>
    $(".loading").css("z-index", 99999);
    $('body').css('overflow', '');

    $(document).ready(function () {
        $('#pre-load').show();
        $("#hide1").hide();
        $("#hide2").hide();
        $("#hide3").hide();
        $("#hide4").hide();
        $("#hide5").hide();
        $("#hide6").hide();
        $("#hide7").hide();
        $("#hide8").hide();
        $("#hide9").hide();
        $("#hide10").hide();
        $("#hide11").hide();
        $("#hide12").hide();
        $("#hide13").hide();
        $("#hide14").hide();
        $("#hide15").hide();
        $("#hide16").hide();
        $("#hide17").hide();
        $("#hide18").hide();
        $("#buttonshow").hide();
        //$("#rightlabel").hide();
        $(document).ajaxStop(function () {
            $('#pre-load').hide();
        });
        if (document.getElementById('txtNVID').value != '') {
            getPB(document.getElementById('txtNVID').value);
        }
        $('#txtNVID').change(function () {
            getPB(document.getElementById('txtNVID').value);
        });
    });
    function getPB(id) {
        var empObj = {
            id: id
        };
        $.ajax({
            url: "/ManagementUser/getPB",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                document.getElementById('txtPB').value = result.department_name;
                document.getElementById('MaPB').value = result.department_id;
                RightDetail();
                $('#pre-load').hide();
            },
            error: function (errormessage) {
                $('#pre-load').hide();
            }
        });
    }

    function RightDetail() {
        show();
        var pb = document.getElementById('MaPB').value;
        if (pb === 'CDVT') { $("#hide16").show(); GetRightFromDBNotFill(1); }
        if (pb === 'TCLD') { $("#hide15").show(); GetRightFromDBNotFill(2); }
        if (pb === 'KCS') { $("#hide17").show(); GetRightFromDBNotFill(3); }
        if (pb === 'DK') { $("#hide14").show(); GetRightFromDBNotFill(4); }
        if (pb === 'BGD') { $("#hide18").show(); GetRightFromDBNotFill(5); }
        if (pb === 'PXCDM') { $("#hide7").show(); GetRightFromDBNotFill(13); }
        if (pb === 'PXCKSC') { $("#hide2").show(); GetRightFromDBNotFill(19); }
        if (pb === 'KCM') { $("#hide1").show(); }
        if (pb.substring(0, 4) === 'PXDL') { $("#hide3").show(); GetRightFromDBNotFill(8); }
        if (pb === 'PXDS') { $("#hide11").show(); GetRightFromDBNotFill(12); }
        if (pb.substring(0, 4) === 'PXKT') { $("#hide13").show(); GetRightFromDBNotFill(6); }
        if (pb === 'PXLT') { $("#hide5").show(); GetRightFromDBNotFill(16); }
        if (pb === 'PXPV') { $("#hide10").show(); GetRightFromDBNotFill(11); }
        if (pb === 'PXST') { $("#hide6").show(); GetRightFromDBNotFill(10); }
        if (pb === 'PXTGQLKM') { $("#hide8").show(); GetRightFromDBNotFill(14); }
        if (pb.substring(0, 4) === 'PXVT') { $("#hide4").show(); GetRightFromDBNotFill(9); }
        if (pb === 'PXXD') { $("#hide9").show(); GetRightFromDBNotFill(15); }
    }

    function show() {
        //$("#hide1").show();
        $("#hide1").hide();
        $("#hide2").hide();
        $("#hide3").hide();
        $("#hide4").hide();
        $("#hide5").hide();
        $("#hide6").hide();
        $("#hide7").hide();
        $("#hide8").hide();
        $("#hide9").hide();
        $("#hide10").hide();
        $("#hide11").hide();
        $("#hide12").hide();
        $("#hide13").hide();
        $("#hide14").hide();
        $("#hide15").hide();
        $("#hide16").hide();
        $("#hide17").hide();
        $("#hide18").hide();
    }
    function showLoading() {
        //$('#pre-load').show();
    }
    function AddNewUser() {
        //if (right1 == null || right2 == null || right3 == null || right4 == null || right5 == null || right6 == null
        //    || right8 == null || right9 == null || right10 == null || right11 == null || right12 == null
        //    || right13 == null || right14 == null || right15 == null || right16 == null || right19 == null) {

        //    document.getElementById("notifyMessage").innerHTML = "Vui lòng chờ!";
        //    $("#modalNotify").modal();
        //} else {
        if (document.getElementById('MaPB').value == '') {
            $("#modalNotify").modal('open');
            document.getElementById("notifyMessage").innerHTML = 'Mã nhân viên không thể để trống';
            return false;
        }
        $('#pre-load').show();
        var module1 = $('#module1').val();
        var module2 = $('#module2').val();
        var module3 = $('#module3').val();
        var module4 = $('#module4').val();
        var module5 = $('#module5').val();
        var module6 = $('#module6').val();
        var module7 = $('#module7').val();
        var module8 = $('#module8').val();
        var module9 = $('#module9').val();
        var module10 = $('#module10').val();
        var module11 = $('#module11').val();
        var module12 = $('#module12').val();
        var module13 = $('#module13').val();
        var module14 = $('#module14').val();
        var module15 = $('#module15').val();
        var module16 = $('#module16').val();
        var module19 = $('#module19').val();
        if (module1 == null) {
            module1 = 0;
        }
        if (module2 == null) {
            module2 = 0;
        }
        if (module3 == null) {
            module3 = 0;
        }
        if (module4 == null) {
            module4 = 0;
        }
        if (module5 == null) {
            module5 = 0;
        }
        if (module6 == null) {
            module6 = 0;
        }
        if (module7 == null) {
            module7 = 0;
        }
        if (module8 == null) {
            module8 = 0;
        }
        if (module9 == null) {
            module9 = 0;
        }
        if (module10 == null) {
            module10 = 0;
        }
        if (module11 == null) {
            module11 = 0;
        }
        if (module12 == null) {
            module12 = 0;
        }
        if (module13 == null) {
            module13 = 0;
        }
        if (module14 == null) {
            module14 = 0;
        }
        if (module15 == null) {
            module15 = 0;
        }
        if (module16 == null) {
            module16 = 0;
        }
        if (module19 == null) {
            module19 = 0;
        }
        var pb = document.getElementById('MaPB').value;
        if (pb === 'CDVT') { var rights = GetAcceptRights(right1); }
        if (pb === 'TCLD') { var rights = GetAcceptRights(right2); }
        if (pb === 'KCS') { var rights = GetAcceptRights(right3); }
        if (pb === 'DK') { var rights = GetAcceptRights(right4); }
        if (pb === 'BGD') { var rights = GetAcceptRights(right5); }
        if (pb === 'PXCDM') { var rights = GetAcceptRights(right13); }
        if (pb === 'PXCKSC') { var rights = GetAcceptRights(right19); }
        if (pb === 'KCM') { var rights = GetAcceptRights(right18); }
        if (pb.substring(0, 4) === 'PXDL') { var rights = GetAcceptRights(right8); }
        if (pb === 'PXDS') { var rights = GetAcceptRights(right12); }
        if (pb.substring(0, 4) === 'PXKT') { var rights = GetAcceptRights(right6); }
        if (pb === 'PXLT') { var rights = GetAcceptRights(right16); }
        if (pb === 'PXPV') { var rights = GetAcceptRights(right11); }
        if (pb === 'PXST') { var rights = GetAcceptRights(right10); }
        if (pb === 'PXTGQLKM') { var rights = GetAcceptRights(right14); }
        if (pb.substring(0, 4) === 'PXVT') { var rights = GetAcceptRights(right9); }
        if (pb === 'PXXD') { var rights = GetAcceptRights(right15); }
        var empObj = {
            Name: document.getElementById("txtName").value,
            Username: document.getElementById("txtUsername").value,
            Position: document.getElementById("txtPosition").value,
            Password: document.getElementById("txtPassword").value,
            RepeatPassword: document.getElementById("txtRepeatPassword").value,
            NVID: document.getElementById("txtNVID").value,
            module1: module1,
            module2: module2,
            module3: module3,
            module4: module4,
            module5: module5,
            module6: module6,
            module7: module7,
            module8: module8,
            module9: module9,
            module10: module10,
            module11: module11,
            module12: module12,
            module13: module13,
            module14: module14,
            module15: module15,
            module16: module16,
            module19: module19,
            rights: rights.substring(0, rights.length - 1),
        }
        $.ajax({
            url: "/ManagementUser/AddNewUser",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                switch (result.CodeError) {
                    case 0:
                        $("#modalNotifyUpdate").modal('open');
                        document.getElementById("notifyMessageUpdate").innerHTML = result.Data;
                        break;
                    case 1:
                        $("#modalNotify").modal('open');
                        document.getElementById("notifyMessage").innerHTML = result.Data;
                        break;
                    case 2:
                        $("#modalNotify").modal('open');
                        document.getElementById("notifyMessage").innerHTML = result.Data;
                        break;
                    default:


                }
                $('#pre-load').hide();
            },
            error: function (errormessage) {
                $('#pre-load').hide();
            }
        });
        //}
    }

    function UpdateUser() {

        //if (right1 == null || right2 == null || right3 == null || right4 == null || right5 == null || right6 == null
        //    || right8 == null || right9 == null || right10 == null || right11 == null || right12 == null
        //    || right13 == null || right14 == null || right15 == null || right16 == null || right19 == null) {
        //    document.getElementById("notifyMessage").innerHTML = "Vui lòng chờ!";
        //    $("#modalNotify").modal('open');
        //} else {
        if (document.getElementById("txtNVID").value == '') {
            $("#modalNotify").modal('open');
            document.getElementById("notifyMessage").innerHTML = 'Mã nhân viên không thể để trống';
            return false;
        }
        $('#pre-load').show();
        var module1 = $('#module1').val();
        var module2 = $('#module2').val();
        var module3 = $('#module3').val();
        var module4 = $('#module4').val();
        var module5 = $('#module5').val();
        var module6 = $('#module6').val();
        var module7 = $('#module7').val();
        var module8 = $('#module8').val();
        var module9 = $('#module9').val();
        var module10 = $('#module10').val();
        var module11 = $('#module11').val();
        var module12 = $('#module12').val();
        var module13 = $('#module13').val();
        var module14 = $('#module14').val();
        var module15 = $('#module15').val();
        var module16 = $('#module16').val();
        var module19 = $('#module19').val();
        if (module1 == null) {
            module1 = 0;
        }
        if (module2 == null) {
            module2 = 0;
        }
        if (module3 == null) {
            module3 = 0;
        }
        if (module4 == null) {
            module4 = 0;
        }
        if (module5 == null) {
            module5 = 0;
        }
        if (module6 == null) {
            module6 = 0;
        }
        if (module7 == null) {
            module7 = 0;
        }
        if (module8 == null) {
            module8 = 0;
        }
        if (module9 == null) {
            module9 = 0;
        }
        if (module10 == null) {
            module10 = 0;
        }
        if (module11 == null) {
            module11 = 0;
        }
        if (module12 == null) {
            module12 = 0;
        }
        if (module13 == null) {
            module13 = 0;
        }
        if (module14 == null) {
            module14 = 0;
        }
        if (module15 == null) {
            module15 = 0;
        }
        if (module16 == null) {
            module16 = 0;
        }
        if (module19 == null) {
            module19 = 0;
        }
        //var rights = GetAcceptRights(right1) +
        //    GetAcceptRights(right2) +
        //    GetAcceptRights(right3) +
        //    GetAcceptRights(right4) +
        //    GetAcceptRights(right5) +
        //    GetAcceptRights(right6) +
        //    GetAcceptRights(right8) +
        //    GetAcceptRights(right9) +
        //    GetAcceptRights(right10) +
        //    GetAcceptRights(right11) +
        //    GetAcceptRights(right12) +
        //    GetAcceptRights(right13) +
        //    GetAcceptRights(right14) +
        //    GetAcceptRights(right15) +
        //    GetAcceptRights(right16) +
        //    GetAcceptRights(right19);
        var pb = document.getElementById('MaPB').value;
        if (pb === 'CDVT') { var rights = GetAcceptRights(right1); }
        if (pb === 'TCLD') { var rights = GetAcceptRights(right2); }
        if (pb === 'KCS') { var rights = GetAcceptRights(right3); }
        if (pb === 'DK') { var rights = GetAcceptRights(right4); }
        if (pb === 'BGD') { var rights = GetAcceptRights(right5); }
        if (pb === 'PXCDM') { var rights = GetAcceptRights(right13); }
        if (pb === 'PXCKSC') { var rights = GetAcceptRights(right19); }
        if (pb === 'KCM') { $("#hide1").show(); }
        if (pb.substring(0, 4) === 'PXDL') { var rights = GetAcceptRights(right8); }
        if (pb === 'PXDS') { var rights = GetAcceptRights(right12); }
        if (pb.substring(0, 4) === 'PXKT') { var rights = GetAcceptRights(right6); }
        if (pb === 'PXLT') { var rights = GetAcceptRights(right16); }
        if (pb === 'PXPV') { var rights = GetAcceptRights(right11); }
        if (pb === 'PXST') { var rights = GetAcceptRights(right10); }
        if (pb === 'PXTGQLKM') { var rights = GetAcceptRights(right14); }
        if (pb.substring(0, 4) === 'PXVT') { var rights = GetAcceptRights(right9); }
        if (pb === 'PXXD') { var rights = GetAcceptRights(right15); }
        var empObj = {
            ID: document.getElementById("txtID").value,
            Name: document.getElementById("txtName").value,
            Username: document.getElementById("txtUsername").value,
            Position: document.getElementById("txtPosition").value,
            Password: document.getElementById("txtPassword").value,
            RepeatPassword: document.getElementById("txtRepeatPassword").value,
            NVID: document.getElementById("txtNVID").value,
            module1: module1,
            module2: module2,
            module3: module3,
            module4: module4,
            module5: module5,
            module6: module6,
            module7: module7,
            module8: module8,
            module9: module9,
            module10: module10,
            module11: module11,
            module12: module12,
            module13: module13,
            module14: module14,
            module15: module15,
            module16: module16,
            module19: module19,
            rights: rights.substring(0, rights.length - 1),
        }
        $.ajax({
            url: "/ManagementUser/UpdateUser",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                switch (result.CodeError) {

                    case 0:
                        $("#modalNotifyUpdate").modal('open');
                        document.getElementById("notifyMessageUpdate").innerHTML = result.Data;
                        break;
                    case 1:
                        $("#modalNotify").modal('open');
                        document.getElementById("notifyMessage").innerHTML = result.Data;
                        break;
                    case 2:
                        $("#modalNotify").modal('open');
                        document.getElementById("notifyMessage").innerHTML = result.Data;
                        break;
                    default:
                        break;


                }
                $('#pre-load').hide();
            },
            error: function (errormessage) {
                $('#pre-load').hide();
            }
        });
        //}
    }

    function GetAcceptRights(right) {
        var rights = "";
        var accept = right.Accept;
        for (var i in accept) {
            rights += accept[i].ID + ",";
        }
        return rights;
    }

    function reloadUpdate() {
        window.location.href = "/ManagementUser/Index"
    }
    function Reset() {
        $('#pre-load').show();
        window.location.href = "/ManagementUser/Index";
    }

    var newstrUIDs = "";

    function getSelected() {
        var strUIDs = "";
        var users = "";
        var selectedIds = table.columns().checkboxes.selected()[0];
        selectedIds.forEach(function (selectedId) {
            strUIDs += selectedId.ID + ",";
            users += selectedId.Username + ",";
        });
        newstrUIDs = strUIDs.substring(0, strUIDs.length - 1);
        users = users.substring(0, users.length - 1);
        if (users != "") {
            $("#modalNotifyDelete").modal('open');
            document.getElementById("notifyMessageDelete").innerText = users;
        }
    }

    function DeleteUser() {
        $('#pre-load').show();
        var empObj = {
            strUIDs: newstrUIDs
        };
        $.ajax({
            url: "/ManagementUser/DeleteUser",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result != "") {
                    window.location.href = "/ManagementUser/Index?DeleteSuccess=false";
                } else {
                    window.location.href = "/ManagementUser/Index?DeleteSuccess=true";
                }

            },
            error: function (errormessage) {

            }
        });
    }

    function ResetPassword() {
        $('#pre-load').show();
        var empObj = {
            UserID: document.getElementById("UserID").value
        };
        $.ajax({
            url: "/ManagementUser/ResetPassword",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                $("#modalNotifyUpdate").modal('open');
                document.getElementById("notifyMessageUpdate").innerHTML = result;
                $('#pre-load').hide();
            },
            error: function (errormessage) {
                $("#modalNotify").modal('open');
                document.getElementById("notifyMessageDelete").innerHTML = result;
                $('#pre-load').hide();
            }
        });
    }

    var right1 = null;
    var right2 = null;
    var right3 = null;
    var right4 = null;
    var right5 = null;
    var right6 = null;
    var right8 = null;
    var right9 = null;
    var right10 = null;
    var right11 = null;
    var right12 = null;
    var right13 = null;
    var right14 = null;
    var right15 = null;
    var right16 = null;
    var right18 = "";
    var right19 = null;
    function ShowRight(moduleID) {
        if (moduleID == 1) {
            document.getElementById("titleRight").innerText = "Các quyền trong Cơ Điện Vận Tải";
            if (right1 == null) {
                GetRightFromDB(1);
            }
            else {
                FillData(right1, 1);
            }
        }
        if (moduleID == 2) {
            document.getElementById("titleRight").innerText = "Các quyền trong Tổ Chức Lao Động";
            if (right2 == null) {
                GetRightFromDB(2);
            }
            else {
                FillData(right2, 2);
            }
        }
        if (moduleID == 3) {
            document.getElementById("titleRight").innerText = "Các quyền trong KCS";
            if (right3 == null) {
                GetRightFromDB(3);
            }
            else {
                FillData(right3, 3);
            }
        }
        if (moduleID == 4) {
            document.getElementById("titleRight").innerText = "Các quyền trong phòng Điều Khiển";
            if (right4 == null) {
                GetRightFromDB(4);
            }
            else {
                FillData(right4, 4);
            }
        }
        if (moduleID == 5) {
            document.getElementById("titleRight").innerText = "Các quyền trong Ban Giám Đốc";
            if (right5 == null) {
                GetRightFromDB(5);
            }
            else {
                FillData(right5, 5);
            }
        }
        if (moduleID == 6) {
            document.getElementById("titleRight").innerText = "Các quyền trong Phân Xưởng Khai Thác";
            if (right6 == null) {
                GetRightFromDB(6);
            }
            else {
                FillData(right6, 6);
            }
        }
        if (moduleID == 8) {
            document.getElementById("titleRight").innerText = "Các quyền trong Phân Xưởng Đào lò";
            if (right8 == null) {
                GetRightFromDB(8);
            }
            else {
                FillData(right8, 8);
            }
        }
        if (moduleID == 9) {
            document.getElementById("titleRight").innerText = "Các quyền trong Phân Xưởng Vận Tải";
            if (right9 == null) {
                GetRightFromDB(9);
            }
            else {
                FillData(right9, 9);
            }
        }
        if (moduleID == 10) {
            document.getElementById("titleRight").innerText = "Các quyền trong Phân Xưởng Sàng Tuyển";
            if (right10 == null) {
                GetRightFromDB(10);
            }
            else {
                FillData(right10, 10);
            }
        }
        if (moduleID == 11) {
            document.getElementById("titleRight").innerText = "Các quyền trong Phân Xưởng Phục Vụ";
            if (right11 == null) {
                GetRightFromDB(11);
            }
            else {
                FillData(right11, 11);
            }
        }
        if (moduleID == 12) {
            document.getElementById("titleRight").innerText = "Các quyền trong Phân Xưởng Đời Sống";
            if (right12 == null) {
                GetRightFromDB(12);
            }
            else {
                FillData(right12, 12);
            }
        }
        if (moduleID == 13) {
            document.getElementById("titleRight").innerText = "Các quyền trong Phân Xưởng Cơ Điện Mỏ";
            if (right13 == null) {
                GetRightFromDB(13);
            }
            else {
                FillData(right13, 13);
            }
        }
        if (moduleID == 14) {
            document.getElementById("titleRight").innerText = "Các quyền trong Phân Xưởng Thông Gió Quản Lí Mỏ";
            if (right14 == null) {
                GetRightFromDB(14);
            }
            else {
                FillData(right14, 14);
            }
        }
        if (moduleID == 15) {
            document.getElementById("titleRight").innerText = "Các quyền trong Phân Xưởng Xây Dựng";
            if (right15 == null) {
                GetRightFromDB(15);
            }
            else {
                FillData(right15, 15);
            }
        }
        if (moduleID == 16) {
            document.getElementById("titleRight").innerText = "Các quyền trong Phân Xưởng Lộ Thiên";
            if (right16 == null) {
                GetRightFromDB(16);
            }
            else {
                FillData(right16, 16);
            }
        }
        if (moduleID == 18) {
            document.getElementById("titleRight").innerText = "Các quyền trong KCM";
            if (right18 == null) {
                GetRightFromDB(18);
            }
            else {
                FillData(right18, 18);
            }
        }
        if (moduleID == 19) {
            document.getElementById("titleRight").innerText = "Các quyền trong Phân Xưởng Cơ Khí Sửa Chữa";
            if (right19 == null) {
                GetRightFromDB(19);
            }
            else {
                FillData(right19, 19);
            }
        }
        $("#modalRight").modal('open');
    }
    function GetRightFromDB(moduleID) {
        $('#pre-load').show();
        var empObj = {
            module: moduleID,
            UserID: document.getElementById("UserID").value
        };
        $.ajax({
            url: "/ManagementUser/GetRightInModule",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (moduleID == 1) {
                    right1 = result;
                    FillData(right1, 1);
                }
                if (moduleID == 2) {
                    right2 = result;
                    FillData(right2, 2);
                }
                if (moduleID == 3) {
                    right3 = result;
                    FillData(right3, 3);
                }
                if (moduleID == 4) {
                    right4 = result;
                    FillData(right4, 4);
                }
                if (moduleID == 5) {
                    right5 = result;
                    FillData(right5, 5);
                }
                if (moduleID == 6) {
                    right6 = result;
                    FillData(right6, 6);
                }
                if (moduleID == 8) {
                    right8 = result;
                    FillData(right8, 8);
                }
                if (moduleID == 9) {
                    right9 = result;
                    FillData(right9, 9);
                }
                if (moduleID == 10) {
                    right10 = result;
                    FillData(right10, 10);
                }
                if (moduleID == 11) {
                    right11 = result;
                    FillData(right11, 11);
                }
                if (moduleID == 12) {
                    right12 = result;
                    FillData(right12, 12);
                }
                if (moduleID == 13) {
                    right13 = result;
                    FillData(right13, 13);
                }
                if (moduleID == 14) {
                    right14 = result;
                    FillData(right14, 14);
                }
                if (moduleID == 15) {
                    right15 = result;
                    FillData(right15, 15);
                }
                if (moduleID == 16) {
                    right16 = result;
                    FillData(right16, 16);
                }
                if (moduleID == 18) {
                    right18 = result;
                    FillData(right18, 18);
                }
                if (moduleID == 19) {
                    right19 = result;
                    FillData(right19, 19);
                }
                $('#pre-load').hide();
            },
            error: function (errormessage) {

            }
        });
    }
    function GetRightFromDBNotFill(moduleID) {
        var empObj = {
            module: moduleID,
            UserID: document.getElementById("UserID").value
        };
        $.ajax({
            url: "/ManagementUser/GetRightInModule",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (moduleID == 1) {
                    right1 = result;
                }
                if (moduleID == 2) {
                    right2 = result;
                }
                if (moduleID == 3) {
                    right3 = result;
                }
                if (moduleID == 4) {
                    right4 = result;
                }
                if (moduleID == 5) {
                    right5 = result;
                }
                if (moduleID == 6) {
                    right6 = result;
                }
                if (moduleID == 8) {
                    right8 = result;
                }
                if (moduleID == 8) {
                    right8 = result;
                }
                if (moduleID == 9) {
                    right9 = result;
                }
                if (moduleID == 10) {
                    right10 = result;
                }
                if (moduleID == 11) {
                    right11 = result;
                }
                if (moduleID == 12) {
                    right12 = result;
                }
                if (moduleID == 13) {
                    right13 = result;
                }
                if (moduleID == 14) {
                    right14 = result;
                }
                if (moduleID == 15) {
                    right15 = result;
                }
                if (moduleID == 16) {
                    right16 = result;
                }
                if (moduleID == 18) {
                    right18 = result;
                }
                if (moduleID == 19) {
                    right19 = result;
                }
            },
            error: function (errormessage) {

            }
        });
    }
    function FillData(right, moduleID) {
        var htmlAccept = "";
        var accept = right.Accept;
        for (var i in accept) {
            htmlAccept += "<option value='" + accept[i].ID + "'>" + accept[i].GroupID + " - " + accept[i].Right + "</option>";
        }
        document.getElementById("acceptRights").innerHTML = htmlAccept;

        var htmlDeny = "";
        var deny = right.Deny;
        for (var i in deny) {
            htmlDeny += "<option value='" + deny[i].ID + "'>" + deny[i].GroupID + " - " + deny[i].Right + "</option>";
        }
        document.getElementById("denyRights").innerHTML = htmlDeny;

        document.getElementById("moduleID").value = moduleID;
    }
    function Accept() {
        var denyRightsID = $('#denyRights').val();
        var denyRights = $("#denyRights :selected").toArray();

        for (var id in denyRights) {
            switch (document.getElementById("moduleID").value) {
                case '1':
                    var res = denyRights[id].innerText.split("-");
                    right1.Deny.splice(denyRights[id].index, 1);
                    var item = {
                        ID: denyRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right1.Accept.push(item);
                    break;
                case '2':
                    var res = denyRights[id].innerText.split("-");
                    right2.Deny.splice(denyRights[id].index, 1);
                    var item = {
                        ID: denyRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right2.Accept.push(item);
                    break;
                case '3':
                    var res = denyRights[id].innerText.split("-");
                    right3.Deny.splice(denyRights[id].index, 1);
                    var item = {
                        ID: denyRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right3.Accept.push(item);
                    break;
                case '4':
                    var res = denyRights[id].innerText.split("-");
                    right4.Deny.splice(denyRights[id].index, 1);
                    var item = {
                        ID: denyRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right4.Accept.push(item);
                    break;
                case '5':
                    var res = denyRights[id].innerText.split("-");
                    right5.Deny.splice(denyRights[id].index, 1);
                    var item = {
                        ID: denyRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right5.Accept.push(item);
                    break;
                case '6':
                    var res = denyRights[id].innerText.split("-");
                    right6.Deny.splice(denyRights[id].index, 1);
                    var item = {
                        ID: denyRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right6.Accept.push(item);
                    break;
                case '8':
                    var res = denyRights[id].innerText.split("-");
                    right8.Deny.splice(denyRights[id].index, 1);
                    var item = {
                        ID: denyRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right8.Accept.push(item);
                    break;
                case '9':
                    var res = denyRights[id].innerText.split("-");
                    right9.Deny.splice(denyRights[id].index, 1);
                    var item = {
                        ID: denyRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right9.Accept.push(item);
                    break;
                case '10':
                    var res = denyRights[id].innerText.split("-");
                    right10.Deny.splice(denyRights[id].index, 1);
                    var item = {
                        ID: denyRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right10.Accept.push(item);
                    break;
                case '11':
                    var res = denyRights[id].innerText.split("-");
                    right11.Deny.splice(denyRights[id].index, 1);
                    var item = {
                        ID: denyRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right11.Accept.push(item);
                    break;
                case '12':
                    var res = denyRights[id].innerText.split("-");
                    right12.Deny.splice(denyRights[id].index, 1);
                    var item = {
                        ID: denyRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right12.Accept.push(item);
                    break;
                case '13':
                    var res = denyRights[id].innerText.split("-");
                    right13.Deny.splice(denyRights[id].index, 1);
                    var item = {
                        ID: denyRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right13.Accept.push(item);
                    break;
                case '14':
                    var res = denyRights[id].innerText.split("-");
                    right14.Deny.splice(denyRights[id].index, 1);
                    var item = {
                        ID: denyRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right14.Accept.push(item);
                    break;
                case '15':
                    var res = denyRights[id].innerText.split("-");
                    right15.Deny.splice(denyRights[id].index, 1);
                    var item = {
                        ID: denyRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right15.Accept.push(item);
                    break;
                case '16':
                    var res = denyRights[id].innerText.split("-");
                    right16.Deny.splice(denyRights[id].index, 1);
                    var item = {
                        ID: denyRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right16.Accept.push(item);
                    break;
                case '18':
                    var res = denyRights[id].innerText.split("-");
                    right18.Deny.splice(denyRights[id].index, 1);
                    var item = {
                        ID: denyRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right18.Accept.push(item);
                    break;
                case '19':
                    var res = denyRights[id].innerText.split("-");
                    right19.Deny.splice(denyRights[id].index, 1);
                    var item = {
                        ID: denyRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right19.Accept.push(item);
                    break;
                default:
            }
            $("#denyRights option[value='" + denyRightsID[id] + "']").remove();
            $("#acceptRights").append("<option value='" + denyRightsID[id] + "'>" + denyRights[id].innerText + "</option>");
            $("#acceptRights").scrollTop(9999999);
        }
    }
    function Deny() {
        var acceptRightsID = $('#acceptRights').val();
        var acceptRights = $("#acceptRights :selected").toArray();

        for (var id in acceptRights) {
            switch (document.getElementById("moduleID").value) {
                case '1':
                    var res = acceptRights[id].innerText.split("-");
                    right1.Accept.splice(acceptRights[id].index, 1);
                    var item = {
                        ID: acceptRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right1.Deny.push(item);
                    break;
                case '2':
                    var res = acceptRights[id].innerText.split("-");
                    right2.Accept.splice(acceptRights[id].index, 1);
                    var item = {
                        ID: acceptRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right2.Deny.push(item);
                    break;
                case '3':
                    var res = acceptRights[id].innerText.split("-");
                    right3.Accept.splice(acceptRights[id].index, 1);
                    var item = {
                        ID: acceptRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right3.Deny.push(item);
                    break;
                case '4':
                    var res = acceptRights[id].innerText.split("-");
                    right4.Accept.splice(acceptRights[id].index, 1);
                    var item = {
                        ID: acceptRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right4.Deny.push(item);
                    break;
                case '5':
                    var res = acceptRights[id].innerText.split("-");
                    right5.Accept.splice(acceptRights[id].index, 1);
                    var item = {
                        ID: acceptRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right5.Deny.push(item);
                    break;
                case '6':
                    var res = acceptRights[id].innerText.split("-");
                    right6.Accept.splice(acceptRights[id].index, 1);
                    var item = {
                        ID: acceptRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right6.Deny.push(item);
                    break;
                case '8':
                    var res = acceptRights[id].innerText.split("-");
                    right8.Accept.splice(acceptRights[id].index, 1);
                    var item = {
                        ID: acceptRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right8.Deny.push(item);
                    break;
                case '9':
                    var res = acceptRights[id].innerText.split("-");
                    right9.Accept.splice(acceptRights[id].index, 1);
                    var item = {
                        ID: acceptRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right9.Deny.push(item);
                    break;
                case '10':
                    var res = acceptRights[id].innerText.split("-");
                    right10.Accept.splice(acceptRights[id].index, 1);
                    var item = {
                        ID: acceptRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right10.Deny.push(item);
                    break;
                case '11':
                    var res = acceptRights[id].innerText.split("-");
                    right11.Accept.splice(acceptRights[id].index, 1);
                    var item = {
                        ID: acceptRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right11.Deny.push(item);
                    break;
                case '12':
                    var res = acceptRights[id].innerText.split("-");
                    right12.Accept.splice(acceptRights[id].index, 1);
                    var item = {
                        ID: acceptRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right12.Deny.push(item);
                    break;
                case '13':
                    var res = acceptRights[id].innerText.split("-");
                    right13.Accept.splice(acceptRights[id].index, 1);
                    var item = {
                        ID: acceptRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right13.Deny.push(item);
                    break;
                case '14':
                    var res = acceptRights[id].innerText.split("-");
                    right14.Accept.splice(acceptRights[id].index, 1);
                    var item = {
                        ID: acceptRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right14.Deny.push(item);
                    break;
                case '15':
                    var res = acceptRights[id].innerText.split("-");
                    right15.Accept.splice(acceptRights[id].index, 1);
                    var item = {
                        ID: acceptRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right15.Deny.push(item);
                    break;
                case '16':
                    var res = acceptRights[id].innerText.split("-");
                    right16.Accept.splice(acceptRights[id].index, 1);
                    var item = {
                        ID: acceptRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right16.Deny.push(item);
                    break;
                case '18':
                    var res = acceptRights[id].innerText.split("-");
                    right18.Accept.splice(acceptRights[id].index, 1);
                    var item = {
                        ID: acceptRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right18.Deny.push(item);
                    break;
                case '19':
                    var res = acceptRights[id].innerText.split("-");
                    right19.Accept.splice(acceptRights[id].index, 1);
                    var item = {
                        ID: acceptRightsID[id],
                        Right: res[1],
                        GroupID: res[0]
                    };
                    right19.Deny.push(item);
                    break;
                default:
            }
            $("#acceptRights option[value='" + acceptRightsID[id] + "']").remove();
            $("#denyRights").append("<option value='" + acceptRightsID[id] + "'>" + acceptRights[id].innerText + "</option>");
            $("#denyRights").scrollTop(9999999);
        }
    }
</script>
