@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    input[list] {
        width: 450px !important;
        margin-left: auto;
        margin-right: auto;
        background: #D2E9FF;
        padding: 20px 20px 20px 20px;
        font: 12px Arial, Helvetica, sans-serif;
        color: #666;
    }

    .tabs .tab a {
        color: #5b616e !important;
    }

    .tabs .indicator {
        background-color: #039be5 !important;
    }

    .img-circle {
        border-radius: 50% !important;
    }

    .page-titles {
        padding: 10px 30px 0px 30px !important;
    }

    hr {
        border: 4px solid #039be5 !important;
        border-radius: 5px !important;
        width: 900px !important;
        margin-left: calc((100% - 900px)/2) !important
    }

    .right-part {
        width: calc(100% - 400px) !important;
        margin-left: 400px !important;
    }

    .topbar nav .nav-wrapper .brand-logo {
        background-color: white !important;
    }

    .left-part {
        height: unset !important;
        width: 400px !important;
        position: absolute;
        border-right: 1px solid rgba(120, 130, 140, 0.13);
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Roles Management</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <link href="~/css/TABLE_BORDERED.css" rel="stylesheet" />
    <link href="~/dist/css/style.css" rel="stylesheet">
    <link href="~/css/preloader/css.css" rel="stylesheet" />
    <link href="~/assets/sweetalert/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/assets/Custom css/form-input-border.css" rel="stylesheet" />
    <link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/dist/css/pages/data-table.css" rel="stylesheet">

    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/dist/js/materialize.min.js"></script>
    <script src="~/assets/libs/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/js/Custom JS/form-input-border.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/dist/js/custom.min.js"></script>
    <script src="~/js/Flexible_user_icon.js"></script>
    <script src="~/assets/sweetalert/alert-quanghanh-js.js"></script>
    <script src="~/assets/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/assets/sweetalert/sweetalert2.min.js"></script>
</head>
<body>
    <div class="main-wrapper">
        <div class="preloader">
            <div class="loading">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <header class="topbar">
            <nav>
                <div class="nav-wrapper">
                    <a href="/@Session["url"].ToString()" class="brand-logo">
                        <span class="icon">
                            <img class="light-logo" src="/assets/images/logo-light-icon.png">
                        </span>
                        <span class="text">
                            <img class="light-logo" src="/assets/images/logo-dark-text.png">
                        </span>
                    </a>
                    <ul class="right">
                        <li>
                            <a class="dropdown-trigger" href="javascript: void(0);" data-target="user_dropdown"><img src="/assets/images/users/2.jpg" alt="user" class="circle profile-pic"></a>
                            <ul id="user_dropdown" class="mailbox dropdown-content dropdown-user">
                                <li>
                                    <div class="dw-user-box">
                                        <div class="u-img"><img src="/assets/images/users/2.jpg" alt="user"></div>
                                        <div class="u-text">
                                            <h4>@Session["Name"]</h4>
                                            <p>@Session["username"]</p>
                                            <a class="waves-effect waves-light btn-small red white-text">Xem Hồ Sơ</a>
                                        </div>
                                    </div>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("Detail","LogIn")"><i class="small material-icons">account_circle</i> Hồ Sơ Của Tôi</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("Index","ManagementUser")"><i class="small material-icons">vpn_key</i> Quản lí</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"><i class="small material-icons">settings</i> Cài Đặt Tài Khoản</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("Logout","LogIn")"><i class="small material-icons">power_settings_new</i>Đăng Xuất</a></li>
                            </ul>
                        </li>
                        <li id="user-icon"><a href="" style="color:black">@Session["Name"] <span class="new badge red" data-badge-caption="@Session["Position"]"></span></a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="page-wrapper">
            <div class="card">
                <div class="card-content">
                    <div class="page-titles center">
                        <h1><b>QUẢN LÝ CÁC QUYỀN</b></h1>
                    </div>
                    <hr />
                    <div class="row center">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="col l5 m5 s12 input-field">
                                    <input type="text" placeholder="Tìm kiếm theo phòng ban" list="pb" class='form-control' id="module" />
                                </div>
                                <div class="col l5 m5 s12 input-field">
                                    <input type="text" placeholder="Tìm kiếm theo tên quyền" class='form-control' id="rights" />
                                </div>
                                <div class="col l2 m2 s12 input-field">
                                    <a class="waves-effect waves-light btn blue darken-2 modal-close" id="searchRights">Tìm kiếm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="p-20">
                            <div class="col s12 m12 l12">
                                <a class="btn btn-small blue darken-2 modal-trigger btn-mg input-field" data-target="add">Thêm quyền</a>
                            </div>
                            <table id="roles" class="centered striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Tên quyền</th>
                                        <th>Phòng ban</th>
                                        <th>Nhóm màn</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="modal" tabindex="-1" role="dialog" id="edit">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Chỉnh sửa quyền</h5>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col s12 m6">
                                            <div class="form-group">
                                                <label for="date">ID: </label>
                                                <input type="text" class="form-control" value="" id="id" readonly />
                                            </div>
                                            <div class="form-group">
                                                <label for="date">Nhóm màn: </label>
                                                <input type="text" class="form-control" value="" id="group" />
                                            </div>
                                        </div>
                                        <div class="col s12 m6">
                                            <div class="form-group">
                                                <label for="date">Tên quyền : </label>
                                                <input type="text" class="form-control datepicker-her" id="name" />
                                            </div>
                                            <div class="form-group">
                                                <label for="id">Phòng ban : </label>
                                                <input type="text" class="form-control" style="width:330px !important" list="pb" value="" id="pban" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn blue darken-2 modal-close" onclick="EditRoles()">Lưu</button>
                                    <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal" tabindex="-1" role="dialog" id="add">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Thêm quyền</h5>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col s12 m6">
                                            <div class="form-group">
                                                <label for="date">ID: </label>
                                                <input type="text" class="form-control" value="" id="id_add" readonly />
                                            </div>
                                            <div class="form-group">
                                                <label for="date">Nhóm màn: </label>
                                                <input type="text" class="form-control" value="" id="group_add" />
                                            </div>
                                        </div>
                                        <div class="col s12 m6">
                                            <div class="form-group">
                                                <label for="date">Tên quyền : </label>
                                                <input type="text" class="form-control datepicker-her" id="name_add" />
                                            </div>
                                            <div class="form-group">
                                                <label for="id">Phòng ban : </label>
                                                <input type="text" class="form-control" style="width:330px !important" list="pb" value="" id="pban_add" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn blue darken-2 modal-close" onclick="AddRoles()">Lưu</button>
                                    <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="text" id="temp_id" hidden />
    <datalist id="pb">
        @foreach (var item in ViewBag.pb)
        {
            <option value="@item.ID">@item.Module1</option>
        }
    </datalist>
</body>
</html>
<script>
    $(document).ready(function () {
        searchRights();
        $('#searchRights').click(function () {
            dataTable.ajax.reload(function () {
            });
        });
    });

    function searchRights() {

        //get data
        dataTable = $('#roles').on('preXhr.dt', function (e, settings, data) {
            $("#pre-load").show("slow", function () {
            });
            $("#pre-load").css("z-index", "99999");
        }).DataTable({
            "language": {
                "emptyTable": "<li class='text-danger' align='center' style='color:red'>Không tìm thấy dữ liệu</li>",
                "paginate": {
                    "first": "Đầu",
                    "last": "Cuối",
                    "next": "Sau",
                    "previous": "Trước"
                }
            },
            "ajax": {
                "url": "/ManagementUser/searchRoles",
                "type": "POST",
                "datatype": "json",
                "data": {
                    "module": function () { return $('#module').val() },
                    "rights": function () { return $('#rights').val() }
                },
                "cache": "false"
            },
            "drawCallback": function (settings) {
                $("#pre-load").hide("slow", function () {
                });
            },
            "columns": [
                { "data": "ID", "name": "ID" },
                { "data": "Right", "name": "Right" },
                { "data": "Module", "name": "Module" },
                { "data": "GroupID", "name": "GroupID" },
                {
                    "data": "ID", "render": function (data) {
                        return "<a class='waves-effect waves-light btn-small blue darken-2' style='margin-left:5px' onclick='getEditId(" + data + ")' ><i class='far fa-edit'></i>Sửa</a>";
                    },
                    "orderable": false,
                    "searchable": false,
                },
                {
                    "data": "ID", "render": function (data) {
                        return "<a class='waves-effect waves-light btn-small red' style='margin-left:5px' onclick='getDeleteIdEmp(" + data + ")' ><i class='fa fa-trash'></i> Xóa</a>";
                    },
                    "orderable": false,
                    "searchable": false,
                },
            ],

            "serverSide": true,
            "rowId": "MaTaiNan",
            "bLengthChange": false,
            "bFilter": false,
            "bInfo": false,
            "bAutoWidth": false,
            "order": [0, "asc"],
            "initComplete": function (settings, json) {
                ////////////////////////////////////////////////ẨN KHI KHỞI TẠO TABLE XONG  ////////////////////////////////////////////////
                $("#pre-load").hide("slow", function () {
                });
                //////////////////////////////////////////////// //////////////////////////////////////////////// ////////////////////////////////////////////////
            }

        });
    }

    function AddRoles() {
        var empObj = {
            name: document.getElementById("name_add").value,
            group: document.getElementById("group_add").value,
            module: document.getElementById("pban_add").value
        };
        $.ajax({
            url: "/ManagementUser/AddRoles",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                successAlert('Thành công', 'Thêm quyền thành công');
                $('#pre-load').hide();
                dataTable.ajax.reload(function () { });
            },
            error: function (error) {
                errorAlert('Lỗi', 'Có lỗi xảy ra');
            }
        });
    }

    function getEditId(id) {
        var empObj = {
            id: id
        };
        $.ajax({
            url: "/ManagementUser/getEdit",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                document.getElementById("id").value = result.ID;
                document.getElementById("group").value = result.GroupID;
                document.getElementById("name").value = result.Right;
                document.getElementById("pban").value = result.ModuleID;
                $("#edit").modal('open');
            },
            error: function (error) {
                errorAlert('Lỗi', 'Có lỗi xảy ra');
            }
        });
    }
    function EditRoles() {
        $('#pre-load').show();
        var empObj = {
            id: document.getElementById("id").value,
            name: document.getElementById("name").value,
            group: document.getElementById("group").value,
            module: document.getElementById("pban").value
        };
        $.ajax({
            url: "/ManagementUser/EditRoles",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                successAlert('Thành công', 'Cập nhật quyền thành công');
                $('#pre-load').hide();
                dataTable.ajax.reload(function () { });
            },
            error: function (error) {
                errorAlert('Lỗi', 'Có lỗi xảy ra');
                $('#pre-load').hide();
            }
        });
    }

    function getDeleteIdEmp(idEmp) {
        document.getElementById("temp_id").value = idEmp;
        confirmAlert(
            'Bạn có chắc chắn muốn xóa quyền này?',
            '',
            function ahihi() {
                getDeleteId();
            });
    }

    function getDeleteId() {
        $('#pre-load').show();
        var empObj = {
            id: document.getElementById("temp_id").value
        };
        $.ajax({
            url: "/ManagementUser/DeleteRoles",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                successAlert('Thành công', 'Xóa quyền thành công');
                $('#pre-load').hide();
                dataTable.ajax.reload(function () { });
            },
            error: function (error) {
                errorAlert('Lỗi', 'Có lỗi xảy ra');
                $('#pre-load').hide();
            }
        });
    }

    //function ResetPassword() {
    //    $('#pre-load').show();
    //    var empObj = {
    //        oldPass: document.getElementById("matkhaucu").value,
    //        newPass: document.getElementById("matkhau").value,
    //        rePass: document.getElementById("rematkhau").value
    //    };
    //    $.ajax({
    //        url: "/LogIn/ResetPassword",
    //        data: JSON.stringify(empObj),
    //        type: "POST",
    //        contentType: "application/json;charset=utf-8",
    //        dataType: "json",
    //        success: function (result) {
    //            switch (result.CodeError) {
    //                case 1:
    //                    errorAlert('Lỗi', result.Data);
    //                    break;
    //                case 2:
    //                    successAlert(result.Data, '');
    //                    setTimeout(function () {
    //                        window.location.href = "/LogIn/Detail";
    //                    }, 1500);
    //                    break;
    //            }
    //            $('#pre-load').hide();
    //        },
    //        error: function (errormessage) {
    //            errorAlert('Lỗi', 'Có lỗi xảy ra');
    //            $('#pre-load').hide();
    //        }
    //    });
    //}

    $(".loading").css("z-index", 99999);
    $('body').css('overflow', '');
</script>
@*<script>
    $("#pban").keydown(function (e) {
        e.preventDefault();
    });
</script>*@