@model IEnumerable<QUANGHANH2.Models.Equipment>


@{
    ViewData["Title"] = "GeneralList";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}
@{List<string> right = (List<string>)Session["RightIDs"];}
<link href="~/assets/Custom css/CDVT/TABLE_BORDERED.css" rel="stylesheet" />
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
<link href="~/lib/datepicker_src/css/style.css" rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/custom.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/font.css" rel="stylesheet" type="text/css">
<script src="~/lib/datepicker_src/dist/js/datepicker.js"></script>
<script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>
<link href="~/assets/Custom css/CDVT/TABLE_BORDERED.css" rel="stylesheet" />
<div class="card">
    <div class="card-content">
        <div class="container-fluid">
            <div class="row">
                <datalist id="IDlist">
                    @{
                        foreach (var item in ViewBag.listID)
                        {
                            <option value="@item.equipmentId"></option>
                        }
                    }
                </datalist>
                <div class="advanded-search">
                    <div class="row">
                        <h3 class="center"><b>HUY ĐỘNG THIẾT BỊ CƠ GIỚI</b></h3>
                        <hr>
                        <div class="row center">
                            <div class="col l4 m4 s12">
                                <div class="row">
                                    <div class="col l10 m10 s12 input-field">
                                        @using (Html.BeginForm("Change", "Hoatdong", FormMethod.Post, new
                                        {
                                            enctype = "multipart/form-data",
                                            onSubmit = "return Change(this);",
                                            data_restUrl = Url.Action("Change", "Hoatdong")
                                        }))
                                        {
                                            <input list="IDlist" type="text" placeholder="Tìm kiếm theo mã thiết bị" onchange="changeText()" name="id" class='form-control' id="equipmentId-search"
                                                   multiple />
                                        }
                                    </div>
                                    <div class="col l10 m10 s12 input-field">
                                        @using (Html.BeginForm("ChangeName", "Hoatdong", FormMethod.Post, new
                                        {
                                            enctype = "multipart/form-data",
                                            onSubmit = "return Change(this);",
                                            data_restUrl = Url.Action("ChangeName", "Hoatdong")
                                        }))
                                        {
                                            <input list="IDlist" type="text" placeholder="Tìm kiếm theo tên thiết bị" name="name" class='form-control' id="equipmentName-search"
                                                   multiple />
                                        }
                                    </div>
                                    <div class="col l10 m10 s12 input-field">
                                        <select class="form-control" id="department-search">
                                            <option value="" selected>Tất cả</option>
                                            @foreach (var item in ViewBag.listDepeartment)
                                            {
                                                <option value="@item.department_id">@item.department_name</option>
                                            }

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col l4 m4 s12">
                                <div class="row">
                                    <div class="col l10 m10 s12 offset-l1 offset-m1 input-field">
                                        <i class="fas fa-calendar-alt icon"></i>
                                        <input type='text' class='datepicker-here center maxDate' id="date-start-search" data-language='vi' placeholder="Ngày đưa vào sử dụng (từ)" style="height: 24px" />
                                    </div>
                                    <div class="col l10 m10 s12 offset-l1 offset-m1 input-field">
                                        <i class="fas fa-calendar-alt icon"></i>
                                        <input type='text' class='datepicker-here center minDate' id="date-end-search" data-language='vi' placeholder="Ngày đưa vào sử dụng (đến)" style="height: 24px" />
                                    </div>
                                    <div class="col l12 m12 s12 input-field">
                                        <button class="btn blue darken-2 btn-small" id="searchButton1">Tìm kiếm</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col l4 m4 s12">
                                <div class="row">
                                    <div class="col l10 m10 s12 offset-l2 offset-m2 input-field">
                                        @using (Html.BeginForm("ChangeCateName", "Hoatdong", FormMethod.Post, new
                                        {
                                            enctype = "multipart/form-data",
                                            onSubmit = "return Change(this);",
                                            data_restUrl = Url.Action("ChangeCateName", "Hoatdong")
                                        }))
                                        {
                                            <input list="IDlist" type="text" placeholder="Tìm kiếm theo nhóm thiết bị" name="name" class='form-control' id="category-search"
                                                   multiple />
                                        }
                                    </div>
                                    <div class="col l10 m10 s12 offset-l2 offset-m2 input-field">
                                        <select class="form-control" id="equipmentQuality-search">
                                            <option value="" disabled selected>Chọn loại chất lượng</option>
                                            <option value="A">A</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>

                                        </select>
                                    </div>
                                    <div class="col l10 m10 s12 offset-l2 offset-m2 input-field">
                                        @using (Html.BeginForm("ChangeSup", "Hoatdong", FormMethod.Post, new
                                        {
                                            enctype = "multipart/form-data",
                                            onSubmit = "return Change(this);",
                                            data_restUrl = Url.Action("ChangeSup", "Hoatdong")
                                        }))
                                        {
                                            <input list="IDlist" type="text" placeholder="Tìm kiếm theo nhà cung cấp" name="name" class='form-control' id="supplier-search"
                                                   multiple />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col l12 m12 s6">
                            <button class="btn blue darken-2 btn-small" id="searchButton2">Tìm kiếm</button>
                        </div>
                    </div>
                </div>

                <div class="col s12" style="margin-bottom:20px">
                    <div class="left" style="text-align:left !important">

                        @{
                            foreach (var item in right)
                            {
                                if (item.Equals("1"))
                                {
                                    <a class="waves-effect waves-light btn-small blue modal-trigger" data-target="myadd" onclick="PopupForm('@Url.Action("AddOrEdit","Hoatdong")')"><i class="fa fa-plus"></i> Thêm</a>
                                    <a class="waves-effect waves-light btn-small blue modal-trigger" data-target="myadd3" @*onclick="PopupForm('@Url.Action("AddOrEdit","Hoatdong")')*@><i class="fa fa-plus"></i> Thêm nhóm thiết bị</a>

                                }
                                @*if (item.Equals("114"))
                                    {
                                        <a class="waves-effect waves-light btn-small blue modal-trigger" data-target="myadd3" onclick="PopupForm('@Url.Action("AddOrEdit","Hoatdong")')><i class="fa fa-plus"></i> Thêm nhóm thiết bị</a>

                                    }*@
                                if (item.Equals("3"))
                                {
                                    <a class="waves-effect waves-light btn-small blue modal-trigger" id="export-button">Xuất ra Excel</a>

                                }
                                if (item.Equals("2"))
                                {
                                    @*<a class="waves-effect waves-light btn-small blue modal-trigger" href="#kiemdinh">Cập nhật ngày kiểm định</a>*@

                                }

                            }
                        }
                    </div>
                    @*<div class="right">
                            <a class='dropdown-trigger btn' id="filter" href='#' data-target='dropdown1'
                               style="width:250px;background-color:#273146">
                                Xem
                                theo
                            </a>
                        </div>*@
                </div>

                <div class="row">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="col s12 tab"><a href="#chitiet">Chi tiết huy động</a></li>
                            <li class="col s6 tab"><a href="#thongke">Thống kê huy động</a></li>
                        </ul>
                    </div>
                </div>

                <div id="chitiet">

                    <div class="col s12 table_container" id="table-wrapper2">
                        <table id="equipmentTable" class="table-bordered striped mytb">
                            <thead>
                                <tr>
                                    <th>Nhóm thiết bị</th>
                                    <th>Biểm kiểm soát</th>
                                    <th>Tên thiết bị</th>
                                    <th>Số khung</th>
                                    <th>Số máy</th>
                                    <th>Số hiệu</th>
                                    <th>Số chế tạo</th>
                                    <th>Nhà cung cấp</th>
                                    <th>Ngày nhập</th>
                                    <th>Ngày đưa vào sử dụng</th>
                                    <th>Tổng thời gian hoạt động</th>
                                    <th>Loại chất lượng</th>
                                    <th>Đường nhập</th>
                                    <th>Thời hạn bảo hiểm</th>
                                    <th>Thời điểm kiểm định</th>
                                    <th>Thời hạn bảo dưỡng</th>
                                    <th>Phân xưởng sử dụng</th>
                                    <th>Tình trạng hiện tại</th>
                                    <th>Khấu hao ước tính</th>
                                    <th>Khấu hao hiện tại</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                </div>
                <div id="thongke">
                    <div class="col s12 l2">
                        <div class="card mymanu card-hover" style="height: 200px">
                            <div class="card-content center-align table_container" style="overflow-x: auto !important">
                                <div class="row">

                                    <div class="col s12">
                                        <h6 class="card-subtitle center-align m-b-0 white-text">Tổng</h6>
                                        <h2 class="font-light font-medium m-b-0 white-text" style="padding-top: 10px"> @ViewBag.Thongke.total </h2>
                                    </div>
                                    <div class="col s12">
                                        <div class="progress">
                                            <div class="determinate amber darken+5" style="width: 100%"></div>
                                        </div>
                                    </div>
                                    <div class="col s6 center-align">
                                        <h5 class="card-subtitle white-text">Đang hoạt động</h5>
                                        <h5 class="white-text">7000</h5>
                                    </div>
                                    <div class="col s6 center-align">
                                        <h6 class="card-subtitle white-text">Không hoạt động</h6>
                                        <h5 class="white-text">3700</h5>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 l2">
                        <div class="card mymanu card-hover" style="height: 200px">
                            <div class="card-content align-items-center table_container">
                                <div class="row">
                                    <div class="col s12">
                                        <h6 class="card-subtitle center-align white-text">Sửa chữa</h6>
                                        <h4 class=" center-align white-text"> @ViewBag.Thongke.total_repair </h4>
                                    </div>

                                    <div class="col s12">
                                        <div class="progress">
                                            <div class="determinate amber darken+5" style="width: 100%"></div>
                                        </div>
                                    </div>
                                    <div class="col s6 center-align white-text">
                                        <h5 class="card-subtitle white-text">Đã sửa</h5>
                                        <h5 class=" white-text">300</h5>
                                    </div>
                                    <div class="col s6 center-align white-text">
                                        <h6 class="card-subtitle white-text">Đang sửa</h6>
                                        <h5 class=" white-text">200</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 l2">
                        <div class="card mymanu card-hover" style="height: 200px">
                            <div class="card-content align-items-center table_container">
                                <div class="row">
                                    <div class="col s12">
                                        <h6 class="card-subtitle center-align white-text">Bảo dưỡng </h6>
                                        <h4 class=" center-align white-text"> @ViewBag.Thongke.total_maintain</h4>
                                    </div>

                                    <div class="col s12">
                                        <div class="progress">
                                            <div class="determinate amber darken+5" style="width: 100%"></div>
                                        </div>
                                    </div>

                                    <div class="col s6 center-align white-text">
                                        <h5 class="card-subtitle white-text">Đã bảo dưỡng</h5>
                                        <h5 class=" white-text">700</h5>
                                    </div>
                                    <div class="col s6 center-align white-text">
                                        <h6 class="card-subtitle white-text">Đang bảo dưỡng</h6>
                                        <h5 class=" white-text">200</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 l2">
                        <div class="card mymanu card-hover" style="height: 200px">
                            <div class="card-content align-items-center table_container">
                                <div class="row">
                                    <div class="col s12">
                                        <h6 class="card-subtitle center-align white-text">Kiểm định</h6>
                                        <h4 class=" center-align white-text"> @ViewBag.Thongke.total_KD</h4>
                                    </div>

                                    <div class="col s12">
                                        <div class="progress">
                                            <div class="determinate amber darken+5" style="width: 100%"></div>
                                        </div>
                                    </div>
                                    <div class="col s6 center-align white-text">
                                        <h5 class="card-subtitle white-text">Hoàn thành</h5>
                                        <h5 class=" white-text">700</h5>
                                    </div>
                                    <div class="col s6 center-align white-text">
                                        <h6 class="card-subtitle white-text">Sắp đến hạn</h6>
                                        <h5 class=" white-text">300</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 l2">
                        <div class="card mymanu card-hover" style="height: 200px">
                            <div class="card-content align-items-center table_container">
                                <div class="row">
                                    <div class="col s12">
                                        <h6 class="card-subtitle center-align white-text">Thanh lý</h6>
                                        <h4 class=" center-align white-text"> @ViewBag.Thongke.total_TL </h4>
                                    </div>

                                    <div class="col s12">
                                        <div class="progress">
                                            <div class="determinate amber darken+5" style="width: 100%"></div>
                                        </div>
                                    </div>

                                    <div class="col s5 center-align white-text">
                                        <h5 class="card-subtitle white-text">Đã thanh lý</h5>
                                        <h5 class=" white-text">100</h5>
                                    </div>
                                    <div class="col s6 offset-s1 center-align white-text">
                                        <h6 class="card-subtitle white-text">Đang thanh lý</h6>
                                        <h5 class=" white-text">200</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 l2">
                        <div class="card mymanu card-hover" style="height: 200px">
                            <div class="card-content align-items-center table_container">
                                <div class="row">
                                    <div class="col s12 center-align" style="padding-top: 45px">
                                        <h6 class="card-subtitle white-text">Thu hồi</h6>
                                        <h4 class="font-medium m-b-0 white-text"> @ViewBag.Thongke.total_TH </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="nhomthietbi">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Thêm nhóm thiết bị mới</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="date">Mã nhóm thiết bị : </label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="name">Loại thiết bị : </label>
                            <select class="form-control">
                                <option>Thiết bị hầm lò</option>
                                <option>Thiết bị lộ thiên</option>
                                <option>Thiết bị truyền dẫn</option>
                                <option>Thiết bị sàng tuyển</option>
                            </select>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="name">Tên nhóm : </label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <hr>
                    <div class="col s12 center-align" style="margin-top:15px">
                        <h5><b>Đặc tính kỹ thuật</b></h5>
                    </div>
                    <div class="col s12">
                        <table id="TableABC" class="centered striped table-bordered">
                            <thead>
                                <tr>
                                    <th>TT</th>
                                    <th>Tên đặc tính</th>
                                    <th>Thông số</th>
                                    <th>ĐVT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="dem">1</td>
                                    <td><input type="text" class="form-control" placeholder="Tên đặc tính" /></td>
                                    <td><input type="number" class="form-control" placeholder="Thông số" /></td>
                                    <td><input type="text" class="form-control" placeholder="ĐVT" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a class="left"><button id="them" type="submit" class="btn light-blue lighten-1"><i class="large material-icons">add</i></button></a>
            <button id="check" type="submit" class="btn blue darken-2 modal-close save-category">Lưu</button>
            <button id="check1" type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>

<div class="modal fade" id="myadd">
    <div class="modal-header center-align">
        <h3>Thêm</h3>
    </div>

    @Html.Action("Add", "Hoatdong")
</div>
<div class="modal fade" id="myadd3">
    <div class="modal-header center-align">
        <h3>Thêm nhóm thiết bị</h3>
    </div>
    @Html.Action("AddCategory", "Hoatdong")

</div>




<div class="modal fade" id="myedit">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Sửa</h3>
        </div>
        @Html.Action("Edit", "Hoatdong")

    </div>
</div>

<div id="kiemdinh" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Cập nhật ngày kiểm định</h3>
        </div>
        <form action="/phong-cdvt/huy-dong/kd" method="post">
            <div class="modal-body">
                <div class="row">
                    <div class="col s12 m6">
                        <label for="number">Mã thiết bị: </label>
                        <input type="text" name="id" class="form-control" />
                    </div>
                    <div class="col s12 m6">
                        <label for="number">Ngày kiểm định: </label>
                        <input type="datetime" name="date" class="form-control datepicker-here maxDate" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" id="save" class="btn blue btn-default modal-close" style="color:white">Cập nhật</button>
                    @*<input type="submit" value="Cập nhật" class="btn blue btn-default modal-close" />*@
                </div>
            </div>
        </form>
    </div>
</div>
<form asp-action="Delete" method="post">
    <div id="myaleart" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Xác nhận xóa mục này</h3>
            </div>
            <div class="modal-body">
                <p class="red-text">Dữ liệu không thể phục hồi sau thao tác này</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue darken-2 modal-close">Xóa</button>
                <button type="button" class="btn red modal-close">Hủy</button>
            </div>
        </div>
    </div>
</form>

@using (Html.BeginForm("Atri", "Hoatdong", FormMethod.Post, new
{
    id = "myForm",
    enctype = "multipart/form-data",
    onSubmit = "return Atri(this);",
    data_restUrl = Url.Action("Atri", "Hoatdong", new { id = "" })
}))
{
    <input type="text" id="atri" name="name" style="display:none !important"/>
}

<ul id='dropdown1' class='dropdown-content'>
    <li><a class="dropdown-child" href="#!" name="lothien">Danh sách thiết bị lộ thiên</a></li>
    <li><a class="dropdown-child" href="#!" name="hamlo">Danh sách thiết bị hầm lò</a></li>
    <li><a class="dropdown-child" href="#!" name="baohiem">Danh sách hết bảo hiểm</a></li>
    <li><a class="dropdown-child" href="#!" name="khauhao">Danh sách hết khấu hao</a></li>
    <li><a class="dropdown-child" href="#!" name="baoduong">Danh sách đang bảo dưỡng</a></li>
    <li><a class="dropdown-child" href="#!" name="suachua">Danh sách đang sửa chữa</a></li>
    <li><a class="dropdown-child" href="#!" name="suco">Danh sách đang gặp sự cố</a></li>
    <li><a class="dropdown-child" href="#!" name="kiemdinh">Danh sách đang kiểm định</a></li>
    <li><a class="dropdown-child" href="#!" name="kiemdinh">Danh sách đang trung đại tu</a></li>
    <li><a class="dropdown-child" href="#!" name="kiemdinh">Danh sách các thiết bị dùng chung</a></li>
</ul>
<script src="~/js/Briefs_List.js"></script>
<script src="~/js/Custom JS/CDVT/Home/huydong.js"></script>
<link href="~/assets/Custom css/form-input-border.css" rel="stylesheet" />
<script src="~/js/Custom JS/CDVT/Home/DetailManu_Daily.js"></script>
<script>
    $('#equipmentId-search').change(function () {
        $(this).closest('form').submit();
    });
    $('equipmentName-search').change(function () {
        $(this).closest('form').submit();
    });
    $('category-search').change(function () {
        $(this).closest('form').submit();
    });
    $('supplier-search').change(function () {
        $(this).closest('form').submit();
    });
    $('#Equipment_category_id').change(function () {
        $('#atri').val($('#Equipment_category_id').val());
        $('#myForm').submit();
    });

    $(window).resize(function () {
        if ($(window).width() <= 600) {
            $("#searchButton1").hide();
            $("#searchButton2").show();
        } else {
            $("#searchButton1").show();
            $("#searchButton2").hide();
        }
    });
    $('.Datemv').datepicker({
        language: 'vi',
        maxDate: new Date(),
        minDate: new Date("1/1/1900")
    })
    $('.maxDate').datepicker({
        language: 'vi',
        maxDate: new Date(),
        minDate: new Date("1/1/1900")
    })
    $('.minDate').datepicker({
        language: 'vi',
        maxDate: new Date() // Now can select only dates, which goes after today
    })
    $(document).ready(function () {
        $('.datepicker-inline').remove();
        //var today = new Date();
        //var dd = today.getDate();
        //var mm = today.getMonth() + 1; //January is 0!

        //var yyyy = today.getFullYear();
        //if (dd < 10) {
        //    dd = '0' + dd;
        //}
        //if (mm < 10) {
        //    mm = '0' + mm;
        //}
        //var today = dd + '/' + mm + '/' + yyyy;

        //today = new Date("1/1/1900");
        //var dd = today.getDate();
        //var mm = today.getMonth() + 1; //January is 0!

        //var yyyy = today.getFullYear();
        //if (dd < 10) {
        //    dd = '0' + dd;
        //}
        //if (mm < 10) {
        //    mm = '0' + mm;
        //}
        //var today = dd + '/' + mm + '/' + yyyy;
    });



    $(document).ready(function () {
        $('input[required]').each(function myfunction() {
            $(this).attr("oninvalid", "setCustomValidity('Không được bỏ trống ô này')");
            $(this).attr("oninput", "this.setCustomValidity('')");
        })
    })
</script>

<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        //export fuction
        $("#export-button").click(function () {
            $("#pre-load").show();
            $.ajax({
                type: "POST",
                url: "/phong-cdvt/oto/huy-dong/export",
                cache: false
            }).done(function () {
                window.location.href = "/excel/CDVT/download/baocaohoatdong.xlsx";
                $("#pre-load").hide();
            })
        });

        var Popup, dataTable, bol,bol2;
        @{
    var hihi = right.Contains("4");
    var hehe = right.Contains("5");
}
        bol = @hihi.ToString().ToLower();
        bol2 = false;
        $(document).ready(function () {
            dataTable = $('#equipmentTable')
                .on('preXhr.dt', function (e, settings, data) {
                    ////////////////////////////////////HIỆN LÊN MỖI KHI CHẠY AJAX//////////////////////////////////
                    $("#pre-load").show("slow", function () {
                    });
                    $("#pre-load").css("z-index", "99999");
                    ////////////////////////////////////////////////////////////////////////
                })
                .DataTable({
                    "ajax": {
                        "url": "/phong-cdvt/oto/huy-dong/search",
                    "type": "POST",
                        "datatype": "json",
                           "data": {
                               "equipmentId": function () { return $('#equipmentId-search').val() },
                               "equipmentName": function () { return $('#equipmentName-search').val() },
                               "department": function () { return $('#department-search').val() },
                               "quality": function () { return $('#equipmentQuality-search').val() },
                               "dateStart": function () { return $('#date-start-search').val() },
                               "dateEnd": function () { return $('#date-end-search').val() },
                               "category": function () { return $('#category-search').val() },
                               "sup": function () { return $('#supplier-search').val() }
                        },
                        "cache": false
                },
               "columns": [
                    { "data": "Equipment_category_name", "name" : "Equipment_category_name"},
                    {
                        "data": "equipmentId", "name": "equipmentId", "render": function (data) {
                            return ("<form action=\"/phong-cdvt/thiet-bi\" method=\"post\"><input type=\"hidden\" name=\"id\" value=\"" + data + "\" class=\"form-control\"/><button class='btn' onclick='submit'>" + data + "</button></form>");
                        }
                    },
                    { "data": "equipment_name", "name": "equipment_name" },
                    { "data": "sokhung", "name": "sokhung" },
                    { "data": "somay", "name": "somay" },
                    { "data": "fabrication_number", "name": "fabrication_number" },
                    { "data": "mark_code", "name" : "mark_code"},
                    { "data": "supplier", "name": "supplier" },
                    {
                        "data": "date_import", "name": "date_import", "render": function (data) {
                            return dateFormat2(data) + " ";
                        },

                    },
                    {
                        "data": "usedDay", "name": "usedDay", "render": function (data) {
                            return dateFormat2(data) + " ";
                        },
                    },
                    { "data": "total_operating_hours" , "name" : "total_operating_hours"},
                    { "data": "quality_type" , "name" : "quality_type"},
                    { "data": "input_channel", "name": "input_channel" },
                    {
                        "data": "durationOfInsurance", "name": "durationOfInsurance", "render": function (data) {
                            return dateFormat2(data) + " ";
                        },
                    },
                    {
                        "data": "durationOfInspection_fix", "name": "durationOfInspection", "render": function (data) {
                            return dateFormat2(data) + " ";
                        },
                    },
                    {
                        "data": "durationOfMaintainance", "name": "durationOfMaintainance", "render": function (data) {
                            return dateFormat2(data) + " ";
                        },
                    },
                    { "data": "department_name" , "name" : "department_name"},
                    { "data": "statusname", "name" : "statusname"},
                    { "data": "depreciation_estimate", "name": "depreciation_estimate" },
                    { "data": "depreciation_present", "name": "depreciation_present" },
                    
                    
                    
                    //
                    {
                        "data": "equipmentId", "visible":bol,"render": function (data) {
                return "<a class='waves-effect waves-light btn-small blue modal-trigger' data-target='myedit' onclick=Edit('@Url.Action("Edit","Hoatdong")/" + data + "')><i class='fa fa-pencil'></i>Chỉnh&nbsp;sửa</a>";
            },
                        "orderable": false,
                        "searchable":false,
                        "width":"150px"
                    },
                    {
                        "data": "equipmentId", "visible":bol2, "render": function (data) {
                return "<a class='waves-effect waves-light btn-small blue' style='margin-left:5px' onclick=Delete('@Url.Action("Delete","Hoatdong")/" + data + "')><i class='fa fa-trash'></i>Xóa</a>";
            },
                        "orderable": false,
                        "searchable":false,
                        "width":"150px"
                        }
                    ],
                 "drawCallback": function (settings) {
                        ///////////////////////ẨN SAU MỖI AJAX CALL////////////////////////
                        $("#pre-load").hide("slow", function () {
                        });
                        ////////////////////////////////////////////////
                    },
                "serverSide": "true",
                "bLengthChange": false,
                "bFilter": false,
                "bInfo": false,
                "bAutoWidth": false,
                "order": [0, "asc"],
                "language": {
                        emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                        paginate:
                        {
                            previous: "Trang trước",
                            next: "Trang sau",
                            first: "|<",
                            last: ">|"
                        }
                    },
                "initComplete": function (settings, json) {
                        ////////////////////////////////////////////////ẨN KHI KHỞI TẠO TABLE XONG  ////////////////////////////////////////////////
                        $("#pre-load").hide("slow", function () {
                        });
                        //////////////////////////////////////////////// //////////////////////////////////////////////// ////////////////////////////////////////////////
                    },

                });
        });

        $("#searchButton1").click(function () {
              $("#pre-load").show();
            dataTable.ajax.reload(function () {
               $.notify("Tìm kiếm thành công", {
                      globalPosition: "top center",
                     className: "success"
                    })
            });
            // dataTable.destroy();
            @*$("#pre-load").show();
             dataTable = $('#equipmentTable')
                  .on('preXhr.dt', function (e, settings, data) {
                    ////////////////////////////////////HIỆN LÊN MỖI KHI CHẠY AJAX//////////////////////////////////
                    $("#pre-load").show("slow", function () {
                    });
                    $("#pre-load").css("z-index", "99999");
                    ////////////////////////////////////////////////////////////////////////
                })
                 .DataTable({

                    "language": {
                        "equipmentTable": "Không tìm thấy dữ liệu"
                    },
                    "ajax": {
                        "url": "/phong-cdvt/oto/huy-dong/search",
                        "type": "POST",
                        "search": false,
                        "datatype": "json",
                        "data": {
                            "equipmentId": $('#equipmentId-search').val(),
                            "equipmentName": $('#equipmentName-search').val(),
                            "department": $('#department-search').val(),
                            "quality": $('#equipmentQuality-search').val(),
                            "dateStart": $('#date-start-search').val(),
                            "dateEnd": $('#date-end-search').val(),
                            "category": $('#category-search').val(),
                            "sup": $('#supplier-search').val()
                        },
                        "cache": false
                    },
                   "columns": [
                    { "data": "Equipment_category_name", "name" : "Equipment_category_name"},
                    {
                        "data": "equipmentId", "name": "equipmentId", "render": function (data) {
                            return ("<form action=\"thiet-bi\" method=\"post\"><input type=\"hidden\" name=\"id\" value=\"" + data + "\" class=\"form-control\"/><button class='btn' onclick='submit'>" + data + "</button></form>");
                        }
                    },
                    { "data": "equipment_name", "name": "equipment_name" },
                    { "data": "fabrication_number", "name": "fabrication_number" },
                    { "data": "mark_code", "name" : "mark_code"},
                    { "data": "supplier", "name": "supplier" },
                    {
                        "data": "date_import", "name": "date_import", "render": function (data) {
                            return dateFormat2(data) + " ";
                        },

                    },
                    {
                        "data": "usedDay", "name": "usedDay", "render": function (data) {
                            return dateFormat2(data) + " ";
                        },
                    },
                    { "data": "total_operating_hours" , "name" : "total_operating_hours"},
                    { "data": "quality_type" , "name" : "quality_type"},
                    { "data": "input_channel", "name": "input_channel" },
                    {
                        "data": "durationOfInsurance", "name": "durationOfInsurance", "render": function (data) {
                            return dateFormat2(data) + " ";
                        },
                    },
                    {
                        "data": "durationOfInspection_fix", "name": "durationOfInspection", "render": function (data) {
                            return dateFormat2(data) + " ";
                        },
                    },
                    {
                        "data": "durationOfMaintainance", "name": "durationOfMaintainance", "render": function (data) {
                            return dateFormat2(data) + " ";
                        },
                    },
                    { "data": "department_name" , "name" : "department_name"},
                    { "data": "statusname", "name" : "statusname"},
                    { "data": "depreciation_estimate", "name": "depreciation_estimate" },
                    { "data": "depreciation_present", "name": "depreciation_present" },
                    
                    
                    
                    //
                    {
                        "data": "equipmentId", "visible":bol,"render": function (data) {
                return "<a class='waves-effect waves-light btn-small blue modal-trigger' data-target='myedit' onclick=Edit('@Url.Action("Edit","Hoatdong")/" + data + "')><i class='fa fa-pencil'></i>Chỉnh&nbsp;sửa</a>";
            },
                        "orderable": false,
                        "searchable":false,
                        "width":"150px"
                    },
                    {
                        "data": "equipmentId", "visible":bol2, "render": function (data) {
                return "<a class='waves-effect waves-light btn-small blue' style='margin-left:5px' onclick=Delete('@Url.Action("Delete","Hoatdong")/" + data + "')><i class='fa fa-trash'></i>Xóa</a>";
            },
                        "orderable": false,
                        "searchable":false,
                        "width":"150px"
                        }
                    ],
                     "drawCallback": function (settings) {
                        ///////////////////////ẨN SAU MỖI AJAX CALL////////////////////////
                        $("#pre-load").hide("slow", function () {
                        });
                        ////////////////////////////////////////////////
                    },
                   "serverSide": "true",
                "bLengthChange": false,
                "bFilter": false,
                "bInfo": false,
                "bAutoWidth": false,
                "order": [0, "asc"],
                "language": {
                        emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                        paginate:
                        {
                            previous: "Trang trước",
                            next: "Trang sau",
                            first: "|<",
                            last: ">|"
                        }
                    },
                "initComplete": function (settings, json) {
                        ////////////////////////////////////////////////ẨN KHI KHỞI TẠO TABLE XONG  ////////////////////////////////////////////////
                        $("#pre-load").hide("slow", function () {
                        });
                        //////////////////////////////////////////////// //////////////////////////////////////////////// ////////////////////////////////////////////////
                    },

                });*@
            });
        function dateFormat2(d) {
                var dateString = d.substr(6);
                var currentTime = new Date(parseInt(dateString));
                var month = currentTime.getMonth() + 1;
                var day = currentTime.getDate();
                var year = currentTime.getFullYear();
                var date = day + "/" + month + "/" + year;
                return (date);
            }
            function dateFormat(d) {
                console.log(d);
                return ((d.getMonth() + 1) + "").padStart(2, "0")
                    + "/" + (d.getDate() + "").padStart(2, "0")
                    + "/" + d.getFullYear();
        }

        function Change(form) {

            $.validator.unobtrusive.parse(form);

            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        var options = '';
                        options = JSON.stringify(data);
                        var i = options.length;;
                        options = options.substring(24, i - 2);
                        document.getElementById('IDlist').innerHTML = options;

                    }
                });
            }


            return false;
        }
        function Atri(form) {

            $.validator.unobtrusive.parse(form);

            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        var options = '';
                        options = JSON.stringify(data.data);
                        options = options.substring(1, options.length - 1);
                        $('#cateTB tbody').empty();
                        $('#cateTB').append(options);

                    }
                });
            }


            return false;
        }
        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: 'Nhập thông tin',
                        height: 1000,
                        width: 800,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }

                    });
                });
        }

        function UpdateEquipment(form) {
            $("#pre-load").show("slow", function () {
            });
            $("#pre-load").css("z-index", "99999");
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        dataTable.ajax.reload();
                        $("#pre-load").hide("slow", function () {
                        });
                        $.notify("Cập nhật thành công", {
                            globalPosition: "top center",
                            className: "success"
                        })

                    },
                    error: function () {
                        alert(response.data.message)
                    }
                });
                $("#pre-load").hide("slow", function () {
                });
                $("#pre-load").hide();
            }


            return false;
        }
        function SubmitForm2(form) {
            //$("#pre-load").show();
            $("#pre-load").show("slow", function () {
            });
            $("#pre-load").css("z-index", "99999");
            $.validator.unobtrusive.parse(form);

            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        dataTable.ajax.reload();
                        if (data.success == false) {
                            $.notify("Lỗi", {
                                globalPosition: "top center",
                                className: "error"
                            })
                        } else {
                            $.notify("Thêm thành công", {
                                globalPosition: "top center",
                                className: "success"
                            });
                            window.location.reload(true);
                        }


                    },
                    error: function (data) {
                        dataTable.ajax.reload();
                        $("#btn-submit").addClass("modal-close");
                        $.notify("Lỗi", {
                            globalPosition: "top center",
                            className: "error"
                        })

                    },
                });
            }
            $("#pre-load").hide("slow", function () {
            });
            $("#pre-load").hide();
            //$("#pre-load").hide();

            return false;
        }

        function SubmitForm(form) {
            $("#pre-load").show("slow", function () {
            });

            $.validator.unobtrusive.parse(form);

            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        dataTable.ajax.reload();
                        if (data.success == false) {
                            $.notify("Lỗi", {
                                globalPosition: "top center",
                                className: "error"
                            })
                        } else {
                            $.notify("Thêm thành công", {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }

                    }
                });
            }

            $("#pre-load").hide("slow", function () {
            });
            $("#pre-load").hide();
            return false;
        }
        function Edit(url) {
            $("#pre-load").show("slow", function () {
            });
            $("#pre-load").css("z-index", "99999");
            $.get(url)
                .done(function (response) {
                    $("#edit-modal-body").html(response)

                });
            $("#pre-load").hide("slow", function () {
            });
            $("#pre-load").hide();
            return false;
        }



            function Delete(url) {
            $("#pre-load").show("slow", function () {
            });
            $("#pre-load").css("z-index", "99999");
            $.get(url)
                .done(function (response) {

                    dataTable.ajax.reload();
                    $("#pre-load").hide("slow", function () {
                    });
                    $.notify("Hihi Xóa Xong", {
                        globalPosition: "top center",
                        className: "success"
                    })

                });

            return false;
        }
    </script>
}