
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
    List<string> rights = (List<string>)Session["RightIDs"];
}

<link href="~/assets/libs/toastr/build/toastr.min.css" rel="stylesheet" />
<link href="~/assets/uploader/dropzone.min.css" rel="stylesheet" />
<script src="~/assets/uploader/dropzone.min.js"></script>
<style>
    #toast-container {
        min-width: 10%;
        top: 0;
        right: 50%;
        transform: translateX(50%) translateY(50%);
    }

    #photo-container {
        padding-top: 10px;
    }

    .datepicker {
        z-index: 9999;
    }

    #toast-container {
        min-width: 10%;
        top: 0;
        right: 50%;
        transform: translateX(50%) translateY(50%);
    }

    ul.dropdown-content {
        position: fixed !important;
        z-index: 9999;
    }

    .dropzone .dz-preview .dz-image {
        margin: auto;
    }

    .dropzone .dz-preview .dz-progress .dz-upload {
        background: #29bb22 !important;
        background: linear-gradient(to bottom, #7ceb69, #29bb22) !important;
        top: 0;
        bottom: 0;
        width: 0;
    }

    .dz-preview.dz-processing.dz-success.dz-complete.dz-image-preview {
        margin: 0px !important;
        display: block;
    }

    .dropzone .dz-preview:hover .dz-image img {
        -webkit-filter: blur(0px) !important;
        filter: blur(0px) !important;
    }

    .validation {
        color: red;
    }
</style>
<div class="card">
    <div class="card-content">
        <div class="row center">
            <h3><b>DANH SÁCH  HỆ THỐNG CAMERA</b></h3>
            <hr>
            <div class="col l6 m6 s12">
                <div class="row">
                    <div class="col l10 m10 s12 input-field">
                        <input type="text" placeholder="Tên vị trí hệ thống" class='form-control' id="location-search" />
                    </div>
                    <div class="col l10 m10 s12 input-field">
                        <input type="text" placeholder="Tình trạng ổ cứng" class='form-control' id="status-search" />
                    </div>
                </div>
            </div>
            <div class="col l6 m6 s12">
                <div class="row">
                    <div class="col l10 m10 s12 offset-l2 offset-m2 input-field">
                        <input type="text" placeholder="Lý do mất tín hiệu" class='form-control' id="reason-search" />
                    </div>
                    <div class="col l10 m10 s12 offset-l2 offset-m2 input-field">
                        <select class="form-control" id="department-search">
                            <option value="">Tất cả phòng ban</option>
                            @foreach (QUANGHANH2.Models.Department item in ViewBag.departs)
                            {
                                <option value="@item.department_id">@item.department_name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <a class="waves-effect waves-light btn blue darken-2 modal-close modal-trigger" id="searchButton">Tìm kiếm</a>
            </div>
            @if (rights.Contains("196"))
            {
                <div class="col s12">
                    <a class="waves-effect waves-light btn-small blue modal-trigger left" id="add-room" href="#myadd">Thêm</a>
                </div>
            }
            <div class="col s12 table_container">
                <table class="table-bordered striped table-responsive centered" id="complex_header">
                    <thead>
                        <tr>
                            <th>Tên vị trí hệ thống</th>
                            <th>Đơn vị trực thuộc</th>
                            <th>Thông tin đăng nhập</th>
                            <th>Tình trạng số lượng (có tín hiệu/tổng số)</th>
                            <th>Tình trạng ổ cứng</th>
                            <th>Dung lượng ổ cứng</th>
                            <th>Số seri ổ cứng</th>
                            <th>Ổ cứng đang lưu dữ liệu</th>
                            <th>Tình trạng kỹ thuật camera</th>
                            <th>Ghi chú</th>
                            @if (rights.Contains("199"))
                            {
                                <th></th>
                            }
                            @if (rights.Contains("198"))
                            {
                                <th></th>
                            }
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="myphoto" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Ảnh thông tin hệ thống camera <span></span></h3>
        </div>
        <div class="modal-body">
            <img id="photocamera" />
        </div>
        <div class="modal-footer">
            @if (rights.Contains("197"))
            {
                <a class="waves-effect waves-light btn blue darken-2 modal-trigger" href="#myphoto2">Thay ảnh</a>
            }
            <a class="btn light-blue lighten-1 modal-close" id="exit-delete">Thoát</a>
        </div>
    </div>
</div>

<datalist id="departs">
    @foreach (QUANGHANH2.Models.Department item in ViewBag.departs)
    {
        <option value="@item.department_id">@item.department_name</option>
    }
</datalist>

<script src="~/assets/libs/toastr/build/toastr.min.js"></script>
<script>
    var room_id, dataTable;
    $("#pre-load").show();

    $(document).ready(function () {
        dataTable = $('#complex_header').DataTable({
            "language": {
                "emptyTable": "Không tìm thấy dữ liệu",
                "info": "Đang hiện _START_ đến _END_ của _TOTAL_ bản ghi",
                "infoEmpty": "Đang hiện 0 đến 0 của 0 bản ghi",
                "paginate": {
                    "first": "Trang đầu",
                    "last": "Trang cuối",
                    "next": "Trang sau",
                    "previous": "Trang trước"
                }
            },
            "ajax": {
                "url": "/camera",
                "type": "POST",
                "datatype": "json",
                "data": {
                    "location": function () { return $('#location-search').val() },
                    "status": function () { return $('#status-search').val() },
                    "reason": function () { return $('#reason-search').val() },
                    "department": function () { return $('#department-search').val() }
                },
                "cache": false
            },
            "columns": [
                {
                    "data": {}, "name": "room_name", render: function (data) {
                        if (data.image_link != null)
                            return "<a class='modal-trigger get-photo' href='#myphoto' data-room='" + data.room_id + "'>" + data.room_name + "</a>";
                        else
                            return "<a class='modal-trigger get-photo' href='#myphoto2' data-room='" + data.room_id + "'>" + data.room_name + "</a>";
                    }
                },
                { "data": "department_name", "name": "department_name", },
                { "data": "login_information", "name": "login_information", },
                {
                    "data": {}, "name": "camera_quantity", render: function (data) {
                        return data.camera_available + "/" + data.camera_quantity;
                    }
                },
                { "data": "disk_status", "name": "disk_status" },
                {
                    "data": "capacity", "name": "capacity", render: function (data) {
                        return data % 1000 ? (data + " GB") : (data / 1000 + " TB");
                    }
                },
                { "data": "series", "name": "series" },
                {
                    "data": "disk_saveable", "name": "disk_saveable", render: function (data) {
                        return data ? "Có" : "Không";
                    }
                },
                { "data": "signal_loss_reason", "name": "signal_loss_reason" },
                { "data": "note", "name": "note" },
                @if (rights.Contains("199"))
                {
                    @Html.Raw("{ data: \"room_id\", orderable: false, render: function (data) { return \"<a class='waves-effect waves-light btn blue darken-2 modal-trigger edit-room' href='#myedit' data-room='\" + data + \"'>Sửa</a>\"; } },");
                }

                @if (rights.Contains("198"))
                {
                    @Html.Raw("{ data: \"room_id\", orderable: false, render: function (data) { return \"<a class='waves-effect waves-light btn red darken-2 modal-trigger' href='#mydelete' data-room='\" + data + \"'>Xóa</a>\"; } },");
                }
            ],
            createdRow: function (row, data, dataIndex) {
                $(row).find('td:eq(1)').attr('data-department', data.department_id)
            },
            "serverSide": "true",
            "order": [0, "desc"],
            "lengthChange": false,
            "searching": false,
            "initComplete": function (settings, json) {
                $("#pre-load").hide();
            },
            "preDrawCallback": function (settings) {
                $('#pre-load').show();
            },
            "drawCallback": function (settings) {
                $('#pre-load').hide();
            }
        });

        $('#searchButton').click(function () {
            dataTable.ajax.reload();
        })

        $(document).on('click', '#complex_header a', function () {
            room_id = $(this).data('room');
            $('#mydelete h3 span').text($(this).closest('tr').children('td').eq(0).text());
            $('#myedit h3 span').text($(this).closest('tr').children('td').eq(0).text());
        })
    });

    $(document).on('click', '.get-photo', function () {
        $('#pre-load').show();
        $('#photocamera').removeAttr('src');
        $.ajax({
            url: "/phong-cdvt/camera/danh-sach/photo",
            data: {
                id: $(this).data('room')
            },
            cache: false,
            method: 'get',
            success: function (data) {
                if (data.success) {
                    var image = new Image();
                    image.src = 'data:image/jpeg;base64,' + data.base64;
                    image.onload = function () {
                        var ratio = Math.max(Math.ceil(image.width / $(window).width()), Math.ceil(image.height / $(window).height()));
                        image.width = image.width / ratio;
                        image.height = image.height / ratio;
                        $('#myphoto').width(image.width + 24 * 2);
                        $('#photocamera').attr('src', 'data:image/jpeg;base64,' + data.base64);
                        $('#photocamera').width(image.width);
                        $('#photocamera').height(image.height);
                    };
                }
                $('#pre-load').hide();
            }
        })
    })
</script>

@if (rights.Contains("196"))
{
    <div class="modal" id="myadd">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Thêm hệ thống camera</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="s12 m12">
                            <div class="form-group">
                                <label>Đơn vị trực thuộc : </label>
                                <input class="form-control" id="department-add" list="departs" />
                            </div>
                        </div>
                        <div class="s12 m12">
                            <div class="form-group">
                                <label>Tên vị trí hệ thống : </label>
                                <input required type="text" class="form-control" id="location-add" />
                            </div>
                        </div>
                        <div class="s12 m12">
                            <div class="form-group">
                                <label>Số lượng : </label>
                                <input required type="number" min="1" value="1" class="form-control" id="quantity-add" />
                            </div>
                        </div>
                        <div class="s12 m12">
                            <div class="form-group">
                                <label>Ghi chú : </label>
                                <input required type="text" class="form-control" id="note-add" />
                            </div>
                        </div>
                        <div class="s12 m12">
                            <div class="form-group">
                                <label>Thông tin đăng nhập : </label>
                                <input required type="text" class="form-control" id="login-add" />
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="s12 m12">
                            <div class="form-group">
                                <label>Số seri ổ cứng : </label>
                                <input required type="text" class="form-control" id="resial-add" />
                            </div>
                        </div>
                        <div class="s12 m12">
                            <div class="form-group">
                                <label>Tình trạng ổ cứng : </label>
                                <input required type="text" class="form-control" id="status-add" />
                            </div>
                        </div>
                        <div class="s12 m12">
                            <div class="form-group">
                                <label>Dung lượng ổ cứng (GB) : </label>
                                <input required type="number" min="1" class="form-control" value="1" id="capacity-add" />
                            </div>
                        </div>
                        <div class="s12 m12">
                            <div class="form-group" style="padding-top: 29px;">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" value="false" class="custom-control-input" id="checkbox-add" onclick="checkbox()">
                                    <span class="custom-control-label" for="chbxTerms">Có lưu dữ liệu</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m12" id="photo-container">
                        <label>Ảnh hệ thống : </label>
                        <div action='/' enctype="multipart/form-data" method="post" class="dropzone" id="myAwesomeDropzone">
                            <div class="fallback">
                                <input type="file" id="fUpload" class="form-control" single />
                            </div>
                            <div class="dz-message needsclick">
                                <i class="medium material-icons dp48">cloud_upload</i>
                                <h3 id="title_uploader">Kéo thả file hoặc click vào đây để tải lên</h3>
                                <span class="text-muted font-13">(File hợp lệ: jpg, png)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="waves-effect waves-light btn blue darken-2 modal-trigger" id="save-add">Lưu</a>
                <button class="btn light-blue lighten-1 modal-close" id="exit-add-button">Thoát</button>
            </div>
        </div>
    </div>

    <script>
        $('#add-room').click(function () {
            $('#location-add').val('');
            $('#status-add').val('');
            $('#capacity-add').val(1);
            $('#quantity-add').val(1)
            $('#resial-add').val('');
            $('#note-add').val('');
            $('#login-add').val('');
        })

        function checkbox() {
            if ($('#checkbox-add').is(':checked')) {
                $('#checkbox-add').val(true)
            } else {
                $('#checkbox-add').val(false)
            }
        }

        $('#save-add').click(function () {
            if ($("#location-add").val() == "" || $('#quantity-add').val() < 1 || $('#capacity-add').val() < 1 || $('#resial-add').val() == "" || $('#status-add').val() == "" || room_id == "") {
                toastr.error("Xin điền đầy đủ thông tin");
                return;
            }
            $('#pre-load').show();
            let data = new FormData();
            data.append("img", data1.get("img"));
            data.append("location", $("#location-add").val());
            data.append("quantity", $('#quantity-add').val());
            data.append("note", $('#note-add').val());
            data.append("department", $('#department-add').val());
            data.append("capacity", $('#capacity-add').val());
            data.append("serial", $('#resial-add').val())
            data.append("status", $('#status-add').val());
            data.append("saveable", $('#checkbox-add').val());
            data.append("login", $('#login-add').val());
            $.ajax({
                url: "/camera/add",
                type: "post",
                data: data,
                cache: false,
                datatype: "json",
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.success) {
                        window.location.reload();
                    }
                    else {
                        errorAlert(data.message);
                        $('#pre-load').hide();
                    }
                }
            })
        })
    </script>
}

@if (rights.Contains("197"))
{
    <div id="myphoto2" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Ảnh thông tin hệ thống camera <span></span></h3>
            </div>
            <div class="modal-body">
                <div action='/' enctype="multipart/form-data" method="post" class="dropzone" id="myAwesomeDropzone">
                    <div class="fallback">
                        <input type="file" id="fUpload" class="form-control" single />
                    </div>
                    <div class="dz-message needsclick">
                        <i class="medium material-icons dp48">cloud_upload</i>
                        <h3 id="title_uploader">Kéo thả file hoặc click vào đây để tải lên</h3>
                        <span class="text-muted font-13">(File hợp lệ: jpg, png)</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="waves-effect waves-light btn blue darken-2 modal-trigger" id="save-photo">Lưu</button>
                <button type="button" class="btn light-blue lighten-1 modal-close" id="exit-delete">Thoát</button>
            </div>
        </div>
    </div>

    <script>
    $('#save-photo').click(function () {
        $('#pre-load').show();
        let data = new FormData();
        data.append("img", data1.get("img"));
        data.append("room_id", room_id);
        $.ajax({
            url: "/phong-cdvt/camera/danh-sach/photo",
            type: "post",
            data: data,
            cache: false,
            datatype: 'json',
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.success) {
                    window.location.reload();
                }
                else {
                    errorAlert(data.message);
                    $('#pre-load').hide();
                }
            }
        })
    })

    //Create by TUANKQ, THANGDV
    var data1 = new FormData();

    window.Dropzone.options.myAwesomeDropzone = {
        paramName: "file", // The name that will be used to transfer the file
        maxFilesize: 6, // MB
        addRemoveLinks: true,
        autoProcessQueue: true,
        dictRemoveFile: 'Hủy',
        clickable: true,
        acceptedFiles: "image/jpeg,image/png,image/gif,image/jpg,image/bmp",
        maxFiles: 10,
        thumbnailWidth: null,
        thumbnailHeight: null,
        uploadMultiple: true,
        parallelUploads: 10,
        maxfilesexceeded: function() {
            var myDropzone = this;
            myDropzone.removeAllFiles();
        },
        init: function () {
            this.on("addedfile", function (file) {
                var reader = new FileReader();
                reader.onload = function (event) {
                    var extension = event.target.result.split(';')[0].split('/')[1];
                    if (!(extension == 'jpeg' || extension == 'png' || extension == 'gif' || extension == 'bmp' || extension == 'jpg')) {
                        errorAlert('Ảnh chụp giấy hẹn chưa đúng định dạng')
                        return;
                    }
                    else {
                        $('#pre-load').show();
                        var image = new Image();
                        image.src = event.target.result;
                        image.onload = function () {
                            var canvas = document.createElement("canvas");
                            var ctx = canvas.getContext("2d");
                            canvas.width = image.width;
                            canvas.height = image.height;
                            ctx.drawImage(image, 0, 0);
                            var URL = canvas.toDataURL('image/jpeg');
                            dataURItoBlob(URL);
                        };
                    }
                };
                reader.readAsDataURL(file);
                if (this.files.length > 1) {
                    for (var i = 0; i < this.files.length; i++){
                            this.removeFile(this.files[i]);
                    }
                }
            });
            this.on("removedfile", function () {
                data1.delete("img");
                //data1.delete("imgName")
            });
            this.on("thumbnail", function (file, dataUrl) {
                $('.dz-image').last().find('img').attr({ width: '100%', height: '100%' });
            }),
            this.on("success", function (file) {
                $('.dz-image').css({ "width": "100%", "height": "auto" });
            })
            var myDropzone = this;
            $("#btnUpload3").click(function (e) {
                e.preventDefault();
                myDropzone.processQueue();
            });
            this.on('sending', function (file, xhr, formData) {
                //data1.append("img", file);
            });
        },
        dictResponseError: "Lỗi (Code: {{statusCode}})",
        dictFileTooBig: "Kích cỡ file quá lớn ({{filesize}}MB). Kích cỡ file tối đa: {{maxFilesize}}MB ",
        dictInvalidFileType: "File không hợp lệ",
    };

    function dataURItoBlob(dataURI) {
        var blobBin = atob(dataURI.split(',')[1]);
        var array = [];
        for (var i = 0; i < blobBin.length; i++) {
            array.push(blobBin.charCodeAt(i));
        }
        var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
        var file = new Blob([new Uint8Array(array)], { type: mimeString });
        data1.append("img", file);

        $('#pre-load').hide();
    }
    </script>
}

@if (rights.Contains("198"))
{
    <div id="mydelete" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Xóa thông tin hệ thống camera <span></span></h3>
            </div>
            <div class="modal-body">
                <h4>Dữ liệu sẽ không thể khôi phục sau khi xóa</h4>
            </div>
            <div class="modal-footer">
                <a class="waves-effect waves-light btn blue darken-2 modal-trigger" id="save-delete">Lưu</a>
                <button class="btn light-blue lighten-1 modal-close">Thoát</button>
            </div>
        </div>
    </div>

    <script>
        $('#save-delete').click(function () {
            $('#pre-load').show();
            $.ajax({
                url: "/camera/delete",
                type: "post",
                data: {
                    room_id: room_id
                },
                cache: false,
                datatype: 'json',
                success: function (data) {
                    if (data.success) {
                        $('#mydelete').modal();
                        dataTable.ajax.reload();
                        successAlert(data.message);
                    }
                    else {
                        errorAlert(data.message);
                        $('#pre-load').hide();
                    }
                    room_id = "";
                }
            })
        })
    </script>
}

@if (rights.Contains("199"))
{
    <div id="myedit" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Chỉnh sửa thông tin hệ thống camera <span></span></h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="col s12 m12">
                            <div class="form-group">
                                <label>Trực thuộc phòng ban : </label>
                                <input class="form-control" id="department-edit" list="departs" />
                            </div>
                        </div>
                        <div class="col s12 m12">
                            <div class="form-group">
                                <label>Tên vị trí hệ thống : </label>
                                <input required type="text" class="form-control" id="location-edit" />
                            </div>
                        </div>
                        <div class="col s12 m12">
                            <div class="form-group">
                                <label>Thông tin đăng nhập : </label>
                                <input required type="text" class="form-control" id="login-edit" />
                            </div>
                        </div>
                        <div class="col s12 m12">
                            <div class="form-group">
                                <label>Số lượng : </label>
                                <input required type="number" min="1" value="1" class="form-control" id="quantity-edit" />
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="col s12 m12">
                            <div class="form-group">
                                <label>Số seri ổ cứng : </label>
                                <input required type="text" class="form-control" id="resial-edit" />
                            </div>
                        </div>
                        <div class="col s12 m12">
                            <div class="form-group">
                                <label>Tình trạng ổ cứng : </label>
                                <input required type="text" class="form-control" id="status-edit" />
                            </div>
                        </div>
                        <div class="col s12 m12">
                            <div class="form-group">
                                <label>Dung lượng ổ cứng (GB) : </label>
                                <input required type="number" min="1" class="form-control" value="1" id="capacity-edit" />
                            </div>
                        </div>
                        <div class="col s12 m12">
                            <div class="form-group">
                                <label>Ghi chú : </label>
                                <input required type="text" class="form-control" id="note-edit" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="waves-effect waves-light btn blue darken-2 modal-trigger" id="save-edit">Lưu</a>
                <button class="btn light-blue lighten-1 modal-close" id="exit-edit">Thoát</button>
            </div>
        </div>
    </div>

    <script>
        $(document).on('click', '.edit-room', function () {
            let $tr = $(this).closest('tr').children('td');
            $('#location-edit').val($tr.eq(0).text());
            $('#department-edit').val($tr.eq(1).data('department'));
            $('#login-edit').val($tr.eq(2).text());
            $('#quantity-edit').val($tr.eq(3).text().split('/')[1]);
            $('#status-edit').val($tr.eq(4).text());
            let capacity = $tr.eq(5).text().endsWith('GB') ? $tr.eq(5).text().split(' ')[0] : ($tr.eq(5).text().split(' ')[0] * 1000)
            $('#capacity-edit').val(capacity);
            $('#resial-edit').val($tr.eq(6).text());
            $('#note-edit').val($tr.eq(9).text());
        })

        $('#save-edit').click(function () {
            if ($("#location-edit").val() == "" || $('#quantity-edit').val() < 1 || $('#capacity-edit').val() < 1 || $('#resial-edit').val() == "" || $('#status-edit').val() == "" || room_id == "") {
                toastr.error("Xin điền đầy đủ thông tin");
                return;
            }
            $('#pre-load').show();
            $.ajax({
                url: "/camera/edit",
                type: "post",
                data: {
                    location: $("#location-edit").val(),
                    quantity: $('#quantity-edit').val(),
                    note: $('#note-edit').val(),
                    department: $('#department-edit').val(),
                    capacity: $('#capacity-edit').val(),
                    serial: $('#resial-edit').val(),
                    status: $('#status-edit').val(),
                    room_id: room_id,
                    login: $('#login-edit').val()
                },
                cache: false,
                datatype: "json",
                success: function (data) {
                    if (data.success) {
                        $('#exit-edit').click();
                        dataTable.ajax.reload();
                        successAlert(data.message);
                    }
                    else {
                        errorAlert(data.message);
                        $('#pre-load').hide();
                    }
                    room_id = "";
                }
            })
        })
    </script>
}