@{
    ViewData["Title"] = "Select";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}
<link href="~/assets/libs/toastr/build/toastr.min.css" rel="stylesheet">
<style>

    #toast-container {
        min-width: 10%;
        top: 0;
        right: 50%;
        transform: translateX(50%) translateY(50%);
    }

    #export-button {
        float: right !important;
    }

    .current-data {
        color: #a7a7a7;
    }

    .totals {
        font-weight: bold;
        color: white;
        border-radius: 5px;
        padding: 2px 5px 2px 5px;
    }

    #totalrows {
        border: 1px solid red;
        background: red;
    }

    #total_selected {
        border: 1px solid green;
        background: green;
        cursor: pointer;
    }

        #total_selected:active {
            border: 1px solid #78c17e;
            background-color: #78c17e
        }

        #total_selected:hover {
            border: 1px solid #78c17e;
            background-color: #78c17e
        }

    .remove_select {
        color: red;
        font-size: 25px;
        cursor: pointer;
    }

    [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
        position: unset !important;
    }
</style>
<div class="row" id="chondieuchuyen">

    <div class="col m12">
        <div class="card">
            <div class="card-content wizard-content">
                <div>
                    <h3 class="center"><b>ĐIỀU ĐỘNG NHÂN VIÊN</b></h3>
                </div>
                <form action="#" class="validation-wizard wizard-circle m-t-40">
                    <!-- Step 1 -->
                    <h6>Chọn nhân viên</h6>
                    <section>
                        <div class="row" style="overflow-x:scroll  ;margin-bottom: 20px">
                            <div class="row center">
                                <div class="col l12 m12 s12 input-field">
                                    <input type="text" placeholder="Tìm kiếm theo mã nhân viên" class='form-control' id="searchMa" do-not-use-data-role="tagsinput" multiple />
                                </div>
                                <div class="col l12 m12 s12 input-field">
                                    <input type="text" placeholder="Tìm kiếm theo tên nhân viên" class='form-control' id="searchTen" multiple />
                                </div>
                                <div class="col l5 m12 s12 input-field">
                                    <select class="form-control" id="phongbanSearch">
                                        <option value="-1" selected>Phòng ban - Tất cả</option>
                                        @foreach (var phongban in ViewBag.listPhongBan)
                                        {
                                            <option value="@phongban.department_id">@phongban.department_name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col l5 m12 s12 input-field">
                                    <select class="form-control" id="chucVuSearch">
                                        <option value="-1" selected>Chức vụ - Tất cả</option>
                                        @foreach (var cv in ViewBag.listCongViec)
                                        {
                                            <option value="@cv.work_id">@cv.name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col l2 m12 s12 input-field">
                                    <button class="btn blue darken-2 btn-small waves-effect waves-light" id="searchButton">Tìm kiếm</button>
                                </div>
                            </div>
                            <div class="col l12 m12 s12 input-field">
                                <b> Đã chọn:</b> <span class="totals modal-trigger" onclick="show_selected()" href="#show_select" id="total_selected">0</span>   <b> Tổng số:</b>    <span class="totals" id="totalrows">@ViewBag.totalrows</span>
                            </div>
                            <br />
                            <table id="nhanVienTable" class="table striped table-responsive table-bordered">
                                <thead>
                                    <tr>
                                        <th>Số thẻ</th>
                                        <th>Họ và tên</th>
                                        <th>Giới tính</th>
                                        <th>Ngày sinh</th>
                                        <th>Phân xưởng hiện tại</th>
                                        <th>Chức vụ</th>
                                        <th>
                                            <label>
                                                <input type="checkbox" id="check-all" class="filled-in" />
                                                <span></span>
                                            </label>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </section>
                    <!-- Step 2 -->
                    <h6>Nhập thông tin điều động</h6>
                    <section>
                        <div class="row">
                            <div class="center col s12 m12 l12">

                            </div>
                            <div class="col s12 m2 l2">
                                <input class="form-control" id="so-quyet-dinh" type="text" placeholder="Số quyết định" required />
                            </div>
                            <div class="col s12 m5 l5">
                                <input id="ngay-quyet-dinh" class="thoigian center form-control" />
                            </div>
                            <div class="input-field col x12 s12 m12 l12">
                                <div class="table_container">
                                    <table class="striped table table-responsive table-bordered" style="width:150%">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Mã nhân viên</th>
                                                <th>Họ và tên</th>
                                                <th>Đơn vị hiện tại</th>
                                                <th>Chức vụ hiện tại</th>
                                                <th style="width: 250px">
                                                    Đơn vị điều động
                                                    <div class="select-all">
                                                        <label>
                                                            <input class="my_checkbox" id="check-select-all-dept" type="checkbox" onclick="">
                                                            <span>Chọn cho tất cả</span>
                                                        </label>
                                                        <select id="select-dept-for-all" class="form-control" disabled>
                                                            @foreach (var pb in ViewBag.listPhongBan)
                                                            {
                                                                <option value="@pb.department_id">@pb.department_name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </th>
                                                <th width="300px">
                                                    Chức vụ điều động
                                                    <div class="select-all">
                                                        <label>
                                                            <input class="my_checkbox" name="" id="check-select-all-job" value="" type="checkbox" onclick="">
                                                            <span>Chọn cho tất cả</span>
                                                        </label>
                                                        <select id="chucvu-selectAll" class="chucvuAll form-control" disabled>
                                                            @foreach (var pb in ViewBag.listCongViec)
                                                            {
                                                                <option value="@pb.work_id">@pb.name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </th>
                                                <th style="width: 200px">
                                                    Thang bậc lương
                                                    <input type="hidden" id="thang-selectAll" />
                                                </th>
                                                <th style="width: 200px">
                                                    Phụ cấp
                                                    <input type="hidden" id="phucap-selectAll" />
                                                </th>
                                                <th style="width: 250px">
                                                    Bậc
                                                    <div class="select-all">
                                                        <label>
                                                            <input class="my_checkbox" name="" id="check-select-all-bac" value="" type="checkbox" onclick="">
                                                            <span>Chọn cho tất cả</span>
                                                        </label>
                                                        <select id="bac-selectAll" class="form-control" disabled>
                                                            @*@foreach (var pb in ViewBag.listBacLuong)
                                                                {
                                                                    <option value="@pb.MaBacLuong">@pb.MucBacLuong</option>
                                                                }*@
                                                        </select>
                                                    </div>
                                                </th>
                                                <th style="width: 200px">
                                                    Mức lương
                                                    <input type="hidden" id="luong-selectAll" />
                                                </th>
                                                <th style="width: 300px">
                                                    Lý do điều động
                                                    <div class="select-all">
                                                        <label>
                                                            <input class="my_checkbox" id="check-select-all-note" type="checkbox" onclick="">
                                                            <span>Chọn cho tất cả</span>
                                                        </label>
                                                        <input id="lydo-all" type="text" class="form-control" placeholder="Lý do điều động" disabled>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody id="selected-container">
                                        </tbody>
                                    </table>
                                    <div class="col m12">
                                        <div class=" div-center custom-divider"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Step 3 -->
                    <h6>Xác nhận điều động</h6>
                    <section>
                        <div class="row" style="overflow-x:scroll; margin-bottom:10px;">
                            <h5>Số quyết định: <b id="maqd-preview"></b></h5>
                            <div class="row" style="margin-bottom:10px">
                                <div class="col l9 l9">
                                    <h5>Ngày quyết định: <b id="ngayqd-preview"></b></h5>
                                </div>
                                <div class="col l3 m3">
                                    <div class=" btn cyan left waves-effect waves-light" id="export-button">
                                        <i class="fas fa-file-word"></i><span> Xuất Quyết định</span>
                                    </div>
                                </div>
                            </div>
                            <table class="striped responsive-table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Số thứ tự</th>
                                        <th>Mã nhân viên</th>
                                        <th style="width: 200px">Họ và tên</th>
                                        <th style="width: 200px">Đơn vị hiện tại</th>
                                        <th style="width: 500px">Chức vụ hiện tại</th>
                                        <th style="width: 200px">Đơn vị điều động</th>
                                        <th style="width: 200px">Chức vụ điều động</th>
                                        <th style="width: 200px">Thang bậc lương</th>
                                        <th style="width: 200px">Phụ cấp</th>
                                        <th style="width: 200px">Bậc</th>
                                        <th style="width: 200px">Mức lương</th>
                                        <th style="width: 300px">Lý do điều động</th>
                                    </tr>
                                </thead>
                                <tbody id="preview-table">
                                </tbody>
                            </table>
                        </div>

                    </section>
                    <!-- Step 4 -->
                    @*<h6>Hoàn thành</h6>
                        <section>
                            <div class="row">

                            </div>
                        </section>*@
                </form>
            </div>
        </div>

    </div>

</div>
<div id="show_select" class="modal">
    <div class="modal-content">
        <h4>Danh sách đã chọn</h4>
        <table class="striped responsive-table table-bordered">
            <thead>
                <tr>
                    <th>Số thứ tự</th>
                    <th>Số thẻ</th>
                    <th style="width: 200px">Họ và tên</th>
                    <th style="width: 200px">Giới tính</th>
                    <th style="width: 500px">Ngày sinh</th>
                    <th style="width: 200px">Phân xưởng hiện tại</th>
                    <th style="width: 200px">Chức vụ</th>
                    <th style="width: 200px">Bỏ chọn</th>
                </tr>
            </thead>
            <tbody id="show_select_table"></tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Đóng</a>
    </div>
</div>



<script src="~/js/Custom JS/TCLD/Transfer/Transfer_Select.js"></script>
<script src="~/js/Custom JS/Disable_input_material.js"></script>

<link href="~/dist/css/TABLE_BORDERED.css" rel="stylesheet" />
@section scripts{


    @*<script>
            var colors = ["red", "blue", "green", "yellow", "brown", "black"];
            $('#searchMa').tagsinput({
                typeahead: {
                    source: function (query) {
                        return colors
                    }
                }
            });
        </script>*@
    <script>
        $("#pre-load").show("slow", function () {
         });
        $("#pre-load").css("z-index", "99999");
        var Popup, dataTable;
        @{
            var listFromServer = "[]";
            if (ViewBag.selectedList != null)
            {
                listFromServer = ViewBag.selectedList;
            }
         }
        var arrCarSelectedShow = [];
        var arrCarSelected = JSON.parse("@listFromServer");
        $(document).ready(function () {
            dataTable = $('#nhanVienTable')
                .on('preXhr.dt', function (e, settings, data) {
                    $("#pre-load").show("slow", function () {
                    });
                    $("#pre-load").css("z-index", "99999");
                    data.sessionId = "@ViewBag.id";
                    data.selectList = JSON.stringify(arrCarSelected);
                    data.searchMa = $("#searchMa").val();
                    data.searchTen = $("#searchTen").val();
                    data.phongbanSearch = $("#phongbanSearch").val();
                    data.chucVuSearch = $("#chucVuSearch").val();

                })
                .DataTable({
                    "ajax": {
                        "url": "/phong-tcld/dieu-chuyen/tien-hanh-dieu-chuyen",
                        "type": "POST",
                        "datatype": "json",
                        "dataSrc": function ( json ) {
                            $("#totalrows").text(json.totalrows);
                            return json.data;
                        }
                        //"data": {
                        //    "selectListJson": JSON.stringify(arrCarSelected),
                        //    "searchMa": function () { return $("#searchMa").val()},
                        //    "searchTen": function () { return $("#searchTen").val()},
                        //    "phongbanSearch": function () { return $("#phongbanSearch").val(),},
                        //    "chucVuSearch": function () { return $("#chucVuSearch").val()},
                        //}
                    },
                    "drawCallback": function (settings) {
                        $("#pre-load").hide("slow", function () {
                        });

                    },
                    "columns": [
                        { "data": "employee_id", "name": "employee_id", "searchable": true },
                        { "data": "BASIC_INFO_full_name", "name": "BASIC_INFO_full_name" },
                        {
                            "data": "BASIC_INFO_gender", "name": "BASIC_INFO_gender",
                            "render": function (data) {
                                if (data === null) {
                                    return "";
                                } else {
                                     return data ? "Nam" : "Nữ";
                                }
                            }
                        },
                        {
                            "data": "BASIC_INFO_date_of_birth", "name": "BASIC_INFO_date_of_birth",
                            "render": function (data) {
                                 if(data===null){
                                        return "";
                                 }else{
                                var dateString = data.substr(6);
                                var currentTime = new Date(parseInt(dateString ));
                                var month = currentTime.getMonth() + 1;
                                var day = currentTime.getDate();
                                var year = currentTime.getFullYear();
                                var date = day + "/" + month + "/" + year;
                                return date;
                                 }
                            }
                        },
                        { "data": "department_name", "name": "department_name" },
                        { "data": "work_name", "name": "work_name" },
                        {
                            "data": "employee_id", "render": function (data, type, full) {
                                if (full.current_status_id === null) {
                                    return "";
                                } else {
                                    if (full.current_status_id != 1) {
                                        return "<i>" + full.status_name +"</i>";
                                }
                                if (arrCarSelected != null) {
                                    for (let i = 0; i < arrCarSelected.length; i++)
                                        if (arrCarSelected[i] == data) {
                                            return "<label><input class='my_checkbox step1_checkbox'  name='abc' id ='" + data + "' value='" + data + "' type ='checkbox' onclick=updateList('" + data + "') checked><span></span></label>";
                                        }
                                }
                                return "<label><input class='my_checkbox step1_checkbox'  name='abc' id ='" + data + "' value='" + data + "' type ='checkbox' onclick=updateList('" + data + "')><span></span></label>";
                                }
                            },
                            "orderable": false,
                            "searchable": false,
                            "width": "150px"
                        }
                    ],
                    "serverSide": "true",
                    "order": [0, "asc"],
                    "searching": false,
                    "bLengthChange": false,
                    "autoWidth": false,
                    "bFilter": true,
                    "bInfo": false,
                    "language": {
                        emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                        paginate:
                        {
                            previous: "Trang trước",
                            next: "Trang sau",
                            first: "|<",
                            last: ">|"
                        }
                    },
                    "pageLength": 20,
                    "initComplete": function (settings, json) {
                        $("#pre-load").hide("slow", function () {
                        });
                    }
                });
            $(".dataTables_paginate").css("float", "left");

            $("#searchButton").click(function () {
                dataTable.ajax.reload();
                $('#check-all').prop('checked', false);
            });

            function changeState(value, state) {
                $.ajax({
                type: "POST",
                    url: "/sua-chua/save-session/",
                    data: {
                    id: JSON.stringify(value),
                        state: JSON.stringify(state)
                    },
                    dataType: "json",
                    success: function (data) {
                        alert("here" + data.d.toString());
                    }
                });
            }
        });
        function updateList(id) {
                isExist = false;
                for (let i = 0; i < arrCarSelected.length; i++) {
                    if (arrCarSelected[i] == id) {
                        isExist = true;
                        arrCarSelected.splice(i, 1);
                        for (let j = 0; j < arrCarSelectedShow.length; j++) {
                            if (arrCarSelectedShow[j].id == id) {
                                arrCarSelectedShow.splice(j,1);
                                break;
                            }
                        }
                        break;
                    }
                }
                if (!isExist && id != "" && id != null) {
                    arrCarSelected.push(id)
                    this_select = [];
                    $("#" + id).parent().parent().parent().find("td").each(function () {
                    this_select.push($(this).text());
                     });
            arrCarSelectedShow.push({
                "id": this_select[0],
                "name": this_select[1],
                "gender": this_select[2],
                "dob": this_select[3],
                "dept": this_select[4],
                "job": this_select[5],
            });
            }
            $("#total_selected").text(arrCarSelected.length);

            }
        function sendData() {
            $.each($("input[name='abc']:checked"), function () {
                });
            }
    </script>
    <script>
        //Custom design form example
        $(".tab-wizard").steps({
            headerTag: "h6",
            bodyTag: "section",
            transitionEffect: "fade",
            titleTemplate: '<span class="step">#index#</span> #title#',
            labels: {
                next: "Tiếp tục",
                previous: "Quay lại",
                finish: "Lưu"
            },
            onFinished: function (event, currentIndex) {
                swal("Form Submitted!", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem erat eleifend ex semper, lobortis purus sed.");

            }
        });


        var form = $(".validation-wizard").show();

        $(".validation-wizard").steps({
            headerTag: "h6",
            bodyTag: "section",
            transitionEffect: "fade",
            titleTemplate: '<span class="step">#index#</span> #title#',
            labels: {
                next: "Tiếp tục",
                previous: "Quay lại",
                finish: "Xác nhận"
            },
            onStepChanging: function (event, currentIndex, newIndex) {
                switch (newIndex) {
                    case 0:
                        if (currentIndex === 1) {
                            return confirm('Mọi thay đổi của bạn sẽ không được lưu lại?');
                        }
                        break;
                    case 1:
                        if (currentIndex === 0) {
                            if (arrCarSelected.length === 0) {
                                toastr.error('Hãy chọn ít nhất một nhân viên', '');
                                return false;
                            } else {
                                step2();
                                return true;
                            }
                        } else {
                            return true;
                        }
                        break;
                    case 2:
                        var a = validateThongTin();
                        if (a === true) {
                            step3();
                        }
                        return a;
                        break;
                }
            },
            onFinishing: function (event, currentIndex) {
                confirmAlert(
                    'Xác nhận tạo quyết định?',
                    'Có thể xem lại quyết định đã tạo trong các mục quyết định đã/chưa xử lý',
                    function ahihi() {
                        execute();
                    });
            },
            onFinished: function (event, currentIndex) {

            }
        }), $(".validation-wizard").validate({
            ignore: "input[type=hidden]",
            errorClass: "text-danger",
            successClass: "text-success",
            highlight: function (element, errorClass) {
                $(element).removeClass(errorClass)
            },
            unhighlight: function (element, errorClass) {
                $(element).removeClass(errorClass)
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element)
            },
            rules: {
                email: {
                    email: !0
                }
            }
        })
    </script>
    <!--Event for search select tag-->
    <script>
        $("#phongbanSearch").change(function () {
            var selectedDeptId = $(this).val();
            $("#chucVuSearch").attr("disabled", "disabled");
            $.ajax({
                type: 'post',
                url: '/phong-tcld/dieu-chuyen/get-chuc-vu-theo-don-vi',
                dataType: 'json',
                data: {
                    selectedDeptId: selectedDeptId
                },
                success: function (response) {
                    let list = response.congviec_phongban;
                    $("#chucVuSearch").empty()
                    $("#chucVuSearch").append("<option value=\"-1\" selected=\"\">Chức vụ - Tất cả</option>");
                    for (x in list) {
                        $("#chucVuSearch").append("<option value=\"" + list[x].MaCongViec + "\">" + list[x].TenCongViec + "</option>");
                    }
                }
            });
            $("#chucVuSearch").removeAttr("disabled");
        });
    </script>
    <!------------------------------ WIZARD ------------------------------>
    <!------------------------------ STEP2 ------------------------------>
    <script>
        var cviecs = @Html.Raw(Json.Encode(ViewBag.listCongViec));
        var phongbans=@Html.Raw(Json.Encode(ViewBag.listPhongBan));
        var listBacLuong=@Html.Raw(Json.Encode(ViewBag.listBacLuong));
        var tagCV = "<option value='-1' disabled>Chọn chức vụ</option>\n";
        for (var k = 0; k < cviecs.length; k++) {
            tagCV += "<option value=\"" + cviecs[k].work_id + "\">" + cviecs[k].name + "</option>\n";
        }
        function getThangLuongAndPhuCap(code, mcv) {
            var c = code;
            var m = mcv;
            $("#pre-load").show("slow", function () { });
            $.ajax({
                type: 'post',
                url: '/phong-tcld/dieu-chuyen/get-phu-cap-thang-luong',
                dataType: 'json',
                data: {
                    macv: m
                },
                success: function (r) {
                    if (r.success === true) {
                        $("#thang-" + c).val(r.data.MucThangLuong);
                        $("#thang-" + c).data('mathangluong', r.data.MaThangLuong);
                        $("#phucap-" + c).val(AddComma(r.data.PhuCap) == "null" ? "0" : AddComma(r.data.PhuCap));
                        var bacs = "";
                        $("#bac-" + c).empty();
                        for (var i = 0; i < r.bacs.length; i++) {
                            bacs += "<option data-mucluong=\"" + r.bacs[i].MucLuong + "\" value=\"" + r.bacs[i].MaBacLuong_ThangLuong_MucLuong + "\">" + r.bacs[i].MucBacLuong + "</option>";
                        }
                        $("#bac-" + c).append(bacs);
                        $("#luong-" + c).val(AddComma(r.bacs[0].MucLuong));

                        $("#bac-" + c).change(function () {
                            $("#luong-" + c).val(AddComma($(this).find(":selected").data("mucluong")));
                        });

                        $("#pre-load").hide("slow", function () { });
                    } else {

                    }
                }
            });
        }

        function getThangLuongAndPhuCapForAll(code, mcv) {
            var c = code;
            var m = mcv;
            $("#pre-load").show("slow", function () { });
            $.ajax({
                type: 'post',
                url: '/phong-tcld/dieu-chuyen/get-phu-cap-thang-luong',
                dataType: 'json',
                data: {
                    macv: m
                },
                success: function (r) {
                    if (r.success === true) {
                        //await $(".chucvu").val($("#chucvu-selectAll").val());
                        //await $(".bac").empty();
                        //await await $(".bac").append($("#bac-selectAll").html());
                        //await (".bac").val($("#bac-selectAll").val());
                        $(".thang").val(r.data.MucThangLuong);
                        $(".thang").data('mathangluong', r.data.MaThangLuong);
                        $(".phucap").val(AddComma(r.data.PhuCap) == "null" ? "0" : AddComma(r.data.PhuCap));
                        $("#thang-selectAll").val(r.data.MucThangLuong)
                        $("#phucap-selectAll").val(AddComma(r.data.PhuCap) == "null" ? "0" : AddComma(r.data.PhuCap))
                        var bacs = "";
                        $(".bac").empty();
                        $("#bac-selectAll").empty();
                        for (var i = 0; i < r.bacs.length; i++) {
                            bacs += "<option data-mucluong=\"" + r.bacs[i].MucLuong + "\" value=\"" + r.bacs[i].MaBacLuong_ThangLuong_MucLuong + "\">" + r.bacs[i].MucBacLuong + "</option>";
                        }
                        $(".bac").append(bacs);
                        $("#bac-selectAll").append(bacs);
                        $(".luong").val(AddComma(r.bacs[0].MucLuong));
                        $(".bac").change(function () {
                            let thisId = $(this).attr("id").split("-")[1];
                            $("#luong-" + thisId).val(AddComma($(this).find(":selected").data("mucluong")));
                        });
                        $("#pre-load").hide("slow", function () { });
                    } else {

                    }
                }
            });
        }

        //check selected index:
        function step2() {
            $("#pre-load").show("slow", function () {
            });
            $.ajax({
                type: 'POST',
                url: '/phong-tcld/dieu-chuyen/tien-hanh-dieu-chuyen-step-2',
                data: { 'selectedList': JSON.stringify(arrCarSelected) },
                dataType: 'json',
                success: function (response) {
                    if (response.success) {
                        $("#so-quyet-dinh").empty();
                        $("#selected-container").empty();
                        var date = new Date();
                        $("#ngay-quyet-dinh").val(date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear());

                        for (var i = 0; i < response.data.length; i++) {
                            var bac = response.data[i].BacLuong === null ? "Chưa cập nhật" : response.data[i].BacLuong;
                            var selectPhongBan = "";
                            selectPhongBan += "<option value='-1' disabled>Chọn phòng ban</option>\n";
                            for (let j = 0; j < phongbans.length; j++) {
                                selectPhongBan += "<option value=\"" + phongbans[j].department_id + "\">" + phongbans[j].department_name + "</option>\n";
                            }
                            var selectBacLuong = "";
                            selectBacLuong += "<option value='-1' disabled>Chọn bậc lương</option>\n";
                            for (let j = 0; j < listBacLuong.length; j++) {
                                selectBacLuong += "<option value=\"" + listBacLuong[j].pay_rate_id + "\" " + (listBacLuong[j].pay_rate == bac ? "selected" : "") + ">" + listBacLuong[j].pay_rate + "</option>\n";
                            }
                            $("#selected-container").append("<tr>\n");
                            $("#selected-container").append("<td>" + (i + 1) + "</td>\n");
                            $("#selected-container").append("<td>" + response.data[i].employee_id + "</td>\n");
                            $("#selected-container").append("<td id=\"hoten-" + response.data[i].employee_id + "\">" + response.data[i].BASIC_INFO_full_name + "</td>\n");
                            $("#selected-container").append("<td id=\"dvht-" + response.data[i].employee_id + "\">" + response.data[i].department_name + "</td>\n");
                            $("#selected-container").append("<td id=\"cvht-" + response.data[i].employee_id + "\">" + response.data[i].TenCongViec + "</td>\n");
                            $("#selected-container").append("<td><select id=\"" + "donvi" + "-" + response.data[i].employee_id + "\" class=\"donvi form-control\">" + selectPhongBan + "</select></td>\n");
                            $("#selected-container").append(" <td><select id=\"" + "chucvu" + "-" + response.data[i].employee_id + "\" class=\"chucvu form-control\">" + tagCV + "</select></td>\n");
                            var thang = response.data[i].ThangLuong === null ? "Chưa cập nhật" : response.data[i].ThangLuong;
                            $("#selected-container").append("<td><input data-mathangluong=\"\" id=\"" + "thang" + "-" + response.data[i].employee_id + "\" type=\"text\" class=\"thang  form-control\" placeholder=\"Thang\" value=\"" + thang + "\" readonly /></td>\n");
                            var phucap = response.data[i].PhuCap === null ? "0" : response.data[i].PhuCap;
                            $("#selected-container").append("<td><input id=\"" + "phucap" + "-" + response.data[i].employee_id + "\" type=\"text\" class=\"phucap numberInput form-control\" placeholder=\"Phụ cấp\" value=\"" + AddComma(phucap) + "\" readonly /></td>\n");

                            $("#selected-container").append("<td><select id=\"" + "bac" + "-" + response.data[i].employee_id + "\" type=\"text\" class=\"bac form-control\" placeholder=\"Bậc\">" + selectBacLuong + "</select></td>\n");
                            var luong = response.data[i].Luong === null ? "Chưa cập nhật" : response.data[i].Luong;
                            $("#selected-container").append("<td><input id=\"" + "luong" + "-" + response.data[i].employee_id + "\" type=\"text\" class=\"luong numberInput form-control\" placeholder=\"Lương\" value=\"" + AddComma(luong) + "\" readonly /></td>\n");

                            $("#selected-container").append("<td><input id=\"" + "lydo" + "-" + response.data[i].employee_id + "\" type=\"text\" class=\"lydo form-control\" placeholder=\"Lý do điều động\" /></td>\n");
                            $("#selected-container").append(" </tr>\n");
                            /////////////////////////set combobox cong viec value/////////////////////////////
                            if (response.data[i].MaCongViec == null) {
                                $("#chucvu" + "-" + response.data[i].employee_id).val("-1");
                            } else {
                                $("#chucvu" + "-" + response.data[i].employee_id).val(response.data[i].MaCongViec);
                            }
                            /////////////////////////////////////
                            if (response.data[i].MaPhongBan == null) {
                                $("#donvi" + "-" + response.data[i].employee_id).val("-1");
                            } else {
                                $("#donvi" + "-" + response.data[i].employee_id).val(response.data[i].MaPhongBan);
                            }
                        }
                        //$(".date-chooser").removeClass("datepicker-here");
                        $(".form-control").each(function () {
                            $(this).attr('oninvalid', 'this.setCustomValidity(\"Please Enter valid email\")');
                            $(this).attr('oninput', 'setCustomValidity(\"\")');
                        });
   
                        $(".date-chooser").data('datepicker');
                        ////////////////////////////////////////THANG LUONG///////////////

                        $(".chucvu").change(function () {
                            //var value = $(this).find(":selected").val();
                            //for (var n = 0; n < cviecs.length; n++) {
                            //    if (cviecs[n].MaCongViec == value) {
                            //        $("#thang-" + $(this).attr('id').split('-')[1]).val(cviecs[n].ThangLuong);
                            //        $("#phucap-" + $(this).attr('id').split('-')[1]).val(AddComma(cviecs[n].PhuCap) === 'null' ? "0" : AddComma(cviecs[n].PhuCap));
                            //        $("#luong-" + $(this).attr('id').split('-')[1]).val("");
                            //        $("#bac-" + $(this).attr('id').split('-')[1]).val("");
                            //        break;
                            //    }
                            //}
                            var mcv = $(this).find(":selected").val();
                            getThangLuongAndPhuCap($(this).attr("id").split('-')[1], mcv);
                            //$("#thang-" + $(this).attr("id").split('-')[1]).val("ahihi");
                        });

                        $(".thoigian").keydown(function (e) {
                            e.preventDefault();
                        });
                        $("#pre-load").hide("slow", function () {
                        });

                    } else {

                    }
                },
            })
            $(".chucvu").each(function () {
                let mcv = $(this).find(":selected").val();
                getThangLuongAndPhuCap($(this).attr("id").split('-')[1], mcv);
            });
            getThangLuongAndPhuCap("selectAll", $("#chucvu-selectAll").find(":selected").val());
            if ($("#check-select-all-job").prop("checked") == true) {
                $("#check-select-all-job").click();
            }
            if ($("#check-select-all-dept").prop("checked") == true) {
                $("#check-select-all-dept").click();
            }
        }
        //get list:
    </script>
    <script>
        $("#check-select-all-dept").change(function () {
            if ($(this).prop("checked") == false) {
                $(".donvi").each(function () {
                    $(this).prop("disabled", false)
                    $("#select-dept-for-all").prop("disabled", true);
                });
            } else {
                $(".donvi").each(function () {
                    $(this).prop("disabled", true);
                    $(this).val($("#select-dept-for-all").val());
                    $("#select-dept-for-all").prop("disabled", false);
                });
            }
        });

        $("#check-select-all-job").change(function () {
            if ($(this).prop("checked") == false) {
                $(".chucvu").each(function () {
                    $(this).prop("disabled", false)
                    $("#chucvu-selectAll").prop("disabled", true);
                });
                $("#check-select-all-bac").prop("checked", false);
                $(".bac").prop("disabled", false);
                $("#bac-selectAll").prop("disabled", true);
            } else {
                $(".chucvu").each(function () {
                    $(this).prop("disabled", true);
                    $(this).val($("#chucvu-selectAll").val());
                    $("#chucvu-selectAll").prop("disabled", false);
                });
                $(".thang").val($("#thang-selectAll").val());
                $(".phucap").val($("#phucap-selectAll").val());
                $(".luong").val($("#luong-selectAll").val());

                if ($("#check-select-all-bac").prop("checked") == false) {
                    $("#check-select-all-bac").click();
                    $(".bac").empty();
                    var html = $("#bac-selectAll").html();
                    $(".bac").append(html);
                    $(".bac").val($("#bac-selectAll").val());
                }
            }
        });
        $("#check-select-all-bac").click(function (e) {
            if ($("#check-select-all-job").prop("checked") == false) {
                e.preventDefault();
            }
        })
        $("#check-select-all-bac").change(function () {
            if ($(this).prop("checked") == false) {
                $(".bac").prop("disabled", false)
                $("#bac-selectAll").prop("disabled", true);
            } else {
                $(".bac").prop("disabled", true);
                $(".bac").empty();
                $(".bac").append($("#bac-selectAll").html());
                $(".bac").val($("#bac-selectAll").val());
                $("#bac-selectAll").prop("disabled", false);
            }
        });

        $("#check-select-all-note").change(function () {
            if ($(this).prop("checked") == false) {
                $(".lydo").prop("disabled", false)
                $("#lydo-all").prop("disabled", true);
            } else {
                $(".lydo").prop("disabled", true);
                $(".lydo").empty();
                $(".lydo").append($("#lydo-all").html());
                $(".lydo").val($("#lydo-all").val());
                $("#lydo-all").prop("disabled", false);
            }
        });

        $("#lydo-all").keydown(function () {
            if ($("#check-select-all-note").prop("checked") == true) {
                $(".lydo").val($(this).val());
            }
        });

        $("#select-dept-for-all").change(function () {
            $(".donvi").each(function () {
                $(this).val($("#select-dept-for-all").val());
            });
        });
        $("#chucvu-selectAll").change(async () => {
            await getThangLuongAndPhuCapForAll("selectAll", $("#chucvu-selectAll").find(":selected").val());
            await $(".chucvu").val($("#chucvu-selectAll").val());
            //await $(".bac").empty();
            //await $(".bac").append($("#bac-selectAll").html());
            //await (".bac").val($("#bac-selectAll").val());
        });
        $("#bac-selectAll").change(function () {
            $(".bac").empty();
            var html = $("#bac-selectAll").html();
            //alert(html)
            $(".bac").append(html);
            $(".bac").val($("#bac-selectAll").val());
            $("#luong-selectAll").val(AddComma($(this).find(":selected").data("mucluong")));
            $(".luong").val(AddComma($("#luong-selectAll").val()));
            $(".thang").val($("#thang-selectAll").val());
            $(".phucap").val(AddComma($("#phucap-selectAll").val()));
        });
    </script>
    <!------------------------------ VALIDATE STEP 2 ------------------------------>
    <script>
        //validate function:
        function validateThongTin() {
            var rs = true;
            if (rs !== false) {
                $("#pre-load").show("slow", function () {
                });
                $.ajax({
                    url: "/phong-tcld/dieu-chuyen/check-duplicate-sqd",
                    type: "post",
                    data: { SoQD: $("#so-quyet-dinh").val().trim() },
                    dataType: 'json',
                    success: function (response) {
                        if (response.success) {
                            if (response.data === true) {
                                rs = false;
                            }
                        }
                    },
                    async: false
                });
            }

            if (rs == false) {
                toastr.error('Mã Quyết định đã tồn tại', '');
                $("#pre-load").hide("slow", function () {
                });
                return rs;
            }

            if (rs !== false) {
                $(".numberInput").each(function () {
                    if ($(this).val() === "" || $(this).val() === null) {
                        toastr.error('Hãy nhập thông tin đầy đủ ', '');
                        rs = false;
                        $("#pre-load").hide("slow", function () {
                        });
                        return rs;
                    }
                });
            }
            if (rs !== false) {
                $(".thang").each(function () {
                    if ($(this).val() === "" || $(this).val() === null) {
                        toastr.error('Hãy nhập thông tin đầy đủ ', '');
                        rs = false;
                        $("#pre-load").hide("slow", function () {
                        });
                        return rs;
                    }
                });
            } if (rs !== false) {
                $(".bac").each(function () {
                    if ($(this).val() === "" || $(this).val() === null) {
                        toastr.error('Hãy nhập thông tin đầy đủ ', '');
                        rs = false;
                        $("#pre-load").hide("slow", function () {
                        });
                        return rs;
                    }
                });
            }
            if (rs !== false) {
                $(".donvi").each(function () {
                    if ($(this).val() === "" || $(this).val() === null) {
                        toastr.error('Hãy nhập thông tin đầy đủ ', '');
                        rs = false;
                        $("#pre-load").hide("slow", function () {
                        });
                        return rs;
                    }
                });
            }
            if (rs !== false) {
                $(".chucvu").each(function () {
                    if ($(this).val() === "" || $(this).val() === null) {
                        toastr.error('Hãy nhập thông tin đầy đủ ', '');
                        rs = false;
                        $("#pre-load").hide("slow", function () {
                        });
                        return rs;
                    }
                });
            }
            $("#pre-load").hide("slow", function () {
            });
            return rs;
        }
    </script>
    <!------------------------------ STEP 3 ------------------------------>
    <script>
        function step3() {
            //$("#pre-load").show("slow", function () {
            //});
            $("#maqd-preview").empty();
            $("#ngayqd-preview").empty();
            $("#maqd-preview").append($("#so-quyet-dinh").val().trim() === "" ? "Chưa có (lưu vào chờ xử lý)" : $("#so-quyet-dinh").val().trim());
            $("#ngayqd-preview").append($("#ngay-quyet-dinh").val());
            var selectedList = [];
            for (var i = 0; i < arrCarSelected.length; i++) {
                var obj = {
                    'MaNV': arrCarSelected[i],
                    'HoTen': $("#hoten-" + arrCarSelected[i]).text(),
                    'DonViHienTai': $("#dvht-" + arrCarSelected[i]).text(),
                    'ChucVuHienTai': $("#cvht-" + arrCarSelected[i]).text(),
                    'BacLuong': $("#bac-" + arrCarSelected[i]).find(":selected").text(),
                    'MucLuong': joinArr($("#luong-" + arrCarSelected[i]).val().split(',')),
                    'ThangBacLuong': joinArr($("#thang-" + arrCarSelected[i]).val().split(',')),
                    'PhuCap': joinArr($("#phucap-" + arrCarSelected[i]).val().split(',')),
                    'DonViMoi': $("#donvi-" + arrCarSelected[i] + " :selected").text(),
                    'ChucVu': {
                        'maChucVu': $("#chucvu-" + arrCarSelected[i]).val(),
                        'tenChucVu': $("#chucvu-" + arrCarSelected[i] + " :selected").text(),
                    },
                    'NgayQD': $("#ngay-quyet-dinh").val(),
                    'LyDo': $("#lydo-" + arrCarSelected[i]).val().trim()
                }
                selectedList.push(obj);
            }
            $("#preview-table").empty();
            for (var i = 0; i < selectedList.length; i++) {
                $("#preview-table").append("<tr>\n");
                $("#preview-table").append("<td>" + (i + 1) + "</td>\n");
                $("#preview-table").append("<td>" + selectedList[i].MaNV + "</td>\n");
                $("#preview-table").append("<td width=\"500px\">" + selectedList[i].HoTen + "</td>\n");
                $("#preview-table").append("<td>" + selectedList[i].DonViHienTai + "</td>\n");
                $("#preview-table").append("<td>" + selectedList[i].ChucVuHienTai + "</td>\n");
                $("#preview-table").append("<td>" + selectedList[i].DonViMoi + "</td>\n");
                $("#preview-table").append("<td>" + selectedList[i].ChucVu.tenChucVu + "</td>\n");
                $("#preview-table").append("<td>" + selectedList[i].ThangBacLuong + "</td>\n");
                $("#preview-table").append("<td>" + AddComma(selectedList[i].PhuCap) + "</td>\n");
                $("#preview-table").append("<td>" + AddComma(selectedList[i].BacLuong) + "</td>\n");
                $("#preview-table").append("<td>" + AddComma(selectedList[i].MucLuong) + "</td>\n");
                $("#preview-table").append("<td>" + selectedList[i].LyDo.trim() + "</td>\n");
                $("#preview-table").append(" </tr>\n");
            }
            //$.ajax({
            //    type: 'Post',
            //    url: '/phong-tcld/dieu-chuyen/tien-hanh-dieu-chuyen-step-3',
            //    data: { selectedList: JSON.stringify(selectedList) },
            //    dataType: 'json',
            //    success: function (response) {
            //        if (response.success) {
            //            $("#maqd-preview").empty();
            //            $("#ngayqd-preview").empty();
            //            $("#preview-table").empty();
            //            $("#maqd-preview").append(response.data[0].SoQD.trim() === "" ? "Chưa có (lưu vào chờ xử lý)" : response.data[0].SoQD);
            //            $("#ngayqd-preview").append(response.data[0].NgayQD);
            //            for (var i = 0; i < response.data.length; i++) {
            //                $("#preview-table").append("<tr>\n");
            //                $("#preview-table").append("<td>" + (i + 1) + "</td>\n");
            //                $("#preview-table").append("<td>" + response.data[i].employee_id + "</td>\n");
            //                $("#preview-table").append("<td width=\"500px\">" + response.data[i].HoTen + "</td>\n");
            //                $("#preview-table").append("<td>" + response.data[i].DonViHienTai + "</td>\n");
            //                $("#preview-table").append("<td>" + response.data[i].ChucVuHienTai.tenChucVu + "</td>\n"); $("#preview-table").append("<td>" + response.data[i].DonViMoi + "</td>\n");
            //                $("#preview-table").append("<td>" + response.data[i].ChucVu.tenChucVu + "</td>\n");
            //                $("#preview-table").append("<td>" + response.data[i].ThangBacLuong + "</td>\n");
            //                $("#preview-table").append("<td>" + AddComma(response.data[i].PhuCap) + "</td>\n");
            //                $("#preview-table").append("<td>" + AddComma(response.data[i].BacLuong) + "</td>\n");
            //                $("#preview-table").append("<td>" + AddComma(response.data[i].MucLuong) + "</td>\n");
            //                $("#preview-table").append("<td>" + response.data[i].LyDo.trim() + "</td>\n");
            //                $("#preview-table").append(" </tr>\n");
            //            }
            //        }
            //        $("#pre-load").hide("slow", function () {
            //        });
            //    }
            //});
        }
        function joinArr(res) {
            var r = "";
            for (var i = 0; i < res.length; i++) {
                r += res[i];
            }
            return r;
        }
    </script>
    <!------------------------------ CREATE QUYET DINH ------------------------------>
    <script>
        function execute() {
            $("#pre-load").show("slow", function () {
            });
            var selectedList = [];
            for (var i = 0; i < arrCarSelected.length; i++) {
                //var date = $("#thoigian-" + arrCarSelected[i]).val().split('-');
                var obj = {
                    'SoQD': $("#so-quyet-dinh").val().trim(),
                    'MaNV': arrCarSelected[i],
                    'MaBacLuong_ThangLuong_MucLuongCu': '',
                    'MaBacLuong_ThangLuong_MucLuongMoi': $("#bac-" + arrCarSelected[i]).val(),
                    'DonViMoi': $("#donvi-" + arrCarSelected[i]).val(),
                    'ChucVu': {
                        'maChucVu': $("#chucvu-" + arrCarSelected[i]).val(),
                        'tenChucVu': $("#chucvu-" + arrCarSelected[i] + " :selected").text(),
                    },
                    'NgayQD': $("#ngay-quyet-dinh").val(),
                    'LyDo': $("#lydo-" + arrCarSelected[i]).val().trim()
                }
                selectedList.push(obj);
            }
            $.ajax({
                type: 'post',
                url: '/phong-tcld/dieu-chuyen/thuc-hien-dieu-dong',
                data: { selectedList: JSON.stringify(selectedList) },
                dataType: 'json',
                success: function (response) {
                    if (response.success) {
                        $("#pre-load").hide("slow", function () {
                        });
                        reloadAlert('Tạo quyết định thành công', 3000);
                    } else {
                        $("#pre-load").hide("slow", function () {
                        });
                        errorAlert(response.message, '');
                    }
                }
            });
        }
    </script>
    <!------------------------------ VALIDATE FUNCTIONS ------------------------------>
    <script>
        function AddComma(Num) { //function to add commas to textboxes
            Num += '';
            Num = Num.replace('.', ''); Num = Num.replace('.', ''); Num = Num.replace('.', '');
            Num = Num.replace('.', ''); Num = Num.replace('.', ''); Num = Num.replace('.', '');
            x = Num.split(',');
            x1 = x[0];
            x2 = x.length > 1 ? ',' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1))
                x1 = x1.replace(rgx, '$1' + '.' + '$2');
            return x1 + x2;
            //Num += '';
            //Num = Num.replace(',', ''); Num = Num.replace(',', ''); Num = Num.replace(',', '');
            //Num = Num.replace(',', ''); Num = Num.replace(',', ''); Num = Num.replace(',', '');
            //x = Num.split('.');
            //x1 = x[0];
            //x2 = x.length > 1 ? '.' + x[1] : '';
            //var rgx = /(\d+)(\d{3})/;
            //while (rgx.test(x1))
            //    x1 = x1.replace(rgx, '$1' + ',' + '$2');
            //return x1 + x2;
        }
    </script>

    <!------------------------------ EXPORT HANDLER ------------------------------>
    <script>
        $("#export-button").click(function () {
            $("#pre-load").show("slow", function () {
            });
            var selectedList = [];
            for (var i = 0; i < arrCarSelected.length; i++) {
                //var date = $("#thoigian-" + arrCarSelected[i]).val().split('-');
                selectedList.push({
                    'SoQD': $("#so-quyet-dinh").val().trim(),
                    'MaNV': arrCarSelected[i],
                    'HoTen': "",
                    'DonViHienTai': "",
                    'ChucVuHienTai': "",
                    'BacLuong': $("#bac-" + arrCarSelected[i]).find(":selected").text(),
                    'MucLuong': $("#luong-" + arrCarSelected[i]).val(),
                    'ThangBacLuong': $("#thang-" + arrCarSelected[i]).val(),
                    'PhuCap': $("#phucap-" + arrCarSelected[i]).val(),
                    'DonViMoi': $("#donvi-" + arrCarSelected[i]).val(),
                    'ChucVu': {
                        'maChucVu': $("#chucvu-" + arrCarSelected[i]).val(),
                        'tenChucVu': $("#chucvu-" + arrCarSelected[i] + " :selected").text(),
                    },
                    'NgayQD': $("#ngay-quyet-dinh").val(),
                    'LyDo': $("#lydo-" + arrCarSelected[i]).val().trim()
                });
            }
            //var urlToSend = '/phong-tcld/dieu-chuyen/export-quyet-dinh';
            //var req = new XMLHttpRequest();
            //req.open("POST", urlToSend, true);
            //req.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
            //req.responseType = "blob";
            //req.onload = function (event) {
            //    console.log(req.response);
            //    var blob = req.response;
            //    var fileName = "quyetdinh-dieudong.docx";
            //    var link = document.createElement('a');
            //    link.href = window.URL.createObjectURL(blob);
            //    link.download = fileName;
            //    link.click();
            //};
            //$("#pre-load").hide("slow", function () {
            //});
            //req.send(JSON.stringify(selectedList));
            $.ajax({
                type: 'Post',
                url: '/phong-tcld/dieu-chuyen/export-quyet-dinh',
                data: { selectedList: JSON.stringify(selectedList) },
                dataType: 'json',
                success: function (response) {
                    if (response.success) {
                        window.location.href = response.location;
                        $("#pre-load").hide("slow", function () {
                        });

                    } else {
                        alert("error");
                    }
                }
            });

        });
    </script>
    <script>
        function show_selected() {
            $("#show_select_table").empty();
            for (let i = 0; i < arrCarSelectedShow.length; i++) {
                $("#show_select_table").append("<tr>");
                $("#show_select_table").append("<td>" + (i + 1) + "</td>");
                $("#show_select_table").append("<td>" + arrCarSelectedShow[i].id + "</td>");
                $("#show_select_table").append("<td>" + arrCarSelectedShow[i].name + "</td>");
                $("#show_select_table").append("<td>" + arrCarSelectedShow[i].gender + "</td>");
                $("#show_select_table").append("<td>" + arrCarSelectedShow[i].dob + "</td>");
                $("#show_select_table").append("<td>" + arrCarSelectedShow[i].dept + "</td>");
                $("#show_select_table").append("<td>" + arrCarSelectedShow[i].job + "</td>");
                $("#show_select_table").append("<td><i onclick=\"remove_from_selected(" + arrCarSelectedShow[i].id + ")\" class=\"remove_select material-icons dp48\">cancel</i></td>");
                $("#show_select_table").append("</tr>");
            }
        }
        function remove_from_selected(id) {
            for (i in arrCarSelected) {
                if (arrCarSelected[i] == id) {
                    arrCarSelected.splice(i, 1);
                    break;
                }
            }
            for (j in arrCarSelectedShow) {
                if (arrCarSelectedShow[j].id == id) {
                    arrCarSelectedShow.splice(j, 1);
                    break;
                }
            }
            $("#" + id).prop("checked", false);
            $("#total_selected").text(arrCarSelected.length);
            show_selected()
        }
    </script>
    <script>
        $("#check-all").change(function () {
            if ($(this).prop("checked") == false) {
                $(".step1_checkbox").each(function () {
                    if ($(this).prop("checked") == true) {
                        $(this).click();
                    }
                });
            } else {
                $(".step1_checkbox").each(function () {
                    if ($(this).prop("checked") == false) {
                        $(this).click();
                    }
                });
            }

        });

    </script>

    <script>
        $("#ngay-quyet-dinh").datepicker({
            toggleSelected: false,
            language: 'vi'
        });
    </script>
    <script>
        $(function () {
            $(".datepicker-inline").remove();
        })
    </script>
    <script src="~/assets/libs/toastr/build/toastr.min.js"></script>
    <script src="~/assets/extra-libs/toastr/toastr-init.js"></script>

}  <!-- This page plugin js -->
<!-- ============================================================== -->