@model QUANGHANH2.Models.Documentary

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <div class="row">
        <table class="striped mytb">
            <tr>
                <td>Quyết định số</td>
                <td> @Html.DisplayFor(model => model.documentary_code)</td>
            </tr>
            <tr>
                <td>Ngày lập quyết định</td>
                <td id="cut">@Html.DisplayFor(model => model.date_created)</td>
            </tr>
            <tr>
                <td>Người lập quyết định</td>
                <td>@Html.DisplayFor(model => model.person_created)</td>
            </tr>
            <tr>
                <td>Loại quyết định</td>
                <td id="type">@Html.DisplayFor(model => model.documentary_type)</td>
            </tr>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $('#cut').text($('#cut').text().split(" ")[0])
            var type = $('#type').text();
            switch (type) {
                case "1": $('#type').text("Sửa chữa");
                    break;
                case "2": $('#type').text("Bảo dưỡng");
                    break;
                case "3": $('#type').text("Điều động");
                    break;
                case "4": $('#type').text("Thu hồi");
                    break;
                case "5": $('#type').text("Thanh lý");
                    break;
                case "6": $('#type').text("Trung đại tu");
                    break;
                default:
                    break;
            }
        })
    </script>
    @*<div>
            <h4>Documentary</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.documentary_type)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.documentary_type)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.date_created)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.date_created)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.person_created)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.person_created)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.reason)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.reason)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.out_in_come)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.out_in_come)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.documentary_status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.documentary_status)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Department.department_name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Department.department_name)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.documentary_id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>*@
</body>
</html>
