
@{
    ViewBag.Title = "NSLD";
    Layout = "~/Views/Shared/PX/_Layout_PXKT.cshtml";
}

<link href="~/assets/Custom css/PX/PXKT/ReportProduct.css" rel="stylesheet" />
<link href="~/dist/css/pages/data-table.css" rel="stylesheet" />
<link href="~/assets/extra-libs/DataTables/datatables.min.css" rel="stylesheet" />
<script src="~/assets/extra-libs/DataTables/datatables.min.js"></script>



<script>
    $(document).ready(function () {
        var url_string = window.location.href;
        var url = new URL(url_string);
        var c = url.searchParams.get("Ca");
        var time = url.searchParams.get("Date");
        $("#px").html("Đào Lò 1");
        $("#ca").html("CA 1");
        var donvi = url.searchParams.get("Donvi");
        if (donvi == null) {
            donvi = 'DL1';
        }
        var text = document.getElementsByName(donvi)[0].innerHTML;
        if (donvi != null) {
            $("#px").html(text);
            $("#px").attr("name", donvi)
        }
        $("#dropdown_px").on("click", ".dropdown-child-px", function () {
            select = $(this).attr("name");
            text = $(this).text();
            $("#px").html(text);
            $("#px").attr("name", select);
            $(".dropdown-child-px").attr("name", select);
            $('.dropdown-trigger').dropdown('close');
        });
        if (c == 1) {
            $("#ca").html("CA 1");
        }
        if (c == 2) {
            $("#ca").html("CA 2");
        }
        if (c == 3) {
            $("#ca").html("CA 3");
        }
        $("#dropdown_ca").on("click", ".dropdown-child-ca", function () {
            select = $(this).attr("name");
            text = $(this).text();
            $("#ca").html(text);
            $("#ca").attr("name", text);
            $(".dropdown-child-ca").attr("name", select);
            $('.dropdown-trigger').dropdown('close');
        });
        if (time == null) {
            document.getElementById("inputdate").value = "@string.Format("{0:dd/MM/yyyy}", System.DateTime.Now)";
        } else {
            document.getElementById("inputdate").value = time;
        }
        dataTable = $("#content-table").DataTable({
            "language": {
                emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                paginate:
                {
                    previous: "Trang trước",
                    next: "Trang sau",
                    first: "|<",
                    last: ">|",

                },
                info: "Đang hiện _START_ đến _END_ của _TOTAL_ bản ghi",
                infoEmpty: "Đang hiện 0 đến 0 của 0 bản ghi",
            },
            "autoWidth": false,
            "searching": false,
            "drawCallback": function () {
                $('#pre-load').hide();
            }
        });
    });

</script>

<div class="card">
    <div class="card-content">
        <form>
            <div class="row center">
                <h3>
                    KHỐI LƯỢNG CÔNG VIỆC CỦA  <a class='dropdown-trigger btn' id="px" href='#' data-target='dropdown_px'
                                                 style="width:250px;background-color:#273146" name="VTL1">
                        VTL1
                    </a> <a class="dropdown-trigger btn" id="ca" href="#" data-target="dropdown_ca" style="background-color:#273146">CA 1</a> NGÀY <input type="text" id="inputdate" class="datepicker-here center" data-language="vi">
                    <a class="btn waves-effect waves-light blue modal-trigger" id="btn-view" href="#" onclick="getcontent();">Xem</a>
                    <br><br>
                </h3>
                <hr>
            </div>
            <div class="row table1" style="overflow-x:auto!important">
                @if (ViewBag.nsld.Count > 0)
                {
                    <table id="content-table" class="table table-bordered table-responsive centered highlight">
                        <thead>
                            <tr>
                                <th style="display:none;"></th>
                                <th width="3%">STT</th>
                                <th width="10%">Tên</th>
                                <th width="5%">Số thẻ</th>
                                <th width="5%">Bậc thợ</th>
                                <th width="10%">Chức danh công việc,thợ chính,thợ phụ</th>
                                <th width="10%">Nội dung công việc,vị trí làm việc</th>
                                <th width="10%">Khối lượng công việc thực hiện được</th>
                                <th width="10%">Hệ số chia lương</th>
                                <th width="10%">Lương</th>
                                <th>Dự báo nguy cơ</th>
                                <th>-Yêu cầu BPKTAT<br>-Giải pháp loại trừ nguy cơ</th>
                            </tr>

                        </thead>
                        <tbody id="contentNSLD">
                            @foreach (var item in ViewBag.nsld)
                            {
                                <tr>
                                    <td style="display:none;"><input class="madiemdanh" value="@item.ID" /></td>
                                    <td>@item.STT</td>
                                    <td>@item.Name</td>
                                    <td>@item.SoThe</td>
                                    <td>@item.BacTho</td>
                                    <td>@item.ChucDanh</td>
                                    <td>@item.NoiDungCongViec</td>
                                    <td><input type="number" value="@item.NSLD" class="form-control updateNSLD" style="border:none; text-align: center;" id="nsld"></td>
                                    <td><input type="number" value="@item.HeSoChiaLuong" class="form-control HeSoChiaLuong" style="border:none; text-align: center;"></td>
                                    <td><input type="number" value="@item.LuongTruocDuyet" class="form-control Luong" style="border:none; text-align: center;"></td>

                                    <td><textarea class="DuBaoNguyCo">@item.DuBaoNguyCo</textarea></td>
                                    <td><textarea class="GiaiPhapNguyCo">@item.YeuCauBPKTAT</textarea></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div style="margin-top:10px;">
                        <a class="btn waves-effect waves-light blue modal-trigger" id="btn-save" href="#modal1">Lưu</a>
                    </div>
                }
                else
                {
                    <div class="row">
                        <h3 style="text-align:center;">
                            <p>Chưa có dữ liệu điểm danh</p>
                        </h3>
                        <hr>
                    </div>
                }
            </div>

        </form>
    </div>
</div>
<ul id='dropdown_ca' class='dropdown-content'>
    <li><a class="dropdown-child-ca" href="#" name="CA 1">CA 1</a></li>
    <li><a class="dropdown-child-ca" href="#" name="CA 2">CA 2</a></li>
    <li><a class="dropdown-child-ca" href="#" name="CA 3">CA 3</a></li>
</ul>


<div id="modal1" class="modal">
    <div class="modal-content">
        <h3><b>Bạn có chắc chắn muốn lưu không?</b></h3>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect waves-green btn blue" id="btn_agrr" onclick="Update();">Lưu</a>
        <a href="javascript:void(0);" class="modal-action modal-close waves-effect waves-green btn red">Hủy</a>
    </div>
</div>

<ul id='dropdown_px' class='dropdown-content'>
    @foreach (var item in @ViewBag.TenToChuc)
    {
        <li><a class="dropdown-child-px" href="#!" name="@item.department_id">@item.department_name</a></li>
    }
</ul>

<script type="text/javascript">
    var ca;
    var intCa;
    function getInner() {
        ca = document.getElementById("ca").innerText;
        if (ca == "CA 2") {
            intCa = "2";
        }
        else if (ca == "CA 3") {
            intCa = "3";
        }
        else {
            intCa = "1";
        }
    }

    function getcontent() {
        getInner();
        var tendonvi = $("#px").attr("name");
        window.location = "/phan-xuong-khai-thac/nang-suat-lao-dong?Ca=" + intCa + "&Date=" + document.getElementById("inputdate").value + "&Donvi=" + tendonvi;
    }
    function Update() {
        $('#pre-load').show();
        getInner();
        var MaDiemDanh = document.getElementsByClassName("madiemdanh");
        var NangSuatLaoDong = document.getElementsByClassName("updateNSLD");
        var HeSoChiaLuong = document.getElementsByClassName("HeSoChiaLuong");
        var Luong = document.getElementsByClassName("Luong");
        var DuBaoNguyCo = document.getElementsByClassName("DuBaoNguyCo");
        var GiaiPhapNguyCo = document.getElementsByClassName("GiaiPhapNguyCo");
        var MaDiemDanhs = [];
        var NangSuatLaoDongs = [];
        var HeSoChiaLuongs = [];
        var Luongs = [];
        var DuBaoNguyCos = [];
        var GiaiPhapNguyCos = [];
        for (var i = 0; i < MaDiemDanh.length; i++) {
            var tmpMaDiemDanh = MaDiemDanh[i].value;
            var tmpNangSuatLaoDong = NangSuatLaoDong[i].value;
            var tmpHeSoChiaLuong = HeSoChiaLuong[i].value;
            var tmpLuong = Luong[i].value;
            var tmpDuBaoNguyCo = DuBaoNguyCo[i].value;
            var tmpGiaiPhapNguyCo = GiaiPhapNguyCo[i].value;
            MaDiemDanhs.push(tmpMaDiemDanh);
            NangSuatLaoDongs.push(tmpNangSuatLaoDong);
            HeSoChiaLuongs.push(tmpHeSoChiaLuong);
            Luongs.push(tmpLuong);
            DuBaoNguyCos.push(tmpDuBaoNguyCo);
            GiaiPhapNguyCos.push(tmpGiaiPhapNguyCo);
        }
        var empObj = {
            intCa: intCa,
            MaDiemDanhs: MaDiemDanhs,
            NangSuatLaoDongs: NangSuatLaoDongs,
            HeSoChiaLuongs: HeSoChiaLuongs,
            Luongs: Luongs,
            DuBaoNguyCos: DuBaoNguyCos,
            GiaiPhapNguyCos: GiaiPhapNguyCos,
            date: document.getElementById("inputdate").value
        };
        $.ajax({
            url: "/phan-xuong-khai-thac/nang-suat-lao-dong-update",
            data: JSON.stringify(empObj),
            contentType: "application/json;charset=utf-8",
            type: "POST",
            success: function () {
                getcontent();
            },
            error: function () {
            }
        });
    }
</script>
<script>
    $('#inputdate').datepicker({
        language: 'vi',
        maxDate: new Date() // Now can select only dates, which goes after today
    })
    $(document).ready(function () {
        $('.datepicker-inline').remove();
    });
    $(document).ready(function () {
        $("#type").html("Xem Theo Ngày");
    });
</script>



