@model QUANGHANH2.Models.ChungChi_NhanVien

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditCertificateEmp</title>
</head>
<body>
    <div id="edit-modal-body-emp">
        @using (Html.BeginForm("EditCertificateEmp", "Certificate", FormMethod.Post, new { onSubmit = "return SubmitForm(this) " }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="row">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.SoHieu, "Số hiệu")

                    <div class="form-group col s12 m12 l12">
                        @Html.LabelFor(model => model.NgayCap, "Ngày cấp", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NgayCap, "Ngày cấp", new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NgayCap, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col s6 m6 l6">
                        @Html.LabelFor(model => model.MaNV, "Mã nhân viên", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.MaNV, new { htmlAttributes = new { @class = "form-control", @list = "list", @id = "manv" } })
                            <datalist id="list">
                                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.List_nhanvien)
                                {
                                    <option id="@item.Value" value="@item.Text">@item.Text</option>
                                }
                            </datalist>
                            @Html.ValidationMessageFor(model => model.MaNV, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col s6 m6 l6">
                        @Html.LabelFor(model => model.MaNV, "Tên nhân viên", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            <input type="text" value="@ViewBag.nameEmp" class="form-control " id="nameEmpEdit" disabled />
                        </div>
                    </div>

                    <div class="form-group col s12 m12 l12">
                        @Html.LabelFor(model => model.MaChungChi, "Tên chứng chỉ", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("MaChungChi", (IEnumerable<SelectListItem>)ViewBag.List_chungchi, htmlAttributes: new { @class = "form-control", @id = "macc_edit" })
                            @Html.ValidationMessageFor(model => model.MaChungChi, "", new { @class = "text-danger" })
                            <p hidden style="color:red" id="message_cirt_emp_edit">Chứng chỉ của nhân viên này đã tồn tại. Hãy chọn lại</p>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group col s12 m12 l12">
                        <div class="control-label col-md-2"></div>
                        <br />
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Lưu" class=" waves-light btn blue darken-2 white-text" id="submit_form_edit"/>
                        </div>
                    </div>
                </div>
                
            </div>
        }
    </div>
</body>
</html>
<script>
    $('#manv').change(function () {
        var manv = $(this).val();
      $.ajax({
            url:'@Url.Action("getName", "Certificate")',
            type: "POST",
            data: { id: $(this).val() },
            success: (response) => {
                if (response.success) {
                    $('#nameEmpEdit').val(response.data);
                } else {
                }
            },
            error: (response) => {

            },
        })

    });
    
    var first_cir = $('#macc_edit').val();
    $('#macc_edit').blur(function () {
        var manv = $('#manv').val();
        $.ajax({
            url:'@Url.Action("validateExistCirtificateOfEmp", "Certificate")',
            type: "POST",
                data: {
                    id: $(this).val(),
                    manv: manv,
                    first_cir: first_cir,
                },
            success: (response) => {
                if (response.success) {
                    $('#message_cirt_emp_edit').show();
                    $('#submit_form_edit').attr("disabled", true);
                } else {
                    $('#message_cirt_emp_edit').hide();
                    $('#submit_form_edit').attr("disabled", false);
                }
            },
            error: (response) => {

            },
        })
    })
</script>
