
@{
    ViewBag.Title = "FuelConsumption";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}

@*/**/*@
<link href="~/assets/Custom css/TABLE_BORDERED.css" rel="stylesheet" />
<link href="~/assets/extra-libs/prism/prism.css" rel="stylesheet" />
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/custom.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/font.css" rel="stylesheet" type="text/css">
<link href="~/dist/css/pages/data-table.css" rel="stylesheet" />
<link href="~/assets/extra-libs/DataTables/datatables.min.css" rel="stylesheet" />
<script src="~/lib/datepicker_src/dist/js/datepicker.js"></script>
<script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>
<script src="~/assets/extra-libs/prism/prism.js"></script>
<script src="~/assets/extra-libs/DataTables/datatables.min.js"></script>
<script>
    $(function () {
        var url_string = window.location.href;
        var url = new URL(url_string);
        $("#txtmonth").datepicker({
            onSelect: function () {
                $('#pre-load').show();
                var val = document.getElementById("txtmonth").value;
                var val2 = val.split(" ");
                window.location = "/phong-cdvt/bao-cao/nhien-lieu?type=month&month=" + val2[1] + "&year=" + val2[2];
            }
        })
        $("#txtyear").datepicker({
            onSelect: function () {
                window.location = "/phong-cdvt/bao-cao/nhien-lieu?type=year&year=" + document.getElementById("txtyear").value;
            }
        })
        $("#minMaxDate").datepicker({
            onSelect: function () {
                window.location = "/phong-cdvt/bao-cao/nhien-lieu?type=day&date=" + document.getElementById("minMaxDate").value;
            }
        })
        $('#txtquarter').change(function () {
            window.location = "/phong-cdvt/bao-cao/nhien-lieu?type=quarter&quarter=" + document.getElementById("txtquarter").value + "&year=" + document.getElementById("quateryear").value;
        });
        $("#quateryear").datepicker({
            onSelect: function () {
                window.location = "/phong-cdvt/bao-cao/nhien-lieu?type=quarter&quarter=" + document.getElementById("txtquarter").value + "&year=" + document.getElementById("quateryear").value;
            }
        })
    });
    $(document).ready(function () {
        $("#minMaxDate").val("@string.Format("{0:dd/MM/yyyy}", System.DateTime.Now)");
        $("#txtmonth").val("Tháng @DateTime.Now.Month @DateTime.Now.Year");
        $("#txtyear").val("@DateTime.Now.Year");
        $("#quateryear").val("@DateTime.Now.Year");
        var url_string = window.location.href;
        var url = new URL(url_string);
        var c = url.searchParams.get("type");
        var day = url.searchParams.get("date");
        var month = url.searchParams.get("month");
        var quater = url.searchParams.get("quarter");
        var year = url.searchParams.get("year");
        $("#type").html("Xem Theo Ngày");

        if (c == "day") {
            document.getElementById("typeview").innerText = "Xem Theo Ngày";
            document.getElementById("visiblequater").style.display = "none";
            document.getElementById("visibleyear").style.display = "none";
            document.getElementById("visiblemonth").style.display = "none";
            document.getElementById("visibleday").style.display = "inline";
            $("#minMaxDate").val(day);
        }
        if (c == "month") {
            document.getElementById("typeview").innerText = "Xem Theo Tháng";
            document.getElementById("visibleday").style.display = "none";
            document.getElementById("visiblequater").style.display = "none";
            document.getElementById("visibleyear").style.display = "none";
            document.getElementById("visiblemonth").style.display = "inline";
            $("#txtmonth").val("Tháng " + month +" "+ year);
        }
        if (c == "quarter") {
            document.getElementById("typeview").innerText = "Xem Theo Quý";
            document.getElementById("visibleday").style.display = "none";
            document.getElementById("visibleyear").style.display = "none";
            document.getElementById("visiblemonth").style.display = "none";
            document.getElementById("visiblequater").style.display = "inline";
            document.getElementById('txtquarter').selectedIndex = quater - 1;
            $("#quateryear").val(year);
        }
        if (c == "year") {
            document.getElementById("typeview").innerText = "Xem Theo Năm";
            document.getElementById("visibleday").style.display = "none";
            document.getElementById("visiblemonth").style.display = "none";
            document.getElementById("visiblequater").style.display = "none";
            document.getElementById("visibleyear").style.display = "inline";
            $("#txtyear").val(year);
        }
        var dataTable;
        dataTable = $("#content-table").DataTable({

            "ajax": {
                "url": url,
                "type": "POST",
                "datatype": "json",
            },
            "columns": [
                { "data": "Thang", "name": "Thang" },
                { "data": "MaThietBi", "name": "MaThietBi" },
                { "data": "TenThietBi", "name": "TenThietBi" },
                { "data": "LoaiNhienLieu", "name": "LoaiNhienLieu" },
                { "data": "LuongTieuThu", "name": "LuongTieuThu" },
                { "data": "DonVi", "name": "DonVi" },

            ],
            "language": {

                "emptyTable": "No data found"
            },
            "autoWidth": false,
            "searching": false,

        });

    });

</script>

<div class="card">
    <div class="card-content">
        <div class="col s12">
            <div class="center">
                <h3 class="centered" style="padding-top:20px"><b>BÁO CÁO</b></h3>
                <div class="day" id="visibleday">
                    <h3>
                        <i class="fas fa-calendar-alt icon"></i>
                        <input type='text' class='datepicker-here center' id="minMaxDate" data-language='vi' />
                    </h3>
                </div>
                <div class="month" id="visiblemonth" style="display: none">
                    <h3>
                        <i class="fas fa-calendar-alt icon"></i>
                        <input type="text"
                               id="txtmonth"
                               class="datepicker-here center"
                               data-language='vi'
                               data-min-view="months"
                               data-view="months"
                               data-date-format="MM yyyy" />
                    </h3>
                </div>
                <div class="quarter" id="visiblequater" style="display: none">
                    <div class="row">
                        <div class="col l4 m4"></div>
                        <div class="col l2 m2 s4">
                            <select class="form-control" style="width: 30%" id="txtquarter">
                                <option value="1">Quý I</option>
                                <option value="2" selected>Quý II</option>
                                <option value="3">Quý III</option>
                                <option value="4">Quý IV</option>
                            </select>
                        </div>
                        <div class="col l2 m2 s6">
                            <input type="text"
                                   id="quateryear"
                                   class="datepicker-here center form-control"
                                   data-language='vi'
                                   data-min-view="years"
                                   data-view="years"
                                   data-date-format="yyyy" value="@DateTime.Now.Year" style="width: 150px !important" />
                        </div>
                    </div>
                </div>
                <div class="year" id="visibleyear" style="display: none">
                    <h3>
                        <i class="fas fa-calendar-alt icon"></i>
                        <input type="text"
                               id="txtyear"
                               class="datepicker-here center"
                               data-language='vi'
                               data-min-view="years"
                               data-view="years"
                               data-date-format="yyyy" />
                    </h3>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col s12">
                <a id="typeview" class='dropdown-trigger btn' href='#' data-target='dropdown1' style="width:250px;background-color:#273146;margin-bottom:20px">Xem Theo Ngày</a>
            </div>
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s6"><a class="active" onclick="ResizeChart()" href="#bieudo"><b>Biểu đồ</b></a></li>
                    <li class="tab col s6"><a href="#solieu"><b>Bảng báo cáo</b></a></li>
                </ul>
            </div>
        </div>

    </div>

</div>
<ul id='dropdown1' class='dropdown-content'>
    <li onclick="ViewbyDay();"><a id="day" href="#" ;>Xem Theo Ngày</a></li>
    <li onclick="ViewbyMonth();"><a id="month" href="#" ;>Xem Theo Tháng</a></li>
    <li onclick="ViewbyQuarter();"><a id="quarter" href="#" ;>Xem Theo Quý</a></li>
    <li onclick="ViewbyYear();"><a id="year" href="#" ;>Xem Theo Năm</a></li>
</ul>

<div id="bieudo">
    <div class="row">
        <div class="col s12 l3">
            <div class="card" style="height: 200px">
                <div class="card-content align-items-center">
                    <div class="row">
                        <div class="col s12">
                            <h6 class="card-subtitle">Dầu nhũ hóa sử dụng</h6>
                            <h4>@ViewBag.DauNhuHoa Lít</h4>
                        </div>
                        <div class="col s12">
                            <div class="progress">
                                <div class="determinate amber darken+3" style="width: 67%"></div>
                            </div>
                        </div>
                        <div class="col s12">
                            <h4>67%</h4>
                            <h6 class="card-subtitle">Quý 2 so với kế hoạch năm</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 l3">
            <div class="card" style="height: 200px">
                <div class="card-content align-items-center">
                    <div class="row">
                        <div class="col s12">
                            <h6 class="card-subtitle">Xăng sử dụng</h6>
                            <h4>@ViewBag.Xang Lít</h4>
                        </div>
                        <div class="col s12">
                            <div class="progress">
                                <div class="determinate amber darken+3" style="width: 87%"></div>
                            </div>
                        </div>
                        <div class="col s12">
                            <h4>87%</h4>
                            <h6 class="card-subtitle">Quý 2 so với kế hoạch năm</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 l3">
            <div class="card" style="height: 200px">
                <div class="card-content align-items-center">
                    <div class="row">
                        <div class="col s12">
                            <h6 class="card-subtitle">Dầu mỡ sử dụng</h6>
                            <h4>@ViewBag.DauMo Lít</h4>
                        </div>
                        <div class="col s12">
                            <div class="progress">
                                <div class="determinate amber darken+3" style="width: 76%"></div>
                            </div>
                        </div>
                        <div class="col s12">
                            <h4>76%</h4>
                            <h6 class="card-subtitle">Quý 2 so với kế hoạch năm</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 l3">
            <div class="card mymanu" style="height: 200px">
                <div class="card-content center-align">
                    <h6 class="card-subtitle center-align m-b-0 white-text">Tiêu hao so với dự trù</h6>
                    <h1 class="font-light m-b-0 white-text" style="padding-top: 40px"> 80 % </h1>
                </div>
            </div>
        </div>

    </div>
    <div class="card">
        <div class="card-content analytics-info">
            <h5 class="card-title">Nhiên liệu tiêu thụ (Lít)</h5>
            <div id="fuel" style="height:400px;"></div>
        </div>
    </div>
</div>


<div class="card">

    <div class="row">

        <div id="solieu" class="col s12">
            <div class="row ">
                <div class="col l12">
                    <table id="content-table" class="table-bordered striped centered"
                           style="margin-top:30px; text-align:center;">
                        <thead>
                            <tr>
                                <th style="text-align:center">Tháng</th>
                                <th>Mã thiết bị sử dụng</th>
                                <th style="min-width:100px">Tên thiết bị sử dụng</th>
                                <th style="min-width:100px">Loại nhiên liệu tiêu thụ</th>
                                <th>Lượng tiêu thụ</th>
                                <th>Đơn vị</th>

                            </tr>
                        </thead>
                        <tbody id="footertable"></tbody>
                    </table>
                    <div class="row" style="margin:20px 0px 20px 0px">
                        <div class="col-lg-12 left">
                            <div class="export_btn_container">
                                <a class="waves-effect waves-light btn mybtn" id="export">Xuất ra file excel</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l12">
                            <h3>TỔNG HỢP BÁO CÁO: </h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="summary_container">
                            <div class="col l6 summary_left">
                                <table class=" table-bordered striped">
                                    <tbody>
                                        <tr>
                                            <th class="total_row">Tổng nhiên liệu tiêu thụ: </th>
                                            <td class="total_row">@(ViewBag.Xang + ViewBag.DauNhuHoa + ViewBag.DauMo)</td>
                                        </tr>
                                        <tr>
                                            <th>Xăng</th>
                                            <td>@ViewBag.Xang</td>
                                        </tr>
                                        <tr>
                                            <th>Dầu diezen</th>
                                            <td>@ViewBag.DauNhuHoa</td>
                                        </tr>
                                        <tr>
                                            <th>Dầu mỡ</th>
                                            <td>@ViewBag.DauMo</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function ViewbyDay() {
        window.location = "/phong-cdvt/bao-cao/nhien-lieu?type=day&date=" + document.getElementById("minMaxDate").value;
    }
    function ViewbyMonth() {
        var val = document.getElementById("txtmonth").value;
        var val2 = val.split(" ");
        window.location = "/phong-cdvt/bao-cao/nhien-lieu?type=month&month=" + val2[1] + "&year=" + val2[2];
    }
    function ViewbyQuarter() {
        window.location = "/phong-cdvt/bao-cao/nhien-lieu?type=quarter&quarter=" + document.getElementById("txtquarter").value + "&year=" + document.getElementById("quateryear").value;
    }
    function ViewbyYear() {
        window.location = "/phong-cdvt/bao-cao/nhien-lieu?type=year&year=" + document.getElementById("txtyear").value;
    }
        $("#export").click(function () {
        var url_string = window.location.href;
        var url = new URL(url_string);
        var c = url.searchParams.get("type");
        var day = url.searchParams.get("date");
        var month = url.searchParams.get("month");
        var quater = url.searchParams.get("quarter");
        var year = url.searchParams.get("year");
        var emb = {
            type: c,
            date: day,
            month: month,
            quarter: quater,
            year: year
        };
        $('#pre-load').show();
        $.ajax({
            url: '/phong-cdvt/bao-cao/nhien-lieu/excel',
            type: 'POST',
            data: JSON.stringify(emb),
            contentType: "application/json;charset=utf-8",
            dataType: 'JSON',
            success: function (response) {
                if (response.success) {
                    window.location.href = response.location;
                    $("#pre-load").hide("slow", function () {
                    });
                } else {
                    alert("error");
                }
            }
        });
        $("#pre-load").hide();
    });
</script>

<script xang="@ViewBag.Xang" daunhuhoa="@ViewBag.DauNhuHoa" daumo="@ViewBag.DauMo" src="~/js/Custom JS/CDVT/Report/FuelUsage.js"></script>
<script>
    $('#minMaxDate').datepicker({
        language: 'vi',
        maxDate: new Date() // Now can select only dates, which goes after today
    })
    $(document).ready(function () {
        $('.datepicker-inline').remove();
    });
</script>

<script src="~/js/Custom JS/CDVT/Report/DetailManu.js"></script>
<script src="~/js/Custom JS/CDVT/Report/ChangeDateType.js"></script>
