@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">
    <title>Ban Giám Đốc</title>
    <!-- chartist CSS -->
    <link href="~/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <link href="~/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <link href="~/dist/css/style.css" rel="stylesheet">
    <link href="~/css/preloader/css.css" rel="stylesheet" />
    <!-- This page CSS -->
    <link href="~/dist/css/pages/dashboard1.css" rel="stylesheet">
    <!--Cutstom css QUANG HANH-->
    <link href="~/assets/Custom css/TABLE_BORDERED.css" rel="stylesheet" />
    <link href="~/assets/Custom css/floating-action-btn.css" rel="stylesheet">
    <link href="~/assets/Custom css/form-input-border.css" rel="stylesheet">
    <!--Custom Datepicker CSS-->
    <link href="~/lib/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
    <link href="~/lib/datepicker_src/dist/css/custom.css " rel="stylesheet " type="text/css ">
    <link href="~/lib/datepicker_src/dist/css/font.css" rel="stylesheet" type="text/css">
    <!--Font css-->
    <link href="~/assets/Custom css/font-family.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/dist/js/materialize.min.js"></script>
    <script src="~/assets/libs/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <!-- ============================================================== -->
    <!-- Apps -->
    <!-- ============================================================== -->
    <script src="~/dist/js/app.js"></script>
    <script src="~/dist/js/app.init.js"></script>
    <script src="~/dist/js/app-style-switcher.js"></script>
    <!-- ============================================================== -->
    <!-- Custom js -->
    <!-- ============================================================== -->
    <script src="~/dist/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script src="~/assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="~/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="~/assets/extra-libs/sparkline/sparkline.js"></script>
    <script src="~/dist/js/pages/dashboards/dashboard1.js"></script>

    <!--Custom js QUANG HANH-->
    <script src="~/js/Custom JS/Flexible_user_icon.js"></script>

    <!--Custom Datepicker JS-->
    <script src="~/lib/datepicker_src/dist/js/datepicker.js"></script>
    <script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>

    <!--Quang Hanh Alert-->
    <link href="~/assets/sweetalert/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/assets/sweetalert/alert-quanghanh-js.js"></script>
    <script src="~/assets/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/assets/sweetalert/sweetalert2.min.js"></script>

    <!--Wizard.-->
    <script src="~/assets/libs/jquery-steps/build/jquery.steps.min.js"></script>
    <script src="~/assets/libs/jquery-validation/dist/jquery.validate.min.js"></script>
    <link href="~/assets/libs/jquery-steps/jquery.steps.css" rel="stylesheet">
    <link href="~/assets/libs/jquery-steps/steps.css" rel="stylesheet">
    <link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/dist/css/pages/data-table.css" rel="stylesheet">
</head>

<body>
    <div class="main-wrapper" id="main-wrapper">
        <div id="pre-load" hidden>
            <div class="loading">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="loader">
                <div class="loader__figure"></div>
                <p class="loader__label">Đang tải...</p>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <header class="topbar">
            <!-- ============================================================== -->
            <!-- Navbar scss in header.scss -->
            <!-- ============================================================== -->
            <nav>
                <div class="nav-wrapper">
                    <!-- ============================================================== -->
                    <!-- Logo you can find that scss in header.scss -->
                    <!-- ============================================================== -->
                    <a href="javascript:void(0)" class="brand-logo">
                        <span class="icon">
                            <img class="light-logo" src="/assets/images/logo-light-icon.png">
                        </span>
                        <span class="text">
                            <img class="light-logo" src="/assets/images/logo-light-text.png">
                        </span>
                    </a>
                    <!-- ============================================================== -->
                    <!-- Logo you can find that scss in header.scss -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Left topbar icon scss in header.scss -->
                    <!-- ============================================================== -->
                    <ul class="left">
                        <li class="hide-on-med-and-down">
                            <a href="javascript: void(0);" class="nav-toggle">
                                <span class="bars bar1"></span>
                                <span class="bars bar2"></span>
                                <span class="bars bar3"></span>
                            </a>
                        </li>
                        <li class="hide-on-large-only">
                            <a href="javascript: void(0);" class="sidebar-toggle">
                                <span class="bars bar1"></span>
                                <span class="bars bar2"></span>
                                <span class="bars bar3"></span>
                            </a>
                        </li>
                    </ul>

                    <ul class="right">
                        <!-- ============================================================== -->
                        <!-- Profile icon scss in header.scss -->
                        <!-- ============================================================== -->
                        <li>
                            <a class="dropdown-trigger" href="javascript: void(0);" data-target="user_dropdown"><img src="/assets/images/users/2.jpg" alt="user" class="circle profile-pic"></a>
                            <ul id="user_dropdown" class="mailbox dropdown-content dropdown-user">
                                <li>
                                    <div class="dw-user-box">
                                        <div class="u-img"><img src="/assets/images/users/2.jpg" alt="user"></div>
                                        <div class="u-text">
                                            <h4>@Session["Name"]</h4>
                                            <p>@Session["username"]</p>

                                        </div>
                                    </div>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("Detail", "LogIn")"><i class="material-icons">account_circle</i> Hồ Sơ Của Tôi</a></li>
                                @{
                                    if (Session["Position"].ToString().Equals("Trưởng phòng"))
                                    {
                                        <li role="separator" class="divider"></li>
                                        <li><a href="@Url.Action("Index", "ManagementUser")"><i class="small material-icons">vpn_key</i> Quản lí</a></li>
                                    }
                                }
                                <li role="separator" class="divider"></li>
                                <li><a href="#"><i class="material-icons">settings</i> Cài Đặt Tài Khoản</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("Logout","LogIn")"><i class="material-icons">power_settings_new</i>Đăng Xuất</a></li>
                            </ul>
                        </li>
                        <li id="user-icon"><a href="">@Session["Name"] <span class="new badge red" data-badge-caption="@Session["Position"]"></span></a></li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right topbar icon scss in header.scss -->
                    <!-- ============================================================== -->
                </div>
            </nav>
            <!-- ============================================================== -->
            <!-- Navbar scss in header.scss -->
            <!-- ============================================================== -->
        </header>
        <!-- ============================================================== -->
        <!-- Sidebar scss in sidebar.scss -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <ul id="slide-out" class="sidenav">
                <li>
                    <ul class="collapsible slidebar">
                        <li>
                            <a href="/ban-giam-doc" class="collapsible-header">
                                <i class="material-icons">home</i> <span class="hide-menu">
                                    Ban Giám Đốc
                                </span>
                            </a>
                        </li>

                        <li>
                            <a href="/ban-giam-doc/bao-cao-nhanh-san-xuat" class="collapsible-header">
                                <i class="material-icons">assignment</i><span class="hide-menu">
                                    Báo cáo nhanh sản xuất
                                </span>
                            </a>
                        </li>

                        <li>
                            <a href="/ban-giam-doc/bao-cao-san-xuat-than/san-luong-toan-cong-ty" class="collapsible-header">
                                <i class="material-icons">assignment</i><span class="hide-menu">
                                    Sản lượng toàn công ty
                                </span>
                            </a>
                        </li>

                        <li>
                            <a href="/ban-giam-doc/bao-cao-san-xuat-than/bao-cao-san-luong-toan-cong-ty-theo-thang-quy" class="collapsible-header">
                                <i class="material-icons">assignment</i><span class="hide-menu">Sản lượng theo tháng, quý</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ban-giam-doc/bao-cao-san-xuat-than/bao-cao-san-luong-toan-cong-ty-theo-phan-xuong" class="collapsible-header">
                                <i class="material-icons">assignment</i><span class="hide-menu">Sản lượng theo phân xưởng</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="collapsible-header has-arrow">
                                <i class="material-icons">person</i><span class="hide-menu">Báo cáo nhân lực</span>
                            </a>
                            <div class="collapsible-body">
                                <ul>
                                    <li>
                                        <a href="/ban-giam-doc/bao-cao-nhan-luc/bao-cao-tong-hop-nhan-luc-theo-ngay">
                                            <i class="material-icons">view_day</i><span class="hide-menu">
                                                Tổng nhân lực theo ngày
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/ban-giam-doc/bao-cao-nhan-luc/bao-cao-tong-hop-nhan-theo-phan-xuong-theo-ngay">
                                            <i class="material-icons">view_day</i><span class="hide-menu">
                                                Tổng nhân lực-PX-ngày
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="center collapsible-header hide-menu" style="cursor: default;
                                                                                    background-image: -webkit-linear-gradient(left, #11d7e4 0%, #48eaa1 100%);
                                                                                    border-radius: 5px;">
                                <span class="white-text">SỐ NGÀY SẢN XUẤT CÒN LẠI</span>
                                <br />
                                <span style="color: snow; font-size: 32px !important; font-weight: bold">@Session["restDayOfYear"]</span>
                            </a>
                        </li>

                        @*<li>
                                <a href="javascript: void(0);" class="collapsible-header has-arrow">
                                    <i class="material-icons">assignment</i><span class="hide-menu">Chi tiết phòng điều khiển</span>
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="/ban-giam-doc/bao-cao-chi-tiet-san-xuat">
                                                <i class="material-icons">adjust</i><span class="hide-menu">
                                                    Chi tiết sản xuất
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/ban-giam-doc/bao-cao-nhan-luc-tham-gia-san-xuat">
                                                <i class="material-icons">adjust</i><span class="hide-menu">
                                                    Nhân lực tham gia sản xuất
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="/ban-giam-doc/bao-cao-su-co">
                                    <i class="material-icons">error</i><span class="hide-menu">Báo cáo sự cố</span>
                                </a>
                            </li*@>
                    </ul>
                </li>
            </ul>
        </aside>
        <!-- ============================================================== -->
        <!-- Sidebar scss in sidebar.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Title and breadcrumb -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid scss in scafholding.scss -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                @RenderBody()
            </div>
            <!-- ============================================================== -->
            <!-- Container fluid scss in scafholding.scss -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->

        <div class="chat-windows"></div>
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
    </div>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/notify.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script>
        $(".loading").css("z-index", 99999);
        $('body').css('overflow', '');
    </script>
</body>

</html>

