@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <style>
        .notification-badge {
            position: relative;
            right: -20px;
            top: -80px;
            color: white;
            background-color: red;
            margin: 0 -.6em;
            border-radius: 50%;
            padding: 3px 8px;
        }

        #noti_dropdown {
            top: 65px !important;
        }

        .notif {
            position: absolute;
        }

        #droppp {
            height: 64px !important;
        }

        #noti_dropdown {
            border: 1px solid #2ea7e5;
            border-radius: 10px;
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <title>Cơ Điện Vận Tải</title>
    <!-- chartist CSS -->
    <link href="~/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <link href="~/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <link href="~/dist/css/style.css" rel="stylesheet">
    <link href="~/css/TABLE_BORDERED.css" rel="stylesheet">
    @*<link href="~/dist/css/custom.css" rel="stylesheet">*@
    <!-- This page CSS -->
    <link href="~/assets/Custom css/CDVT/TABLE_BORDERED.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link href="~/css/preloader/css.css" rel="stylesheet" />
    <link href="~/assets/Custom css/font-family.css" rel="stylesheet" />
    <link href="~/assets/sweetalert/sweetalert2.min.css" rel="stylesheet" />


    <link href="~/dist/css/pages/dashboard1.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="~/dist/js/materialize.min.js"></script>
    <script src="~/assets/libs/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <!-- ============================================================== -->
    <!-- Apps -->
    <!-- ============================================================== -->
    <script src="~/dist/js/app.js"></script>
    <script src="~/dist/js/app.init.js"></script>
    <script src="~/dist/js/app-style-switcher.js"></script>
    <!-- ============================================================== -->
    <!-- Custom js -->
    <!-- ============================================================== -->
    <script src="~/dist/js/custom.min.js"></script>
    <link href="~/assets/Custom css/form-input-border.css" rel="stylesheet" />
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script src="~/assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="~/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="~/assets/libs/echarts/dist/echarts-en.min.js"></script>
    <script src="~/assets/extra-libs/sparkline/sparkline.js"></script>
    <script src="~/dist/js/pages/dashboards/dashboard1.js"></script>
    <script src="~/js/Flexible_user_icon.js"></script>
    <script src="~/js/Custom JS/form-input-border.js"></script>
    <link href="~/assets/Custom css/CDVT/StyleSheet1.css" rel="stylesheet" />
    <link href="~/css/preloader/css.css" rel="stylesheet" />
    <link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/dist/css/pages/data-table.css" rel="stylesheet">
    <!-- ============================================================== -->
    <!-- Datepicker -->
    <!-- ============================================================== -->
    <link href="~/lib/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
    <link href="~/lib/datepicker_src/dist/css/custom.css " rel="stylesheet " type="text/css ">
    <link href="~/lib/datepicker_src/dist/css/font.css" rel="stylesheet" type="text/css">
    <script src="~/lib/datepicker_src/dist/js/datepicker.js"></script>
    <script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>
</head>

<body>
    <div class="main-wrapper" id="main-wrapper">
        <div id="pre-load" hidden>
            <div class="loading">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="loading">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <header class="topbar">
            <!-- ============================================================== -->
            <!-- Navbar scss in header.scss -->
            <!-- ============================================================== -->
            <nav>
                <div class="nav-wrapper">
                    <!-- ============================================================== -->
                    <!-- Logo you can find that scss in header.scss -->
                    <!-- ============================================================== -->
                    <a href="javascript:void(0)" class="brand-logo">
                        <span class="icon">
                            <img class="light-logo" src="/assets/images/logo-light-icon.png">
                            <img class="dark-logo" src="~/assets/images/logo-text.png">

                        </span>
                        <span class="text">
                            <img class="light-logo" src="/assets/images/logo-light-text.png">
                            <img class="dark-logo" src="~/assets/images/logo-text.png">

                        </span>
                    </a>
                    <!-- ============================================================== -->
                    <!-- Logo you can find that scss in header.scss -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Left topbar icon scss in header.scss -->
                    <!-- ============================================================== -->
                    <ul class="left">
                        <li class="hide-on-med-and-down">
                            <a href="javascript: void(0);" class="nav-toggle">
                                <span class="bars bar1"></span>
                                <span class="bars bar2"></span>
                                <span class="bars bar3"></span>
                            </a>
                        </li>
                        <li class="hide-on-large-only">
                            <a href="javascript: void(0);" class="sidebar-toggle">
                                <span class="bars bar1"></span>
                                <span class="bars bar2"></span>
                                <span class="bars bar3"></span>
                            </a>
                        </li>
                        <!-- ============================================================== -->
                        <!-- Notification icon scss in header.scss -->
                        <!-- ============================================================== -->
                        <li>
                            <a class="dropdown-trigger" id="droppp" href="#!" data-target="noti_dropdown">
                                <i class="small material-icons">notifications</i>
                                <small id="number"></small>
                            </a>
                            <ul id="noti_dropdown" class="mailbox dropdown-content">
                                <li>
                                    <div class="drop-title">Thông Báo</div>
                                </li>
                                <li>
                                    <div class="message-center" id="message">

                                    </div>
                                </li>
                                @*<li>
                                        <a class="center-align" href="javascript:void(0);">
                                            <strong>Xoá thông báo</strong>
                                        </a>
                                    </li>*@
                            </ul>
                        </li>
                        <!-- ============================================================== -->
                        <!-- Comment topbar icon scss in header.scss -->
                        <!-- ============================================================== -->
                        @*<li>
                                <a class="dropdown-trigger" href="javascript: void(0);" data-target="msg_dropdown">
                                    <i class="small material-icons">comment</i>
                                </a>
                                <ul id="msg_dropdown" class="mailbox dropdown-content">
                                    <li>
                                        <div class="drop-title">Bạn có 4 tin nhắn mới</div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                             Message
                                            <a href="#">
                                                    <span class="user-img">
                                                        <img src="~/assets/images/users/2.jpg" alt="user" class="circle">
                                                        <span class="profile-status online pull-right"></span>
                                                    </span>
                                                    <span class="mail-contnet">
                                                        <h5>Trần Long- CĐVT</h5>
                                                        <span class="mail-desc">Gửi báo cáo chưa ? </span>
                                                        <span class="time">9:30 AM</span>
                                                    </span>
                                                </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="center-align" href="javascript:void(0);">
                                            <strong>Xoá tin nhắn</strong>
                                        </a>
                                    </li>
                                </ul>
                            </li>*@
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Left topbar icon scss in header.scss -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Right topbar icon scss in header.scss -->
                    <!-- ============================================================== -->

                    <ul class="right">
                        <!-- ============================================================== -->
                        <!-- Profile icon scss in header.scss -->
                        <!-- ============================================================== -->
                        <li>
                            <a class="dropdown-trigger" href="javascript: void(0);" data-target="user_dropdown"><img src="/assets/images/users/2.jpg" alt="user" class="circle profile-pic"></a>
                            <ul id="user_dropdown" class="mailbox dropdown-content dropdown-user">
                                <li>
                                    <div class="dw-user-box">
                                        <div class="u-img"><img src="/assets/images/users/2.jpg" alt="user"></div>
                                        <div class="u-text">
                                            <h4>@Session["Name"]</h4>
                                            <p>@Session["username"]</p>
                                            <a class="waves-effect waves-light btn-small red white-text">Xem Hồ Sơ</a>
                                        </div>
                                    </div>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("Detail", "LogIn")"><i class="small material-icons">account_circle</i> Hồ Sơ Của Tôi</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"><i class="small material-icons">settings</i> Cài Đặt Tài Khoản</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("Logout", "LogIn")"><i class="material-icons">power_settings_new</i>Đăng Xuất</a></li>
                            </ul>
                        </li>
                        <li id="user-icon"><a href="">@Session["Name"] <span class="new badge red" data-badge-caption="@Session["Position"]"></span></a></li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right topbar icon scss in header.scss -->
                    <!-- ============================================================== -->
                </div>
            </nav>
            <!-- ============================================================== -->
            <!-- Navbar scss in header.scss -->
            <!-- ============================================================== -->
        </header>
        <!-- ============================================================== -->
        <!-- Sidebar scss in sidebar.scss -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <ul id="slide-out" class="sidenav">
                <li>
                    <ul class="collapsible">
                        <li>
                            <a href="/phong-cdvt" class="collapsible-header"><i class="small material-icons">home</i><span class="hide-menu">Trang chủ</span></a>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="collapsible-header has-arrow"><i class="material-icons">dashboard</i><span class="hide-menu">Thiết bị</span></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/phong-cdvt/huy-dong"><i class="material-icons">adjust</i><span class="hide-menu">Huy động thiết bị</span></a></li>
                                    @*<li><a href="/phong-cdvt/cap-nhat-hoat-dong"><i class="material-icons">adjust</i><span class="hide-menu">Hoạt động hằng ngày</span></a></li>
                                    <li><a href="/phong-cdvt/cap-nhat-tieu-thu"><i class="material-icons">adjust</i><span class="hide-menu">Tiêu thụ hằng ngày</span></a></li>*@
                                    @*<li><a href="/phong-cdvt/thiet-bi/sctx"><i class="material-icons">adjust</i><span class="hide-menu">Sửa chữa thường xuyên</span></a></li>*@
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="collapsible-header has-arrow"><i class="material-icons">directions_car</i><span class="hide-menu">Thiết bị cơ giới</span></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/phong-cdvt/oto/huy-dong"><i class="material-icons">adjust</i><span class="hide-menu">Huy động</span></a></li>
                                    @*<li><a href="/phong-cdvt/oto/cap-nhat-hoat-dong"><i class="material-icons">adjust</i><span class="hide-menu">Hoạt động hằng ngày</span></a></li>
                                    <li><a href="/phong-cdvt/oto/cap-nhat-tieu-thu"><i class="material-icons">adjust</i><span class="hide-menu">Tiêu thụ hằng ngày</span></a></li>*@
                                    @*<li><a href="/phong-cdvt/oto/bao-duong-hang-ngay"><i class="material-icons">adjust</i><span class="hide-menu">Bảo dưỡng hằng ngày</span></a></li>*@
                                    <li><a href="/phong-cdvt/oto/GPS"><i class="material-icons">adjust</i><span class="hide-menu">GPS</span></a></li>
                                    <li><a href="/phong-cdvt/oto/bao-hiem"><i class="material-icons">adjust</i><span class="hide-menu">Cập nhật bảo hiểm</span></a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="/phong-cdvt/danh-sach-vat-tu" class="collapsible-header"><i class="small material-icons">business_center</i><span class="hide-menu">Danh sách vật tư</span></a>
                        </li>
                        <li>
                            <a href="/phong-cdvt/su-co" class="collapsible-header"><i class="small material-icons">build</i><span class="hide-menu">Sự cố</span></a>
                        </li>
                        @*<li>
                            <a href="/phong-cdvt/cap-nhat/quyet-dinh" class="collapsible-header"><i class="material-icons">autorenew</i><span class="hide-menu">Xử lý quyết định</span></a>
                        </li>*@
                        <li>
                            <a href="/phong-cdvt/kiem-dinh" class="collapsible-header"><i class="material-icons">assignment_turned_in</i><span class="hide-menu">Kiểm định</span></a>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="collapsible-header has-arrow"><i class="material-icons">event_available</i><span class="hide-menu">Nghiệm thu</span></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/phong-cdvt/nghiem-thu"><i class="material-icons">adjust</i><span class="hide-menu">Chưa nghiệm thu</span></a></li>
                                    <li><a href="/phong-cdvt/da-nghiem-thu"><i class="material-icons">adjust</i><span class="hide-menu">Đã nghiệm thu</span></a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="collapsible-header has-arrow"><i class="material-icons">apps</i><span class="hide-menu">Vật tư SCTX</span></a>
                            <div class="collapsible-body">
                                <ul>
                                    @*<li><a href="/phong-cdvt/xin-cap-vat-tu-sctx"><i class="material-icons">adjust</i><span class="hide-menu">Xin cấp vật tư</span></a></li>*@
                                    <li><a href="/phong-cdvt/xin-cap-vat-tu-sctx-summary"><i class="material-icons">adjust</i><span class="hide-menu">Xin cấp vật tư tổng hợp</span></a></li>
                                    <li><a href="/phong-cdvt/tong-hop-vat-tu"><i class="material-icons">adjust</i><span class="hide-menu">Tổng hợp vật tư</span></a></li>
                                    <li><a href="/phong-cdvt/vat-tu/tieu-hao"><i class="material-icons">adjust</i><span class="hide-menu">Tiêu hao vật tư</span></a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="collapsible-header has-arrow"><i class="small material-icons">format_list_bulleted</i><span class="hide-menu">Quyết định</span></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/phong-cdvt/quyet-dinh/sua-chua"><i class=" material-icons">adjust</i><span class="hide-menu">Sửa chữa</span></a></li>
                                    <li><a href="/phong-cdvt/quyet-dinh/bao-duong"><i class=" material-icons">adjust</i><span class="hide-menu">Bảo dưỡng</span></a></li>
                                    <li><a href="/phong-cdvt/quyet-dinh/dieu-dong"><i class=" material-icons">adjust</i><span class="hide-menu">Điều động</span></a></li>
                                    <li><a href="/phong-cdvt/quyet-dinh/thu-hoi"><i class=" material-icons">adjust</i><span class="hide-menu">Thu hồi</span></a></li>
                                    <li><a href="/phong-cdvt/quyet-dinh/thanh-ly"><i class=" material-icons">adjust</i><span class="hide-menu">Thanh lý</span></a></li>
                                    <li><a href="/phong-cdvt/quyet-dinh/trung-dai-tu"><i class=" material-icons">adjust</i><span class="hide-menu">Trung đại tu</span></a></li>
                                    <li><a href="/phong-cdvt/quyet-dinh/cai-tien"><i class=" material-icons">adjust</i><span class="hide-menu">Cải tiến</span></a></li>

                                </ul>
                            </div>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="collapsible-header has-arrow"><i class="small material-icons">assignment</i><span class="hide-menu">Báo cáo</span></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/phong-cdvt/bao-cao/dien-nang"><i class="material-icons">adjust</i><span class="hide-menu">Báo cáo sử dụng năng lượng điện</span></a></li>
                                    <li><a href="/phong-cdvt/bao-cao/nhien-lieu"><i class="material-icons">adjust</i><span class="hide-menu">Báo cáo sử dụng nhiên liệu</span></a></li>
                                    <li><a href="/phong-cdvt/bao-cao/thoat-nuoc"><i class="material-icons">adjust</i><span class="hide-menu">Báo cáo huy động bơm thoát nước</span></a></li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </li>
            </ul>
        </aside>
        <!-- ============================================================== -->
        <!-- Sidebar scss in sidebar.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Title and breadcrumb -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid scss in scafholding.scss -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                @RenderBody()
                @RenderSection("scripts", required: false)
            </div>
            <!-- ============================================================== -->
            <!-- Container fluid scss in scafholding.scss -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
    </div>

    <script src="~/assets/sweetalert/alert-quanghanh-js.js"></script>
    <script src="~/assets/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/assets/sweetalert/sweetalert2.min.js"></script>
    <script src="~/js/Custom JS/Custom_input_required.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script>
        $(".loading").css("z-index", 99999);
        $('body').css('overflow', '');
    </script>
    <script>
        $(".datepicker-here").keydown(function (e) {
            e.preventDefault();
        });
    </script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/Notifi/CDVT",
                type: "POST",
                contentType: "application/json;charset=utf-8",
                success: function (result) {
                    result.result.forEach(function (key) {
                        var string = "<a href ='Notifi/Export?type=" + key.type + "'><span class='btn-floating btn-large red'><i class='large material-icons' style='font-size:40px'>error</i></span><span class='mail-contnet'><h5><b>" + key.pb + "</b></h5><span class='mail-desc black-text' style='font-size:14px !important'>" + key.title + "</span><span class='blue-text' style='font-size:13px !important'>" + key.remain_title + "</span></span></a>";
                        $('#message').append(string);
                    });
                    if (result.result.length != 0) {
                        $('#number').attr('class', 'notification-badge');
                        $('#number').html(result.result.length);
                    } else {
                        $('#message').attr('class', 'center');
                        $('#message').html('Bạn chưa có thông báo nào');
                    }
                },
                error: function (errormessage) {
                }
            });
        });
    </script>
</body>

</html>
