@*@{
        ViewBag.Title = "Input";
        Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
    }

    <link rel="stylesheet" href="~/css/tuan_css/css/baocaoluong_css/style.css" />
    <link rel="stylesheet" href="~/css/tuan_css/css/kcs_css/style.css" />

    <div class="card">
        <div class="card-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="center">
                        <h3>DANH SÁCH TIẾP NHẬN VÀ BỐ TRÍ CÔNG TÁC ĐỐI VỚI CÔNG NHÂN</h3>
                        <h4>Kèm theo Quyết định số: /QĐ-VQHC</h4>
                        <input type="text"
                               class="datepicker-here center"
                               data-language='vi'
                               data-min-view="days"
                               id="minMaxDate"
                               data-view="days"
                               data-date-format="dd MM yyyy"
                               placeholder="Ngày quyết định" />
                    </div>
                </div>
                <br />
                <div class="card">
                    <div class="card-body">

                            <table class="table table-bordered table-responsive" id="input_qd">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Số thẻ</th>
                                        <th>Họ tên</th>
                                        <th>Ngày sinh</th>
                                        <th>Đơn vị</th>
                                        <th>Loại NV</th>
                                        <th>Trình độ</th>
                                        <th>Chuyên Nghành</th>
                                        <th>Công việc bố trí</th>
                                        <th>Thường trú</th>
                                        <th>Thang lương</th>
                                        <th>Bậc</th>
                                        <th>Mức lương (đồng/tháng)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>123</td>
                                        <td>Vũ Thành Long</td>
                                        <td>22-12-1999</td>
                                        <td>DL3</td>
                                        <td>KT</td>
                                        <td>TCN</td>
                                        <td>KT.Khai thác hầm lò</td>
                                        <td>khai thác mỏ hầm lò</td>
                                        <td>HT</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                    </tr>
                                </tbody>
                            </table>
                            <input type="submit" name="btnSubmit" id="btnSubmit" value="Login" runat="server" onserverclick="Add" />

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#buttonId').click(function(){ document.location = '@Url.Action("Add","Recruitment")'; });
    </script>*@
@model QUANGHANH2.Models.QuyetDinh

@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/tuan_css/css/baocaoluong_css/style.css" />
<link rel="stylesheet" href="~/css/tuan_css/css/kcs_css/style.css" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddRecruitment1</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>QuyetDinh</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.SoQuyetDinh, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SoQuyetDinh, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SoQuyetDinh, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NgayQuyetDinh, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NgayQuyetDinh, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NgayQuyetDinh, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
