
@{
    ViewData["Title"] = "Chi_tiet_Quyet_dinh";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}
@using QUANGHANH2.Controllers.CDVT.Quyetdinh.SuaChua

<div class="card">
    <div class="card-content">
        <div class="center">
            <h3><b>CHI TIẾT QUYẾT ĐỊNH SỬA CHỮA</b></h3>
        </div>
        <div class="col s12">
            <div class="row table_container">
                <table class="striped centered table-bordered" id="DocumnetaryTable">
                    <thead>
                        <tr>
                            <th class="center-align">Mã thiết bị</th>
                            <th class="center-align">Tên thiết bị</th>
                            <th class="center-align">Số lượng</th>
                            <th class="center-align">Loại sửa chữa</th>
                            <th class="center-align">Lý do sửa chữa</th>
                            <th class="center-align">Ngày dự kiến xong</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ChiTietController.Detail item in ViewBag.details)
                        {
                            <tr>
                                <td>@item.equipmentId</td>
                                <td>@item.equipment_name</td>
                                <td>@item.quantity</td>
                                <td>@item.repair_type</td>
                                <td>@item.repair_reason</td>
                                <td>@item.finish_date_plan.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <a class="vattu btn blue darken-2 modal-trigger" data-id="@item.documentary_repair_id" href="#vattu">Vật tư cần</a>
                                </td>
                                <td>
                                    @if (item.attach_to == null)
                                    {
                                        <a class="thietbi btn blue darken-2 modal-trigger" data-id="@item.documentary_repair_id" href="#thietbi">Thiết&nbsp;bị&nbsp;con&nbsp;cần</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="vattu">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Danh sách vật tư dùng để sửa chữa <span></span></h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <form>
                    <table id="test" class="striped table-responsive center table-bordered mytable">
                        <thead>
                            <tr>
                                <th>Mã vật tư</th>
                                <th>Tên vật tư</th>
                                <th>Số lượng xin cấp</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>

<div class="modal" id="thietbi">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Danh sách thiết bị đi kèm cần thay thế <span></span></h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <form>
                    <table id="test" class="striped table-responsive center table-bordered mytable">
                        <thead>
                            <tr>
                                <th>Mã thiết bị con</th>
                                <th>Tên thiết bị con</th>
                                <th>Số lượng xin cấp</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn light-blue lighten-1 modal-close">Thoát</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.vattu').click(function () {
            $('#vattu tbody').empty();
            $('#pre-load').show();
            $.ajax({
                url: "/phong-cdvt/quyet-dinh/sua-chua/chi-tiet",
                method: "post",
                dataType: "json",
                cache: false,
                data: {
                    documentary_repair_id: $(this).data("id"),
                    isSupply: true
                },
                success: function (response) {
                    if (response.success) {
                        for (let i = 0; i < response.data.length; i++) {
                            let $tr = $('<tr>').append(
                                $('<td>').text(response.data[i].supply_id),
                                $('<td>').text(response.data[i].supply_name),
                                $('<td>').html(response.data[i].quantity_plan)
                            )
                            $tr.appendTo('#vattu tbody');
                        }
                    }
                    $('#pre-load').hide();
                },
                error: function () {
                    $('#pre-load').hide();
                }
            })
        })

        $('.thietbi').click(function () {
            $('#thietbi tbody').empty();
            $('#pre-load').show();
            $.ajax({
                url: "/phong-cdvt/quyet-dinh/sua-chua/chi-tiet",
                method: "post",
                dataType: "json",
                cache: false,
                data: {
                    documentary_repair_id: $(this).data("id"),
                    isSupply: false
                },
                success: function (response) {
                    if (response.success) {
                        for (let i = 0; i < response.data.length; i++) {
                            let $tr = $('<tr>').append(
                                $('<td>').text(response.data[i].equipmentId),
                                $('<td>').text(response.data[i].equipment_name),
                                $('<td>').html(response.data[i].quantity_plan)
                            )
                            $tr.appendTo('#thietbi tbody');
                        }
                    }
                    $('#pre-load').hide();
                },
                error: function () {
                    $('#pre-load').hide();
                }
            })
        })
    })
</script>