@{
    ViewData["Title"] = "new_dashboard";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}
<link type="text/css" rel="stylesheet" href="~/assets/libs/jsgrid/dist/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="~/assets/libs/jsgrid/dist/jsgrid-theme.min.css" />
<link href="~/assets/extra-libs/css-chart/css-chart.css" rel="stylesheet">
<link href="~/dist/dashboard_Tuan/customDashboard.css" rel="stylesheet">
<link href="~/assets/extra-libs/prism/prism.css" rel="stylesheet" />
<style>
    .jsgrid-grid-body {
        height: 350px !important;
    }
</style>
<div class="row">
    <div class="col l12 m12 s12">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="center black-text">
                        <h3><b>BÁO CÁO NHANH NĂNG SUẤT, LAO ĐỘNG</b></h3>
                        <h5>
                            <i class="fas fa-calendar-alt icon"></i>
                            <input type='text' class='datepicker-here center' id="minMaxDate" data-language='vi' />
                        </h5>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Báo cáo nhanh -->

<div class="row" id="baocaonhanh">
    <div class="col l6 m6 s12">
        <div class="card @(ViewBag.hetHanChungChi==0?"info-gradient":"warning-gradient") card-hover" id="chungchi-container">
            <div class="card-content">
                <div class="d-flex no-block align-items-center">
                    <div>
                        @if (@ViewBag.hetHanChungChi == null)
                        {
                            <h3 id="chungchi-info" class="white-text m-b-5">Chưa có dữ liệu</h3>
                        }
                        else
                        {
                            if (@ViewBag.hetHanChungChi == 0)
                            {
                                <h3 id="chungchi-info" class="white-text m-b-5">Không có chứng chỉ hết hạn </h3>
                            }
                            else
                            {
                                <h3 id="chungchi-info" class="white-text m-b-5">@ViewBag.hetHanChungChi nhân viên hêt hạn chứng chỉ</h3>
                            }
                        }
                        <h6 class="white-text op-1">Chứng chỉ</h6>
                        <h6 class="white-text op-1"></h6>
                        <br>
                    </div>
                    <div class="ml-auto">
                        <span class="white-text display-6">
                            <img src="~/images/icons/certificate_icon.png" />
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col l6 m6 s12">
        <div class="card info-gradient  info-gradient  card-hover" id="huydong-container">
            <div class="card-content">
                <div class="d-flex no-block align-items-center">
                    <div>
                        @if (@ViewBag.soLuotHuyDong == null)
                        {
                            <h3 id="huydong-info" class="white-text m-b-5">Chưa có dữ liệu</h3>
                        }
                        else
                        {
                            if (@ViewBag.soLuotHuyDong == 0)
                            {
                                <h3 id="huydong-info" class="white-text m-b-5">Không có lượt huy động nào</h3>
                            }
                            else
                            {
                                <h3 id="huydong-info" class="white-text m-b-5">@ViewBag.soLuotHuyDong lượt huy động</h3>
                            }
                        }
                        <h6 class="white-text op-1">Huy động</h6>
                        <h6 class="white-text op-1"></h6>
                        <br />
                    </div>
                    <div class="ml-auto">
                        <span class="white-text display-6">
                            <i class="fas fa-users"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col l6 m6 s12">
        <div class="card @(ViewBag.vuTaiNan==0?"info-gradient":"warning-gradient") card-hover" id="tainan-container">
            <div class="card-content">
                <div class="d-flex no-block align-items-center">
                    <div>
                        @if (@ViewBag.vuTaiNan == null)
                        {
                            <h3 id="tainan-info" class="white-text m-b-5">Chưa có dữ liệu</h3>
                        }
                        else
                        {
                            if (@ViewBag.vuTaiNan == 0)
                            {
                                <h3 id="tainan-info" class="white-text m-b-5">Không có vụ tai nạn nào</h3>
                            }
                            else
                            {
                                <h3 id="tainan-info" class="white-text m-b-5">@ViewBag.vuTaiNan vụ tai nạn</h3>
                            }
                        }
                        <h6 class="white-text op-1">An toàn lao động</h6>
                        <h6 class="white-text op-1"></h6>
                        <br>
                    </div>
                    <div class="ml-auto">
                        <span class="white-text display-6">
                            <img src="~/images/icons/accident_icon.png" />
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col l6 m6 s12">
        <div class="card @(ViewBag.nghiVLD==0?"info-gradient":"warning-gradient") card-hover" id="vld-container">
            <div class="card-content">
                <div class="d-flex no-block align-items-center">
                    <div>
                        @if (@ViewBag.nghiVLD == null)
                        {
                            <h3 id="vld-info" class="white-text m-b-5">Chưa có dữ liệu</h3>
                        }
                        else
                        {
                            if (@ViewBag.nghiVLD == 0)
                            {
                                <h3 id="vld-info" class="white-text m-b-5">Không có lượt nghỉ VLD nào</h3>
                            }
                            else
                            {
                                <h3 id="vld-info" class="white-text m-b-5">@ViewBag.nghiVLD lượt nghỉ VLD</h3>
                            }
                        }
                        <h6 class="white-text op-1">Nghỉ vô lý do</h6>
                        <h6 class="white-text op-1"></h6>
                        <br>
                    </div>
                    <div class="ml-auto">
                        <span class="white-text display-6">
                            <i class="fas fa-blind"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col l6 s12 m6">
        <div class="card">
            <div class="card-content analytics-info">
                <h5 class="card-title">Báo cáo tỷ lệ huy động trong ngày </h5>
                <div id="basic-pie" style="height:400px;"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col l6 s12">
            <div class="card">
                <div class="card-content analytics-info" style="min-height:482px;">
                    <h5 class="card-title">Lao động nghỉ VLD</h5>
                    <div id="table_nghidai"></div>
                </div>
            </div>
        </div>

        <div class="col l12 s12">
            <div class="card">
                <div class="card-content">
                    <h5 class="card-title">Báo cáo sản lượng</h5>
                    <table id="table_sanluong" class="table-bordered">
                        <thead>
                            <tr>
                                <th rowspan="2">Nội dung</th>
                                <th rowspan="2">Đơn vị</th>
                                <th colspan="3">Sản lượng trong tháng</th>
                            </tr>
                            <tr>
                                <th>Kế hoạch</th>
                                <th>Lũy kế thực hiện</th>
                                <th>Kế hoạch còn lại</th>
                            </tr>
                        </thead>
                        <tbody id="sanluong-content">
                            <tr>
                                <td>Than sản xuất</td>
                                <td>Tấn</td>
                                <td id="slkh"></td>
                                <td id="lksl"></td>
                                <td id="slcl"></td>
                            </tr>
                            <tr>
                                <td>Mét Lò</td>
                                <td>Mét</td>
                                <td id="mlkh"></td>
                                <td id="lkml"></td>
                                <td id="mlcl"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col l12 s12">
            <div class="card">
                <div class="card-content analytics-info">
                    <h5 class="card-title">Biểu đồ nhân lực trong ngày </h5>
                    <div id="basic-bar" style="height:400px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function AddComma(Num) { //function to add commas to textboxes
        Num += '';
        Num = Num.replace('.', ''); Num = Num.replace('.', ''); Num = Num.replace('.', '');
        Num = Num.replace('.', ''); Num = Num.replace('.', ''); Num = Num.replace('.', '');
        x = Num.split(',');
        x1 = x[0];
        x2 = x.length > 1 ? ',' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1))
            x1 = x1.replace(rgx, '$1' + '.' + '$2');
        return x1 + x2;
    }
</script>
<script>
    var tren82 =@ViewBag.tren82;
    var duoi82 = @ViewBag.duoi82;
    var listNghiVLD = @Html.Raw(Json.Encode(ViewBag.listNghiVLD));
    var listNhanLuc =@Html.Raw(Json.Encode(ViewBag.listNhanLuc));
    var sanluong = @Html.Raw(Json.Encode(ViewBag.sanluong));
    $("#slkh").text(AddComma(sanluong.SLKH==null?0:sanluong.SLKH));
    $("#lksl").text(AddComma(sanluong.LKSL==null?0:sanluong.LKSL));
    $("#slcl").text(AddComma(sanluong.SLKH-sanluong.LKSL));
    $("#mlkh").text(AddComma(sanluong.MLKH==null?0:sanluong.MLKH));
    $("#lkml").text(AddComma(sanluong.LKML==null?0:sanluong.LKML));
    $("#mlcl").text(AddComma(sanluong.MLKH - sanluong.LKML));

</script>
<!-- Editable -->
<script type="text/javascript" src="~/assets/libs/jsgrid/dist/jsgrid.min.js"></script>
<script src="~/dist/dashboard_Tuan/jsgrid-init_Tuan.js"></script>
<!--chart-->
<script src="~/assets/libs/echarts/dist/echarts-en.min.js"></script>
<script src="~/assets/libs/chart.js/dist/Chart.min.js"></script>
<script src="~/assets/extra-libs/c3/d3.min.js"></script>
<script src="~/assets/extra-libs/c3/c3.min.js"></script>
<!-- line chart -->
<script src="~/dist/js/pages/c3-chart/bar-pie/c3-pie.js"></script>
<script src="~/js/tcld_dashboard/bar_chart.js"></script>
<script src="~/js/tcld_dashboard/line_chart.js"></script>
<!--Custom js QUANGHANH-->
<script src="~/js/Custom JS/TCLD/QuickReport.js"></script>
<script src="~/js/tcld_dashboard/QuickReport_barchart.js"></script>
<script src="~/js/tcld_dashboard/QuickReport_piechart.js"></script>
<script src="~/assets/extra-libs/prism/prism.js"></script>

<script>
    (function () {
        var db = {
            insertItem: function (insertingClient) {
                this.clients.push(insertingClient);
            },

            updateItem: function (updatingClient) { },

            deleteItem: function (deletingClient) {
                var clientIndex = $.inArray(deletingClient, this.clients);
                this.clients.splice(clientIndex, 1);
            }
        };
        window.db = db;
        db.nghidai = [];
        for (var i = 0; i < listNghiVLD.length; i++) {
            var stt = (i + 1);
            var MaNV = listNghiVLD[i].MaNV;
            var HoTen = listNghiVLD[i].HoTen;
            var TenDonVi = listNghiVLD[i].TenDonVi;
            db.nghidai.push(
                {
                    "STT": (i + 1),
                    "Số thẻ": MaNV,
                    "Họ và tên": HoTen,
                    "Đơn vị": TenDonVi
                });
        }
        db.sanluong = [
            {

            }
        ];
    }());
    ! function (document, window, $) {
        "use strict";
        var Site = window.Site;
        $(document).ready(function ($) {

        }), jsGrid.setDefaults({
            tableClass: "jsgrid-table table table-striped table-hover"
        }), jsGrid.setDefaults("text", {
            _createTextBox: function () {
                return $("<input>").attr("type", "text").attr("class", "")
            }
        }), jsGrid.setDefaults("number", {
            _createTextBox: function () {
                return $("<input>").attr("type", "number").attr("class", "")
            }
        }), jsGrid.setDefaults("textarea", {
            _createTextBox: function () {
                return $("<input>").attr("type", "textarea").attr("class", "materialize-textarea")
            }
        }), jsGrid.setDefaults("control", {
            _createGridButton: function (cls, tooltip, clickHandler) {
                var grid = this._grid;
                return $("<button>").addClass(this.buttonClass).addClass(cls).attr({
                    type: "button",
                    title: tooltip
                }).on("click", function (e) {
                    clickHandler(grid, e)
                })
            }
        }), jsGrid.setDefaults("select", {
            _createSelect: function () {
                var $result = $("<select>").attr("class", ""),
                    valueField = this.valueField,
                    textField = this.textField,
                    selectedIndex = this.selectedIndex;
                return $.each(this.items, function (index, item) {
                    var value = valueField ? item[valueField] : index,
                        text = textField ? item[textField] : item,
                        $option = $("<option>").attr("value", value).text(text).appendTo($result);
                    $option.prop("selected", selectedIndex === index)
                }), $result
            }
        }),
            //REPORT SỰ CỐ
            function () {
                $("#table_nghidai").jsGrid({
                    height: "400px",
                    width: "100%",
                    sorting: !0,
                    paging: !0,
                    data: db.nghidai,
                    noDataContent: "Không có dữ liệu",
                    fields: [{
                        name: "STT",
                        type: "number",
                        width: 40
                    }, {
                        name: "Số thẻ",
                        type: "text",
                        width: 70
                    }, {
                        name: "Họ và tên",
                        type: "text",
                        width: 150
                    }, {
                        name: "Đơn vị",
                        type: "text",
                        width: 70
                    },]
                })
            }(),


            function () {
                var MyDateField = function (config) {
                    jsGrid.Field.call(this, config)
                };
                MyDateField.prototype = new jsGrid.Field({
                    sorter: function (date1, date2) {
                        return new Date(date1) - new Date(date2)
                    },
                    itemTemplate: function (value) {
                        return new Date(value).toDateString()
                    },
                    insertTemplate: function () {
                        if (!this.inserting) return "";
                        var $result = this.insertControl = this._createTextBox();
                        return $result
                    },
                    editTemplate: function (value) {
                        if (!this.editing) return this.itemTemplate(value);
                        var $result = this.editControl = this._createTextBox();
                        return $result.val(value), $result
                    },
                    insertValue: function () {
                        return this.insertControl.datepicker("getDate")
                    },
                    editValue: function () {
                        return this.editControl.datepicker("getDate")
                    },
                    _createTextBox: function () {
                        return $("<input>").attr("type", "text").addClass("form-control input-sm").datepicker({
                            autoclose: !0
                        })
                    }
                })
            }()
    }(document, window, jQuery);
</script>
<script>
    $(document).ready(function () {
        $('.datepicker-inline').remove();
    });
    $(document).ready(function () {
        var date = new Date(new Date().setDate(new Date().getDate() - 1));
        var d = date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear();
        $(".datepicker-here").val(d);
    });

</script>
<script>
    var prevDay;
    $('#minMaxDate').datepicker({
        language: 'vi',
        maxDate: new Date(new Date().setDate(new Date().getDate() - 1)), // Now can select only dates, which goes after today
        onSelect: function (fd, d, picker) {
            if (!d) return;
            var day = d.getDay();
            if (prevDay != undefined && prevDay == day) return;
            prevDay = day;
            //alert($('#minMaxDate').val());
            $("#pre-load").show("slow", function () {
            });
            $("#pre-load").css("z-index", "99999");
            $.ajax({
                type: 'post',
                url: '/phong-tcld/get-data',
                data: { date: $('#minMaxDate').val() },
                success: function (response) {
                    if (response.success) {
                        $("#pre-load").hide("slow", function () {
                        });
                        ////////////////////////////////////////////////////////////////
                        if (response.soLuongHuyDong === 0) {
                            $("#huydong-info").text("Không có lượt huy động nào");
                        } else {
                            $("#huydong-info").text(response.soLuongHuyDong + " lượt huy động");
                        }
                        if (response.hetHanChungChi === 0) {
                            $("#chungchi-info").text("Không NV hết hạn chứng chỉ");
                            $("#chungchi-container").removeClass("warning-gradient");
                            $("#chungchi-container").addClass("info-gradient");
                        } else {
                            $("#chungchi-info").text(response.hetHanChungChi + " NV hết hạn chứng chỉ");
                            $("#chungchi-container").removeClass("info-gradient");
                            $("#chungchi-container").addClass("warning-gradient");
                        }
                        if (response.vuTaiNan === 0) {
                            $("#tainan-info").text("Không có vụ tai nạn nào");
                            $("#tainan-container").removeClass("warning-gradient");
                            $("#tainan-container").addClass("info-gradient");
                        } else {
                            $("#tainan-info").text(response.vuTaiNan + " vụ tai nạn");
                            $("#tainan-container").removeClass("info-gradient");
                            $("#tainan-container").addClass("warning-gradient");
                        }
                        if (response.nghiVLD === 0) {
                            $("#vld-info").text("Không có lượt nghỉ VLD nào");
                            $("#vld-container").removeClass("warning-gradient");
                            $("#vld-container").addClass("info-gradient");
                        } else {
                            $("#vld-info").text(response.nghiVLD + " lượt nghỉ VLD");
                            $("#vld-container").removeClass("info-gradient");
                            $("#vld-container").addClass("warning-gradient");
                        }
                        ///////////////////////////BIEU DO HUY DONG/////////////////////////////
                        tren82 = response.tren82;
                        duoi82 = response.duoi82;
                        var basicpieChart = echarts.init(document.getElementById('basic-pie'));
                        option = {
                            tooltip: {
                                trigger: 'item',
                                formatter: "{a} <br/>{b}: {c} ({d}%)",
                                align: 'center'
                            },
                            // Add legend
                            legend: {
                                orient: 'vertical',
                                x: '5%',
                                y: '88%',
                                data: ['Huy động dưới 82%', 'Huy động trên 82%']
                            },
                            // Add custom colors
                            color: ['#f62d51', '#2962FF'],

                            // Display toolbox
                            toolbox: {
                                show: false,
                                orient: 'vertical',
                                feature: {
                                    mark: {
                                        show: true,
                                        title: {
                                            mark: 'Markline switch',
                                            markUndo: 'Undo markline',
                                            markClear: 'Clear markline'
                                        }
                                    },
                                    dataView: {
                                        show: false,
                                        readOnly: false,
                                        title: 'View data',
                                        lang: ['View chart data', 'Close', 'Update']
                                    },
                                    magicType: {
                                        show: true,
                                        title: {
                                            pie: 'Switch to pies',
                                            funnel: 'Switch to funnel',
                                        },
                                        type: ['pie', 'funnel'],
                                        option: {
                                            funnel: {
                                                x: '35%',
                                                y: '20%',
                                                width: '50%',
                                                height: '70%',
                                                funnelAlign: 'left',
                                                max: 1548
                                            }
                                        }
                                    },
                                    restore: {
                                        show: false,
                                        title: 'Restore'
                                    },
                                    saveAsImage: {
                                        show: false,
                                        title: 'Same as image',
                                        lang: ['Save']
                                    }
                                }
                            },

                            // Enable drag recalculate
                            calculable: true,

                            // Add series
                            series: [{
                                name: 'Các phòng ban',
                                type: 'pie',
                                radius: '60%',
                                center: ['50%', '45.5%'],
                                label: {
                                    formatter: "{d}%",
                                    show: true,
                                },
                                data: [{
                                    value: duoi82,
                                    name: 'Huy động dưới 82%'

                                },
                                {
                                    value: tren82,
                                    name: 'Huy động trên 82%'
                                }
                                ]
                            }]
                        };
                        basicpieChart.setOption(option);
                        /////////////////////////DANH SACH NGHI VLD//////////////////////////
                        db.nghidai = [];
                        for (var i = 0; i < response.listNghiVLD.length; i++) {
                            var stt = (i + 1);
                            var MaNV = response.listNghiVLD[i].MaNV;
                            var HoTen = response.listNghiVLD[i].HoTen;
                            var TenDonVi = response.listNghiVLD[i].TenDonVi;
                            db.nghidai.push(
                                {
                                    "STT": (i + 1),
                                    "Số thẻ": MaNV,
                                    "Họ và tên": HoTen,
                                    "Đơn vị": TenDonVi
                                });
                        }
                        $("#table_nghidai").jsGrid({
                            height: "400px",
                            width: "100%",
                            sorting: !0,
                            paging: !0,
                            data: db.nghidai,
                            noDataContent: "Không có dữ liệu",
                            fields: [{
                                name: "STT",
                                type: "number",
                                width: 40
                            }, {
                                name: "Số thẻ",
                                type: "text",
                                width: 70
                            }, {
                                name: "Họ và tên",
                                type: "text",
                                width: 150
                            }, {
                                name: "Đơn vị",
                                type: "text",
                                width: 70
                            },]
                        });
                        /////////////////////////////BAO CAO SAN LUONG//////////////////////////
                        $("#slkh").text(AddComma(response.sanluong.SLKH == null ? 0 : response.sanluong.SLKH));
                        $("#lksl").text(AddComma(response.sanluong.LKSL == null ? 0 : response.sanluong.LKSL));
                        $("#slcl").text(AddComma(response.sanluong.SLKH - response.sanluong.LKSL));
                        $("#mlkh").text(AddComma(response.sanluong.MLKH == null ? 0 : response.sanluong.MLKH));
                        $("#lkml").text(AddComma(response.sanluong.LKML == null ? 0 : response.sanluong.LKML));
                        $("#mlcl").text(AddComma(response.sanluong.MLKH - response.sanluong.LKML));
                        ///////////////////////////BIEU DO BARCHARRT NHAN LUC/////////////////
                        var donvi = [];
                        for (var i = 0; i < response.listNhanLuc.length; i++) {
                            donvi.push(response.listNhanLuc[i].MaDonVi);
                        }
                        var soluong = [];
                        for (var i = 0; i < response.listNhanLuc.length; i++) {
                            soluong.push(response.listNhanLuc[i].SoLuong);
                        }
                        var myChart = echarts.init(document.getElementById('basic-bar'));

                        // specify chart configuration item and data
                        var option = {
                            // Setup grid
                            grid: {
                                left: '1%',
                                right: '2%',
                                bottom: '3%',
                                containLabel: true
                            },

                            // Add Tooltip
                            tooltip: {
                                trigger: 'axis'
                            },


                            color: ["#2962FF", "#4fc3f7"],
                            calculable: true,
                            xAxis: [
                                {
                                    boundaryGap: false,
                                    data: donvi
                                }
                            ],
                            yAxis: [
                                {
                                    type: 'value'
                                }
                            ],
                            series: [
                                {
                                    name: 'Tổng',
                                    type: 'bar',
                                    data: soluong,
                                    barWidth: '50%',
                                    markPoint: {
                                        data: [
                                            { type: 'max', name: 'Max' },
                                            { type: 'min', name: 'Min' }
                                        ]
                                    },
                                    markLine: {
                                        data: [
                                            { type: 'average', name: 'Average' }
                                        ]
                                    }
                                },
                            ]
                        };
                        // use configuration item and data specified to show chart
                        myChart.setOption(option);
                        $(function () {

                            // Resize chart on menu width change and window resize
                            $(window).on('resize', resize);
                            $(".sidebartoggler").on('click', resize);

                            // Resize function
                            function resize() {
                                setTimeout(function () {

                                    // Resize chart
                                    myChart.resize();
                                }, 200);
                            }
                        });
                    } else {
                        errorAlert(response.message);
                        $("#pre-load").hide("slow", function () {
                        });
                    }
                }
            });
        }
    })
</script>

<script>
    var bareaChart = echarts.init(document.getElementById('basic-area'));
    var option = {
        // Setup grid
        grid: {
            left: '1%',
            right: '2%',
            bottom: '3%',
            containLabel: true
        },

        // Add Tooltip
        tooltip: {
            trigger: 'axis',

        },

        // Add Legend
        legend: {
            data: ['Na']
        },

        // Add custom colors
        color: ['#2962FF', '#4fc3f7'],

        // Enable drag recalculate
        calculable: true,

        // Horizontal Axiz
        xAxis: [
            {
                type: 'category',
                boundaryGap: false,
                data: ['Ca 1', 'Ca 2', 'Ca 3']
            }
        ],

        // Vertical Axis
        yAxis: [
            {
                type: 'value',
                max: 10,
                axisLabel: {
                    formatter: '{value}'// %'
                }
            }
        ],

        // Add Series
        series: [
            {
                name: '',
                type: 'line',
                areaStyle: {},
                data: [1, 5, 7],
                markPoint: {
                    data: [
                        { type: 'max', name: 'Max' },
                        { type: 'min', name: 'Min' }
                    ]
                },
                markLine: {
                    data: [
                        { type: 'average', name: 'Average' }
                    ]
                }
            },
        ]
    };
    bareaChart.setOption(option);
    $(function () {
        $(window).on('resize', resize);
        $(".sidebartoggler").on('click', resize);
        function resize() {
            setTimeout(function () {
                bareaChart.resize();
            }, 200);
        }
        bareaChart.resize();
    });
</script>
<script>
    $("#minMaxDate").datepicker({
        toggleSelected: false,
        language: 'vi'
    });
</script>
<script>
    $(function () {
        $(".datepicker-inline").remove();
    })
</script>
