
@{
    ViewBag.Title = "Inside";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}
<link href="~/assets/Custom css/TCLD/Brief/ManageBrief/DeletePopup.css" rel="stylesheet" />
<div class="card">
    <div class="card-content">
        <div class="row">
            <h3 class="black-text center"><b>HỒ SƠ TRONG CÔNG TY</b></h3>
        </div>
        <br />
        <div class="row">
            <div class="col s12 m12 l12">
                <ul class="tabs">
                    <li class="tab col m6 l6 s6"><a class="active" href="#chungchicongty">Trạng thái hồ sơ</a></li>
                    <li class="tab col m6 l6 s6"><a href="#giayto">Giấy tờ liên quan</a></li>
                </ul>
            </div>
        </div>
        <!---->
        <div id="chungchicongty">
            <div class="card">
                <div class="card-content">
                    <div class="col s12 m12 l12">
                        <div class="card">
                            <div class="card-content">
                                <div class="row center">
                                    <div class="col l2 m12 s12 input-field">
                                        <input type="text" placeholder="Tìm kiếm theo mã nhân viên" class='form-control' id="manv" multiple />
                                    </div>
                                    <div class="col l2 m12 s12 input-field">
                                        <input type="text" placeholder="Tìm kiếm theo tên nhân viên" class='form-control' id="tennv" multiple />
                                    </div>
                                    <div class="col l2 m12 s12 input-field">
                                        <input type="text" placeholder="Tìm kiếm theo người giao hồ sơ" class='form-control' id="nguoigiaohoso" multiple />
                                    </div>
                                    <div class="col l2 m12 s12 input-field">
                                        <input type="text" placeholder="Tìm kiếm theo người giữ hồ sơ" class='form-control' id="nguoigiuhoso" multiple />
                                    </div>
                                    <div class="col l2 m12 s12 input-field">
                                        <button class="btn blue darken-2 btn-small" id="searchButton">Tìm kiếm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a class="btn btn-small blue darken-2 btn-mg" id="export_excel_brief">Xuất ra file excel</a>
                    </div>

                    <br />
                    <table id="inside_table" class="table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Số thẻ</th>
                                <th>Họ và tên</th>
                                <th>Ngày sinh</th>
                                <th>Người giao hồ sơ</th>
                                <th>Ngày nhận hồ sơ</th>
                                <th>Người giữ hồ sơ</th>
                                <th colspan="2">Thao tác</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>


        <div id="giayto">
            <div class="col s12 m12 l12" style="margin-top:10px">
                <div class="row center">
                    <div class="col l3 m12 s12 input-field">
                        <input type="text" placeholder="Mã nhân viên" class='form-control autocomplete_MNV' id="searchMaNV" multiple />
                    </div>
                    <div class="col l3 m12 s12 input-field">
                        <input type="text" placeholder="Tên nhân viên" class='form-control autocomplete_Name' id="searchTenNV" multiple />
                    </div>
                    <div class="col l3 m12 s12 input-field">
                        <input type="text" placeholder="Tên giấy tờ" class='form-control autocomplete_Name' id="searchTenGT" multiple />
                    </div>
                    <div class="col l3 m12 s12 input-field">
                        <select class="form-control" id="searchKieuGT">
                            <option value="" selected>Kiểu giấy tờ</option>
                            <option value="goc">Gốc</option>
                            <option value="daudo">Dấu đỏ</option>
                            <option value="sao">Sao,Công chứng</option>
                            <option value="photo">Photo</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 offset-l5 m12 s12 input-field">
                        <button class="waves-effect waves-light btn-small blue modal-trigger" id="searchButton_Doc"><i class="fas fas fa-search"></i>Tìm kiếm</button>
                    </div>
                </div>
            </div>
            <row>
                <a class="waves-effect waves-light btn-small blue modal-trigger " data-target="myadd" style="margin-top:10px" onclick="PopupFormAdd('@Url.Action("themGiayTo","Brief")')"><i class="fa fa-plus"></i> Thêm</a>
            </row>
            <table class="table-bordered striped" id="equipmentTable" style="margin-top:10px">
                <thead>
                    <tr>
                        <th>
                            Mã nhân viên
                        </th>
                        <th>
                            Tên nhân viên
                        </th>
                        <th>
                            Tên giấy tờ
                        </th>
                        <th>
                            Kiểu giấy tờ
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@{
    List<string> right = (List<string>)Session["RightIDs"];
}
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="~/js/Custom JS/Disable_input_material.js"></script>
<script src="~/js/Custom JS/TCLD/Brief/ManageBrief/DeletePopup.min.js"></script>
<!---------------------------------------------------------------------------------->
@foreach (var item in right)
{
    if (item.Equals("157"))
    {
        <div class="modal fade" id="myadd">
            <div class="modal-header center-align" style="margin-top:10px">
                <h3>Thêm Giấy Tờ</h3>
            </div>
            @Html.Action("themGiayTo", "Brief")
        </div>
    }
    if (item.Equals("147"))
    {
        <div class="modal fade" id="myEdit">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Sửa Giấy Tờ</h3>
                </div>
                @Html.Action("suaGiayTo", "Brief")
            </div>
        </div>
    }
}


<script>
    //Gọi popup khi ấn nút Thêm
    function PopupFormAdd(url) {
        var formDiv = $('<div/>');
        $.get(url)
            .done(function (response) {
                formDiv.html(response);
                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'Thêm giấy tờ',
                    height: 1000,
                    width: 800,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }
                });
            });
    }
    //gọi popup khi ấn nút xóa
    function DeleteDoc(magiayto) {
        @* dùng js: DeletePopup.min.js và css: DeletePopup.css *@
        swal({
            title: "Xác nhận?",
            text: "Bạn không thể khôi phục lại khi xóa",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: '#DD6B55',
            confirmButtonText: 'Đồng ý',
            cancelButtonText: "Quay lại",
            closeOnConfirm: false,
            closeOnCancel: true
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Delete","Brief")',
                        dataType: 'json',
                        data: {
                            'id': JSON.stringify(magiayto)
                        },
                        success: function (response) {
                            if (response.success) {
                                dataTable.ajax.reload();

                            } else {
                                alert(response.responseText);
                            }
                        },
                        error: function (response) {
                            swal("Đăng nhập đúng tải khoản để thực hiện!", "");
                        }
                    }).done(function () {
                         swal("Đã xóa thành công!", "");
                    });
                } else {
                    return false;
                }
            });
    }
</script>
@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        ////////////////////////////////////////////////////////////////////////
        $("#pre-load").show("slow", function () {
         });
        $("#pre-load").css("z-index", "99999");
////////////////////////////////////////////////////////////////////////
        var Popup, dataTable;
        $(document).ready(function () {
            dataTable = $('#equipmentTable')
                .on('preXhr.dt', function (e, settings, data) {

                                   ////////////////////////////////////HIỆN LÊN MỖI KHI CHẠY AJAX//////////////////////////////////
      				  $("#pre-load").show("slow", function () {
      				   });
      				  $("#pre-load").css("z-index", "99999");
			          ////////////////////////////////////////////////////////////////////////
                })
                .DataTable({
                "ajax": {
                    "url": "/phong-tcld/quan-ly-ho-so/ho-so-trong-cong-ty/giay-to",
                    "type": "POST",
                    "datatype": "json",
                    "data": {
                        "MaNV": function () { return $('#searchMaNV').val() },
                        "TenNV": function () { return $('#searchTenNV').val() },
                        "TenGT": function () { return $('#searchTenGT').val() },
                        "KieuGT": function () { return $('#searchKieuGT').val() },
                        },

                    },
              
                     "drawCallback": function (settings) {
                 ///////////////////////ẨN SAU MỖI AJAX CALL////////////////////////
                                  $("#pre-load").hide("slow", function () {
                       		  });
 			     ////////////////////////////////////////////////

                 },
                "columns": [
                    { "data": "MaNV" , "name" : "MaNV",  },
                    { "data": "Ten" , "name" : "Ten" },
                    { "data": "TenGiayTo", "name": "TenGiayTo" },
                    { "data": "KieuGiayTo" , "name" : "KieuGiayTo"},

                      {
                          "data": "MaGiayTo", "render": function (data, type, row) {
                              return "<a class='waves-effect waves-light btn-small blue modal-trigger' data-target='myEdit' onclick=Edit('@Url.Action("suaGiayTo","Brief")/"+data+"')><span class='ti-pencil-alt'>Chỉnh&nbsp;sửa</span></a>";
                        },
                        "orderable": false,
                        "searchable":false,
                        "width":"150px"
                    },
                    {
                        "data": "MaGiayTo", "render": function (data, type, row) {
                            return "<a class='waves-effect waves-light btn-small blue modal-trigger' style='margin-left:5px' onclick=DeleteDoc("+data+")><span class='fas fa-times-circle'>Xóa</span></a>";
                        },
                        "orderable": false,
                        "searchable":false,
                        "width":"150px"
                    }
                ],
                "serverSide": "true",
                "bLengthChange": false,
                "bFilter": false,
                 "bInfo": false,
                "language": {
                        emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                        paginate:
                        {
                            previous: "Trang trước",
                            next: "Trang sau",
                            first: "|<",
                            last: ">|",

                        },
                        info: "Đang hiện START đến END của TOTAL bản ghi",
                        infoEmpty: "Đang hiện 0 đến 0 của 0 bản ghi",
                    },
                "bAutoWidth": false,
                "order": [0, "asc"],
                "initComplete": function(settings, json) {
 ////////////////////////////////////////////////ẨN KHI KHỞI TẠO TABLE XONG  ////////////////////////////////////////////////
    		$("#pre-load").hide("slow", function () {
      		  });
 //////////////////////////////////////////////// //////////////////////////////////////////////// ////////////////////////////////////////////////
                    },
            
            });
        });

         $(document).ready(function () {
            var dataTable = $('#equipmentTable').DataTable();
             $("#searchButton_Doc").click(function () {
                 dataTable.ajax.reload();
               
            });
        });
        //gọi popup khi ấn sửa
         function PopupFormEdit(url) {
            var formDiv = $('<div/>');
            $.get(url)
            .done(function (response) {
                formDiv.html(response);
                    Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'Sửa giấy tờ',
                    height: 1000,
                    width: 800,
                    close: function () {
                    Popup.dialog('destroy').remove();
                    }

                    });
            });
    }
        //dùng bên suaGiayTo.cshtml khi ấn sumbit
        function UpdateEquipment(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type : "POST",
                    url : form.action,
                    data : $(form).serialize(),
                    success : function (data) {
                            dataTable.ajax.reload();
                            successAlert('Thành công','Sửa thành công');

                    },
                    error: function (data) {
                            dataTable.ajax.reload();
                            successAlert('Thành công','Sửa thành công');

                        },
                });
            }
            return false;
        }
        //dùng bên themGiayTo.cshtml khi ấn sumbit
         function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type : "POST",
                    url : form.action,
                    data : $(form).serialize(),
                    success: function (result) {
                        if (result.message === "Failed") {
                            dataTable.ajax.reload();
                            $.notify("Mã nhân viên không tồn tại", {
                                globalPosition: "top center",
                                className: "failed"
                            })
                        } else {
                            dataTable.ajax.reload();
                            successAlert('Thành công','Thêm thành công');
                        }

                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert(textStatus);
                     }
                });
            }
            return false;
        }
           function Edit(url) {
             $.get(url)
                 .done(function (response) {
                     //id dùng bên sửa giấy tờ
                     $("#edit-modal-body").html(response)
            });
                return false;
        }


        function documentFormat(d) {
            if (d == "goc") {
                return "Gốc";
            } else if (d == "daudo") {
                return "Dấu đỏ";
            } else if (d == "sao") {
                return "Sao,Công chứng";
            } else {
                return "Photo";
            }
        }
    </script>
}
<!---------------------------------------------------------------------------------->
<script>
    var datatable_inside, stt;
    $(document).ready(function () {
        datatable_inside = $('#inside_table').on('preXhr.dt', function (e, settings, data) {
            $("#pre-load").show("slow", function () {
            });
            $("#pre-load").css("z-index", "99999");
        })

            .DataTable({
                "ajax": {
                    "url": "/phong-tcld/quan-ly-ho-so/ho-so-trong-cong-ty",
                    "type": "POST",
                    "datatype": "json",
                },"drawCallback": function (settings) {
                    $("#pre-load").hide("slow", function () {
                    });
                },
            "columns": [
                { "data": "MaNV", "name": "MaNV" },
                { "data": "Ten", "name": "Ten"},
                {
                    "data": "NgaySinh", "name": "NgaySinh", "render": function (data) {
                        return dateFormat(data);
                    },},
                { "data": "NguoiGiaoHoSo", "name": "NguoiGiaoHoSo" },
                {
                    "data": "NgayNhanHoSo", "name": "NgayNhanHoSo", "render": function (data) {
                        return dateFormat(data);
                    },
                },
                { "data": "NguoiGiuHoSo", "name": "NguoiGiuHoSo"},
                {
                    "data": "MaNV", "render": function (data) {
                        return "<a class='waves-effect waves-light btn-small blue modal-trigger'  style='margin-left:5px' onclick=getEditIdEmp('" + data + "') >Sửa</a>";
                    },
                    "orderable": false,
                    "searchable": false,
                    "width": "150px"
                }
                ],
                "language": {
                    "zeroRecords": "Không có dữ liệu",
                    paginate:
                    {
                        previous: "Trang trước",
                        next: "Trang sau",
                        first: "|<",
                        last: ">|"
                    }
                },
            "serverSide": "true",
            "order": [0, "asc"],
            "bLengthChange": false,
            "bFilter": false,
            "bInfo": false,
            "bAutoWidth": false,
            "initComplete": function () {
                $("#pre-load").hide();
            }
        });
        datatable_inside.ajax.reload();
    });

    function getEditCertificateData(url) {
        $.get(url)
            .done(function (response) {
                $("#edit-modal-body").html(response)
            });
        return false;
    }

    function getEditIdEmp(id) {
        if (id != null) {
            window.location.href ='@Url.Action("InsideDetail", "Brief")?id=' + id;
        }
    }

    $("#searchButton").click(function () {
        $("#pre-load").show("slow", function () { });

            var manv = $("#manv").val();
            var tennv = $("#tennv").val();
            var nguoigiaohoso = $("#nguoigiaohoso").val();
             var nguoigiuhoso = $("#nguoigiuhoso").val();

            var arr = new Array();
            arr[0] = manv;
            arr[1] = tennv;
            arr[2] = nguoigiaohoso;
            arr[3] = nguoigiuhoso;
        $.notify("Tìm kiếm thành công", {
            globalPosition: "top center",
            className: "success"
        })
            datatable_inside.ajax.url('@Url.Action("searchlistAllBrief", "Brief")?searchList=' + arr).load(() => { $("#pre-load").hide("slow", function () { }) }, true)
    })

    function dateFormat(d) {
        if (d != null && d != "") {
            var dateString = d.substr(6);
            var currentTime = new Date(parseInt(dateString));
            var month = currentTime.getMonth() + 1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            var date = day + "/" + month + "/" + year;
            return (date);
        }
        else {
            return (d);
        }
    }
    $('#export_excel_brief').click(function () {
        $('pre-load').show();
        $.ajax({
            type: 'POST',
            url: '/phong-tcld/chung-chi/danh-sach-ho-so-trong/xuat-file-excel',
            dataType: 'json',
            success: function (response) {
                if (response.success) {
                    window.location.href = response.location;
                    $("#pre-load").hide("slow", function () { });

                } else {
                    alert("Lỗi khi tải file");
                }
            }
        });
        $('pre-load').hide();
    });
</script>
<!----------------------------------------------------Long----------------------------------->
