@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}

<div class="card">
    <div class="card-content">

        <div class="row">
            <h3 class="center black-text">Thông tin cơ bản của hồ sơ</h3>
            <div class="row">
                <div class="col m4">
                    <label class='custom-label'>Mã nhân viên</label>
                    <input disabled type="text" id="cb_employee_id" class="inputEdit form-control" />
                </div>
                <div class="col m4">
                    <label class='custom-label'>Họ và tên</label>
                    <input disabled type="text" id="cb_full_name" class="inputEdit form-control" />
                </div>
                <div class="col m4">
                    <label class='custom-label'>Ngày sinh</label>
                    <input disabled type="text" id="cb_date_of_birth" class="inputEdit form-control" />
                </div>
                <div class="col m4">
                    <label class='custom-label'>Số chứng minh thư</label>
                    <input disabled type="text" id="cb_identity_card" class="inputEdit form-control" />
                </div>
                <div class="col m4">
                    <label class='custom-label'>Số bảo hiểm xã hội</label>
                    <input disabled type="text" id="cb_social_insurance_number" class="inputEdit form-control" />
                </div>
                <div class="col m4">
                    <label class='custom-label'>Số điện thoại</label>
                    <input disabled type="text" id="cb_phone_number" class="inputEdit form-control" />
                </div>
                <div class="col m4">
                    <label class='custom-label'>Quê quán</label>
                    <input disabled type="text" id="cb_home_town" class="inputEdit form-control" />
                </div>
                <div class="col m4">
                    <label class='custom-label'>Nơi ở hiện tại</label>
                    <input disabled type="text" id="cb_current_residence" class="inputEdit form-control" />
                </div>
                <div class="col m4">
                    <label class='custom-label'>Trình độ học vấn</label>
                    <input disabled type="text" id="cb_academic_level" class="inputEdit form-control" />
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <h3 class="center black-text">Chi tiết hồ sơ</h3>
            <div id="hosotrongcty">
                <div class="row table-responsive">
                    <br />
                    <table id="hoso_detail" class="table table-bordered table-responsive centered highlight">
                        <thead>
                            <tr>
                                <th rowspan="2">Người giữ hồ sơ</th>
                                <th rowspan="2">Ngày nhận hồ sơ</th>
                                <th rowspan="2">Người giao hồ sơ</th>
                                <th rowspan="2">Người bàn giao bằng nhập kho</th>
                                <th colspan="4">Quyết định tiếp nhận đơn vị cũ</th>
                                <th colspan="4">Quyết định chấm dứt đơn vị cũ</th>
                                <th rowspan="2">Sửa</th>
                            </tr>
                            <tr>
                                <th>Ngày QD</th>
                                <th>Ngày đi làm</th>
                                <th>Đơn vị ký quyết định tiếp nhận</th>
                                <th>Kiểu</th>
                                <th>Ngày quyết định chấm dứt</th>
                                <th>Ngày chấm dứt</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <br />
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <h3 class="center black-text">Chi tiết giấy tờ</h3>
            <div id="hoso_giayto">
                <div class="row table-responsive">
                    <br />
                    <table id="paper_detail" class="table table-bordered table-responsive centered highlight">
                        <thead>
                            <tr>

                                <th>Tên giấy tờ</th>
                                <th>Kiểu giấy tờ</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <br />
                </div>
            </div>
        </div>

        <hr />
        <div class="row">
            <h3 class="center black-text">Chi tiết bằng cấp và giấy chứng nhận</h3>
            <div id="bang_cap_chitiet">
                <div class="row table-responsive">
                    <br />
                    <table id="bangcap_detail" class="table table-bordered table-responsive centered highlight">
                        <thead>
                            <tr>
                                <th>Số hiệu</th>
                                <th>Loại</th>
                                <th>Tên bằng cấp</th>
                                <th>Kiểu</th>
                                <th>Trường</th>
                                <th>Chuyên ngành</th>
                                <th>Ngành</th>
                                <th>Ngày cấp</th>
                                <th>Thời hạn</th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <br />
                </div>
            </div>
        </div>



        <div class="row">
            <h3 class="center black-text">Chi tiết chứng chỉ</h3>
            <div id="">
                <div class="row table-responsive">
                    <br />
                    <table id="certi_detail" class="table table-bordered table-responsive centered highlight">
                        <thead>
                            <tr>
                                <th>Số hiệu</th>
                                <th>Tên chứng chỉ</th>
                                <th>Loại</th>
                                <th>Ngày cấp</th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <br />
                </div>
            </div>
        </div>
        <hr />

        <div class="row">
            <h3 class="center black-text">Quan hệ gia đình</h3>
            <div id="quan_he_gia_dinh">
                <div class="row table-responsive">
                    <br />
                    <table id="relationship_detail" class="table table-bordered table-responsive centered highlight">
                        <thead>
                            <tr>
                                <th>Loại gia đình</th>
                                <th>Mối quan hệ</th>
                                <th>Tên</th>

                                <th>Ngày sinh</th>
                                <th>Lý lịch</th>


                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <br />
                </div>
            </div>
        </div>
        <hr />

        <div class="row">
            <h3 class="center black-text">Sơ yếu lý lịch</h3>
            <div id="so_yeu_ly_lich">
                <div class="row table-responsive">
                    <br />
                    <a class='waves-effect waves-light btn-small blue modal-trigger' data-target="AddSyll" style='margin-left:5px' id="ahr_add"> Thêm</a>
                    <br />
                    <table id="syll_detail" class="table table-bordered table-responsive centered highlight">
                        <thead>
                            <tr>
                                <th>Năm bổ sung</th>
                                <th>Sửa</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>


<form action="" method="POST" id="submit_detail_record" role="form">
    <div class="modal fade" id="edit_detail_record">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Sửa hồ sơ</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="date">Người giữ hồ sơ </label>
                            <div class="linedisplay">
                                <input type="text" class="form-control" id="management_employee_name_edit" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Ngày nhận hồ sơ </label>
                            <input type='text' class='datepicker-here form-control maxDate' data-language='vi' id="received_date_edit" />
                        </div>
                        <div class="form-group">
                            <label for="name">Ngày quyết định tuyển dụng : </label>
                            <input type='text' class='datepicker-here form-control maxDate' data-language='vi' id="recruitment_decision_date_edit" />
                        </div>
                        <div class="form-group">
                            <label for="name">Người giao hồ sơ : </label>
                            <input type="text" class="form-control" id="delivery_employee_name_edit" readonly />
                        </div>
                        <div class="form-group">
                            <label for="name">Người bàn giao hồ sơ nhập kho : </label>
                            <input type="text" class="form-control" id="handover_employee_name_edit" readonly />
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="date">Đợn vị ký quyết định tiếp nhận : </label>
                            <input type="text" class="form-control" id="department_name_edit" />
                        </div>
                        <div class="form-group">
                            <label for="name">Ngày đi làm : </label>
                            <input type='text' class='datepicker-here form-control maxDate' data-language='vi' id="recruitment_date_edit" />
                        </div>
                        <div class="form-group">
                            <label for="name">Ngày chấm dứt : </label>
                            <input type='text' class='datepicker-here form-control maxDate' data-language='vi' id="termination_date_edit" />
                        </div>
                        <div class="form-group">
                            <label for="name">Ngày quyết định chấm dứt : </label>
                            <input type='text' class='datepicker-here form-control maxDate' data-language='vi' id="termination_decision_date_edit" />
                        </div>
                        <div class="form-group">
                            <label for="supplier">Kiểu quyết định chấm dứt hợp đồng đơn vị cũ :</label>
                            <input type="number" min="0" class="form-control number" id="termination_type_edit" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn blue darken-2 modal-close save-category">Lưu</button>
                <button type="button" class="btn light-blue lighten-1 modal-close" id="exit-edit-button">Thoát</button>
            </div>
        </div>
    </div>
</form>

<div id="ahr_add" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Thêm sơ yếu lý lịch</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col s12 m12">
                    <div class="form-group">
                        <label for="name">Năm bổ sung: </label>
                        <input type="text" class="form-control" id="additional_year" readonly />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue darken-2 modal-close save-category" onclick="addYear()">Lưu</button>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>

<script>
    $("#pre-load").show();



    var datatable_hs, stt;

        $(document).ready(function () {
            datatable_hs = $('#hoso_detail').DataTable({
                "ajax": {
                    "url": '@Url.Action("listHoSo","Brief")',
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "management_employee_name", "name": "management_employee_name" },
                    {
                        "data": "received_date", "name": "received_date", "render": function (data) {
                            return dateFormat(data);
                        },
                    },
                    { "data": "delivery_employee_name", "name": "delivery_employee_name" },
                    { "data": "handover_employee_name", "name": "handover_employee_name" },
                    {
                        "data": "recruitment_decision_date", "name": "recruitment_decision_date", "render": function (data) {
                            return dateFormat(data);
                        },
                    },
                    {
                        "data": "recruitment_date", "name": "recruitment_date", "render": function (data) {
                            return dateFormat(data);
                        },
                    },
                    { "data": "department_name", "name": "department_name" },
                    { "data": "termination_type", "name": "termination_type" },

                    {
                        "data": "termination_decision_date", "name": "termination_decision_date", "render": function (data) {
                            return dateFormat(data);
                        },
                    },

                    {
                        "data": "termination_date", "name": "termination_date", "render": function (data) {
                            return dateFormat(data);
                        },
                    },
                    {
                        "data": "employee_id", "render": function (data) {
                            return "<a href=\"#edit_detail_record\" class='open-EditRecordDetail waves-effect waves-light btn-small blue modal-trigger' style='margin-left:5px' data-employee=\"" + data + "\" ><i class=''></i> Sửa</a>";
                    },
                    "orderable": false,
                    "searchable": false,
                    "width": "150px"
                }
                ],
                "serverSide": "true",
                "order": [0, "asc"],
                "bLengthChange": false,
                "bFilter": false,
                "bInfo": false,
                "bAutoWidth": false,
                "language": {
                    "zeroRecords": "Không có dữ liệu",
                },
                "initComplete": function () {

                }, "bPaginate": false
            });

            datatable_hs.ajax.reload();
            $("#pre-load").hide();
        });

        $(document).on("click", ".open-EditRecordDetail", function () {
            $.ajax({
                type: "POST",
                url: "/phong-tcld/quan-ly-ho-so/ho-so-trong-cong-ty/chi-tiet-ho-so",
                dataType: "json",
                success: function (data) {
                    $("#management_employee_name_edit").val(data.management_employee_name);
                    $("#received_date_edit").val(data.received_date);
                    $("#recruitment_decision_date_edit").val(data.recruitment_decision_date);
                    $("#delivery_employee_name_edit").val(data.delivery_employee_name);
                    $("#handover_employee_name_edit").val(data.handover_employee_name);
                    $("#department_name_edit").val(data.department_name);
                    $("#recruitment_date_edit").val(data.recruitment_date);
                    $("#termination_date_edit").val(data.termination_date);
                    $("#termination_decision_date_edit").val(data.termination_decision_date);
                    $("#termination_type_edit").val(data.termination_type);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $.notify(XMLHttpRequest.responseText, {
                        globalPosition: "top center",
                        className: "error"
                    });
                },
                cache: false
            })
        });
        $("#submit_detail_record").submit(function (e) {
            $.ajax({
                type: "POST",
                url: "/phong-tcld/quan-ly-ho-so/ho-so-trong-cong-ty/chi-tiet-ho-so/edit",
                dataType: "text",
                success: function () {
                    successAlert('Thành công', 'Chỉnh sửa thành công ');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    errorAlert('Lỗi', 'Có lỗi xảy ra');
                },
                data: {
                    management_employee_name: $("#management_employee_name_edit").val(),
                    received_date: $("#received_date_edit").val(),
                    recruitment_decision_date: $("#recruitment_decision_date_edit").val(),
                    delivery_employee_name: $("#delivery_employee_name_edit").val(),
                    handover_employee_name: $("#handover_employee_name_edit").val(),
                    department_name: $("#department_name_edit").val(),
                    recruitment_date: $("#recruitment_date_edit").val(),
                    termination_date: $("#termination_date_edit").val(),
                    termination_decision_date: $("#termination_decision_date_edit").val(),
                    termination_type: $("#termination_type_edit").val(),
                },
                cache: false
            }).done(function () {
                $('#exit-edit-button').click();
                datatable_hs.ajax.reload();
            })
            return false;
        });

</script>

<script>

    var datatable_chitiet, stt;
    $("#pre-load").show();

    $(document).ready(function () {
        getBasicInfo();
        datatable_paper_detail = $('#paper_detail').DataTable({
            "ajax": {
                "url": '/phong-tcld/quan-ly-ho-so/ho-so-trong-cong-ty/chi-tiet-giay-to',
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": "paper_name", "name": "paper_name" },
                { "data": "type_name", "name": "type_name" },
            ],
            "language": {
                "zeroRecords": "Không có dữ liệu",
            },
            "serverSide": "true",
            "order": [0, "asc"],
            "bLengthChange": false,
            "bFilter": false,
            "bInfo": false,
            "bAutoWidth": false,

            "initComplete": function () {
                $("#pre-load").hide();
            }, "bPaginate": false
        });

        //datatable_chitiet.ajax.reload();
        $("#pre-load").hide();
    });

    function getBasicInfo() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("listNhanVien","Brief")',
            dataType: "json",
            success: function (data) {
                alert(data.full_name);
                $('#cb_employee_id').val(data.employee_id);
                $('#cb_full_name').val(data.full_name);
                $('#cb_date_of_birth').val(dateFormat(data.date_of_birth));
                $('#cb_identity_card').val(data.identity_card);
                $('#cb_social_insurance_number').val(data.social_insurance_number);
                $('#cb_phone_number').val(data.phone_number);
                $('#cb_home_town').val(data.home_town);
                $('#cb_current_residence').val(data.current_residence);
                $('#cb_academic_level').val(data.academic_level);
            }
        });
    }

    function addYear() {
        var data = {
            year: document.getElementById("additional_year").value,
        };
        $.ajax({
            url: '@Url.Action("addYear","Brief")',
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function () {
                successAlert('Thành công', 'Thêm thành công');
                datatable_syll.ajax.reload();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                errorAlert('Lỗi', 'Có lỗi xảy ra');
            }
        });
    }

    var chungchichitiet, stt;
    $("#pre-load").show();
    $(document).ready(function () {
        datatable_certi_detail = $('#certi_detail').DataTable({
            "ajax": {
                "url": "/phong-tcld/quan-ly-ho-so/ho-so-trong-cong-ty/chi-tiet-chung-chi",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": "papers_number", "name": "papers_number" },
                { "data": "paper_name", "name": "paper_name" },
                { "data": "type_name", "name": "type_name" },
                {
                    "data": "given_date", "name": "given_date", "render": function (data) {
                        return dateFormat(data);
                    },
                }
            ],
            "serverSide": "true",
            "order": [0, "asc"],
            "bLengthChange": false,
            "bFilter": false,
            "bInfo": false,
            "bAutoWidth": false,
            "language": {
                "zeroRecords": "Không có dữ liệu",
            },
            "initComplete": function () {
                $("#pre-load").hide();
            }, "bPaginate": false
        });

        datatable_certi_detail.ajax.reload();
        $("#pre-load").hide();
    });
</script>


<script>
    var datatable_bangcap, stt;
    $("#pre-load").show();
    $(document).ready(function () {
        datatable_bangcap = $('#bangcap_detail').DataTable({
            "ajax": {
                "url": '@Url.Action("chiTietbangCap", "Brief")',
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": "papers_number", "name": "papers_number" },
                { "data": "paper_storage_name", "name": "paper_storage_name" },
                { "data": "papers_name", "name": "papers_name" },
                { "data": "type_name", "name": "type_name" },
                { "data": "school_name", "name": "school_name" },
                { "data": "spe_name", "name": "spe_name" },
                { "data": "career_name", "name": "career_name" },
                {
                    "data": "given_date", "name": "given_date", "render": function (data) {
                        return dateFormat(data);
                    },
                },
                { "data": "duration", "name": "duration" }
            ],
            "serverSide": "true",
            "order": [0, "asc"],
            "bLengthChange": false,
            "bFilter": false,
            "bInfo": false,
            "bAutoWidth": false,
            "language": {
                "zeroRecords": "Không có dữ liệu",
            },
            "initComplete": function () {
                $("#pre-load").hide();
            }, "bPaginate": false
        });
        $("#pre-load").hide();
    });
</script>

<script>
    var datatable_quanhe, stt;
    $("#pre-load").show();

    $(document).ready(function () {
        datatable_relationship = $('#relationship_detail').DataTable({
            "ajax": {
                "url": '@Url.Action("quanHeGiadinh", "Brief")',
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": "type_family", "name": "type_family" },
                { "data": "relationship", "name": "relationship" },
                { "data": "full_name", "name": "full_name" },
                {
                    "data": "date_of_birth", "name": "date_of_birth", "render": function (data) {
                        return dateFormat(data);
                    },
                },
                { "data": "background", "name": "background" }


            ],
            "serverSide": "true",
            "order": [0, "asc"],
            "bLengthChange": false,
            "bFilter": false,
            "bInfo": false,
            "bAutoWidth": false,
            "language": {

                "zeroRecords": "Không có dữ liệu",

            },
            "initComplete": function () {
                $("#pre-load").hide();
            }, "bPaginate": false
        });

        datatable_relationship.ajax.reload();
        $("#pre-load").hide();
    });

</script>

<script>

    var datatable_syll;
    $("#pre-load").show();

    $(document).ready(function () {
        datatable_syll = $('#syll_detail').DataTable({
            "ajax": {
                "url": '@Url.Action("listLichSuBoSung", "Brief")',
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                {
                    "data": "additional_history_resume_year", "name": "additional_history_resume_year"
                },
                {
                    "data": "employee_id", "name": "employee_id", "render": function (data) {
                        return "<a class='waves-effect waves-light btn-small blue modal-trigger' style='margin-left:5px' onclick=editSYLL('" + data + "') ><i class=''></i> Sửa</a>";
                    },
                    "orderable": false,
                    "searchable": false,
                    "width": "150px"
                }

            ],
            "serverSide": "true",
            "order": [0, "asc"],
            "bLengthChange": false,
            "bFilter": false,
            "bInfo": false,
            "bAutoWidth": false,
            "language": {
                "zeroRecords": "Không có dữ liệu",
            },
            "initComplete": function () {
                $("#pre-load").hide();
            }, "bPaginate": false
        });

        datatable_syll.ajax.reload();
        $("#pre-load").hide();
    });

            function editSYLL(id) {
            if (id != null) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("EditLichSuBoSung", "Brief")',
                    success: function (data) {
                        //$("#myedit_syll").html(data)
                    }
                });
                }
                //function SubmitForm(form) {
                //    $.validator.unobtrusive.parse(form);
                //    if ($(form).valid()) {
                //        $("#pre-load").show("slow", function () {
                //        });
                //        $("#pre-load").css("z-index", "99999");
                //        $.ajax({
                //            type: "POST",
                //            url: form.action,
                //            data: $(form).serialize(),
                //            success: function (data) {
                //                dataTable.ajax.reload();
                //                dataCertificateEmp.ajax.reload();
                //                $("#pre-load").hide("slow", function () {
                //                });
                //                successAlert('Thành công', '');
                //                $(".modal").modal();
                //            },
                //            error: function () {
                //                errorAlert('Lỗi', 'Thử lại');
                //            }
                //        })
                //    }
                //    return false;
                //}
    }


    function dateFormat(d) {
        var dateString = d.substr(6);
        var currentTime = new Date(parseInt(dateString));
        var month = currentTime.getMonth() + 1;
        var day = currentTime.getDate();
        var year = currentTime.getFullYear();
        var date = day + "/" + month + "/" + year;
        return (date);
    }

</script>



