
@{
    ViewBag.Title = "Inside";
    Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}
<link href="~/assets/Custom css/TCLD/Brief/ManageBrief/DeletePopup.css" rel="stylesheet" />

<div class="card">
    <div class="card-content">
        <div class="row">
            <h3 class="black-text center"><b>HỒ SƠ TRONG CÔNG TY</b></h3>
        </div>
        <br />
        <div class="row">
            <div class="col s12 m12 l12">
                <ul class="tabs">
                    <li class="tab col m6 l6 s6"><a class="active" href="#chungchicongty">Trạng thái hồ sơ</a></li>
                    <li class="tab col m6 l6 s6"><a href="#giayto">Giấy tờ liên quan</a></li>
                </ul>
            </div>
        </div>
        <!---->
        <div id="chungchicongty">
            <div class="col s12 m12 l12">
                <div class="row center">
                    <div class="col l2 m12 s12 input-field">
                        <input type="text" placeholder="Mã nhân viên" class='form-control' id="employee_id_record_search" multiple />
                    </div>
                    <div class="col l2 m12 s12 input-field">
                        <input type="text" placeholder="Tên nhân viên" class='form-control' id="employee_name_record_search" multiple />
                    </div>
                    <div class="col l2 m12 s12 input-field">
                        <input type="text" placeholder="Người giao hồ sơ" class='form-control' id="delivery_employee_name_search" multiple />
                    </div>
                    <div class="col l2 m12 s12 input-field">
                        <input type="text" placeholder="Người giữ hồ sơ" class='form-control' id="management_employee_name_search" multiple />
                    </div>
                    <div class="col l2 m12 s12 input-field">
                        <button class="btn blue darken-2 btn-small" id="searchButton">Tìm kiếm</button>
                    </div>
                </div>
            </div>

            <div>
                <a class="btn btn-small blue darken-2" id="export_excel_brief">Xuất ra file excel</a>
            </div>

            <br />
            <table id="inside_table" class="table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>Số thẻ</th>
                        <th>Họ và tên</th>
                        <th>Ngày sinh</th>
                        <th>Người giao hồ sơ</th>
                        <th>Ngày nhận hồ sơ</th>
                        <th>Người giữ hồ sơ</th>
                        <th colspan="2">Thao tác</th>
                    </tr>
                </thead>
            </table>
        </div>

        <!----->
        <div id="giayto">
            <div class="col s12 m12 l12" style="margin-top:10px">
                <div class="row center">
                    <div class="col l3 m12 s12 input-field">
                        <input type="text" placeholder="Mã nhân viên" class='form-control autocomplete_MNV' id="employee_id_search" multiple />
                    </div>
                    <div class="col l3 m12 s12 input-field">
                        <input type="text" placeholder="Tên nhân viên" class='form-control autocomplete_Name' id="employee_name_search" multiple />
                    </div>
                    <div class="col l3 m12 s12 input-field">
                        <input type="text" placeholder="Tên giấy tờ" class='form-control autocomplete_Name' id="paper_name_search" multiple />
                    </div>
                    <div class="col l3 m12 s12 input-field">
                        <select class="form-control" id="type_name_search">
                            <option value="" selected>Kiểu giấy tờ</option>
                            <option value="goc">Gốc</option>
                            <option value="daudo">Dấu đỏ</option>
                            <option value="sao">Sao,Công chứng</option>
                            <option value="photo">Photo</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 offset-l5 m12 s12 input-field">
                        <button class="waves-effect waves-light btn-small blue modal-trigger" id="searchButton_Doc"><i class="fas fas fa-search"></i>Tìm kiếm</button>
                    </div>
                </div>
            </div>
            <row>
                <a class="waves-effect waves-light btn-small blue modal-trigger " style="margin-top:10px" href="#addRelevantPaper"><i class="fa fa-plus"></i> Thêm</a>
            </row>
            <table class="table-bordered striped" id="re_paper_table" style="margin-top:10px">
                <thead>
                    <tr>
                        <th>
                            Mã nhân viên
                        </th>
                        <th>
                            Tên nhân viên
                        </th>
                        <th>
                            Tên giấy tờ
                        </th>
                        <th>
                            Kiểu giấy tờ
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="modal fade" id="addRelevantPaper">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Thêm giấy tờ liên quan</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="date">Mã nhân viên : </label>
                            <input type="text" class="form-control" list="eID" id="employee_id_add" onchange="getEmployeeName()" />
                        </div>
                        <div class="form-group">
                            <label for="date">Tên nhân viên : </label>
                            <input type="text" class="form-control" readonly id="employee_name_add" />
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="date">Tên giấy tờ : </label>
                            <input type="text" class="form-control" id="paper_name_add" list="paper_names_ID" />
                        </div>
                        <div class="form-group">
                            <label for="date">Kiểu giấy tờ : </label>
                            <input type="text" class="form-control" id="type_name_add" list="type_papers_ID" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn blue darken-2 modal-close save-category" onclick="addRelevantPaper()">Lưu</button>
                <button type="button" class="btn light-blue lighten-1 modal-close" id="exit-add-button">Thoát</button>
            </div>
        </div>
    </div>

    <form action="" method="POST" id="myeditform" role="form">
        <div class="modal fade" id="myacti">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Sửa giấy tờ</h3>
                </div>
                <div class="modal-body">
                    <div class="col s12 m6">
                        <div class="form-group">
                            <label for="date">Tên giấy tờ : </label>
                            <input type="text" class="form-control" id="paper_name_edit" list="paper_names_ID" />
                        </div>
                        <div class="form-group">
                            <label for="date">Kiểu giấy tờ : </label>
                            <input type="text" class="form-control" id="type_name_edit" list="type_papers_ID" />
                            <input type="hidden" class="form-control" id="records_papers_id" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn blue darken-2 modal-close save-category " data-target="#updateBrief">Lưu</button>
                    <button type="button" class="btn light-blue lighten-1 modal-close" id="exit-edit-button">Thoát</button>
                </div>
            </div>
        </div>
    </form>

</div>

<datalist id="eID">
    @foreach (var item in ViewBag.employee_list)
    {
        <option value="@item.employee_id">@item.employee_name</option>
    }
</datalist>

<datalist id="type_papers_ID">
    @foreach (var item in ViewBag.type_papers)
    {
        <option value="@item.Value">@item.Value</option>
    }
</datalist>

<datalist id="paper_names_ID">
    @foreach (var item in ViewBag.paper_names)
    {
        <option value="@item">@item</option>
    }
</datalist>

@{
    List<string> right = (List<string>)Session["RightIDs"];
}
<!---------------------------------------------------------------------------------->

@section scripts{
    <script src="~/js/Custom JS/TCLD/Brief/ManageBrief/DeletePopup.min.js"></script>
    <script src="~/js/Custom JS/Disable_input_material.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>

        $("#pre-load").show("slow", function () {
        });
        $("#pre-load").css("z-index", "99999");

        var Popup, dataTable;

        $(document).ready(function () {
            getRelatedPaper();
        });

        function getRelatedPaper() {
            dataTable = $('#re_paper_table')
                .on('preXhr.dt', function (e, settings, data) {
                    $("#pre-load").show("slow", function () {
                    });
                    $("#pre-load").css("z-index", "99999");

                })
                .DataTable({
                    "ajax": {
                        "url": '@Url.Action("Search", "Brief")',
                        "type": "POST",
                        "datatype": "json",
                        "data": {
                            "employee_id": function () { return $('#employee_id_search').val() },
                            "employee_name": function () { return $('#employee_name_search').val() },
                            "paper_name": function () { return $('#paper_name_search').val() },
                            "type_name": function () { return documentFormat($('#type_name_search').val()) },
                        },
                    },

                    "drawCallback": function (settings) {
                        ///////////////////////ẨN SAU MỖI AJAX CALL////////////////////////
                        $("#pre-load").hide("slow", function () {
                        });
                        ////////////////////////////////////////////////

                    },
                    "columns": [
                        { "data": "employee_id", "name": "employee_id", },
                        { "data": "employee_name", "name": "employee_name" },
                        { "data": "paper_name", "name": "paper_name" },
                        { "data": "type_name", "name": "type_name" },

                        {
                            "data": "records_papers_id", "render": function (data, type, row) {
                                return "<a href=\"#myacti\" data-toggle=\"modal\" class='open-EditModal waves-effect waves-light btn-small blue modal-trigger' data-paper=\"" + data + "\">Chỉnh&nbsp;sửa</a>";
                            },
                            "orderable": false,
                            "searchable": false,
                            "width": "150px"
                        },
                        {
                            "data": "records_papers_id", "render": function (data, type, row) {
                                return "<a class='waves-effect waves-light btn-small blue modal-trigger' style='margin-left:5px' onclick='deletePaper(" + data + ")'>Xóa</a>";
                            },
                            "orderable": false,
                            "searchable": false,
                            "width": "150px"
                        }
                    ],
                    "serverSide": true,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bInfo": false,
                    "language": {
                        emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                        paginate:
                        {
                            previous: "Trang trước",
                            next: "Trang sau",
                            first: "|<",
                            last: ">|",

                        },
                        info: "Đang hiện START đến END của TOTAL bản ghi",
                        infoEmpty: "Đang hiện 0 đến 0 của 0 bản ghi",
                    },
                    "bAutoWidth": false,
                    "order": [0, "asc"],
                    "initComplete": function (settings, json) {
                        ////////////////////////////////////////////////ẨN KHI KHỞI TẠO TABLE XONG  ////////////////////////////////////////////////
                        $("#pre-load").hide("slow", function () {
                        });
                    },

                });
        }

        $(document).ready(function () {
            $("#searchButton_Doc").click(function () {
                dataTable.destroy();
                getRelatedPaper();
                dataTable.ajax.reload();
            });
        });

        function documentFormat(d) {
            if (d == "goc") {
                return "Gốc";
            } else if (d == "daudo") {
                return "Dấu đỏ";
            } else if (d == "photo") {
                return "Phô tô";
            } else if (d == "sao") {
                return "Sao,Công chứng";
            } else {
                return "";
            }
        }
    </script>
    <!---------------------------------------------------------------------------------->
    <script>
        var datatable_inside, stt;


    function getEditCertificateData(url) {
        $.get(url)
            .done(function (response) {
                $("#edit-modal-body").html(response)
            });
        return false;
    }

    $('#export_excel_brief').click(function () {
        $('#pre-load').show();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("InsideExportToExcel", "Brief")',
            dataType: 'json',
            success: function (response) {
                if (response.success) {
                    window.location.href = response.location;
                    $("#pre-load").hide("slow", function () { });
                } else {
                    alert("Lỗi khi tải file");
                }
            }
        });
    });

    //$('#export_excel_brief').click(function (e) {
    //    $("#pre-load").show("slow", function () {
    //  				   });
    //  				  $("#pre-load").css("z-index", "99999");
    //    e.preventDefault();
    //    exportExcel();
    //});


    </script>
}
<!----------------------------------------------------Long----------------------------------->
<!----------------------------------------------------Ctbom----------------------------------->
<script>
    //add
    function addRelevantPaper() {
        var data = {
            employee_id: document.getElementById("employee_id_add").value,
            employee_name: document.getElementById("employee_name_add").value,
            paper_name: document.getElementById("paper_name_add").value,
            type_name: document.getElementById("type_name_add").value
        };
        $.ajax({
            url: "/phong-tcld/quan-ly-ho-so/ho-so-trong-cong-ty/giay-to/them",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function () {
                successAlert('Thành công', 'Thêm thành công');
                dataTable.ajax.reload();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                errorAlert('Lỗi', 'Có lỗi xảy ra');
            }
        });
    }

    function getEmployeeName() {
        var id = document.getElementById("employee_id_add").value;
        var input = {
            employee_id: id
        };
        $.ajax({
            url: "/phong-tcld/quan-ly-ho-so/ho-so-trong-cong-ty/giay-to/ten",
            type: "POST",
            data: JSON.stringify(input),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                document.getElementById("employee_name_add").value = data.BASIC_INFO_full_name;
            },
            error: function () {
                //alert("fail");
            }
        });
    }

    //open-EditModal activity.
    $(document).on("click", ".open-EditModal", function () {
        var paper_id = $(this).data('paper');
        $.ajax({
            type: "POST",
            url: "/phong-tcld/quan-ly-ho-so/ho-so-trong-cong-ty/giay-to/record-paper",
            data: {
                records_papers_id: paper_id
            },
            dataType: "json",
            success: function (data) {
                $("#paper_name_edit").val(data.paper_name);
                $('#type_name_edit').val(data.type_name);
                $('#records_papers_id').val(data.records_papers_id);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $.notify(XMLHttpRequest.responseText, {
                    globalPosition: "top center",
                    className: "error"
                });
            },
            cache: false
        })
    });

    $("#myeditform").submit(function (e) {
        $.ajax({
            type: "POST",
            url: "/phong-tcld/quan-ly-ho-so/ho-so-trong-cong-ty/giay-to/sua",
            dataType: "text",
            success: function () {
                successAlert('Thành công', 'Chỉnh sửa thành công ');
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                errorAlert('Lỗi', 'Có lỗi xảy ra');
            },
            data: {
                paper_name: $("#paper_name_edit").val(),
                type_name: $('#type_name_edit').val(),
                records_papers_id: $('#records_papers_id').val(),
            },
            cache: false
        }).done(function () {
            $('#exit-edit-button').click();
            dataTable.ajax.reload();
        })
        return false;
    });

    function deletePaper(records_papers_id) {
        confirmAlert("Xác nhận xóa?", "Bạn không thể khôi phục lại khi xóa",
            function () {
                $.ajax({
                    type: 'POST',
                    url: '/phong-tcld/quan-ly-ho-so/ho-so-trong-cong-ty/giay-to/xoa',
                    dataType: 'json',
                    data: {
                        records_papers_id: records_papers_id
                    },
                    success: function () {
                        dataTable.ajax.reload();
                        successAlert('Thành công', 'Xóa thành công');
                    },
                    error: function (response) {
                        errorAlert('Lỗi', 'Có lỗi xảy ra , không thể xóa được');
                    }
                });
            });
    }

    $(document).ready(function () {
        listAllRecords();
    });

    $("#searchButton").click(function () {
        datatable_inside.destroy();
        listAllRecords();
    });

    function listAllRecords() {
        datatable_inside = $('#inside_table')
            .on('preXhr.dt', function (e, settings, data) {
                $("#pre-load").show("slow", function () {
                });
                $("#pre-load").css("z-index", "99999");
            })
            .DataTable({
                "ajax": {
                    "url": "@Url.Action("listAllHoSo", "Brief")",
                    "type": "POST",
                    "datatype": "json",
                    "data": {
                        "employee_id": function () { return $('#employee_id_record_search').val() },
                        "employee_name": function () { return $('#employee_name_record_search').val() },
                        "delivery_employee_name": function () { return $('#delivery_employee_name_search').val() },
                        "management_employee_name": function () { return $('#management_employee_name_search').val() },
                    },
                },

                "drawCallback": function (settings) {
                    ///////////////////////ẨN SAU MỖI AJAX CALL////////////////////////
                    $("#pre-load").hide("slow", function () {
                    });
                    ////////////////////////////////////////////////

                },
                "columns": [
                    { "data": "employee_id", "name": "employee_id", },
                    { "data": "employee_name", "name": "employee_name" },
                    {
                        "data": "date_of_birth", "name": "date_of_birth", "render": function (data) {
                            return dateFormat(data);
                        }
                    },
                    { "data": "delivery_employee_name", "name": "delivery_employee_name" },
                    {
                        "data": "received_date", "name": "received_date", "render": function (data) {
                            return dateFormat(data);
                        }
                    },
                    { "data": "management_employee_name", "name": "management_employee_name" },
                    {
                        "data": {},
                        "render": function (data, type, row) {
                            return "<a class='waves-effect waves-light btn-small blue modal-trigger' style='margin-left:5px' onclick='editRecord(" + data.employee_id +'|'+ data.records_id + ")'>Sửa</a>";
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "150px"
                    }
                ],
                "serverSide": true,
                "bLengthChange": false,
                "bFilter": false,
                "bInfo": false,
                "language": {
                    emptyTable: "<li class='text-danger' align='center'>Không có dữ liệu</li>",
                    paginate:
                    {
                        previous: "Trang trước",
                        next: "Trang sau",
                        first: "|<",
                        last: ">|",

                    },
                    info: "Đang hiện START đến END của TOTAL bản ghi",
                    infoEmpty: "Đang hiện 0 đến 0 của 0 bản ghi",
                },
                "bAutoWidth": false,
                "order": [0, "asc"],
                "initComplete": function (settings, json) {
                    ////////////////////////////////////////////////ẨN KHI KHỞI TẠO TABLE XONG  ////////////////////////////////////////////////
                    $("#pre-load").hide("slow", function () {
                    });
                },

            });
    }

    function dateFormat(d) {
        if (!d) {
            return "";
        } else {
            var dateString = d.substr(6);
            var currentTime = new Date(parseInt(dateString));
            var month = currentTime.getMonth() + 1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            var date = day + "/" + month + "/" + year;
            return (date);
        }
    }

    function editRecord(item) {
        item = item + '';
        var token = item.split("|");
        if (item != null) {
            window.location.href ='@Url.Action("InsideDetail", "Brief")?employee_id=' + token[0];
        }
    }

</script>

