@{ ViewBag.Title = "OutSideDetail";
    Layout = Layout = "~/Views/Shared/_Layout_TCLD.cshtml";
}
@{List<string> right = (List<string>)Session["RightIDs"]; }



@*<link href="~/dist/css/style.css" rel="stylesheet">
    <link href="~/assets/extra-libs/css-chart/css-chart.css" rel="stylesheet" />
    <link href="~/dist/css/pages/easy-pie-chart.css" rel="stylesheet" />
    <link href="/assets/extra-libs/css-chart/css-chart.css" rel="stylesheet">
    <link href="/dist/css/pages/easy-pie-chart.css" rel="stylesheet">*@


<div class="col m12">
    <div class="card">
        <div class="card-content">
            <div class="row">
                <h3 class="center">Thông tin cơ bản hồ sơ ngoài</h3>

                <div class="col m12">
                    <div id="basicInfo-form" class="row">
                        <div class="input-field col m12" id="btn-fix-save">

                            @{
                                //134
                                Boolean isAcess = false;
                                for (int i = 0; i < right.Count; i++)
                                {
                                    if (right[i].Equals("134"))
                                    {
                                        isAcess = true;
                                        break;
                                    }

                                }
                                if (isAcess)
                                {
                                    <div class="col m4">
                                        <a class="btn btn-small blue darken-2 input-field chinhsua" id="btn_basicInfo_edit">Chỉnh Sửa</a>
                                    </div>

                                }
                                else
                                {
                                    <div class="col m4">
                                        <a disabled class="btn btn-small blue darken-2 input-field chinhsua" id="btn_basicInfo_edit">Chỉnh Sửa</a>
                                    </div>
                                }
                            }
                            <div class="col m4" hidden>
                                <a class="btn btn-small blue darken-2 input-field luu" id="btn_basicInfo_save">Lưu</a>
                                <a class="btn btn-small red darken-2 input-field huybo" id="btn_basicInfo_remove">Hủy bỏ</a>
                            </div>
                        </div>
                        <div class="input-field col m12">
                            <div class="col m4">
                                <label class='custom-label'>
                                    Số thẻ
                                </label>
                                <input disabled type="text" id="employee_id" class="inputEdit form-control" />
                            </div>
                            <div class="col m4">
                                <label class='custom-label'>Họ và tên</label>
                                <input disabled type="text" id="full_name" class="inputEdit form-control" />
                            </div>
                            <div class="col m4">
                                <label class='custom-label'>Ngày tháng năm sinh</label>
                                <input disabled="" type="text" id="date_of_birth" data-language="vi" data-min-view="days" data-date-format="dd/mm/yyyy" class="validatengay datepicker-here datepicker-add center inputEdit form-control" placeholder="dd/mm/yyyy" />
                            </div>
                        </div>
                        <div class="input-field col m12">
                            <div class="col m3">
                                <label class='custom-label'>ĐV khi CDHĐ</label>
                                <input disabled type="text" id="department_name" class="inputEdit form-control" />
                            </div>
                            <div class="col m3">
                                <label class='custom-label '>Số sổ BHXH</label>
                                <input disabled type="text" id="social_insurance_number" class="inputEdit form-control number" />
                            </div>
                            <div class="col m3">
                                <label class='custom-label'>Số điện thoại NLĐ</label>
                                <input disabled type="text" id="phone_number" class="inputEdit form-control number" />
                            </div>
                            <div class="col m3">
                                <label class='custom-label'>Địa chỉ thường trú NLĐ</label>
                                <input disabled type="text" id="current_residence" class="inputEdit form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col m12">
    <div class="card">
        <div class="card-content">
            <div class="row">
                <h3 class="center">Loại chấm dứt</h3>
                <div class="col m12">
                    <div id="termination-form" class="row">
                        <div class="input-field col m12" id="btn-fix-save">
                            @{

                                if (isAcess)
                                {
                                    <div class="col m4">
                                        <a class="btn btn-small blue darken-2 input-field chinhsua" id="btn_termi_edit">Chỉnh Sửa</a>
                                    </div>
                                }
                                else
                                {
                                    <div class="col m4">
                                        <a disabled class="btn btn-small blue darken-2 input-field chinhsua" id="btn_termi_edit">Chỉnh Sửa</a>
                                    </div>
                                }
                            }
                            <div class="col m4" hidden>
                                <a class="btn btn-small blue darken-2 input-field luu" id="btn_termi_save">Lưu</a>
                                <a class="btn btn-small red darken-2 input-field huybo" id="btn_termi_exit">Hủy bỏ</a>
                            </div>
                        </div>
                        <div class="input-field col m12">
                            <div class="col m3">
                                <label class='custom-label'>Số QĐ</label>
                                <input disabled type="text" id="decision_number" class="inputEdit form-control" />
                                <input hidden type="text" id="decision_id" class="inputEdit form-control" />
                            </div>
                            <div class="col m3">
                                <label class='custom-label'>
                                    Tên loại chấm dứt
                                </label>
                                <input disabled list="list" type="text" id="termination_name" class="inputEdit form-control" />
                                <datalist id="list">
                                    <option >Chấm dứt có đơn</option>
                                    <option >Đơn phương chấm dứt</option>
                                    <option >Sa thải</option>
                                    <option >Chết TNLĐ</option>
                                    <option >Chết ốm, TNRR, TNGT</option>
                                    <option >Chấm dứt do không đủ tiêu chuẩn sức khỏe</option>
                                    <option >Chấm dứt khác</option>
                                </datalist>
                            </div>
                            <div class="col m3">
                                <label class='custom-label'>Ngày tháng năm QĐ</label>
                                <input disabled="" type="text" id="decision_date" data-language="vi" data-min-view="days" data-date-format="dd/mm/yyyy" class="validatengay datepicker-here datepicker-add center inputEdit form-control" placeholder="mm/dd/yyyy" />
                            </div>
                            <div class="col m3">
                                <label class='custom-label'>Ngày chấm dứt</label>
                                <input disabled="" type="text" id="terminate_date" data-language="vi" data-min-view="days" data-date-format="dd/mm/yyyy" class="validatengay datepicker-here datepicker-add center inputEdit form-control" placeholder="mm/dd/yyyy" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col m12">
    <div class="card">
        <div class="card-content">
            <div class="row">
                <h3 class="center">Ủy quyền lấy HS và sổ BH</h3>
                <div class="col m12">
                    <div id="au-form" class="row">
                        <div class="input-field col m12" id="btn-fix-save">
                            @{

                                if (isAcess)
                                {
                                    <div class="col m4">
                                        <a class="btn btn-small blue darken-2 input-field chinhsua" id="btn_authorized_edit">Chỉnh Sửa</a>
                                    </div>

                                }
                                else
                                {
                                    <div class="col m4">
                                        <a disabled class="btn btn-small blue darken-2 input-field chinhsua" id="btn_authorized_edit">Chỉnh Sửa</a>
                                    </div>
                                }
                            }
                            <div class="col m4" hidden>
                                <a class="btn btn-small blue darken-2 input-field luu" id="btn_authorized_save">Lưu</a>
                                <a class="btn btn-small red darken-2 input-field huybo" id="btn_authorized_exit">Hủy bỏ</a>
                            </div>
                        </div>
                        <div class="input-field col m12">
                            <div class="col m3">
                                <label class='custom-label'>
                                    Họ tên người được ủy quyền
                                </label>
                                <input disabled type="text" id="au_full_name" class="inputEdit form-control" />
                            </div>
                            <div class="col m3">
                                <label class='custom-label'>Quan hệ với người ủy quyền</label>
                                <input disabled type="text" id="au_family_relationship_name" class="inputEdit form-control" />
                            </div>
                            <div class="col m3 ">
                                <label class='custom-label'>Số CMND</label>
                                <input disabled type="text" id="au_identity_card_number" class="inputEdit form-control number" />
                            </div>
                            <div class="col m3">
                                <label class='custom-label number'>Số ĐT người được ủy quyền</label>
                                <input disabled type="text" id="au_phone_number" class="inputEdit form-control number" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col m12 ">
    <div class="card table-responsive">
        <div class="card-content">
            <div class="row">
                <h3 class="center">Danh sách giấy tờ</h3>
                @{

                    if (isAcess)
                    {
                        <div class="col m4">
                            <a onclick="themGiayTo()" class='btn btn-small blue darken-2 modal-trigger input-field waves-effect' href='#modal2' id="btn_paper_add">Thêm</a>
                        </div>

                    }
                    else
                    {
                        <div class="col m4">
                            <a disabled class='btn btn-small blue darken-2 modal-trigger input-field waves-effect' href='#modal2' id="btn_paper_add">Thêm</a>
                        </div>
                    }
                }

                <div class="col m12">
                    <div id="form3" class="row">
                        <div class="col s12  table-responsive">
                            <table class="striped table-bordered" id="example">
                                <thead>
                                    <tr>
                                        <th>Số Hiệu</th>
                                        <th>Mã giấy tờ</th>
                                        <th>Tên</th>
                                        <th>Kiểu </th>
                                        <th>Ngày cấp</th>
                                        <th>Ngày trả </th>
                                        <th>Thao tác</th>

                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="modal1" class="modal">
    <div class="modal-content">
        <div class="input-field col m12">
            <div class="col m4">
                <label class='custom-label'>Số Hiệu giấy tờ</label>
                <input disabled type="text" id="papers_number" class="inputEdit form-control" />
            </div>
            <div class="col m4">
                <label class='custom-label'>Mã giấy tờ</label>
                <input disabled type="text" id="papers_id" class="inputEdit form-control" />
            </div>
            <div class="col m4">
                <label class='custom-label'>Kiểu giấy tờ</label>
                <input disabled type="text" id="type_name" class="inputEdit form-control" />
            </div>
            <div class="col m4">
                <label class='custom-label'>Tên giấy tờ</label>
                <input disabled type="text" id="paper_name" class="inputEdit form-control" />
            </div>
            <div class="col m4">
                <label class='custom-label'>Ngày cấp</label>
                <input disabled type="text" id="given_date" class="inputEdit form-control" />
            </div>
            <div class="col m4">
                <label class='custom-label'>Ngày trả</label>
                <input type="text" id="received_date" data-language="vi" data-min-view="days" data-date-format="dd/mm/yyyy" class="validatengay datepicker-here datepicker-add center inputEdit form-control" placeholder="mm/dd/yyyy" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn blue" id="paper_edit_accept">Đồng ý</a>
        <a class="modal-action modal-close waves-effect waves-green btn red" id="paper_edit_exit">Hủy bỏ</a>
    </div>
</div>



<div id="modal2" class="modal">
    <div class="modal-content">
        <div class="input-field col m12">
            <div class="col m4">
                <label class='custom-label'>Kiểu giấy tờ</label>
                <input type="text" id="paperType_add" class="inputEdit form-control" />
            </div>
            <div class="col m4">
                <label class='custom-label'>Tên giấy tờ</label>
                <input type="text" id="paperName_add" class="inputEdit form-control" />
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn blue" id="paper_add_accept" onclick="addPaper()">Đồng ý</a>
        <a class="modal-action modal-close waves-effect waves-green btn red" id="paper_add_exit">Hủy bỏ</a>
    </div>
</div>

<form action="" method="POST" id="submit_out_paper" role="form">
    <div class="modal fade" id="edit_paper">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Sửa giấy tờ</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col s12 m12">
                        <div class="form-group">
                            <label for="name">Số hiệu giấy tờ </label>
                            <input type="text" class="form-control" id="papers_number_edit" />
                            <input type="hidden" class="form-control" id="records_papers_id_edit" />
                        </div>
                    </div>
                    <div class="col s12 m12">
                        <div class="form-group">
                            <label for="name">Mã giấy tờ: </label>
                            <input type="text" class="form-control" id="papers_id_edit" />
                        </div>
                    </div>
                    <div class="col s12 m12">
                        <div class="form-group">
                            <label for="name">Kiểu giấy tờ: </label>
                            <input type="text" class="form-control" id="type_name_edit" />
                        </div>
                    </div>
                    <div class="col s12 m12">
                        <div class="form-group">
                            <label for="name">Tên giấy tờ: </label>
                            <input type="text" class="form-control" id="paper_name_edit" />
                        </div>
                    </div>
                    <div class="col s6 m6">
                        <div class="form-group">
                            <label for="name">Ngày cấp </label>
                            <input type='text' class='datepicker-here form-control maxDate' data-language='vi' id="received_date_edit" />
                        </div>
                    </div>
                    <div class="col s6 m6">
                        <div class="form-group">
                            <label for="name">Ngày trả </label>
                            <input type='text' class='datepicker-here form-control maxDate' data-language='vi' id="given_date_edit" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn blue darken-2 modal-close save-category ">Lưu</button>
                <button type="button" class="btn light-blue lighten-1 modal-close" id="exit-edit-button">Thoát</button>
            </div>
        </div>
    </div>
</form>

<div id="pre-load" hidden>
    <div class="loading">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--JavaScripts-->
@section scripts{

    <script>
    var table;


    $(document).ready(function () {

        customeClick();

        //$('input').prop('disabled', true);
        //$('#sothe').prop('disabled', true);
        //$('#soQD').prop('disabled', true);

        loadBasicInfo();
        loadTerminationType();
        loadAuthorization();
        loadPaperInfo();

    });

    $(document).ready(function () {
            $('.datepicker-inline').remove();
    });

        function loadPaperInfo() {
        dataTable.clear();
        datatable = $('#example').DataTable({
            "ajax": {
                "url": '@Url.Action("getOutsidePaperInfo", "Brief")',
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": "papers_number", "name": "papers_number" },
                { "data": "papers_id", "name": "papers_id" },
                { "data": "paper_name", "name": "paper_name" },
                { "data": "type_name", "name": "type_name" },
                {
                    "data": "received_date", "name": "received_date", "render": function (data) {
                        return dateFormat(data);
                    },
                },
                {
                    "data": "given_date", "name": "given_date", "render": function (data) {
                        return dateFormat(data);
                    },
                },
                {
                    "data": "records_papers_id", "name": "records_papers_id", "render": function (data) {
                        return "<a href=\"#edit_paper\" class='open-EditPaper waves-effect waves-light btn-small blue modal-trigger' style='margin-left:5px' data-paper=\"" + data + "\" ><i class=''></i> Sửa</a>";
                    },
                    "orderable": false,
                    "searchable": false,
                    "width": "150px"
                }

            ],
            "serverSide": "true",
            "order": [0, "asc"],
            "bLengthChange": false,
            "bFilter": false,
            "bInfo": false,
            "bAutoWidth": false,
            "language": {
                "zeroRecords": "Không có dữ liệu",
            },
            "initComplete": function () {
                $("#pre-load").hide();
            }, "bPaginate": false
        });

        datatable.ajax.reload();
        $("#pre-load").hide();
    }

    function loadBasicInfo(){
        $.ajax({
            type: "POST",
            url: '@Url.Action("getOutsideBasicInfo","Brief")',
            dataType: "json",
            success: function (data) {
                $('#employee_id').val(data.employee_id);
                $('#full_name').val(data.full_name);
                $('#date_of_birth').val(dateFormat(data.date_of_birth));
                $('#department_name').val(data.department_name);
                $('#social_insurance_number').val(data.social_insurance_number);
                $('#phone_number').val(data.phone_number);
                $('#current_residence').val(data.current_residence);
            }
        });
    }

    function loadTerminationType(){
        $.ajax({
            type: "POST",
            url: '@Url.Action("getOutsideTerminationType","Brief")',
            dataType: "json",
            success: function (data) {
                $('#decision_id').val(data.decision_id);
                $('#decision_number').val(data.decision_number);
                $('#termination_name').val(data.termination_name);
                $('#decision_date').val(dateFormat(data.decision_date));
                $('#terminate_date').val(dateFormat(data.terminate_date));
            }
        });
    }

    function loadAuthorization() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("getOutsideTerminationType","Brief")',
            dataType: "json",
            success: function (data) {
                $('#au_full_name').val(data.full_name);
                $('#au_family_relationship_name').val(data.family_relationship_name);
                $('#au_identity_card_number').val(data.identity_card_number);
                $('#au_phone_number').val(data.phone_number);
            }
        });
    }

    function customeClick() {
        // event controller button
        $('#btn_basicInfo_edit').click(function (e) {
            e.preventDefault();

            $('#btn_basicInfo_edit').hide();
            $('#btn_basicInfo_edit').parent().hide();
            $('#btn_basicInfo_save').show();
            $('#btn_basicInfo_remove').show();
            $('#btn_basicInfo_save').parent().show();

            $.each($('#basicInfo-form').find('input'), function (index, value) {
                    if (value.id != 'employee_id' && value.id != 'full_name' && value.id != 'department_name')
                        value.disabled = false;
                });
            });

        $('#btn_basicInfo_save').click(function (e) {
            e.preventDefault();

            $('#btn_basicInfo_save').hide();
            $('#btn_basicInfo_remove').hide();
            $('#btn_basicInfo_remove').parent();
            $('#btn_basicInfo_edit').show();
            $('#btn_basicInfo_edit').parent().show();
            $.each($('#basicInfo-form').find('input'), function (index, value) {
                value.disabled = true;
            });
            // your statements;
        });

        $('#btn_basicInfo_remove').click(function (e) {
            e.preventDefault();
            $('#btn_basicInfo_remove').hide();
            $('#btn_basicInfo_save').hide();
            $('#btn_basicInfo_save').parent();
            $('#btn_basicInfo_edit').show();
            $('#btn_basicInfo_edit').parent().show();
            loadBasicInfo();
            $.each($('#basicInfo-form').find('input'), function (index, value) {
                value.disabled = true;
            });
            
        });

        $('#btn_termi_edit').click(function (e) {
            e.preventDefault();
            $('#btn_termi_edit').hide();
            $('#btn_termi_edit').parent().hide();
            $('#btn_termi_save').show();
            $('#btn_termi_exit').show();
            $('#btn_termi_save').parent().show();
            $.each($('#termination-form').find('input'), function (index, value) {
                if (value.id != 'decision_number')
                    value.disabled = false;
            });
            // your statements;
        });

        $('#btn_termi_save').click(function (e) {
            e.preventDefault();

            $('#btn_termi_save').hide();
            $('#btn_termi_exit').hide();
            $('#btn_termi_exit').parent();
            $('#btn_termi_edit').show();
            $('#btn_termi_edit').parent().show();
            $.each($('#termination-form').find('input'), function (index, value) {
                value.disabled = true;
            });
            // your statements;
        });

        $('#btn_termi_exit').click(function (e) {
            e.preventDefault();

            $('#btn_termi_exit').hide();
            $('#btn_termi_save').hide();
            $('#btn_termi_save').parent();
            $('#btn_termi_edit').show();
            $('#btn_termi_edit').parent().show();
            loadTerminationType();
            $.each($('#termination-form').find('input'), function (index, value) {
                value.disabled = true;
            });
            // your statements;
        });

        $('#btn_authorized_edit').click(function (e) {
            e.preventDefault();
            $('#btn_authorized_edit').hide();
            $('#btn_authorized_edit').parent().hide();
            $('#btn_authorized_save').show();
            $('#btn_authorized_exit').show();
            $('#btn_authorized_save').parent().show();
            $.each($('#au-form').find('input'), function (index, value) {
                value.disabled = false;
            });
            // your statements;
        });

        $('#btn_authorized_save').click(function (e) {
            e.preventDefault();

            $('#btn_authorized_save').hide();
            $('#btn_authorized_exit').hide();
            $('#btn_authorized_exit').parent();
            $('#btn_authorized_edit').show();
            $('#btn_authorized_edit').parent().show();
            $.each($('#au-form').find('input'), function (index, value) {
                value.disabled = true;
            });
            // your statements;
        });

        $('#btn_authorized_exit').click(function (e) {
            e.preventDefault();

            $('#btn_authorized_exit').hide();
            $('#btn_authorized_save').hide();
            $('#btn_authorized_save').parent();
            $('#btn_authorized_edit').show();
            $('#btn_authorized_edit').parent().show();
            loadAuthorization();
            $.each($('#au-form').find('input'), function (index, value) {
                value.disabled = true;
            });
            // your statements;
        });
    }

    // event controller button to sending data

    $('#btn_basicInfo_save').click(function (e) {

        var employee_id = $('#employee_id').val();
        var full_name = $('#full_name').val();
        var date_of_birth = $('#date_of_birth').val();
        var department_name = $('#department_name').val();
        var social_insurance_number = $('#social_insurance_number').val();
        var phone_number = $('#phone_number').val();
        var current_residence = $('#current_residence').val();
        

        var object = {
            "employee_id": employee_id,
            "full_name": full_name,
            "date_of_birth": date_of_birth,
            "department_name": department_name,
            "social_insurance_number": social_insurance_number,
            "phone_number": phone_number,
            "current_residence": current_residence
        }
        e.preventDefault();
        updateBasicInfo(object);
    });

    //cham dut
    $('#btn_termi_save').click(function (e) {
        var decision_id = $('#decision_id').val();
        var termination_name = $('#termination_name').val();
        var decision_number = $('#decision_number').val();
        var decision_date = $('#decision_date').val();
        var terminate_date = $('#terminate_date').val();

        var object = {
            "decision_id": decision_id,
            "termination_name": termination_name,
            "decision_number": decision_number,
            "decision_date": decision_date,
            "terminate_date": terminate_date
        }

        e.preventDefault();
        updateTermination(object);
    });

    $('#btn_authorized_save').click(function (e) {
        var full_name = $('#au_full_name').val();
        var family_relationship_name = $('#au_family_relationship_name').val();
        var identity_card_number = $('#au_identity_card_number').val();
        var phone_number = $('#au_phone_number').val();
        
        var object = {
            "full_name": full_name,
            "family_relationship_name": family_relationship_name,
            "identity_card_number": identity_card_number,
            "phone_number": phone_number,
        }

        e.preventDefault();
        updateAuthorization(object);
    });

    //end
    function updateBasicInfo(object) {
        var data = {
            json: JSON.stringify(object),
        };
        $.ajax({
            url: '@Url.Action("updateOutsideBasicInfo","Brief")',
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function () {
                successAlert('Thành công', 'Thêm thành công');
            },
            error: function (xhr, XMLHttpRequest, textStatus, errorThrown) {
                errorAlert('Lỗi', 'Có lỗi xảy ra');
            }
        });
    }

    function updateTermination(object) {
        var data = {
            json: JSON.stringify(object),
        };
        $.ajax({
            url: '@Url.Action("updateOutsideTermination","Brief")',
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function () {
                successAlert('Thành công', 'Thêm thành công');
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                errorAlert('Lỗi', 'Có lỗi xảy ra');
            }
        });
    }

    function updateAuthorization(object) {
        var data = {
            json: JSON.stringify(object),
        };
        $.ajax({
            url: '@Url.Action("updateOutsideAuthorization","Brief")',
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function () {
                successAlert('Thành công', 'Thêm thành công');
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                errorAlert('Lỗi', 'Có lỗi xảy ra');
            }
        });
    }

    function dateFormat(d) {
        if (!d) {
            return '';
        } else {
            var dateString = d.substr(6);
            var currentTime = new Date(parseInt(dateString));
            var month = currentTime.getMonth() + 1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            var date = day + "/" + month + "/" + year;
            return (date);
        }
    }

    function addPaper() {
        var data = {
            papers_type: document.getElementById("paperType_add").value,
            papers_name: document.getElementById("paperName_add").value
        };
        $.ajax({
            url: '@Url.Action("addOutsidePaper","Brief")',
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function () {
                successAlert('Thành công', 'Thêm thành công');
                datatable_syll.ajax.reload();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                errorAlert('Lỗi', 'Có lỗi xảy ra');
            }
        });
    };

    $(document).on("click", ".open-EditPaper", function (){
        var records_papers_id = $(this).data('paper');
        $.ajax({
            type: "POST",
            url: '@Url.Action("getOutsidePaperEdit", "Brief")',
            data: {
                records_papers_id: records_papers_id
            },
            dataType: "json",
            success: function (data) {
                $("#papers_number_edit").val(data.papers_number);
                $("#records_papers_id_edit").val(data.records_papers_id);
                $("#papers_id_edit").val(data.papers_id);
                $("#type_name_edit").val(data.type_name);
                $("#paper_name_edit").val(data.paper_name);
                $("#received_date_edit").val(data.received_date);
                $("#given_date_edit").val(data.given_date);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $.notify(XMLHttpRequest.responseText, {
                    globalPosition: "top center",
                    className: "error"
                });
            },
            cache: false
        })
    });

    $("#submit_out_paper").submit(function (e) {
        var object = {
            "papers_number": $('#papers_number_edit').val(),
            "records_papers_id": $('#records_papers_id_edit').val(),
            "papers_id": $('#papers_id_edit').val(),
            "type_name": $('#type_name_edit').val(),
            "paper_name": $('#paper_name_edit').val(),
            "received_date": $('#received_date_edit').val(),
            "given_date": $('#given_date_edit').val()
        };
        var data = {
            json: JSON.stringify(object),
        };
        $.ajax({
            type: "POST",
            url: '@Url.Action("updateOutsidePaper", "Brief")',
            dataType: "text",
            data: JSON.stringify(data),
            success: function () {
                successAlert('Thành công', 'Chỉnh sửa thành công ');
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                errorAlert('Lỗi', 'Có lỗi xảy ra');
            },
            cache: false
        }).done(function () {
            $('#exit-edit-button').click();
            datatable_syll.ajax.reload();
        })
        return false;
    });













    function themGiayTo() {
        console.log('ThemGiayTo');
        //xet gia tri cho div ve thong tin chinh sua
        //console.log(sohieu + ',' + kieu + ',' + ngaytra);
        //$('#suasohieu').val(sohieu);
        //$('#suakieu').val(kieu);
        //$('#suama').val(ma);
        //if(ten!='null')
        //$('#suaten').val(ten);
        //if (ngaytra != 'null') {
        //    $('#suangaytra').val(dateFormat(ngaytra));
        //}
        //if (ngaycap != 'null' ) {
        //    $('#suangaycap').val(dateFormat(ngaycap));
        //}
        $('#suaten2').val("");
        $('#suakieu2').val("");
        $('#suaten2').prop('disabled', false);
        $('#suakieu2').prop('disabled', false);

    }

    function getChinhSuaGiayTo(sohieu, kieu,ma,ten,ngaycap, ngaytra) {
        console.log('getChinhSuaGiayTo');
        //xet gia tri cho div ve thong tin chinh sua
        console.log(sohieu + ',' + kieu + ',' + ngaycap);
        $('#suasohieu').val(sohieu);
        $('#suakieu').val(kieu);
        $('#suama').val(ma);
        if(ten!='null')
        $('#suaten').val(ten);
        if (ngaytra != 'null') {
            $('#suangaytra').val(dateFormat(ngaytra));
        }
        if (ngaycap != 'null') {
            $('#suangaycap').val(dateFormat(ngaycap));
        } else {
            $('#suangaycap').val(null)
        }
        $('#suangaytra').prop('disabled', false);



    }

    function dongYSuaGiayTo() {
        var dateParts = $('#suangaytra').val().split("/");
        var x4 = dateParts[1] + '/' + dateParts[0] + '/' + dateParts[2];
        var object = {
           "ma":$('#suama').val(),
            "manv": '@ViewBag.manv',
        "sohieu": $('#suasohieu').val(),
            "kieu": $('#suakieu').val(),
                "ngaytra": x4,
            };

    $("#pre-load").show("slow", function () {
    });
    $("#pre-load").css("z-index", "99999"); $("#pre-load").show("slow", function () {
    });
    $.ajax({
        type: "POST",
        url: "/Brief/updateGiayTo",
        data: { json: JSON.stringify(object) },
        dataType: "json",
        success: function (data) {
            //loadThongTinGiayTo();
            //     setTimeout(() => {
            table.ajax.reload(() => { successAlert('Thành công', 'Cập nhật giấy tờ thành công'); }, false);
            //     },500)

        },
         error: () => {
                            $("#pre-load").hide()

                            errorAlert('Thất bại', 'Đã xảy ra lỗi');
                        }



    });

        }

    function dongYThemGiayTo() {

            var object = {

            "manv": '@ViewBag.manv',
            "kieu": $('#suakieu2').val(),
              "ten": $('#suaten2').val()
    };

    $("#pre-load").show("slow", function () {
    });
    $("#pre-load").css("z-index", "99999"); $("#pre-load").show("slow", function () {
    });
    $.ajax({
        type: "POST",
        url: "/Brief/insertGiayTo",
        data: { json: JSON.stringify(object) },
        dataType: "json",
        success: function (data) {
            //loadThongTinGiayTo();
            //     setTimeout(() => {
            table.ajax.reload(() => { successAlert('Thành công', 'Thêm giấy tờ thành công'); }, false);
            //     },500)

        },
         error: () => {
                            $("#pre-load").hide()

                            errorAlert('Thất bại', 'Đã xảy ra lỗi');
                        }



    });

        }

    $('#paper_edit_accept').click(function (e) {
        dongYSuaGiayTo();
    });
    $('#paper_edit_exit').click(function (e) {
        e.preventDefault();
        huyBoSuaGiayTo();

    });
    $('#paper_add_accept').click(function (e) {
        console.log('22220');
        dongYThemGiayTo();
    });
    $('#paper_add_exit').click(function (e) {
        e.preventDefault();
        console.log('111110');
    });

    function huyBoSuaGiayTo() {
        // $("#pre-load").show("slow", function () {
        // });
        //$("#pre-load").css("z-index", "99999"); $("#pre-load").show("slow", function () {
        // });

        //table.ajax.url('@Url.Action("thongTinGiayTo", "Brief")').load(() => { $("#pre-load").hide() }, false);
    }

    $(".number").keydown(function (e) {
            var text = $(this).val().toLowerCase();
            var doubleReg = /[+-]?([0-9]*[,])?[0-9]+$/;
            if (!doubleReg.test(text)) {
                $(this).val("");
            }
            var acceptList = [45, 35, 40, 34, 37, 9, 12, 39, 36, 38, 33, 8];// , 65, 86, 67, 90
            for (var i = 48; i <= 57; i++) {
                acceptList.push(i);
            }
            for (var i = 96; i <= 105; i++) {
                acceptList.push(i);
            }
            if (e.ctrlKey) {
                if (e.keyCode !== 65 && e.keyCode !== 86 && e.keyCode !== 67 && e.keyCode !== 90 && e.keyCode !== 88) {
                    e.preventDefault();
                } else {
                    acceptList.push(e.keyCode);
                }
            }
            if (acceptList.indexOf(e.keyCode) === -1) {
                e.preventDefault();
            }

        });


    $(".number-with-comma").keyup(function () {
    var text = $(this).val().toLowerCase();
    var doubleReg = /[+-]?([0-9]*[,])?[0-9]+$/;
    if (!doubleReg.test(text)) {
         $(this).val("");
    } else {
        $(this).val(AddComma(text));
    }
    text = $(this).val().toLowerCase();
});

    $(".datepicker-here").keydown(function (e) {
    if (e.keyCode === 8) {
        $(".datepicker-here").val("");
    } else {
        e.preventDefault();
    }
});

    function AddComma(Num) { //function to add commas to textboxes
     Num += '';
            Num = Num.replace('.', ''); Num = Num.replace('.', ''); Num = Num.replace('.', '');
            Num = Num.replace('.', ''); Num = Num.replace('.', ''); Num = Num.replace('.', '');
            x = Num.split(',');
            x1 = x[0];
            x2 = x.length > 1 ? ',' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1))
                x1 = x1.replace(rgx, '$1' + '.' + '$2');
            return x1 + x2;
}

    function revert(res) {
    var r = "";
    for (var i = 0; i < res.length; i++) {
        r += res[i];
    }
    return r;
}

    var date = new Date();
    $(".datepicker-here").val(date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear());


    $(function () {
            $(".datepicker-here").datepicker({
                toggleSelected: false
            })
        });



    $('.validatengay').datepicker({
            language: 'vi',
            maxDate: new Date()
        });

    </script>

    <script src="~/assets/libs/echarts/dist/echarts-en.min.js"></script>
    <script src="~/assets/extra-libs/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
    <script src="~/assets/extra-libs/jquery.easy-pie-chart/easy-pie-chart.init.js"></script>

}

