
@{
    ViewBag.Title = "Chi_tiet_cai_tien";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}

<div class="card">
    <div class="card-content">
        <div class="center">
            <h3><b>CHI TIẾT QUYẾT ĐỊNH</b></h3>
        </div>
        <div class="col s12">
            <div class="row table_container">
                <table class="striped centered table-bordered" id="DocumnetaryTable">
                    <thead>
                        <tr>
                            <th>Mã thiết bị</th>
                            <th>Tên thiết bị</th>
                            <th>Tình trạng hiện tại</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (QUANGHANH2.Controllers.CDVT.Quyetdinh.CaiTien.ChiTietController.Detail item in ViewBag.list)
                        {
                            <tr>
                                <td>@item.equipmentId</td>
                                <td>@item.equipment_name</td>
                                <td>@item.statusname</td>
                                <td><a data-isEquip="true" data-documentary_improve_id="@item.documentary_improve_id" class="waves-effect waves-light btn-small blue modal-trigger" href="#thietbicon">Thiết bị đi kèm</a></td>
                                <td><a data-isEquip="false" data-documentary_improve_id="@item.documentary_improve_id" class="waves-effect waves-light btn-small blue modal-trigger" href="#sctx">Vật tư đi kèm</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="sctx">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="listId"></h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <form>
                    <table class="striped table-responsive center table-bordered">
                        <thead>
                            <tr>
                                <th>Mã vật tư</th>
                                <th>Tên vật tư</th>
                                <th>Số lượng ban đầu</th>
                                <th>Số lượng điều chỉnh</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn light-blue lighten-1 modal-close" id="exit-button">Thoát</button>
        </div>
    </div>
</div>

<div class="modal" id="thietbicon">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title"></h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <form>
                    <table class="striped table-responsive center table-bordered">
                        <thead>
                            <tr>
                                <th>Mã thiết bị con</th>
                                <th>Tên thiết bị con</th>
                                <th>Số lượng ban đầu</th>
                                <th>Số lượng điều chỉnh</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn light-blue lighten-1 modal-close" id="exit-button">Thoát</button>
        </div>
    </div>
</div>

<script>
    var documentary_improve_id, isEquip;
    $(document).on("click", '#DocumnetaryTable tbody a', function () {
        $('#pre-load').show();
        $("#thietbicon tbody").empty();
        $("#sctx tbody").empty();
        documentary_improve_id = $(this).data("documentary_improve_id");
        isEquip = $(this).data("isequip");
        $.ajax({
            url: "/phong-cdvt/quyet-dinh/dieu-chinh/chi-tiet",
            method: "post",
            cache: false,
            data: {
                documentary_improve_id: documentary_improve_id,
                isEquip: isEquip
            },
            success: function (response) {
                $.each(response, function (index, value) {
                    if (isEquip === true) {
                        $("#thietbicon tbody").append("<tr><td>" + value.equipmentId + "</td><td>" + value.equipment_name + "</td><td>" + value.quantity_before + "</td><td>" + value.quantity_after + "</td></tr>");
                    }
                    else {
                        $("#sctx tbody").append("<tr><td>" + value.supply_id + "</td><td>" + value.supply_name + "</td><td>" + value.quantity_before + "</td><td>" + value.quantity_after + "</td></tr>");
                    }
                })
                $('#pre-load').hide();
            }
        })
    })
</script>