@{
    ViewBag.Title = "ThemCaiTien";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}

<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col m12">
                <h3 class="center"><b>CHI TIẾT ĐIỀU CHỈNH</b></h3>
                <div class="col s3 m3">
                    <label for="department_id_to">Điều chỉnh tại <i class="fa fa-asterisk" style="font-size:10px;color:red"></i></label>
                    <input id="department_id_to" name="department_id_to" type="text" required class='form-control' list="departmentName" value="@ViewBag.department_id" />
                </div>
                <div class="col s3 m3">
                    <label for="out_in_come">Nguồn vốn <i class="fa fa-asterisk" style="font-size:10px;color:red"></i></label>
                    <input id="out_in_come" name="out_in_come" class="form-control" type="text" />
                </div>
                <div class="col s3 m3">
                    <label for="reason">Nội dung <i class="fa fa-asterisk" style="font-size:10px;color:red"></i></label>
                    <input id="reason" name="reason" class="form-control" type="text" required />
                </div>
                <div class="col s3 m3">
                    <label for="isImprove">Loại quyết định</label>
                    <select id="isImprove" name="isImprove" class="form-control" type="text" required>
                        <option value="true">Cải tiến</option>
                        <option value="false">Thu hồi</option>
                    </select>
                </div>
                <div class="col s12 table_container">
                    <table id="mytablevattu" class="striped table-responsive centered table-bordered">
                        <thead>
                            <tr>
                                <th class="center-align">Mã thiết bị<span></span></th>
                                <th class="center-align">Tên thiết bị<span></span></th>
                                <th class="center-align">Tình trạng hiện tại</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < ViewBag.DataThietBi.Count; i++)
                            {
                                <tr id="@i">
                                    <td>@ViewBag.DataThietBi[i].equipmentId</td>
                                    <td>@ViewBag.DataThietBi[i].equipment_name</td>
                                    <td>@ViewBag.DataThietBi[i].statusname</td>
                                    <td>
                                        <a class="btn blue darken-2 modal-trigger dikem-duphong" data-id="@i" href="#thietbicon">TB đi kèm</a>
                                    </td>
                                    <td>
                                        <a class="btn blue darken-2 modal-trigger SCTX" data-id="@i" href="#sctx">VT đi kèm</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col l12 m12 s12 center">
                    <form action="/phong-cdvt/quyet-dinh/dieu-chinh/chon-thiet-bi" method="get">
                        <input name="selected" value='@Html.Raw(ViewBag.selected)' hidden />
                        <a id="export-button" class="btn blue darken-2">Xuất quyết định</a>
                        <a id="submit" class="btn blue darken-2 modal-trigger">Xác nhận điều chỉnh</a>
                        <button type="submit" class="btn blue darken-2 ">Quay lại</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="sctx">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="listId"></h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <form>
                    <table class="striped table-responsive center table-bordered">
                        <thead>
                            <tr>
                                <th>Mã vật tư</th>
                                <th>Tên vật tư</th>
                                <th>Số lượng ban đầu</th>
                                <th>Số lượng điều chỉnh</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type='text' list='supply_inverse' class='form-control required' /></td>
                                <td><input type='number' min='1' value='1' class='form-control' /></td>
                                <td><a class="btn light-blue lighten-1">Xóa</a></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a id="submitvattu" class="waves-effect waves-light btn blue darken-2 modal-close">Lưu</a>
            <button type="button" class="btn light-blue lighten-1 modal-close" id="exit-button">Thoát</button>
        </div>
    </div>
</div>

<div class="modal" id="thietbicon">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title"></h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <form>
                    <table class="striped table-responsive center table-bordered">
                        <thead>
                            <tr>
                                <th>Mã thiết bị con</th>
                                <th>Tên thiết bị con</th>
                                <th>Số lượng ban đầu</th>
                                <th>Số lượng điều chỉnh</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type='text' list='equipAttached' class='form-control required' /></td>
                                <td><input type='number' min='1' value='1' class='form-control' /></td>
                                <td><a class="btn light-blue lighten-1">Xóa</a></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a id="submitvattu" class="waves-effect waves-light btn blue darken-2 modal-close">Lưu</a>
            <button type="button" class="btn light-blue lighten-1 modal-close" id="exit-button">Thoát</button>
        </div>
    </div>
</div>

<div class="modal" id="confirm">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Bạn có muốn tạo quyết định này không?</h3>
        </div>
        <div class="modal-footer">
            <a id="create" class="waves-effect waves-light btn blue darken-2 center">Tạo</a>
            <a class="btn light-blue lighten-1 modal-close center">Thoát</a>
        </div>
    </div>
</div>

@*<datalist id="supply_inverse">
    @foreach (QUANGHANH2.Models.Supply item in ViewBag.supply_inverse)
    {
        <option value="@item.supply_id">@item.supply_name</option>
    }
</datalist>*@

<datalist id="departmentName">
    @foreach (var item in ViewBag.Departments)
    {
        <option value="@item.department_id">@item.department_name</option>
    }
</datalist>

@*<datalist id="equipAttached">
    @foreach (var item in ViewBag.equipAttached)
    {
        <option value="@item.equipmentId">@item.equipment_name</option>
    }
</datalist>*@

<script src="~/js/Custom JS/CDVT/QuyetDinh/datePicker.js"></script>
<script>
    var output = {};
    var equipAttached = 0;
    var equipId;

    $(document).ready(function () {
        $('input[required]').each(function myfunction() {
            $(this).attr("oninvalid", "setCustomValidity('Không được bỏ trống ô này')");
            $(this).attr("oninput", "this.setCustomValidity('')");
        })
    })

    $(document).on("click", "#sctx table a, #thietbicon table a", function () {
        $(this).closest("tr").remove();
    })
    //tạo json cho thiết bị khi nhập submit vật tư
    $("#sctx #submitvattu, #thietbicon #submitvattu").click(function () {
        convertToJson();
    })

    function convertToJson() {
        var arr = [];
        if (equipAttached == 1) {
            for (var i = 1; i < $('#thietbicon tbody tr').length + 1; i++) {
                if ($('#thietbicon tbody tr:nth-child(' + i + ') input').eq(0).val() != "") {
                    var thietbi = {};
                    thietbi.equipmentId = $('#thietbicon tbody tr:nth-child(' + i + ') td').eq(0).text();
                    thietbi.equipment_name = $('#thietbicon tbody tr:nth-child(' + i + ') td').eq(1).text();
                    thietbi.quantity_before = $('#thietbicon tbody tr:nth-child(' + i + ') td').eq(2).text();
                    thietbi.quantity_after = $('#thietbicon tbody tr:nth-child(' + i + ') input').eq(0).val();
                    arr.push(thietbi);
                }
            }
            output[equipId].thietbi = arr;
        }
        else {
            for (var i = 1; i < $('#sctx tbody tr').length + 1; i++) {
                if ($('#sctx tbody tr:nth-child(' + i + ') input').eq(0).val() != "") {
                    var vattu = {};
                    vattu.supply_id = $('#sctx tbody tr:nth-child(' + i + ') td').eq(0).text();
                    vattu.supply_name = $('#sctx tbody tr:nth-child(' + i + ') td').eq(1).text();
                    vattu.quantity_before = $('#sctx tbody tr:nth-child(' + i + ') td').eq(2).text();
                    vattu.quantity_after = $('#sctx tbody tr:nth-child(' + i + ') input').eq(0).val();
                    arr.push(vattu);
                }
            }
            output[equipId].vattu = arr;
        }
    }

    $(document).ready(function () {
        for (var i = 0; i < $('#mytablevattu tbody tr').length; i++) {
            var thietbi = {};
            thietbi.id = $('#mytablevattu tbody tr:nth-child(' + (i + 1) + ') td').eq(0).text();
            thietbi.thietbi = [];
            thietbi.vattu = [];
            thietbi.getequip = false;
            thietbi.getsupply = false;
            output[i] = thietbi;
        }
    })
</script>
@section scripts{
    <script>
        $(document).on("click", ".dikem-duphong", function () {
            equipAttached = 1;
            $('#pre-load').show();
            equipId = $(this).data('id');
            $("#thietbicon").find("tr:gt(0)").remove();
            var equipmentId = $('#' + equipId + ' td:first-child').text();
            $('#thietbicon h3').text("Danh sách thiết bị con của thiết bị " + equipmentId)
            if (output[equipId].getequip == false) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetSmallEquip", "MethodChung")",
                    dataType: "json",
                    success: function (response) {
                        output[equipId].getequip = true;
                        $.each(response.data, function (i, item) {
                            var $tr = $('<tr>').append(
                                $('<td>').text(item.equipmentId),
                                $('<td>').text(item.equipment_name),
                                $('<td>').text(item.quantity),
                                $('<td>').html("<input type='number' min='1' class='form-control' value='" + item.quantity + "' /> "),
                                $("<td>").html("<a class=\"btn light-blue lighten-1\">Xóa</a>")
                            );
                            $tr.appendTo('#thietbicon tbody');
                        });
                        convertToJson();
                        $('#pre-load').hide();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $('#pre-load').hide();
                    },
                    data: {
                        equipmentId: equipmentId
                    },
                    cache: false
                })
            }
            else {
                for (var i = 0; i < output[equipId].thietbi.length; i++) {
                    var item = output[equipId].thietbi[i];
                    var $tr = $('<tr>').append(
                        $('<td>').text(item.equipmentId),
                        $('<td>').text(item.equipment_name),
                        $('<td>').text(item.quantity_before),
                        $('<td>').html("<input type='number' min='1' class='form-control' value='" + item.quantity_after + "' /> "),
                        $("<td>").html("<a class=\"btn light-blue lighten-1\">Xóa</a>")
                    );
                    $tr.appendTo('#thietbicon tbody');
                }
                $('#pre-load').hide();
            }
        })

        $(document).on("click", ".SCTX", function () {
            equipAttached = 0;
            $('#pre-load').show();
            equipId = $(this).data('id');
            $("#sctx").find("tr:gt(0)").remove();
            var equipmentId = $('#' + equipId + ' td:first-child').text();
            $('#listId').text("Danh sách vật tư SCTX của thiết bị " + equipmentId)
            if (output[equipId].getsupply == false) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetSupplyBigEquip", "MethodChung")",
                    dataType: "json",
                    success: function (response) {
                        output[equipId].getsupply = true;
                        $.each(response.data, function (i, item) {
                            var $tr = $('<tr>').append(
                                $('<td>').text(item.supply_id),
                                $('<td>').text(item.supply_name),
                                $('<td>').text(item.quantity),
                                $('<td>').html("<input type='number' min='1' class='form-control' value='" + item.quantity + "' /> "),
                                $("<td>").html("<a class=\"btn light-blue lighten-1\">Xóa</a>")
                            );
                            $tr.appendTo('#sctx tbody');
                        });
                        convertToJson();
                        $('#pre-load').hide();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $('#pre-load').hide();
                    },
                    data: {
                        equipmentId: equipmentId
                    },
                    cache: false
                })
            }
            else {
                for (var i = 0; i < output[equipId].vattu.length; i++) {
                    var item = output[equipId].vattu[i];
                    var $tr = $('<tr>').append(
                        $('<td>').text(item.supply_id),
                        $('<td>').text(item.supply_name),
                        $('<td>').text(item.quantity_before),
                        $('<td>').html("<input type='number' min='1' class='form-control' value='" + item.quantity_after + "' /> "),
                        $("<td>").html("<a class=\"btn light-blue lighten-1\">Xóa</a>")
                    );
                    $tr.appendTo('#sctx tbody');
                }
                $('#pre-load').hide();
            }
        })

        //validate
        $('#submit').click(function () {
            var validate = 1;
            $(':input[required]:visible').each(function () {
                if ($(this).val() == "") {
                    $(this).focus();
                    validate = 0;
                }
            })
            if (validate == 1) {
                for (var key in output) {
                    output[key].department_detail = $('#' + key + ' input').eq(0).val();
                    output[key].date_to = $('#' + key + ' input').eq(1).val();
                    output[key].equipment_moveline_reason = $('#' + key + ' input').eq(2).val();
                }
                $('#confirm').modal("open");
            } else
                errorAlert("Các ô đánh dấu * không được bỏ trống")
        })

        $('#create').click(function () {
            $('#pre-load').show();
            $.ajax({
                type: "POST",
                url: "/phong-cdvt/cai-tien-chon/add",
                dataType: "json",
                success: function (data) {
                    $('#pre-load').hide();
                    if (data.success) {
                        successAlert(data.message);
                        setTimeout(function () {
                            window.location.href = "/phong-cdvt/quyet-dinh/dieu-chinh";
                        }, 2000);

                    } else {
                        errorAlert(data.message);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#pre-load').hide();
                },
                data: {
                    out_in_come: $('#out_in_come').val(),
                    data: JSON.stringify(output),
                    reason: $('#reason').val(),
                    department_id_to: $('#department_id_to').val()
                },
                cache: false
            })
        })

        $('#export-button').click(function () {
            if (!$('#department_id_to').val()) {
                errorAlert("Phân xưởng được điều động đến không được bỏ trống");
                return;
            }
            if (!$('#reason').val()) {
                errorAlert("Nội dung quyết định không được bỏ trống");
                return;
            }
            $('#pre-load').show();
            $.ajax({
                url: "/phong-cdvt/quyet-dinh/dieu-chinh/them/export",
                method: "get",
                cache: false,
                data: {
                    data: JSON.stringify(output),
                    reason: $('#reason').val(),
                    department_id_to: $('#department_id_to').val(),
                    Isimprove: $('#isImprove').val()
                },
                success: function (data) {
                    window.location = '/phong-cdvt/quyet-dinh/dieu-chinh/them/export?data=' + JSON.stringify(output)
                        + '&reason=' + $('#reason').val() + '&department_id_to=' + $('#department_id_to').val() + '&Isimprove=' + $('#isImprove').val();
                    $('#pre-load').hide();
                },
                error: function () {
                    errorAlert("Có lỗi xảy ra");
                    $('#pre-load').hide();
                }
            })
        })

        $(document).on("change", "input[list='supply_inverse']", function () {
            if ($("#supply_inverse option[value='" + $(this).val() + "']").length == 1) {
                let a = $("#supply_inverse option[value='" + $(this).val() + "']").text();
                $(this).closest("tr").find("input[list='supply_reverse']").val(a);
            }
            else {
                $('#pre-load').show();
                $.ajax({
                    url: "@Url.Action("GetSupplyWithID" , "MethodChung")",
                    method: "post",
                    cache: false,
                    data: {
                        supply_id: $(this).val()
                    },
                    success: function (data) {
                        if (data.success) {
                            for (var i = 0; i < data.supply.length; i++) {
                                if ($("#supply_inverse option[value='" + data.supply[i].supply_id + "']").length == 0) {
                                    $("#supply_inverse").append("<option value='" + data.supply[i].supply_id + "'>" + data.supply[i].supply_name + "</option>");
                                    $("#supply_reverse").append("<option value='" + data.supply[i].supply_name + "'>" + data.supply[i].supply_id + "</option>");
                                }
                            }
                        }
                        else
                            errorAlert("Có lỗi xảy ra")
                        $('#pre-load').hide();
                    },
                    error: function () {
                        errorAlert("Có lỗi xảy ra");
                        $('#pre-load').hide();
                    }
                });
            }
        })
    </script>
}