@{
    ViewBag.Title = "ThemCaiTien";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}

<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col m12">
                <h3 class="center"><b>CHI TIẾT CẢI TIẾN</b></h3>
                <form action="/phong-cdvt/cai-tien-chon/add" method="post" id="myform">
                    <div class="col s3 m3">
                        <textarea name="data" hidden value="" id="json"></textarea>
                        <label for="department_id_to">Cải tiến tại <i class="fa fa-asterisk" style="font-size:10px;color:red"></i></label>
                        <input id="department_id_to" name="department_id_to" type="text" required class='form-control' list="departmentName" value="@ViewBag.department_id" />
                    </div>
                    <div class="col s3 m3">
                        <label for="out_in_come">Nguồn vốn <i class="fa fa-asterisk" style="font-size:10px;color:red"></i></label>
                        <input id="out_in_come" name="out_in_come" class="form-control" type="text" />
                    </div>
                    <div class="col s3 m3">
                        <label for="reason">Nội dung <i class="fa fa-asterisk" style="font-size:10px;color:red"></i></label>
                        <input id="reason" name="reason" class="form-control" type="text" required />
                    </div>
                    <div class="col s12 table_container">
                        <table id="mytablevattu" class="striped table-responsive centered table-bordered">
                            <thead>
                                <tr>
                                    <th class="center-align">Mã thiết bị<span></span></th>
                                    <th class="center-align">Tên thiết bị<span></span></th>
                                    <th class="center-align">Tình trạng hiện tại</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < ViewBag.DataThietBi.Count; i++)
                                {
                                    <tr id="@i">
                                        <td>@ViewBag.DataThietBi[i].equipmentId</td>
                                        <td>@ViewBag.DataThietBi[i].equipment_name</td>
                                        <td>@ViewBag.DataThietBi[i].statusname</td>
                                        <td>
                                            <a class="btn blue darken-2 modal-trigger open-Modal" data-id="@i" href="#mylist">Vật tư cải tiến</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </form>
                <div class="col l12 m12 s12 center">
                    <a id="export-button" class="btn blue darken-2">Xuất quyết định</a>
                    <a id="submit" class="btn blue darken-2 modal-trigger">Xác nhận cải tiến</a>
                    <a href="cai-tien" class="btn blue darken-2 ">Quay lại</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="mylist">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="listId"></h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <form>
                    <table id="test" class="striped table-responsive center table-bordered mytable">
                        <thead>
                            <tr>
                                <th>Mã vật tư</th>
                                <th>Số lượng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type='text' list='supplyID' class='form-control required' /></td>
                                <td><input type='number' min='1' value='1' class='form-control' /></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <input type="hidden" id="rownumber" disabled />
        </div>
        <div class="modal-footer">
            <a id="addrow" class="waves-effect waves-light btn blue darken-2 left">Thêm</a>
            <a id="submitvattu" class="waves-effect waves-light btn blue darken-2 modal-close">Lưu</a>
            <button type="button" class="btn light-blue lighten-1 modal-close" id="exit-button">Thoát</button>
        </div>
    </div>
</div>

<div class="modal" id="confirm">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Bạn có muốn tạo quyết định này không?</h3>
        </div>
        <div class="modal-footer">
            <a id="create" class="waves-effect waves-light btn blue darken-2 center">Tạo</a>
            <a class="btn light-blue lighten-1 modal-close center">Thoát</a>
        </div>
    </div>
</div>

<datalist id="supplyID">
    @foreach (QUANGHANH2.Models.Equipment item in ViewBag.Supplies)
    {
        <option value="@item.equipmentId">@item.equipment_name</option>
    }
</datalist>

<datalist id="departmentName">
    @foreach (var item in ViewBag.Departments)
    {
        <option value="@item.department_id">@item.department_name</option>
    }
</datalist>

<script src="~/js/Custom JS/CDVT/QuyetDinh/datePicker.js"></script>
<script>
    var output = {};
    var vatTuDiKem = @Html.Raw(Json.Encode(ViewBag.vatTuDiKem));

    $(document).ready(function () {
        $('input[required]').each(function myfunction() {
            $(this).attr("oninvalid", "setCustomValidity('Không được bỏ trống ô này')");
            $(this).attr("oninput", "this.setCustomValidity('')");
        })
    })

    $("#addrow").click(function () {
        var $tr = $('<tr>').append(
            $('<td>').html("<input type='text' list='supplyID' class='form-control required' />"),
            $('<td>').html("<input type='number' min='1' value='1' class='form-control' />")
        );
        $tr.appendTo('#test tbody');
    });
    //tạo json cho thiết bị khi nhập submit vật tư
    $("#submitvattu").click(function () {
        if ($('#mylist #test tr').length > 1) {
            var thietbi = {};
            var arr = [];
            var rownumber = $('#rownumber').val();
            thietbi.id = $('#' + rownumber + ' td:first-child').text();
            for (var i = 1; i < $('#test tbody tr').length + 1; i++) {
                if ($('#mylist #test tbody tr:nth-child(' + i + ') input').eq(0).val() != "" &&
                    $('#mylist #test tbody tr:nth-child(' + i + ') input').eq(3).val() != "" &&
                    $('#mylist #test tbody tr:nth-child(' + i + ') input').eq(1).val() > 0) {
                    var vattu = {};
                    vattu.supply_id = $('#mylist #test tbody tr:nth-child(' + i + ') input').eq(0).val();
                    vattu.quantity = $('#mylist #test tbody tr:nth-child(' + i + ') input').eq(1).val();
                    vattu.note = $('#mylist #test tbody tr:nth-child(' + i + ') input').eq(2).val();
                    vattu.department_id = $('#mylist #test tbody tr:nth-child(' + i + ') input').eq(3).val();
                    arr.push(vattu);
                }
            }
            thietbi.vattu = arr;
            output[rownumber] = thietbi;
            $('#json').val(JSON.stringify(output))
        }
    })

    $(document).ready(function () {
        for (var i = 0; i < $('#mytablevattu tbody tr').length; i++) {
            var thietbi = {};
            var arr = [];
            thietbi.id = $('#mytablevattu tbody tr:nth-child(' + (i + 1) + ') td').eq(0).text();
            for (var j = 0; j < vatTuDiKem.length; j++) {
                if (vatTuDiKem[j].equipmentId == thietbi.id) {
                    var temp = {};
                    temp.supply_id = vatTuDiKem[j].equipmentId_dikem;
                    temp.quantity = 0;
                    temp.note = "";
                    temp.department_id = "@ViewBag.department_id";
                    arr.push(temp);
                }
            }
            thietbi.vattu = arr;
            output[i] = thietbi;
        }
        $('#json').val(JSON.stringify(output))
    })

    function validateVattu() {
        for (var key in output) {
            if (output[key].vattu.length == 0)
                return false;
        }
        return true;
    }

</script>
@section scripts{
    <script>
        //đọc lại json rồi apply vào modal
        $(document).on("click", ".open-Modal", function () {
            var id = $(this).data('id');
            $('#rownumber').val(id);
            $("#test").find("tr:gt(0)").remove();
            $('#listId').text("Danh sách vật tư thêm của thiết bị " + $('#' + id + ' td:first-child').text())
            if (output.hasOwnProperty(id)) {
                for (var i = 0; i < output[id].vattu.length; i++) {
                    var item = output[id].vattu[i];
                    var $tr = $('<tr>').append(
                        $('<td>').html("<input type='text' list='supplyID' class='form-control required' value='" + item.supply_id + "' /> "),
                        $('<td>').html("<input type='number' min='1' class='form-control' value='" + item.quantity + "' /> ")
                    );
                    $tr.appendTo('#test tbody');
                }
            }
        })
        //validate
        $('#submit').click(function () {
            var validate = 1;
            $(':input[required]:visible').each(function () {
                if ($(this).val() == "") {
                    $(this).focus();
                    validate = 0;
                }
            })
            if (validate == 1) {
                if (!validateVattu())
                    errorAlert("Phải điền đầy đủ vật tư vào thiết bị")
                else {
                    $('#json').val(JSON.stringify(output))
                    $('#confirm').modal("open");

                }
            } else
                errorAlert("Các ô đánh dấu * không được bỏ trống")
        })

        $('#create').click(function () {
            $('#myform').submit();
        })

        $("#export-button").click(function () {
            window.location = '/phong-cdvt/quyet-dinh/export-word?data=' + $('#json').val()
                + '&title=' + $('input[name = "reason"]').val() + '&department_id='
                + $('#department_id_to').val() + '&documentary_type=' + 7
                + '&fileName=Quyết định cải tiến.docx' + '&resource=' + $('input[name = "out_in_come"]').val()
        });
    </script>
}