@model QUANGHANH2.Models.BangCap_GiayChungNhan

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditDiploma</title>
</head>
<body>
    <div id="edit_diploma_model">
        @using (Html.BeginForm("EditDiploma", "Diploma", FormMethod.Post, new { onSubmit = "return SubmitFormDiploma(this) " }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="row">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group col s6 m6 l6">
                        @Html.LabelFor(model => model.MaTruong, "Tên trường", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("MaTruong", (SelectList)ViewBag.listSelect_truong, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MaTruong, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col s6 m6 l6">
                        @Html.LabelFor(model => model.MaChuyenNganh, "Tên chuyên ngành", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("MaChuyenNganh", (SelectList)ViewBag.listSelect_chuyennganh, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MaChuyenNganh, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @Html.HiddenFor(model => model.MaBangCap_GiayChungNhan)

                    <div class="form-group col s6 m6 l6">
                        @Html.LabelFor(model => model.MaTrinhDo, "Tên trình độ", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("MaTrinhDo", (SelectList)ViewBag.listSelect_trinhdo, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MaTrinhDo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col s6 m6 l6">
                        @Html.LabelFor(model => model.KieuBangCap, "Kiểu bằng cấp", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("KieuBangCap", (IEnumerable<SelectListItem>)ViewBag.listTypesDip, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.KieuBangCap, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col s6 m6 l6">
                        @Html.Label("", "Chọn thời hạn", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("han", (IEnumerable<SelectListItem>)ViewBag.listOption, htmlAttributes: new { @class = "form-control", @id = "option_diploma_edit" })

                        </div>
                    </div>
                    <div class="form-group col s6 m6 l6">
                        @Html.LabelFor(model => model.ThoiHan, "Thời hạn", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input id="edit_dip_time" class="form-control" />
                            @Html.EditorFor(model => model.ThoiHan, new { htmlAttributes = new { @style = "display: none !important", @class = "form-control", @id = "edit_time" } })
                            @Html.ValidationMessageFor(model => model.ThoiHan, "", new { @class = "text-danger" })
                            <p hidden style="color:red" id="message_isNum_diploma_edit">Thời hạn là một số nguyên dương. Vui lòng nhập lại</p>
                        </div>
                    </div>

                    <div class="form-group col s6 m6 l6">
                        @Html.LabelFor(model => model.TenBangCap, "Tên bằng cấp", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TenBangCap, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenBangCap, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col s6 m6 l6">
                        @Html.LabelFor(model => model.Loai, "Loại", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Loai, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Loai, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <hr />
                    <div class="form-group col s12 m12 l12">
                        <div class="control-label col-md-2"></div>
                        <br />
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Sửa" class=" waves-light btn blue darken-2 white-text " id="save_edit_diploma" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>
<script>

    $(document).ready(function () {
        var show = $('#edit_time').val();

        if (show == -1) {
            $('#edit_dip_time').val("Vĩnh viễn");
            $('#edit_dip_time').attr("disabled", "disabled");
        }
        else {
            $('#option_diploma_edit').val(2);
            $("#edit_dip_time").val($("#edit_time").val())
        }
        $('#option_diploma_edit').change(function () {
            var option = $(this).val();

            if (option == 1) {
                //show
                $('#edit_dip_time').val("Vĩnh viễn");
                $('#edit_dip_time').attr("disabled", "disabled");
                $("#edit_time").val(-1);
            } else {
                //show
                $('#edit_dip_time').removeAttr("disabled", "disabled");
                $('#edit_dip_time').val("");
                $('#edit_dip_time').blur(function () {
                    var isNum = $(this).val();
                    if (!isNumeric(isNum) || (new Number(isNum) <= 0)) {
                        //Check if Thoihan is numeric
                        $("#message_isNum_diploma_edit").show(); //Show error
                        $('#save_edit_diploma').attr("disabled", true);

                    }
                    else {
                        $("#message_isNum_diploma_edit").hide();
                        $('#save_edit_diploma').attr("disabled", false);
                    }
                })
            }
        })
        $("#save_edit_diploma").click(function () {
            var edit_end = $("#edit_dip_time").val();
            if (edit_end == "Vĩnh viễn") {
                $("#edit_time").val(-1);
            }
            else {
                $("#edit_time").val(edit_end);
            }
            $("#save_edit_diploma").closest();
        })

    })

    function isNumeric(value) {
        return /^-{0,1}\d+$/.test(value);
    }

</script>