@model QUANGHANH_MANUFACTURING.Models.Nganh

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThemNganh</title>
</head>
<body>

    @using (Html.BeginForm("ThemNganh", "BriefRegulation", FormMethod.Post, new { onSubmit = "return SubmitForm(this)" }))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.MaNganh, "Mã Ngành", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaNganh, new { htmlAttributes = new { @class = "form-control", @id = "validate_nganh" } })
                @Html.ValidationMessageFor(model => model.MaNganh, "", new { @class = "text-danger" })
                <p hidden style="color:red" id="messageN">Mã ngành đã tồn tại. Hãy nhập lại</p>
                <p hidden style="color:red" id="messageNganhNull">Không được để trống ô này</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenNganh, "Tên Ngành", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenNganh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenNganh, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo" class="btn btn-default blue" id="btn_saveNganh_doc" disabled />
            </div>
        </div>
    </div>
    }

</body>
</html>
<script>
    $('#validate_nganh').blur(function () {
        if ($(this).val() == null || $(this).val() == "") {
            $('#messageNganhNull').show();
            $('#messageN').hide();
            return false;
        }
            $.ajax({
                url:'@Url.Action("validateIDNganh", "BriefRegulation")',
                type: "POST",
                data: { id: $(this).val() },
                success: (response) => {
                    if (response.success) {
                        $('#messageN').hide();
                        $('#messageNganhNull').hide();
                        $('#btn_saveNganh_doc').attr("disabled", false);
                    } else {
                        $('#btn_saveNganh_doc').attr("disabled", true);
                        $('#messageN').show();
                        $('#messageNganhNull').hide();
                    }

                },
                error: (response) => {
                    alert("error")
                },
                })
         })
</script>