
@{
    ViewBag.Title = "MonthlyQuarterlyReport";
    Layout = null;

}
<link href="~/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
<link href="~/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css" rel="stylesheet">
<link href="~/dist/css/style.css" rel="stylesheet">
<link href="~/css/preloader/css.css" rel="stylesheet" />
<!-- This page CSS -->
<link href="~/assets/Custom css/TABLE_BORDERED.css" rel="stylesheet" />
<link href="~/assets/Custom css/floating-action-btn.css" rel="stylesheet">
<link href="~/assets/Custom css/form-input-border.css" rel="stylesheet">
<!--Custom Datepicker CSS-->
<link href="~/lib/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
<link href="~/lib/datepicker_src/dist/css/custom.css " rel="stylesheet " type="text/css ">
<link href="~/lib/datepicker_src/dist/css/font.css" rel="stylesheet" type="text/css">
<link href="~/css/preloader/css.css" rel="stylesheet" />
<!--Font css-->
<link href="~/assets/Custom css/font-family.css" rel="stylesheet" />
<!-- ============================================================== -->
<!-- All Required js -->
<!-- ============================================================== -->
<script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dist/js/materialize.min.js"></script>
<script src="~/assets/libs/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
<!-- ============================================================== -->
<!-- Apps -->
<!-- ============================================================== -->
<script src="~/dist/js/app.js"></script>
<script src="~/dist/js/app.init.js"></script>
<script src="~/dist/js/app-style-switcher.js"></script>
<!-- ============================================================== -->
<!-- Custom js -->
<!-- ============================================================== -->
<script src="~/dist/js/custom.min.js"></script>
<!-- ============================================================== -->
<!--Custom Datepicker CSS-->
<link href="/lib/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" type="text/css">
<link href="/lib/datepicker_src/dist/css/custom.css " rel="stylesheet " type="text/css ">
<link href="/lib/datepicker_src/dist/css/font.css" rel="stylesheet" type="text/css">

<!--QuangHanh Alert-->
<link href="~/assets/sweetalert/sweetalert2.min.css" rel="stylesheet" />
<script src="~/assets/sweetalert/alert-quanghanh-js.js"></script>
<script src="~/assets/sweetalert/sweetalert2.all.min.js"></script>
<script src="~/assets/sweetalert/sweetalert2.min.js"></script>

<!--Custom Datepicker JS-->
<script src="/lib/datepicker_src/dist/js/datepicker.js"></script>
<script src="/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>
<!-- This page plugin js -->
<style>
    body {
        background-color: #ffff
    }

    th, td {
        border: 1px solid;
    }

    .table-bordered th {
        vertical-align: middle !important;
        text-align: center !important;
        background-color: #f8f8f8 !important;
        padding: 5px;
    }

    table {
        background-color: white;
    }

    img {
        width: 80px;
    }

    #line1 {
        font-size: 20px;
    }

    #line2 {
        font-size: 25px;
    }

    .title-name {
        font-weight: 600;
        font-family: 'Times New Roman', Times, serif;
    }

    table td {
        vertical-align: middle;
        text-align: center;
    }

    .big-title {
        font-weight: 600;
        vertical-align: middle;
        margin-top: 35px;
    }

    th#doanhthu-cell {
        background-color: #ff9191 !important;
        font-size: 25px;
    }

    .red-title {
        color: red;
    }

    table th * {
        display: inline;
    }

    #header-of-page table td {
        border: 1px solid #ffff;
    }
</style>
<div class="row" id="header-of-page">
    <div class="col l4 m4 s12">
        <table>
            <tr>
                <td rowspan="2" id="tkv-logo">
                    <img src="~/assets/images/logo-tkv.png" />
                </td>
                <td id="line1" class="title-name">TẬP ĐOÀN CÔNG NGHIỆP THAN - KHOÁNG SẢN VIỆT NAM</td>
                <td rowspan="2" id="qh-logo">
                    <img src="~/assets/images/logo-qh.jpg" />
                </td>
            </tr>
            <tr>
                <td id="line2" class="title-name">CÔNG TY THAN QUANG HANH - TKV</td>
            </tr>
        </table>
    </div>
    <div class="col l8 m8 s12 center big-title">
        <h1><b>KẾ HOẠCH ĐIỀU HÀNH CÁC CHỈ TIÊU CHÍNH TOÀN CÔNG TY NĂM <span class='year'>@ViewBag.thisyear</span></b></h1>
    </div>
    <div class="row">
        <div class="col l4 m4 s4">
            <input type="text" id="yearCalendar" class="form-control datepicker-here datepicker-add center"
                   data-language='vi'
                   data-min-view="years"
                   data-view="years"
                   data-date-format="yyyy"
                   required value="@ViewBag.thisyear" autocomplete="off" />

        </div>
        <div class="col l4 m4 s4">
            <button id="change" onclick="change()" class="btn blue modal-close btn-small">Đổi</button>
        </div>
    </div>
</div>
<table class="table striped table-responsive table-bordered" id="mainTable">
    <thead>
        <tr>
            <th rowspan="2">TT</th>
            <th rowspan="2">Các danh mục</th>
            <th colspan="3">Theo dõi kế hoạch năm <span class='year'>@ViewBag.thisyear</span></th>
            <th colspan="3">Theo dõi kế hoạch tháng 2 năm <span class='year'>@ViewBag.thisyear</span></th>
            <th colspan="3">Theo dõi kế hoạch tháng 3 năm <span class='year'>@ViewBag.thisyear</span></th>
            <th colspan="3">Theo dõi kế hoạch tháng 4 năm <span class='year'>@ViewBag.thisyear</span></th>
            <th colspan="3">Theo dõi kế hoạch tháng 5 năm <span class='year'>@ViewBag.thisyear</span></th>
            <th colspan="3">Theo dõi kế hoạch tháng 6 năm <span class='year'>@ViewBag.thisyear</span></th>
            <th colspan="3">Theo dõi kế hoạch tháng 7 năm <span class='year'>@ViewBag.thisyear</span></th>
            <th colspan="3">Theo dõi kế hoạch tháng 8 năm <span class='year'>@ViewBag.thisyear</span></th>
            <th colspan="3">Theo dõi kế hoạch tháng 9 năm <span class='year'>@ViewBag.thisyear</span></th>
            <th colspan="3">Theo dõi kế hoạch tháng 10 năm <span class='year'>@ViewBag.thisyear</span></th>
            <th colspan="3">Theo dõi kế hoạch tháng 11 năm <span class='year'>@ViewBag.thisyear</span></th>
            <th colspan="3">Theo dõi kế hoạch tháng 12 năm <span class='year'>@ViewBag.thisyear</span></th>
        </tr>
        <tr>
            <th style="margin:15px !important">Kế hoạch năm <span class='year'>@ViewBag.thisyear</span></th>
            <th>LK đến tháng 1</th>
            <th>BQ C.lại 1 tháng</th>
            <th>Kế hoạch tháng 2</th>
            @*<th>Kế hoạch năm <span class='year'>@ViewBag.thisyear</span></th>*@
            <th>LK đến ngày <span id='month2'></span></th>
            <th>BQ C.lại 1 ngày</th>
            <th>Kế hoạch tháng 3</th>
            <th>LK đến ngày <span id='month3'></span></th>
            <th>BQ C.lại 1 ngày</th>
            <th>Kế hoạch tháng 4</th>
            <th>LK đến ngày <span id='month4'></span></th>
            <th>BQ C.lại 1 ngày</th>
            <th>Kế hoạch tháng 5</th>
            <th>LK đến ngày <span id='month5'></span></th>
            <th>BQ C.lại 1 ngày</th>
            <th>Kế hoạch tháng 6</th>
            <th>LK đến ngày <span id='month6'></span></th>
            <th>BQ C.lại 1 ngày</th>
            <th>Kế hoạch tháng 7</th>
            <th>LK đến ngày <span id='month7'></span></th>
            <th>BQ C.lại 1 ngày</th>
            <th>Kế hoạch tháng 8</th>
            <th>LK đến ngày <span id='month8'></span></th>
            <th>BQ C.lại 1 ngày</th>
            <th>Kế hoạch tháng 9</th>
            <th>LK đến ngày <span id='month9'></span></th>
            <th>BQ C.lại 1 ngày</th>
            <th>Kế hoạch tháng 10</th>
            <th>LK đến ngày <span id='month10'></span></th>
            <th>BQ C.lại 1 ngày</th>
            <th>Kế hoạch tháng 11</th>
            <th>LK đến ngày <span id='month11'></span></th>
            <th>BQ C.lại 1 ngày</th>
            <th>Kế hoạch tháng 12</th>
            <th>LK đến ngày <span id='month12'></span></th>
            <th>BQ C.lại 1 ngày</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script>
    function dateFormat2(d) {
        var dateString = d.substr(6);
        var currentTime = new Date(parseInt(dateString));
        var month = currentTime.getMonth() + 1;
        var day = currentTime.getDate();
        var year = currentTime.getFullYear();
        var date = day + "/" + month + "/" + year;
        return (date);
    }

    $(document).ready(function () {
        $("#change").click();
    });

    function genData(response) {
        tableBody = ''
        for (var j = 0; j < response.listTC.length; j++) {
            var KH = [0,0,0,0,0,0,0,0,0,0,0,0];
            var LK = [0,0,0,0,0,0,0,0,0,0,0,0];
            var BQ = [0,0,0,0,0,0,0,0,0,0,0,0]; 

            //fill data in each row
            tableBody += "<tr>"

            //fil TC data.
            tableBody += "<th>" + response.listTC[j].TT + "</th>"
            if (response.listTC[j].HangTieuChi == 1) {
                tableBody += "<th><div class=\"red-title\">" + response.listTC[j].NoiDung + "</div></th>"
            } else if (response.listTC[j].HangTieuChi == 2) {
                tableBody += "<th>" + response.listTC[j].NoiDung + "</th>"
            } else {
                tableBody += "<td>" + response.listTC[j].NoiDung + "</td>"
            }

            //Add value of this TC
            //cal year of this TC
            for (var k1 = 0; k1 < response.listYear.length; k1++) {
                if (response.listYear[k1].MaTieuChi == response.listTC[j].MaTieuChi) {
                    KH[0] += response.listYear[k1].TongSLKH;
                    LK[0] += response.listYear[k1].LKDenThang1;
                    BQ[0] += Math.round(response.listYear[k1].BQConLai1Thang / 11);
                    break;
                }
            }
            //cal month of this TC
            for (var month = 2; month <= 12; month++) {
                var dayRemaining = 0;
                for (var k2 = 0; k2 < response.listMonth.length; k2++) {
                    if (response.listMonth[k2].MaTieuChi == response.listTC[j].MaTieuChi && response.listMonth[k2].ThangKeHoach == month) {
                        KH[month-1] += response.listMonth[k2].KeHoachThang
                        LK[month-1] += response.listMonth[k2].SL
                        //handling average remaining.
                        for (var k3 = 0; k3 < response.listInfo.length; k3++) {
                            if (response.listInfo[k3].ThangKeHoach == month) {
                                dayRemaining = response.listInfo[k3].SoNgayConLai;
                            }
                        }
                        if (dayRemaining == 0) {
                            BQ[month-1] += 0
                        } else {
                            BQ[month-1] += Math.round(response.listMonth[k2].BQConLai1Ngay / dayRemaining)
                        }
                        break;
                    }
                } 
            }

            //check smallCritCategory in the next TC
            //counting and cal total value from  small criteria category .
            for (var count = j; count < response.listTC.length - 1; count++) {
                //comparing critCategory of this TC to critCategory of the next TC
                if (response.listTC[j].HangTieuChi < response.listTC[count + 1].HangTieuChi) {
                    //cal year
                    for (var k1 = 0; k1 < response.listYear.length; k1++) {
                        if (response.listYear[k1].MaTieuChi == response.listTC[count + 1].MaTieuChi) {
                            KH[0] += response.listYear[k1].TongSLKH;
                            LK[0] += response.listYear[k1].LKDenThang1;
                            BQ[0] += Math.round(response.listYear[k1].BQConLai1Thang / 11);
                            break;
                        }
                    }

                    //cal month
                    for (var month = 2; month <= 12; month++) {
                        var dayRemaining = 0;
                        for (var k2 = 0; k2 < response.listMonth.length; k2++) {
                            if (response.listMonth[k2].MaTieuChi == response.listTC[count + 1].MaTieuChi && response.listMonth[k2].ThangKeHoach == month) {
                                KH[month-1] += response.listMonth[k2].KeHoachThang
                                LK[month-1] += response.listMonth[k2].SL

                                //handling average remaining.
                                for (var k3 = 0; k3 < response.listInfo.length; k3++) {
                                    if (response.listInfo[k3].ThangKeHoach == month) {
                                        dayRemaining = response.listInfo[k3].SoNgayConLai;
                                    }
                                }
                                if (dayRemaining == 0) {
                                    BQ[month-1] += 0
                                } else {
                                    BQ[month-1] += Math.round(response.listMonth[k2].BQConLai1Ngay / dayRemaining)
                                }
                                break;
                            }
                        }
                    }
                } else {
                    break;
                }
            }

            //display data
            for (var i = 0; i < 12; i++) {
                tableBody += "<td>" + Math.round(KH[i]) + "</td>"
                tableBody += "<td>" + Math.round(LK[i]) + "</td>"
                tableBody += "<td>" + Math.round(BQ[i]) + "</td>"
            }

            tableBody += "</tr>"
        }
        $("#mainTable tbody").html(tableBody)
    }

    function refreshDisplay(response) {
        $(".year").html(response.year);
        for (var i = 2; i <= 12; i++) {
            var isAdd = false;
            for (var j = 0; j < response.listInfo.length; j++) {
                if (response.listInfo[j].ThangKeHoach == i) {
                    $("#month" + i).html(response.listInfo[j].NgayCuoi);
                    isAdd = true;
                    break;
                }
            }
            if (!isAdd) {
                $("#month" + i).html("");
            }
        }
    }

    function change() {
        $.ajax({
            'url': '/phong-dieu-khien/ke-hoach-dieu-hanh-chi-tieu/lay-du-lieu',
            'type': 'post',
            'data': {
                'year': $("#yearCalendar").val()
            },
            'success': function (response) {
                // format date
                if (response.success) {
                    genData(response);
                    refreshDisplay(response);
                    successAlert("Thành công", "Đổi thành công")
                } else if (!response.success) {
                    errorAlert("Có lỗi", "Đã có lỗi xảy ra")
                }
            }
        })
    }

    $(".date-click").datepicker({
        onSelect: function (dateText) {
        }
    });
</script>
<script src="~/lib/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>
