@{
    Layout = "~/Views/Shared/_Layout_DK.cshtml";
}

<!--UPLOADER-->
@*<link href="~/assets/uploader/style_uploader.css" rel="stylesheet" />*@
<link href="~/assets/uploader/dropzone.min.css" rel="stylesheet" />
<link href="~/assets/uploader/icons.min.css" rel="stylesheet" />
<link href="~/assets/sweetalert/sweetalert2.min.css" rel="stylesheet" />
<link href="~/assets/libs/toastr/build/toastr.min.css" rel="stylesheet">

<style>
    .file-description1 {
        width: 120px !important;
    }

    .file-description2 {
        width: 120px !important;
    }

    .file-description3 {
        width: 120px !important;
    }

    .dropzone .dz-preview .dz-progress .dz-upload {
        background: #29bb22 !important;
        background: linear-gradient(to bottom, #7ceb69, #29bb22) !important;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 0;
        -webkit-transition: width 300ms ease-in-out;
        -moz-transition: width 300ms ease-in-out;
        -o-transition: width 300ms ease-in-out;
        transition: width 300ms ease-in-out;
    }

    .files-container {
        margin-left: 15px;
    }

    #files-table .file-td {
        text-align: left !important;
    }
</style>
@{
    //var listFiles =@Html.Raw(Json.Encode(ViewBag.listFiles));
    var listFiles = ViewBag.listFiles;
    var listPX = ViewBag.listPX;
    var ca1Number = 0;
    var phanxuong = ViewBag.phanxuong;
    var ca2Number = 0;
    var isLock = ViewBag.isLock;
    var ca3Number = 0;
    if (listFiles != null && phanxuong.ToLower() != "kcs")
    {
        for (int i = 0; i < listFiles.Count; i++)
        {
            switch (listFiles[i].ca)
            {
                case 1:
                    ca1Number++;
                    break;
                case 2:
                    ca2Number++;
                    break;
                case 3:
                    ca3Number++;
                    break;
                default:
                    break;
            }
        }
    }
}
<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="center black-text">
                <h3><b>BÁO CÁO PHÂN XƯỞNG</b></h3>
                <h5>
                    <i class="fas fa-calendar-alt icon"></i>
                    <input type='text' class='datepicker-here center' id="ngay-chon" data-language='vi' />
                </h5>
            </div>

        </div>
        <div class="row">
            <div class="col l4 m4 s3 center"></div>
            <div style="width:25%" class="col l5 m5 s5 left">
                <select class="form-control" id="phongbanSearch">
                    @{
                        if (ViewBag.phanxuong == null)
                        {
                            <option value="all" selected>Tất cả phòng ban</option>
                        }
                        else
                        {
                            <option value="all">Tất cả phòng ban</option>
                        }
                        for (int i = 0; i < listPX.Count; i++)
                        {
                            if (listPX[i].department_id == ViewBag.phanxuong)
                            {
                                <option value="@(listPX[i].department_id)" selected>@(listPX[i].department_name)</option>
                            }
                            else
                            {
                                <option value="@(listPX[i].department_id)">@(listPX[i].department_name)</option>
                            }
                        }
                    }

                </select>
            </div>
            <div class="col l3 m3 s3 left">
                <button style="width:25%" class="btn blue waves-effect waves-light" id="view-btn-trigger">Xem</button>
            </div>
        </div>

        <hr />
        <div class="row" id="main-content">
            <div class="col s12">

                <div class="card-content">
                    @if (phanxuong.ToLower() != "kcs" && phanxuong.ToLower() != "all")
                    {
                        <h5 class="">Báo cáo từng ca</h5>
                    }
                    <br />
                    <ul class="collapsible expandable">
                        @{
                            if (phanxuong.ToLower() != "kcs" && phanxuong.ToLower() != "all")
                            {
                                if (listFiles != null)
                                {
                                    <!--CA1-->
                                    if (ca1Number == 0)
                                    {
                                        <li class=" not-collapse">
                                            <div class="collapsible-header">
                                                <i class="fas fa-paperclip"></i>Ca 1
                                                <div class="switch" id="switch-ca1">
                                                    <label>
                                                        <input @(ViewBag.ca1IsLock == true ? "checked" : "") type="checkbox">
                                                        <span class="lever"></span>
                                                        Khóa
                                                    </label>
                                                </div>
                                                <span id="ca1" class="badge">Không có tệp nào</span>
                                            </div>
                                            <div class="collapsible-body">
                                                <div class="row">
                                                    <div class="col s12">
                                                        <i>Chưa có file nào</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="active not-collapse">
                                            <div class="collapsible-header">
                                                <i class="fas fa-paperclip"></i>Ca 1
                                                <div class="switch" id="switch-ca1">
                                                    <label>
                                                        <input @(ViewBag.ca1IsLock == true ? "checked" : "") type="checkbox">
                                                        <span class="lever"></span>
                                                        Khóa
                                                    </label>
                                                </div>
                                                <span id="ca1" class="badge">
                                                    @ca1Number tệp
                                                </span>

                                            </div>
                                            <div class="collapsible-body">
                                                @for (int i = 0; i < listFiles.Count; i++)
                                                {
                                                    if (listFiles[i].ca == 1)
                                                    {
                                                        <p>
                                                            <img width="25" style="vertical-align:middle" src="~/assets/uploader/file-icon.png" />
                                                            <a href="/phan-xuong/download-file?location=~/FileContainer/PhanXuongLenDK/@listFiles[i].fileName&fileName=@listFiles[i].fileNameDisplay&fileName=@listFiles[i].fileNameDisplay">@listFiles[i].fileNameDisplay</a>
                                                            @if (listFiles[i].chuthich != "")
                                                            {
                                                                <i> (Ghi chú: @listFiles[i].chuthich )</i>
                                                            }

                                                        </p>
                                                    }
                                                }

                                            </div>
                                        </li>
                                    }

                                    <!--CA2-->
                                    if (ca2Number == 0)
                                    {
                                        <li class="not-collapse">
                                            <div class="collapsible-header">
                                                <i class="fas fa-paperclip"></i>Ca 2
                                                <div class="switch" id="switch-ca2">
                                                    <label>

                                                        <input @(ViewBag.ca2IsLock == true ? "checked" : "") type="checkbox">
                                                        <span class="lever"></span>
                                                        Khóa
                                                    </label>
                                                </div>
                                                <span id="ca2" class="badge">Không có tệp nào</span>
                                            </div>
                                            <div class="collapsible-body">
                                                <div class="row">
                                                    <div class="col s12">
                                                        <i>Chưa có file nào</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="active not-collapse">
                                            <div class="collapsible-header">
                                                <i class="fas fa-paperclip"></i>Ca 2
                                                <div class="switch" id="switch-ca2">
                                                    <label>

                                                        <input @(ViewBag.ca2IsLock == true ? "checked" : "") type="checkbox">
                                                        <span class="lever"></span>
                                                        Khóa
                                                    </label>
                                                </div>
                                                <span id="ca2" class="badge">@ca2Number tệp</span>
                                            </div>
                                            <div class="collapsible-body" style="display: block;">
                                                @for (int i = 0; i < listFiles.Count; i++)
                                                {
                                                    if (listFiles[i].ca == 2)
                                                    {
                                                        <p>
                                                            <img width="25" style="vertical-align:middle" src="~/assets/uploader/file-icon.png" />
                                                            <a href="/phan-xuong/download-file?location=~/FileContainer/PhanXuongLenDK/@listFiles[i].fileName&fileName=@listFiles[i].fileNameDisplay">@listFiles[i].fileNameDisplay</a>
                                                            @if (listFiles[i].chuthich != "")
                                                            {
                                                                <i> (Ghi chú: @listFiles[i].chuthich )</i>
                                                            }

                                                        </p>
                                                    }
                                                }

                                            </div>
                                        </li>
                                    }

                                    <!--CA3-->

                                    if (ca3Number == 0)
                                    {
                                        <li class="not-collapse">
                                            <div class="collapsible-header">
                                                <i class="fas fa-paperclip"></i>Ca 3
                                                <div class="switch" id="switch-ca3">
                                                    <label>

                                                        <input @(ViewBag.ca3IsLock == true ? "checked" : "") type="checkbox">
                                                        <span class="lever"></span>
                                                        Khóa

                                                    </label>
                                                </div>
                                                <span id="ca1" class="badge">Không có tệp nào</span>
                                            </div>
                                            <div class="collapsible-body">
                                                <div class="row">
                                                    <div class="col s12">
                                                        <i>Chưa có file nào</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="active not-collapse">
                                            <div class="collapsible-header">
                                                <i class="fas fa-paperclip"></i>Ca 3
                                                <div class="switch" id="switch-ca3">
                                                    <label>
                                                        <input @(ViewBag.ca3IsLock == true ? "checked" : "") type="checkbox">
                                                        <span class="lever"></span>
                                                        Khóa
                                                    </label>
                                                </div>
                                                <span id="ca1" class="badge">@ca3Number tệp</span>
                                            </div>
                                            <div class="collapsible-body" style="display: block;">
                                                @for (int i = 0; i < listFiles.Count; i++)
                                                {
                                                    if (listFiles[i].ca == 3)
                                                    {
                                                        <p>
                                                            <img width="25" style="vertical-align:middle" src="~/assets/uploader/file-icon.png" />
                                                            <a href="/phan-xuong/download-file?location=~/FileContainer/PhanXuongLenDK/@listFiles[i].fileName&fileName=@listFiles[i].fileNameDisplay">@listFiles[i].fileNameDisplay</a>
                                                            @if (listFiles[i].chuthich != "")
                                                            {
                                                                <i> (Ghi chú: @listFiles[i].chuthich )</i>
                                                            }

                                                        </p>
                                                    }
                                                }

                                            </div>
                                        </li>
                                    }
                                }
                            }

                        }

                        <!------------------------------------------------KCS------------------------------------------------>
                        @{
                            if (phanxuong.ToLower() == "kcs")
                            {
                                <br />
                                <div class="switch" id="switch-kcs">
                                    <label>
                                        <input @(ViewBag.isLock == true ? "checked" : "") type="checkbox">
                                        <span class="lever"></span>
                                        Khóa
                                    </label>
                                </div>
                                <br />
                                <div class="files-container">
                                    @if (listFiles.Count == 0)
                                    {
                                        <i>Không có tập tin nào</i>
                                    }
                                    @for (int i = 0; i < listFiles.Count; i++)
                                    {
                                        <p>
                                            <img width="25" style="vertical-align:middle" src="~/assets/uploader/file-icon.png" />
                                            <a href="/phan-xuong/download-file?location=~/FileContainer/KCS/@listFiles[i].fileName&fileName=@listFiles[i].fileNameDisplay">@listFiles[i].fileNameDisplay</a>
                                            @if (listFiles[i].chuthich != "")
                                            {
                                                <i> (Ghi chú: @listFiles[i].chuthich)</i>
                                            }
                                        </p>
                                    }
                                    <br />
                                </div>
                            }
                        }
                        <!------------------------------------------------All------------------------------------------------>
                        @{
                            if (phanxuong == "all")
                            {
                                var allFilesList = ViewBag.allFilesList;
                                <table class="table-bordered" id="files-table">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>File</th>
                                            <th>Ghi chú</th>
                                            <th>Phân xưởng</th>
                                            <th>Ca</th>
                                            <th>Thời gian</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (allFilesList.Count == 0)
                                        {
                                            <tr>
                                                <td colspan="6"><i>Không có tập tin nào</i></td>
                                            </tr>
                                        }
                                        else
                                        {
                                            for (int i = 0; i < allFilesList.Count; i++)
                                            {
                                                <tr>
                                                    <td>@(i + 1)</td>
                                                    <td class="file-td">
                                                        <img width="25" style="vertical-align:middle" src="~/assets/uploader/file-icon.png" />
                                                        <a href="/phan-xuong/download-file?location=~/FileContainer/@(allFilesList[i].department_id!="KCS"?"PhanXuongLenDK":"KCS")/@allFilesList[i].fileName&fileName=@allFilesList[i].fileNameDisplay">@allFilesList[i].fileNameDisplay</a>
                                                    </td>
                                                    <td>@allFilesList[i].chuthich</td>
                                                    <td>@allFilesList[i].department_name</td>
                                                    <td>@allFilesList[i].ca</td>
                                                    <td>@allFilesList[i].uploadTime.ToString("hh:mm:ss tt")</td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal1" class="modal">
    <div class="modal-content">
        <h4 class="modal_title"></h4>
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col s12">
                        <form action='/' enctype="multipart/form-data" method="post" class="dropzone" id="myAwesomeDropzoneCa1">
                            <div class="fallback">
                                <input type="file" id="fUpload" name="file" class="form-control" multiple />
                            </div>
                            <div class="dz-message needsclick">
                                <i class="medium material-icons dp48">cloud_upload</i>
                                <h3 id="title_uploader">Kéo thả file hoặc click vào đây để tải lên</h3>
                                <span class="text-muted font-13">(File hợp lệ: xls, xlsx)</span>
                            </div>
                        </form>
                        <br />
                        <div class="clearfix text-right mt-3">
                            <button type="button"
                                    class="btn-danger blue waves-effect waves-light btn"
                                    id="btnUpload1">
                                <i class="material-icons dp48">send</i>
                                Tải lên
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal2" class="modal">
    <div class="modal-content">
        <h4 class="modal_title"></h4>
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col s12">
                        <form action='/' enctype="multipart/form-data" method="post" class="dropzone" id="myAwesomeDropzoneCa2">
                            <div class="fallback">
                                <input type="file" id="fUpload" name="file" class="form-control" multiple />
                            </div>
                            <div class="dz-message needsclick">
                                <i class="medium material-icons dp48">cloud_upload</i>
                                <h3 id="title_uploader">Kéo thả file hoặc click vào đây để tải lên</h3>
                                <span class="text-muted font-13">(File hợp lệ: xls, xlsx)</span>
                            </div>
                        </form>
                        <br />
                        <div class="clearfix text-right mt-3">
                            <button type="button"
                                    class="btn-danger blue waves-effect waves-light btn"
                                    id="btnUpload2">
                                <i class="material-icons dp48">send</i>
                                Tải lên
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal3" class="modal">
    <div class="modal-content">
        <h4 class="modal_title"></h4>
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col s12">
                        <form action='/' enctype="multipart/form-data" method="post" class="dropzone" id="myAwesomeDropzoneCa3">
                            <div class="fallback">
                                <input type="file" id="fUpload" name="file" class="form-control" multiple />
                            </div>
                            <div class="dz-message needsclick">
                                <i class="medium material-icons dp48">cloud_upload</i>
                                <h3 id="title_uploader">Kéo thả file hoặc click vào đây để tải lên</h3>
                                <span class="text-muted font-13">(File hợp lệ: xls, xlsx)</span>
                            </div>
                        </form>
                        <br />
                        <div class="clearfix text-right mt-3">
                            <button type="button"
                                    class="btn-danger blue waves-effect waves-light btn"
                                    id="btnUpload3">
                                <i class="material-icons dp48">send</i>
                                Tải lên
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--uPLOADER-->
@*<script src="~/assets/uploader/dropzoneMultiple.js"></script>*@
<script src="~/assets/extra-libs/prism/prism.js"></script>
<script src="~/assets/libs/toastr/build/toastr.min.js"></script>
<script src="~/assets/extra-libs/toastr/toastr-init.js"></script>
<script src="~/assets/sweetalert/alert-quanghanh-js.js"></script>
<script src="~/assets/sweetalert/sweetalert2.min.js"></script>
<script src="~/assets/sweetalert/sweetalert2.all.min.js"></script>
<script>
    $(".not-collapse").on("click", function (e) { e.stopPropagation(); });
    $("#switch-ca1").find("input").change(function () {
        if ($(this).is(":checked")) {
            lock(1);
        }
        else {
            unLock(1);
        }
    });
    $("#switch-ca2").find("input").change(function () {
        if ($(this).is(":checked")) {
            lock(2);
        }
        else {
            unLock(2);
        }
    });
    $("#switch-ca3").find("input").change(function () {
        if ($(this).is(":checked")) {
            lock(3);
        }
        else {
            unLock(3);
        }
    });
    $("#switch-kcs").find("input").change(function () {
        if ($(this).is(":checked")) {
            lockKCS();
        }
        else {
            unLockKCS();
        }
    });
</script>
<script>
    $(function () {
        $(".select-dropdown").remove();
        $(".caret").remove();
        //////////////////////////////////////
         $("#ngay-chon").datepicker({
        toggleSelected: false,
        language: 'vi'
            });
        var date = new Date();
        var selectedDate = "";
        selectedDate="@ViewBag.ngay";
        if (selectedDate === "0") {
            $("#ngay-chon").val(date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear());
        } else {
            $("#ngay-chon").val(selectedDate);
        }

        $(".datepicker-inline").remove();
    })
</script>



<script>

    $('#ngay-chon').datepicker({
        language: 'vi',
        maxDate: new Date(new Date().setDate(new Date().getDate())), // Now can select only dates, which goes after today
        onSelect: function (fd, d, picker) {
             var ngay = $('#ngay-chon').val();
            while (ngay.includes('/')) {
                ngay = ngay.replace('/', '-');
            }
            //window.location.href ='/phan-xuong/nhap-bao-cao-len-phong-dk?phanxuong=@ViewBag.phanxuong&ngay=' + ngay;
        }
    });

    $("#view-btn-trigger").click(function () {
        var selectedOption = $('#phongbanSearch').find(":selected").val();
             var ngay = $('#ngay-chon').val();
        window.location.href ="/phong-dieu-khien/bao-cao-phan-xuong-phong-ban?phanxuong="+selectedOption+"&ngay=" + ngay;

    })
</script>
<script>
    function lock(ca) {
        $("#pre-load").show("slow", function () { });
        $.ajax({
            url: '/phong-dieu-khien/lock-nhap-bao-cao',
            type: 'post',
            dataType: 'json',
            data: {
                'ngay': $('#ngay-chon').val(),
                'ca': ca,
                'phanxuong': "@ViewBag.phanxuong"
            },
            success: function (response) {
                if (response.success) {
                    $("#pre-load").hide("slow", function () { });
                } else {
                    $("#pre-load").hide("slow", function () { });
                    errorAlert(response.message, "");
                    $("#switch-ca" + ca).find("input").prop("checked", false);
                }
            }
        })
    }
    function unLock(ca) {
        $("#pre-load").show("slow", function () { });
        $.ajax({
            url: '/phong-dieu-khien/unlock-nhap-bao-cao',
            type: 'post',
            dataType: 'json',
            data: {
                'ngay': $('#ngay-chon').val(),
                'ca': ca,
                'phanxuong': "@ViewBag.phanxuong"
            },
            success: function (response) {
                if (response.success) {
                    $("#pre-load").hide("slow", function () { });
                } else {
                    $("#pre-load").hide("slow", function () { });
                    errorAlert(response.message, "");
                    $("#switch-ca" + ca).find("input").prop("checked", true);
                }
            }
        })
    }
    function lockKCS() {
        $("#pre-load").show("slow", function () { });
        $.ajax({
            url: '/phong-dieu-khien/lock-nhap-bao-cao-kcs',
            type: 'post',
            dataType: 'json',
            data: {
                'ngay': $('#ngay-chon').val(),
                'phanxuong': "kcs"
            },
            success: function (response) {
                if (response.success) {
                    $("#pre-load").hide("slow", function () { });
                } else {
                    $("#pre-load").hide("slow", function () { });
                    errorAlert(response.message, "");
                    $("#switch-ca" + ca).find("input").prop("checked", false);
                }
            }
        })
    }
    function unLockKCS() {
        $("#pre-load").show("slow", function () { });
        $.ajax({
            url: '/phong-dieu-khien/unlock-nhap-bao-cao-kcs',
            type: 'post',
            dataType: 'json',
            data: {
                'ngay': $('#ngay-chon').val(),
                'phanxuong': "kcs"
            },
            success: function (response) {
                if (response.success) {
                    $("#pre-load").hide("slow", function () { });
                } else {
                    $("#pre-load").hide("slow", function () { });
                    errorAlert(response.message, "");
                    $("#switch-ca" + ca).find("input").prop("checked", true);
                }
            }
        })
    }
</script>