@{
    ViewData["Title"] = "PlaceAndTime";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}

<div class="card">
    <div class="card-content">
        <div class="row">
            <div class="col m12">
                <h3 class="center"><b>CHI TIẾT TRUNG ĐẠI TU</b></h3>
                <form method="post" id="myform">
                    <div class="col s3 m3">
                        <textarea name="data" hidden value="" id="json"></textarea>
                        <label for="department_id_to">Trung đại tu tại <i class="fa fa-asterisk" style="font-size:10px;color:red"></i></label>
                        <input id="department_id_to" name="department_id_to" type="text" required class='form-control' list="departmentName" value="@ViewBag.department_id" />
                    </div>
                    <div class="col s3 m3">
                        <label for="out_in_come">Nguồn vốn <i class="fa fa-asterisk" style="font-size:10px;color:red"></i></label>
                        <input id="out_in_come" name="out_in_come" class="form-control" type="text" />
                    </div>
                    <div class="col s3 m3">
                        <label for="reason">Nội dung <i class="fa fa-asterisk" style="font-size:10px;color:red"></i></label>
                        <input id="reason" name="reason" class="form-control" type="text" required />
                    </div>
                    <div class="col s12 table_container">
                        <table id="mytablevattu" class="striped table-responsive center table-bordered">
                            <thead>
                                <tr>
                                    <th class="center-align">Mã thiết bị<span></span></th>
                                    <th class="center-align">Tên thiết bị<span></span></th>
                                    <th class="center-align">Tình trạng thiết bị<span></span></th>
                                    <th class="center-align">Loại trung đại tu<span></span></th>
                                    <th class="center-align">Lý do (không bắt buộc)<span></span></th>
                                    <th class="center-align">Ngày dự kiến xong<span></span></th>
                                    <th class="center-align">Loại trung đại tu tiếp theo<span></span></th>
                                    <th class="center-align">Thời gian trung đại tu tiếp theo (giờ)<span></span></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < ViewBag.DataThietBi.Count; i++)
                                {
                                <tr id="@i">
                                    <td>@ViewBag.DataThietBi[i].equipmentId</td>
                                    <td>@ViewBag.DataThietBi[i].equipment_name</td>
                                    <td>@ViewBag.DataThietBi[i].statusname</td>
                                    <td>
                                        <select class='form-control'><option>Trung tu</option><option>Đại tu</option> </select>
                                    </td>
                                    <td>
                                        <input type='text' class='form-control' />
                                    </td>
                                    <td>
                                        <input type='text' required class='center datepicker-here form-control minDate' data-language='vi' />
                                    </td>
                                    <td>
                                        <select class='form-control'><option>Trung tu</option><option>Đại tu</option> </select>
                                    </td>
                                    <td>
                                        <input type='text' required class='center datepicker-here form-control minDate' data-language='vi' />
                                    </td>
                                    <td>
                                        <a class="btn blue darken-2 modal-trigger open-Modal" data-id="@i" href="#mylist">Chi tiết VT to</a>
                                    </td>
                                    <td>
                                        <a class="btn blue darken-2 modal-trigger open-Modal-DuPhong" data-id="@i" href="#mylist">Chi tiết VT nhỏ</a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                        <div class="col m12">
                            <div class=" div-center custom-divider"></div>
                        </div>
                    </div>
                </form>
                <div class="col l12 m12 s12 center">
                    <a id="export-button" class="btn blue darken-2">Xuất quyết định</a>
                    <a id="submit" class="btn blue darken-2 modal-trigger">Tạo quyết định trung đại tu</a>
                    <a href="quyet-dinh/trung-dai-tu" class="btn blue darken-2 ">Quay lại</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="mylist">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="listId"></h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <form>
                    <table id="test" class="striped table-responsive center table-bordered mytable">
                        <thead>
                            <tr>
                                <th>Mã vật tư</th>
                                <th>Số lượng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type='text' list='supplyID' class='form-control required' /></td>
                                <td><input type='number' min='1' value='1' class='form-control' /></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a id="addcolumn" class="waves-effect waves-light btn blue darken-2 left">Thêm</a>
            <a id="submitvattu" class="waves-effect waves-light btn blue darken-2 modal-close">Lưu</a>
            <button type="button" class="btn light-blue lighten-1 modal-close" id="exit-button">Thoát</button>
        </div>
    </div>
</div>

<div class="modal" id="confirm">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Bạn có muốn tạo quyết định này không?</h3>
        </div>
        <div class="modal-footer">
            <a id="create" class="waves-effect waves-light btn blue darken-2 center">Tạo</a>
            <a class="btn light-blue lighten-1 modal-close center">Thoát</a>
        </div>
    </div>
</div>

<input type="hidden" id="hidden_thietbi" value="" />

<datalist id="supplyID">
    @foreach (var item in ViewBag.Supplies)
    {
        <option value="@item.supply_id">@item.supply_name</option>
    }
</datalist>

<datalist id="departmentName">
    @foreach (var item in ViewBag.Departments)
    {
        <option value="@item.department_id">@item.department_name</option>
    }
</datalist>

<datalist id="equipAttached">
    @foreach (var item in ViewBag.equipAttached)
    {
        <option value="@item.equipmentId">@item.equipment_name</option>
    }
</datalist>

<script src="~/js/Custom JS/CDVT/QuyetDinh/datePicker.js"></script>
<script>
    var output = {};
    var equipAttached = 0;
    var equipId;

    $(document).ready(function () {
        $('input[required]').each(function myfunction() {
            $(this).attr("oninvalid", "setCustomValidity('Không được bỏ trống ô này')");
            $(this).attr("oninput", "this.setCustomValidity('')");
        })
    })

    $("#addcolumn").click(function () {
        if (equipAttached == 0)
            var $tr = $('<tr>').append(
                $('<td>').html("<input type='text' list='supplyID' class='form-control required' />"),
                $('<td>').html("<input type='number' min='1' value='1' class='form-control' />"),
            );
        else
            var $tr = $('<tr>').append(
                $('<td>').html("<input type='text' list='equipAttached' class='form-control required' />"),
                $('<td>').html("<input type='number' min='1' value='1' class='form-control' />"),
            );
        $tr.appendTo('#test tbody');
    });
    //tạo json cho thiết bị khi nhập submit vật tư
    $("#submitvattu").click(function () {
        var arr = [];
        for (var i = 1; i < $('#test tbody tr').length + 1; i++) {
            if ($('#mylist #test tbody tr:nth-child(' + i + ') input').eq(0).val() != "" &&
                $('#mylist #test tbody tr:nth-child(' + i + ') input').eq(2).val() != "") {
                var dikem = {};
                dikem.supply_id = $('#mylist #test tbody tr:nth-child(' + i + ') input').eq(0).val();
                dikem.quantity = $('#mylist #test tbody tr:nth-child(' + i + ') input').eq(1).val();
                arr.push(dikem);
            }
        }
        if (equipAttached == 1) {
            output[equipId].dikem = arr;
        }
        else {
            output[equipId].duphong = arr;
        }
        $('#json').val(JSON.stringify(output))
    })

    $(document).ready(function () {
        for (var i = 0; i < $('#mytablevattu tbody tr').length; i++) {
            var thietbi = {};
            thietbi.id = $('#mytablevattu tbody tr:nth-child(' + (i + 1) + ') td').eq(0).text();
            thietbi.dikem = [];
            thietbi.duphong = [];
            output[i] = thietbi;
        }
        $('#json').val(JSON.stringify(output))
    })

    function validateVattu() {
        for (var key in output) {
            if (output[key].dikem.length == 0 && output[key].duphong.length == 0)
                return false;
        }
        return true;
    }

</script>
@section scripts{
    <script>
        $(document).on("click", ".open-Modal", function () {
            equipAttached = 1;
            $('#pre-load').show();
            equipId = $(this).data('id');
            $("#test").find("tr:gt(0)").remove();
            var equipmentId = $('#' + equipId + ' td:first-child').text();
            $('#listId').text("Chi tiết vật tư to của thiết bị " + equipmentId)
            if (output[equipId].dikem.length == 0) {
                $.ajax({
                    type: "POST",
                    url: "/phong-cdvt/thiet-bi/get-attached-equipment",
                    dataType: "json",
                    success: function (data) {
                        $.each(data, function (i, item) {
                            var $tr = $('<tr>').append(
                                $('<td>').html("<input type='text' list='equipAttached' class='form-control required' value='" + item.equipmentId_dikem + "' /> "),
                                $('<td>').html("<input type='number' min='1' class='form-control' value='0' /> ")
                            );
                            $tr.appendTo('#test tbody');
                        });
                        $('#pre-load').hide();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $('#pre-load').hide();
                    },
                    data: {
                        equipmentId: equipmentId
                    },
                    cache: false
                })
            }
            else {
                for (var i = 0; i < output[equipId].dikem.length; i++) {
                    var item = output[equipId].dikem[i];
                    var $tr = $('<tr>').append(
                        $('<td>').html("<input type='text' list='equipAttached' class='form-control required' value='" + item.supply_id + "' /> "),
                        $('<td>').html("<input type='number' min='1' class='form-control' value='" + item.quantity + "' /> ")
                    );
                    $tr.appendTo('#test tbody');
                }
                $('#pre-load').hide();
            }
        })

        $(document).on("click", ".open-Modal-DuPhong", function () {
            equipAttached = 0;
            $('#pre-load').show();
            equipId = $(this).data('id');
            $("#test").find("tr:gt(0)").remove();
            var equipmentId = $('#' + equipId + ' td:first-child').text();
            $('#listId').text("Danh sách vật tư dự phòng của thiết bị " + equipmentId)
            if (output[equipId].duphong.length == 0) {
                $.ajax({
                    type: "POST",
                    url: "/phong-cdvt/thiet-bi/get-supply2",
                    dataType: "json",
                    success: function (data) {
                        $.each(data, function (i, item) {
                            var $tr = $('<tr>').append(
                                $('<td>').html("<input type='text' list='supplyID' class='form-control required' value='" + item.supply_id + "' /> "),
                                $('<td>').html("<input type='number' min='1' class='form-control' value='" + item.quantity + "' /> ")
                            );
                            $tr.appendTo('#test tbody');
                        });
                        $('#pre-load').hide();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $('#pre-load').hide();
                    },
                    data: {
                        equipmentId: equipmentId
                    },
                    cache: false
                })
            }
            else {
                for (var i = 0; i < output[equipId].duphong.length; i++) {
                    var item = output[equipId].duphong[i];
                    var $tr = $('<tr>').append(
                        $('<td>').html("<input type='text' list='supplyID' class='form-control required' value='" + item.supply_id + "' /> "),
                        $('<td>').html("<input type='number' min='1' class='form-control' value='" + item.quantity + "' /> ")
                    );
                    $tr.appendTo('#test tbody');
                }
                $('#pre-load').hide();
            }
        })

        //validate
        $('#submit').click(function () {
            var validate = 1;
            $(':input[required]:visible').each(function () {
                if ($(this).val() == "") {
                    $(this).focus();
                    validate = 0;
                }
            })
            if (validate == 1) {
                if (!validateVattu())
                    errorAlert("Phải điền đầy đủ vật tư vào thiết bị")
                else {
                    for (var key in output) {
                        output[key].remodel_type = $('#' + key + ' select').eq(0).val();
                        output[key].equipment_big_maintain_reason = $('#' + key + ' input').eq(0).val();
                        output[key].end_date = $('#' + key + ' input').eq(1).val();
                        output[key].next_remodel_type = $('#' + key + ' select').eq(1).val();
                        output[key].next_end_time = $('#' + key + ' input').eq(2).val();
                    }
                    $('#json').val(JSON.stringify(output))
                    $('#confirm').modal("open");

                }
            } else
                errorAlert("Các ô đánh dấu * không được bỏ trống")
        })

        $('#create').click(function () {
            $('#myform').submit();
        })


        $("#export-button").click(function () {
            window.location = '/phong-cdvt/quyet-dinh/export-word?data=' + $('#json').val()
                + '&title=' + $('input[name = "reason"]').val() + '&department_id='
                + $('#department_id_to').val() + '&documentary_type=' + 6
                + '&fileName=Quyết định trung đại tu.docx' + '&resource=' + $('input[name = "out_in_come"]').val()
        });
    </script>
}