@{
    ViewData["Title"] = "thuhoichon";
    Layout = "~/Views/Shared/_Layout_CDVT.cshtml";
}

<div class="card">
    <div class="card-content">
        <div class="row center">
            <div class="col m12">
                <h3><b>CHI TIẾT THU HỒI</b></h3>
                @if (ViewBag.validate == 0)
                {
                    <h4>Bạn đã chọn 2 hoặc nhiều thiết bị khác vị trí, xin vui lòng <a href="/phong-cdvt/thu-hoi">quay lại</a></h4>
                }
                else
                {
                    <form method="post" id="myform">
                        <div class="col s3 m3">
                            <textarea name="data" hidden value="" id="json"></textarea>
                            <input  id="documentary_code" name="documentary_code" disabled class="form-control" type="text" placeholder="Nhập mã quyết định" />
                        </div>
                        <div class="col s3 m3">
                            <input name="out_in_come" class="form-control" type="text" placeholder="Nhập nguồn vốn" />
                        </div>
                        <div class="col s3 m3">
                            <input class="form-control" type="text" disabled value="@ViewBag.department_name" />
                            <input name="department_id" type="hidden" readonly value="@ViewBag.department_id" />
                        </div>
                        <div class="col s3 m3">
                            <input name="reason" class="form-control" type="text" required placeholder="nội dung quyết định" />
                        </div>
                        <div class="col s12 table_container">
                            <table id="mytablevattu" class="striped table-responsive centered table-bordered">
                                <thead>
                                    <tr>
                                        <th class="center-align">Mã thiết bị<span></span></th>
                                        <th class="center-align">Tên thiết bị<span></span></th>
                                        <th class="center-align">Tình trạng thiết bị<span></span></th>
                                        <th class="center-align">Lý do thu hồi (Không bắt buộc)<span></span></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < ViewBag.DataThietBi.Count; i++)
                                    {
                                    <tr id="@i">
                                        <td>@ViewBag.DataThietBi[i].equipmentId</td>
                                        <td>@ViewBag.DataThietBi[i].equipment_name</td>
                                        <td>@ViewBag.DataThietBi[i].statusname</td>
                                        <td>
                                            <input type='text' class='form-control' />
                                        </td>
                                        <td>
                                            <a class="btn blue darken-2 modal-trigger open-Modal" data-id="@i" href="#mylist">VT đi kèm</a>
                                        </td>
                                        <td>
                                            <a class="btn blue darken-2 modal-trigger open-Modal2" data-id="@i" href="#mylist">VT dự phòng</a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <div class="col l12 m12 s12 center">
                        <a id="export-button" class="btn blue darken-2">Xuất quyết định</a>
                        <a id="submit" class="btn blue darken-2 modal-trigger">Xác nhận thu hồi thiết bị</a>
                        <a href="thu-hoi" class="btn blue darken-2 ">Quay lại</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal" id="mylist">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="listId"></h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <form>
                    <table id="test" class="striped table-responsive center table-bordered mytable">
                        <thead>
                            <tr>
                                <th>Mã vật tư</th>
                                <th>Số lượng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type='text' list='supplyID' class='form-control required' /></td>
                                <td><input type='number' min='1' value='1' class='form-control' /></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <input type="hidden" id="rownumber" disabled />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn light-blue lighten-1 modal-close" id="exit-button">Thoát</button>
        </div>
    </div>
</div>

<div class="modal" id="confirm">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Bạn có muốn tạo quyết định này không?</h3>
        </div>
        <div class="modal-footer">
            <a id="create" class="waves-effect waves-light btn blue darken-2 center">Tạo</a>
            <a class="btn light-blue lighten-1 modal-close center">Thoát</a>
        </div>
    </div>
</div>

<datalist id="supplyID">
    @foreach (var item in ViewBag.Supplies)
    {
        <option value="@item.supply_id">@item.supply_name</option>
    }
</datalist>

<datalist id="departmentName">
    @foreach (var item in ViewBag.Departments)
    {
        <option value="@item.department_id">@item.department_name</option>
    }
</datalist>

<script>
    var output = {};

    $(document).ready(function () {
        $('input[required]').each(function myfunction() {
            $(this).attr("oninvalid", "setCustomValidity('Không được bỏ trống ô này')");
            $(this).attr("oninput", "this.setCustomValidity('')");
        })
    })

    $('.minDate').datepicker({
        language: 'vi',
        minDate: new Date() // Now can select only dates, which goes after today
    })

    $(document).ready(function () {
        $('.datepicker-inline').remove();
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!

        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        var today = dd + '/' + mm + '/' + yyyy;
        $(".minDate").each(function () {
            $(this).val(today);
        });
    })
    //đọc lại json rồi apply vào modal
    $(document).on("click", ".open-Modal", function () {
        $('#pre-load').show();
        var id = $(this).data('id');
        $('#rownumber').val(id);
        $("#test").find("tr:gt(0)").remove();
        var equipmentId = $('#' + id + ' td:first-child').text();
        $('#listId').text("Danh sách vật tư đi kèm của thiết bị " + equipmentId)
        $.ajax({
            type: "POST",
            url: "/phong-cdvt/thiet-bi/get-supply",
            dataType: "json",
            success: function (data) {
                $.each(data, function (i, item) {
                    var $tr = $('<tr>').append(
                        $('<td>').text(item.supply_id),
                        $('<td>').text(item.quantity)
                    );
                    $tr.appendTo('#test tbody');
                });
                $('#pre-load').hide();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#pre-load').hide();
            },
            data: {
                equipmentId: equipmentId
            },
            cache: false
        })
    })

    $(document).on("click", ".open-Modal2", function () {
        $('#pre-load').show();
        var id = $(this).data('id');
        $('#rownumber').val(id);
        $("#test").find("tr:gt(0)").remove();
        var equipmentId = $('#' + id + ' td:first-child').text();
        $('#listId').text("Danh sách vật tư đi kèm của thiết bị " + equipmentId)
        $.ajax({
            type: "POST",
            url: "/phong-cdvt/thiet-bi/get-supply2",
            dataType: "json",
            success: function (data) {
                $.each(data, function (i, item) {
                    var $tr = $('<tr>').append(
                        $('<td>').text(item.supply_id),
                        $('<td>').text(item.quantity)
                    );
                    $tr.appendTo('#test tbody');
                });
                $('#pre-load').hide();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#pre-load').hide();
            },
            data: {
                equipmentId: equipmentId
            },
            cache: false
        })
    })

    $(document).ready(function () {
        for (var i = 0; i < $('#mytablevattu tbody tr').length; i++) {
            var thietbi = {};
            var arr = [];
            thietbi.id = $('#mytablevattu tbody tr:nth-child(' + (i + 1) + ') td').eq(0).text();
            thietbi.vattu = arr;
            output[i] = thietbi;
        }
        $('#json').val(JSON.stringify(output))
    })
</script>
@section scripts{
    <script>
        //validate
        $('#submit').click(function () {
            for (var key in output) {
                output[key].equipment_revoke_reason = $('#' + key + ' input').eq(0).val();
            }
            $('#json').val(JSON.stringify(output))
            $('#confirm').modal("open");
        })

        $('#create').click(function () {
            $('#myform').submit();
        })

        $("#export-button").click(function () {
            $("#pre-load").show();
            $.ajax({
                type: "POST",
                url: "/phong-cdvt/thu-hoi-chon/export",
                data: {
                    data: $('#json').val(),
                    documentary_code: $('#documentary_code').val()
                },
                cache: false,
                success: function (response) {
                    if (response.success) {
                        window.location.href = response.location;
                        $("#pre-load").hide("slow", function () {
                        });
                    } else {
                        $.notify("ối, có lỗi xảy ra", {
                            globalPosition: "top center",
                            className: "error"
                        });
                    }
                }
            });
        });
    </script>
}