@{
    ViewData["Title"] = "Daily";
    Layout = "~/Views/Shared/_Layout_DK.cshtml";
}
<link href="~/assets/Custom css/DK/ReportHuman/report.css" rel="stylesheet" />
<form id="form" action="/phong-dieu-khien/bao-cao-nhan-luc/bao-cao-nhan-luc-theo-ngay" method="post">
    <input type="text" id="date" name="d" style="display:none !important" />
</form>
<div class="card">
    <div class="card-content">
        <div class="col s12 center">
            <div class="card-title">
                <h3><b>BÁO CÁO NHÂN LỰC CÁC PHÂN XƯỞNG THEO NGÀY</b></h3>
                <i class="fas fa-calendar-alt icon"></i>
                <input id="data" type='text' class='datepicker-here center date-click' data-language='vi' placeholder="Chọn ngày" />
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s6 center"><a class="active" href="#bcnl">Biểu đồ báo cáo nhân lực</a></li>
                        <li class="tab col s6 center"><a href="#chitiet">Báo cáo nhân lực chi tiết</a></li>
                    </ul>
                </div>
            </div>
            <hr />
            <div class="row">
                <!-----------Chart----------------->
                <div id="bcnl">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content analytics-info">
                                        <div id="bar-basic" style="height:1000px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-----------Report----------------->
                <div id="chitiet">

                    <div class="col s12 btn-mg">
                    </div>
                    <div class="col s12">
                        <div class="table-responsive">
                            <table class="centered table table-bordered" style="zoom:80%;">
                                <tr>
                                    <th rowspan="3">Đơn vị</th>
                                    <th rowspan="3">TổngLĐ PX trừ nghỉ dài</th>
                                    <th rowspan="3">Tổng LĐ PX theo DS</th>
                                    <th rowspan="3">Q.lý C.ty giao</th>
                                    <th rowspan="3">Tổng LĐ TT DS</th>
                                    <th rowspan="3">Tổng LĐ PX báo</th>
                                    <th rowspan="3">KH LĐ nghỉ dài</th>
                                    <th colspan="10">Tổng lao động</th>
                                    <th colspan="10">K1</th>
                                    <th colspan="10">K2</th>
                                    <th colspan="10">K3</th>
                                    <th rowspan="3">% đi làm LĐ TT</th>
                                </tr>
                                <tr>
                                    <th colspan="5">Đi làm</th>
                                    <th colspan="5">Vắng</th>
                                    <th colspan="5">Đi làm</th>
                                    <th colspan="5">Vắng</th>
                                    <th colspan="5">Đi làm</th>
                                    <th colspan="5">Vắng</th>
                                    <th colspan="5">Đi làm</th>
                                    <th colspan="5">Vắng</th>
                                </tr>
                                <tr>
                                    <th>Tổng</th>
                                    <th>LĐTT</th>
                                    <th>KT</th>
                                    <th>CĐ</th>
                                    <th>QL</th>

                                    <th>Tổng</th>
                                    <th>Vlđ</th>
                                    <th>Ốm</th>
                                    <th>P</th>
                                    <th>Khác</th>

                                    <th>Tổng</th>
                                    <th>LĐTT</th>
                                    <th>KT</th>
                                    <th>CĐ</th>
                                    <th>QL</th>

                                    <th>Tổng</th>
                                    <th>Vlđ</th>
                                    <th>Ốm</th>
                                    <th>P</th>
                                    <th>Khác</th>

                                    <th>Tổng</th>
                                    <th>LĐTT</th>
                                    <th>KT</th>
                                    <th>CĐ</th>
                                    <th>QL</th>

                                    <th>Tổng</th>
                                    <th>Vlđ</th>
                                    <th>Ốm</th>
                                    <th>P</th>
                                    <th>Khác</th>

                                    <th>Tổng</th>
                                    <th>LĐTT</th>
                                    <th>KT</th>
                                    <th>CĐ</th>
                                    <th>QL</th>

                                    <th>Tổng</th>
                                    <th>Vlđ</th>
                                    <th>Ốm</th>
                                    <th>P</th>
                                    <th>Khác</th>
                                </tr>
                                @{
                                    foreach (var item in ViewBag.list)
                                    {
                                        <tr>
                                            <td>@item.MaPhongBan</td>
                                            <td>@item.tong_tru_nghidai</td>
                                            <td></td>
                                            <td>@item.QL_CTy</td>
                                            <td></td>
                                            <td>@item.LDPX</td>
                                            <td></td>

                                            <td>@item.tong</td>
                                            <td>@item.tong_LDTT</td>
                                            <td>@item.tong_KT</td>
                                            <td>@item.tong_CD</td>
                                            <td>@item.tong_QL</td>
                                            <td>@item.tong_vang</td>
                                            <td>@item.tong_vld</td>
                                            <td>@item.tong_om</td>
                                            <td>@item.tong_p</td>
                                            <td>@item.tong_khac</td>

                                            <td>@item.tong1</td>
                                            <td>@item.LDTT1</td>
                                            <td>@item.KT1</td>
                                            <td>@item.CD1</td>
                                            <td>@item.QL1</td>
                                            <td>@item.vang1</td>
                                            <td>@item.vld1</td>
                                            <td>@item.om1</td>
                                            <td>@item.p1</td>
                                            <td>@item.khac1</td>

                                            <td>@item.tong2</td>
                                            <td>@item.LDTT2</td>
                                            <td>@item.KT2</td>
                                            <td>@item.CD2</td>
                                            <td>@item.QL2</td>
                                            <td>@item.vang2</td>
                                            <td>@item.vld2</td>
                                            <td>@item.om2</td>
                                            <td>@item.p2</td>
                                            <td>@item.khac2</td>

                                            <td>@item.tong3</td>
                                            <td>@item.LDTT3</td>
                                            <td>@item.KT3</td>
                                            <td>@item.CD3</td>
                                            <td>@item.QL3</td>
                                            <td>@item.vang3</td>
                                            <td>@item.vld3</td>
                                            <td>@item.om3</td>
                                            <td>@item.p3</td>
                                            <td>@item.khac3</td>

                                            <td id="bq">@item.tile</td>
                                        </tr>
                                    }
                                }


                            </table>
                        </div>
                        <div class="btn-mg2">
                            <a id="export-button" class="waves-effect waves-light btn blue">Xuất ra file excel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h3><b>Bạn có chắc chắn muốn lưu không?</b></h3>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn blue" id="btn_agrr">Đồng ý</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn red">Hủy bỏ</a>
    </div>
</div>
<!------------Javascript--------------->
<script>
     var x = '@ViewBag.dat';

    //export fuction
    $("#export-button").click(function () {
        $("#pre-load").show();
        $.ajax({
            type: "POST",
            url: "/phong-dieu-khien/bao-cao-nhan-luc/bao-cao-nhan-luc-theo-ngay/export",
            data: {
                "date": x,
            },
            cache: false
        }).done(function () {
            window.location.href = "/excel/DK/baocaongay.xlsx";
            $("#pre-load").hide();
        })
    });

    function change() {
        var data = document.getElementById("data").value;
        document.getElementById("date").value = data;
        document.getElementById("form").submit();
    }

    $(document).ready(function () {
        $(".date-click").datepicker({
            onSelect: function (dateText) {
                change();
            }
        });
        document.getElementById("data").value = x;
    })
</script>
<script src="~/assets/libs/echarts/dist/echarts-en.min.js"></script>
<script src="~/js/Custom JS/DK/ReportHuman/beo_echart.js"></script>
<script src="~/js/Custom JS/DK/ReportHuman/editable.js"></script>