@{
    ViewData["Title"] = "Monthly";
    Layout = "~/Views/Shared/_Layout_DK.cshtml";
}
<link href="~/css/preloader/css.css" rel="stylesheet" />

<link href="~/assets/extra-libs/css-chart/css-chart.css" rel="stylesheet" />
<link href="~/dist/css/pages/easy-pie-chart.css" rel="stylesheet" />
<link href="/assets/extra-libs/css-chart/css-chart.css" rel="stylesheet">
<link href="/dist/css/pages/easy-pie-chart.css" rel="stylesheet">

<link href="~/assets/Custom css/DK/ReportHuman/report.css" rel="stylesheet" />
<link href="~/assets/Custom css/DK/ReportHuman/ReportChart_Mothly.css" rel="stylesheet" />
<form id="form" action="/phong-dieu-khien/bao-cao-nhan-luc/bao-cao-nhan-luc-theo-thang" method="post">
    <input type="text" id="date" name="date" style="display:none !important" />
</form>
<div class="card">
    <div class="card-content">
        <div class="col s12 center">
            <div class="card-title">
                <h3><b>BÁO CÁO NHÂN LỰC CÁC PHÂN XƯỞNG THEO THÁNG</b></h3>
                <i class="fas fa-calendar-alt icon"></i>
                <input id="data"
                       name="date"
                       type="text"
                       class="datepicker-here center date-click"
                       data-min-view="months"
                       data-view="months"
                       data-date-format="MM yyyy" />
            </div>
            <hr />
        </div>
        <div class="container-fluid">
            @*<div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s6 center"><a class="active" href="#bcnl">Biểu đồ báo cáo nhân lực</a></li>
                        <li class="tab col s6 center"><a href="#chitiet">Báo cáo nhân lực chi tiết</a></li>
                    </ul>
                </div>
            </div>
            <hr />*@
            @*<div id="bcnl">
                <div class="row">
                    <div class="col l4 m12 s12 center">
                        <div class="card">
                            <div class="card-content analytics-info card_report">
                                <h5 class="card-title">Tổng số nhân lực</h5>
                                <br> <br />
                                <div class="summary_number"><h3><b>1898</b></h3></div>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m12 s12 center">
                        <div class="card">
                            <div class="card-content analytics-info card_report">
                                <h5 class="card-title">Bình quân huy động nhân lực của tháng</h5>
                                <div class="chart easy-pie-chart-1" data-percent="84.3"> <span class="percent">8/100</span> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m12 s12 center">
                        <div class="card">
                            <div class="card-content analytics-info card_report">
                                <h5 class="card-title">Tổng số lao động nghỉ ốm dài</h5>
                                <br> <br />
                                <div class="summary_number"><h3><b>100</b></h3></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row center">
                    <div class="col l12">
                        <div class="card">
                            <div class="card-content analytics-info">
                                <h5 class="card-title center">Tổng nhân lực,công nhân trực tiếp và công nhân đi làm</h5>
                                <div id="bar-basic" style="height:1000px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col l12">
                        <div class="card">
                            <div class="card-content analytics-info">
                                <h5 class="card-title">Lao động nghỉ dài theo từng đơn vị</h5>
                                <div id="basic-bar" style="height:400px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col l12">
                        <div class="card">
                            <div class="card-content analytics-info">
                                <h5 class="card-title center">Nhân lực huy động bình quân theo từng đơn vị</h5>
                                <div id="basic-bar1" style="height:400px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            <div id="chitiet">
                <div class="col s12">
                    <div class="table-responsive">
                        <table class="centered table table-bordered" style="zoom:80%;">
                            <tr>
                                <th rowspan="2">STT</th>
                                <th rowspan="2">Phân xưởng</th>
                                <th rowspan="2">Tổng NLPX</th>
                                <th rowspan="2">Quản lý</th>
                                <th colspan="4">Công nhân trực tiếp</th>
                                <th rowspan="2">Nghỉ vô, ốm dài</th>
                                <th colspan="2">Công nhân trực tiếp</th>
                                <th colspan="5">Huy động nhân lực</th>
                            </tr>
                            <tr>
                                <th>Tổng</th>
                                <th>CĐ</th>
                                <th>KT</th>
                                <th>HSTT</th>
                                <th>Tổng</th>
                                <th>BQ ca</th>
                                <th>Tuần 1</th>
                                <th>Tuần 2</th>
                                <th>Tuần 3</th>
                                <th>Tuần 4</th>
                                <th>BQ tháng</th>
                            </tr>
                            @{
                                foreach (var item in ViewBag.list)
                                {
                                    <tr>
                                        <td></td>
                                        <td>@item.MaPhongBan</td>
                                        <td>@item.ds</td>
                                        <td>@item.ql</td>
                                        <td>@item.congnhan</td>
                                        <td>@item.cd</td>
                                        <td>@item.kt</td>
                                        <td>@item.hstt</td>
                                        <td>@item.vang</td>
                                        <td>@item.dilam</td>
                                        <td></td>
                                        <td>@item.tuan1</td>
                                        <td>@item.tuan2</td>
                                        <td>@item.tuan3</td>
                                        <td>@item.tuan4</td>
                                        <td>@item.tile</td>
                                    </tr>
                                }
                            }


                        </table>
                    </div>
                    <div class="btn-mg">
                        <a id="export-button" class="waves-effect waves-light btn blue"><b>Xuất ra file excel</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal1" class="modal">
    <div class="modal-content">
        <h3><b>Bạn có chắc chắn muốn lưu không?</b></h3>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn blue" id="btn_agrr">Đồng ý</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn red">Hủy bỏ</a>
    </div>
</div>
<script>
     var x = '@ViewBag.dat';

    //export fuction
    $("#export-button").click(function () {
        $("#pre-load").show();
        $.ajax({
            type: "POST",
            url: "/phong-dieu-khien/bao-cao-nhan-luc/bao-cao-nhan-luc-theo-thang/export",
            data: {
                "date": x,
            },
            cache: false
        }).done(function () {
            window.location.href = "/excel/DK/baocaothang.xlsx";
            $("#pre-load").hide();
        })
    });

    function change() {
        var data = document.getElementById("data").value;
        document.getElementById("date").value = data;
        document.getElementById("form").submit();
    }

    $(document).ready(function () {
        $(".date-click").datepicker({
            onSelect: function (dateText) {
                change();
            }
        });
        document.getElementById("data").value = x;
    })
</script>
<script src="~/js/Custom JS/DK/ReportHuman/editable.js"></script>
<script src="~/assets/libs/echarts/dist/echarts-en.min.js"></script>
<script src="~/js/Custom JS/DK/ReportHuman/ReportChart_Monthly.js"></script>

<script src="~/assets/extra-libs/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
<script src="~/assets/extra-libs/jquery.easy-pie-chart/easy-pie-chart.init.js"></script>

